[2021-03-13 07:47] marlonrichert commented on #208
@dmknght Have you updated yet to the latest commit? Because that’s not the behavior I get on the `main` branch.

[2021-03-13 09:08] marlonrichert commented on #211
Yes, I can reproduce it like this:
[code]
**but** that's **not** a real-word use case. When you source these two plugins on separate command lines, all kinds of events will happen in between that don't happen when you source them in your `.zshrc` file.

If I instead put them on the same line, then everything works fine:
[code]

[2021-03-13 09:08] #211 closed

[2021-03-13 09:12] marlonrichert commented on #208
Also, that has nothing to do with the quotes. The `\` is needed to prevent the `ls` alias from re-expanding. It's not needed for the `gg` alias, because the string `gg` does not appear within its alias value.

[2021-03-13 14:58] GabrielDeml commented on #129
Could you point me in the direction of where this bug would be? I have been having the same problem and would like to fix it. Starting next Thursday I will have a couple days off from school so at least I could take a shot at fixing it.

[2021-03-13 15:20] dmknght commented on #211
The problem is version 21.03.07 didn't have this problem and i didn't see it in previous versions

[2021-03-13 21:08] SaschaAdler commented on #178
For me, `No suffix alias found.` is displayed regardless of whether `min-input` is set to something greater than zero, when the current working directory does not contain anything that satisfies a suffix alias. The temporary directory created in the steps to reproduce this bug doesn't contain an executable file or any subdirectories (beyond `.` and `..`), and yet only the lack of suffix-aliased fi

[2021-03-14 12:40] marlonrichert commented on #129
@GabrielDeml Sure thing. You can find the code in question here: https://github.com/marlonrichert/zsh-autocomplete/blob/main/completion/_autocomplete.history_lines

[2021-03-14 12:44] marlonrichert commented on #211
But do you have the problem, too, when both plugins are sourced in your `.zshrc` instead of in separate statements on the command line? Becasuse I cannot reproduce it with them in a `.zshrc` file and sourcing them separately on the command line is simply not supported.

[2021-03-14 13:53] marlonrichert commented on #178
@SaschaAdler I can reproduce the fact that `min-input 1` doesn't work, but instead of `No suffix alias found.`, I get `No executable file, directory or suffix alias found.` After you run the above, what output do you get from `env`?

[2021-03-14 14:23] SaschaAdler commented on #178
[code]

[2021-03-14 15:15] marlonrichert commented on #178
Ah, of course: You don't have `.` in your `$path` (and don't have `setopt autocd`).

[2021-03-14 18:39] marlonrichert commented on #178
Fixed.

[2021-03-14 18:39] #178 closed

[2021-03-15 01:06] ChocolateOverflow opened #214 "Error with logging"
* `zsh-autocomplete` version: Commit 70417848c6cd0715955ce4cbaf4b9ed779c7402c or later
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: none

The bug is introduced by commit 704178 and persists up to the current 3a20f6. It happens even when my `.zshrc` contains nothing but `source ~/tools/zsh-autocomplete/zsh-autocomplete.plugin.zsh` and commenting out that line removes the is

[2021-03-15 18:46] lkhphuc opened #215 "_main_complete.post:12 command not found and bad file descriptor."
* `zsh-autocomplete` version: 3a20f699929d1e3a0a9285f3ab3c94b23200fa90
* Zsh version: zsh 5.8 (x86_64-apple-darwin20.0)
* Framework: None
* Plugin manager: Znap

[code]

Originally I was preparing to report conflict when using this with `zsh-autosuggestions`, but I discover this bug even before sourcing `zsh-autosuggestions`.
The original error was:
[code]

[2021-03-15 18:54] lkhphuc commented on #215
Wait I can't reproduce my own error anymore.

[2021-03-15 19:47] marlonrichert commented on #214
Should be fixed now.

[2021-03-15 19:47] #214 closed

[2021-03-16 04:18] fhill2 opened #225 "recent dirs completion sometimes doesnt show"
* `zsh-autocomplete` version: 85fdb5750d6bddc621df6ba447027c97fadf2bd4
* Zsh version: zsh-5.8.0-g77d203f
* Framework: None
* Plugin manager: Zplug

[code]

When using zoxide or z.lua, recent dirs completion sometimes doesnt show when using cd.
`cd <tab>`
Sometimes the completion will be available, and after zsh restart the completion won't show.

Executing `_zlua --complete` shows  /home/user/.con

[2021-03-16 18:43] marlonrichert commented on #225
@fhill2 Can you make me a reproducible test case, please, using the bug report template that was there when you made a new issue? Here it is again:
[code]
You need to be more specific than "sometimes doesnt show" and "Sometimes the completion will be available". If I cannot reproduce it, then I cannot fix it. 🙂

[2021-03-17 06:08] fhill2 commented on #225
# Make sure you always test with the `main` branch.
$ git -C /path/to/zsh-autocomplete switch main

# Update to the latest commit.
$ git -C /path/to/zsh-autocomplete pull

# Create a temp dir and enter it.
$ cd $(mktemp -d)

# Restart Zsh without config files in this dir.
$ ZDOTDIR=$PWD HOME=$PWD exec zsh -f

# Source the plugin.
% source /path/to/zsh-autocomplete/zsh-autocomplete.plugin.zsh

# Te

[2021-03-17 07:21] theol0403 opened #226 "Clear/exit keyboard bindings"
## What do you want?

When editing on the command line, I sometimes want to:
1. cancel browsing the completions and return to the original uncompleted text
2. nuke the whole line and start over

My desired bindings for this are:
1. Esc: exit the completion selector and return the prompt to the state before tab was pressed (assuming menu-select)
2. CTRL-C: exit everything and return to an empty pro

[2021-03-17 08:13] marlonrichert commented on #226
Activate the `send-break` widget, bound to `^G` by default.

Activate the `kill-whole-line` widget, bound to `^U` by default.

That would have a lot of unwanted, undesirable side effects. <kbd>Escape</kbd> is used in _a lot_ of terminal codes, including the codes produced by other keys.

That's also not possible. Zsh does not let you change the behavior of `^C`.

Note that all of this is handled b

[2021-03-17 08:13] #226 closed

[2021-03-17 08:18] marlonrichert commented on #225
Yes, that is intended behavior, for a couple of technical reasons that I won't go into here. However, I can see how that's not always the desirable behavior. I'll have a look if I can improve it somehow.

[2021-03-17 08:49] theol0403 commented on #226
Thank you for your quick response, and sorry for my inexperience with this.

Even though ^C is not customizable, the default behaviour of returning to the prompt is quite close to my desired behaviour - it just has some annoyances. On some long completions, the following happens:

https://asciinema.org/a/jC2yE5OaQ0hURvxU9QywhMVpI

This is going:
1. sudo
2. tab tab tab
3. ^C
4. n (at possibilities

[2021-03-17 11:06] marlonrichert commented on #226
Like I said, try pressing `^G` instead of `^C`.

[2021-03-17 19:15] marlonrichert commented on #210
Implemented in 7662f28a3bca1165efeee853e2571d12837e855d.

[2021-03-17 19:15] #210 closed

[2021-03-17 19:28] theol0403 commented on #226
Yep, that works well, thanks. I guess I just think that ^C should be usable for its expected purpose, and not completely unusable when using this plugin. If this is not possible for you to fix, I understand. Thanks

[2021-03-17 19:37] marlonrichert commented on #226
Try putting
[code]
in your `.zshrc` file and see if that makes it any better for you.

[2021-03-17 19:40] theol0403 commented on #226
That works well! Now, CTRL-C will kill the line first try. It is nice to see the menu selection, however...

[2021-03-17 19:50] theol0403 commented on #226
Actually, it seems like the issue still happens with `bindkey '^N' send-break` in menu-select. The terminal output looks identical to the asciinema I showed yesterday. `kill-whole-line` works well, but `send-break` causes the possibilities prompt to show.

[2021-03-17 19:56] marlonrichert commented on #226
You can always activate menu selection by pressing <kbd>↓ Down</kbd>.

[2021-03-17 20:00] theol0403 commented on #226
I have configured down to `history-substring-search-down`, so I don't know if it is possible to make it work to navigate the selection. I was hoping to use tab to navigate.

[2021-03-17 20:12] marlonrichert commented on #226
Sorry, I forgot to watch the asciinema. You should never get to see `zsh: do you wish to see all 3484 possibilities (1743 lines)?`. That's definitely a bug, but I cannot reproduce it.

Can you please make me a reproducible test case with the bug report template below? If I cannot reproduce it, then I cannot fix it.
[code]

[2021-03-17 20:14] marlonrichert commented on #226
If you're using `zsh-autocomplete`, then you don't really need `history-substring-search`. You can just press <kbd>↑ Up</kbd> to view and select from the 16 most recent history substring matches.

[2021-03-18 03:41] jkroes opened #228 "LS_COLORS ignored"
* `zsh-autocomplete` version: 7662f28a3bca1165efeee853e2571d12837e855d
* Zsh version: ubuntu/5.8-3ubuntu1
* Framework: Oh My Zsh
* Plugin manager: none

Changing `$LS_COLORS` changes the highlighting/coloration of `ls` but not autocompleted file contents.

Output of `ls`:

![image](https://user-images.githubusercontent.com/18478163/111569866-d1b76780-8760-11eb-8abb-4f60c51ce68c.png)

Autocomplete

[2021-03-18 07:40] #228 closed

[2021-03-18 20:55] MenkeTechnologies opened #230 "Recalculate screen size on window resize"
* `zsh-autocomplete` version: 7662f28a3bca1165efeee853e2571d12837e855d
* Zsh version: 5.8
* Framework: omz
* Plugin manager: zinit

[code]
.autocomplete.screen-space only runs on precmd.  Therefore _autocomplete__max_lines  is incorrect  when terminal was resized, prompt was moved up down without command running.  In other words  _autocomplete__screen_space is incorrect in these scenarios until pr

[2021-03-18 21:18] marlonrichert commented on #230
Be my guest. Patches welcome. 🙂

[2021-03-18 21:27] MenkeTechnologies commented on #230
https://github.com/MenkeTechnologies/zsh-autocomplete/commit/500fd8592b1935500510beeb955685c0531965a9

i am not sure how to calculate the y value as this breaks my prompt
[code]

I tried to use BUFFERLINES but not sure.

[2021-03-18 21:39] marlonrichert commented on #230
The problem is that normal `read` operations don't work while the Zsh Line Editor is active. You are limited to using only `read -q` or `read -k [<num>]`.

You need to be able to determine the vertical position of the cursor somehow. Using `$BUFFERLINES` would work only when the command line starts at the top of the screen.

[2021-03-20 12:19] weilbith opened #231 "Recent directories by Zoxide are a single entry with literal new lines characters"
* `zsh-autocomplete` version: 81d4e50458d2b758b627293d3994b6f0c4409fb8
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: Zinit

[code]

[2021-03-21 21:34] japanese-goblinn opened #233 "[Process completed] on any interaction with shell"
* OS: macOS 11.2.1
* `zsh-autocomplete` version: last
* Zsh version: 5.8
* Framework: none
* Plugin manager: none

[code]

Added this plugin like this:
[code]

Tried to manipulate with `fpath` but nothing worded :c

Also I saw #174 but clearing `.cache` not helped.

<img width="682" alt="Screenshot 2021-03-22 at 00 05 16" src="https://user-images.githubusercontent.com/33631005/111920836-49a7c980-8

[2021-03-22 16:24] marlonrichert commented on #233
Did you actually, literally do _all_ of the steps above? Because I am unable to reproduce it that way.

[2021-03-22 17:07] marlonrichert commented on #231
Thanks for reporting. Fixed.

[2021-03-22 17:07] #231 closed

[2021-03-22 18:19] japanese-goblinn commented on #233
@marlonrichert well, I've repeated this steps one more time and now I'm not getting any errors. May be you can provide any suggestions how to fix this in my environment? (I'm not using any frameworks or pluging managers, just sourcing stuff from .zshrc 😁)

[2021-03-22 18:19] #233 closed

[2021-03-22 21:19] marlonrichert commented on #233
You can try commenting out lines from your `.zshrc` file until the problem disappears.

[2021-03-22 21:29] marlonrichert commented on #225
@fhill2 Please check out the [`dirs`](https://github.com/marlonrichert/zsh-autocomplete/tree/dirs) branch and let me know if that works any better for you.

[2021-03-23 00:27] fhill2 commented on #225
@marlonrichert Thank you for this update.

So far the tests below show the same behaviour as before for recent-dirs completion, tested with zsh-z, z.lua, autojump.

[code]

I'm guessing these changes are to do with using recent-dirs without an external source (z.lua / zsh-z etc).

What differences should I be looking for?  (my understanding of the changes in the dirs branch are limited)

[2021-03-23 06:40] artfulrobot opened #235 "Causes problems with SSH + Fail2Ban"
Hi @marlonrichert

Thanks for your continued work on this excellent project.

You may decide this is a feature, not a bug.

I noticed that I kept getting locked out of servers that run fail2ban and I *think* I've tracked this down to the autocomplete. Apols if I'm wrong.

I think what's happening is that when it tries to do an autocomplete that requires SSH with key authentication, but the keys ar

[2021-03-23 09:06] marlonrichert commented on #225
Sorry, but how do you even get recent dirs completions with those test cases? You have not actually visited the `nvim` dir in those shells. Here's what it looks like for me:
[code]
As you can see, the new shell has its own list of recent dirs, which is empty. If you are getting `nvim` as a recent dir in the new shell, then you are not following the steps I've given exactly.

[2021-03-23 09:23] weilbith commented on #231
Perfect! Thank you very much for the fast fix! 🙏🏾

[2021-03-23 09:23] marlonrichert commented on #235
Can you give me a test case with which I can reproduce the problem?

[2021-03-23 14:26] StefanLobbenmeier commented on #215
I am also having this issue, using oh-my-zsh and this as its plugin.

[code]

[code]

[2021-03-23 14:32] StefanLobbenmeier commented on #215
Probably linked to #213

[2021-03-23 16:29] marlonrichert commented on #215
@StefanLobbenmeier Are you able to make a reproducible test case for this with the following template?
[code]

[2021-03-23 16:39] lkhphuc commented on #215
I've been disable this plugin for a while due to this problem, just enable this again and still got the same error with no config at all, on `zsh 5.8 (x86_64-apple-darwin20.0)`
Tab still working, it just printout these annoying error.

[code]

[2021-03-23 17:04] marlonrichert commented on #215
@lkhphuc What happens if you try this?
[code]

[2021-03-23 17:34] StefanLobbenmeier commented on #215
Just tried it, the autocompletion worked now. The Up Arrow still does not work though.

Not sure if that means that I should make a separate issue for the tab completion when using OMZ?

[2021-03-23 18:31] marlonrichert commented on #215
What happens when you press the Up Arrow? Same error as before?

No, I just tried it with OMZ and it works fine for me. Let's continue here.

Can you try the steps below, too?
[code]

[2021-03-23 18:40] lkhphuc commented on #215
[code]
Everything working fine now in this temp env.
So I tried to `rm -rf ~/.cache` but the problem still remain in my normal config.

[2021-03-23 18:48] marlonrichert commented on #215
@lkhphuc How does the output of `env` there compare to the output of `env` in your normal shell?

[2021-03-23 18:58] lkhphuc commented on #215
Ok either I'm stupid or what but:
- The minimal temp env above work fines.
- So after I remove the ~/.cache folder, quit terminal restart the problem still persists, even after I quit and restart multiple time.
- I removed the .cache folder again, and now I go to my config and commented out everything.
- I have been adding slowly adding back line by line of my entire config to see when will the pr

[2021-03-23 18:58] #215 closed

[2021-03-23 20:29] StefanLobbenmeier commented on #215
[code]

[2021-03-23 20:31] StefanLobbenmeier commented on #215
With these steps the up arrow also works

[2021-03-23 20:38] StefanLobbenmeier commented on #215
Not sure if it helps, but when I run
`
➜  zsh-autocomplete git:(main) source /home/stefan/.oh-my-zsh/custom/plugins/zsh-autocomplete/zsh-autocomplete.plugin.zsh;
`

in my OMZ environment, I get this log file

/home/stefan/.local/share/zsh-autocomplete/log/WZvBgB4Wp0xZ
[code]

[2021-03-23 21:16] fhill2 commented on #225
You are exactly right. An error on my part regarding my previous zsh-z test.
When repeating the tests:
zsh-z has its own list of recent dirs when launching a new shell.
autojump has the same list of recent dirs when launching a new shell.

[code]

[2021-03-23 22:10] marlonrichert commented on #225
Should be fixed now.

[2021-03-23 22:10] #225 closed

[2021-03-23 22:14] marlonrichert commented on #215
Then that means there is something wrong in your normal shell environment.

[2021-03-25 03:29] dmknght commented on #211
In previous test, as i remember, it happened no matter `.zshrc` has source at same line nor different line.
And i can't see the problem in version 21.03.12. Press `Tab` now removes all string instead

[2021-03-25 18:53] flexagoon opened #236 "Directory name expansion"
* `zsh-autocomplete` version: Latest, I dont know how to check this in zinit
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: Zinit

[code]
### It does not automatically expand this to foo/bar, although it did that in older versions of the plugin

[2021-03-25 20:54] #236 closed

[2021-03-26 14:38] parthv21 commented on #213
This issue happened again. It disappeared after I ran these steps.

[code]

After this in another tab I was trying to find the path to `.zsh` and noticed that things were working properly again with arrows keys showing history. I am not sure why this issue keeps coming up periodically.  But could you add a command to run these things together like `fix-autocomplete = git -C ~zsh-autocomplete switc

[2021-03-26 18:11] marlonrichert commented on #213
Well, yeah, those variables (except the first one) all point to folders. So, unsetting them will of course lead to problems. We're doing this, however, to prepare for the next step:

This restarts your shell _without sourcing **any** config files._

If the steps above fix the problem for you, then that means the problem is somewhere in your config files. Here's the [full list of all files sourced

[2021-03-26 18:37] StefanLobbenmeier commented on #215
Today I updated zsh-autocomplete and the issue is gone also for me now.

[2021-03-26 19:38] parthv21 commented on #213
I don't understand how the steps I ran fix issues with my config files? Only `git pull` or `unset _comp_dumpfile ZDOTDIR XDG_CACHE_HOME XDG_CONFIG_HOME XDG_DATA_HOME` could have had any substantial effect. I feel it was the later, since I don't think that code breakage was introduced suddenly.

But you say 'So, unsetting them will of course lead to problems', but in my case it looks like unsetting

[2021-03-26 21:19] marlonrichert commented on #215
@StefanLobbenmeier If you want to find the exact change that fixed it, you could run `git bisect`. Make sure, though, that you every time `rm $_comp_dumpfile` before advancing to the next `bisect`.

[2021-03-26 21:25] marlonrichert commented on #213
What output do you get from `ls $_comp_dumpfile $ZDOTDIR $XDG_CACHE_HOME $XDG_CONFIG_HOME $XDG_DATA_HOME`?

[2021-03-27 01:13] StefanLobbenmeier commented on #215
ok I figured it out - it was not the update that caused the fix but today I also added this to my zhsconfig:

[code]

When I remove it and restart my pc the error appears again, if I then execute this command again to readd it and open another shell the error disappears.

[2021-03-27 01:16] StefanLobbenmeier commented on #215
Just to clarify I just tried with just
`autoload -U compinit;`
in my .zshrc and the error also appears in that case

[2021-03-27 10:17] marlonrichert commented on #215
Hm, that's interesting. `zsh-autocomplete` is supposed to run `compinit` automatically.

[2021-03-27 10:31] marlonrichert commented on #215
@StefanLobbenmeier Is #213 the same problem as yours? If so, let’s continue the discussion over there.

[2021-03-27 13:35] StefanLobbenmeier commented on #213
_Originally posted by @marlonrichert in https://github.com/marlonrichert/zsh-autocomplete/issues/215#issuecomment-808708437_

Yes, I thinnk my issue is the same. When I open a new terminal (without compinit in my .zshrc) and press the up arrow I get this output:
[code]

However, also this issue is solved by adding
`autoload -U compinit; compinit`
to my .zshrc.

@parthv21 could you also try adding

[2021-03-27 13:51] StefanLobbenmeier commented on #213
Just one more thing: I also tried using prezto instead of oh my zsh, with the same behaviour, autoload -U compinit; compinit is needed as the last line when using zsh-autocomplete

[2021-03-27 15:16] parthv21 commented on #213
Unfortunately I don't remember the output. If I face the same issue again and the issue recreation steps solve it I will make a note. But wasn't the command `$ unset _comp_dumpfile ZDOTDIR XDG_CACHE_HOME XDG_CONFIG_HOME XDG_DATA_HOME `? Why are you asking the output for `ls $_comp_dumpfile $ZDOTDIR $XDG_CACHE_HOME $XDG_CONFIG_HOME $XDG_DATA_HOME`?

[2021-03-27 15:18] parthv21 commented on #213
@StefanLobbenmeier Right now the issue seems fixed. I will try adding it if it appears again

[2021-03-27 15:55] marlonrichert commented on #213
@StefanLobbenmeier I pushed in a potential fix. Please remove `compinit` from your `.zshrc` file and try again.

[2021-03-27 16:59] StefanLobbenmeier commented on #213
I removed the `autoload -U compinit; compinit` and opened a new terminal, looks good so far. I was both able to fetch the last command without an error and tab for completion also works.

[2021-03-28 14:59] marlonrichert commented on #235
@artfulrobot ☝🏽

[2021-03-29 10:23] #235 closed

[2021-03-29 13:08] marlonrichert commented on #235
@artfulrobot Which kind of autocompletions require an SSH connection with key authentication? If you can tell me that, then I can try to reproduce this. Just give me example command line where this issue occurs for you. 🙂

[2021-04-02 15:52] parthv21 commented on #213
This issue again appeared.

Running issue reproduction steps:
[code]

[code]
After this, iterm crashed when I hit up arrow key, and now seeing this weird broken history menu when I press up.

<img width="646" alt="image" src="https://user-images.githubusercontent.com/17941287/113431370-44e7ed00-93a1-11eb-9214-ca3e10bf60d7.png">

<img width="646" alt="image" src="https://user-images.githubuserconte

[2021-04-02 21:05] marlonrichert commented on #213
@parthv21 Can you please make me a reproducible test case with the _entire_ template below? What you've posted now does not help me reproduce the problem at all. Also, you _don't_ need to share the ouput of `git` commands with me. That is not at all helpful and is just wasting screen space.
[code]

[2021-04-03 11:48] patrickli opened #241 ""No such keymap 'menuselect'" errors when using prezto/editor module"
* `zsh-autocomplete` version: `fdc21c0bdf4be5ae5ddbfa5c781ddf07b73c4d0b`
* Zsh version: `debian/5.8-6`
* Framework: Mixed. Mainly prezto loaded via znap
* Plugin manager: Znap

[code]

Error message right after you source this project.
[code]

[2021-04-13 20:20] marlonrichert commented on #213
Closing this, as I haven't heard back from @parthv21.

[2021-04-13 20:20] #213 closed

[2021-04-14 09:32] remygrandin opened #242 "Frash install give error on cd command"
* `zsh-autocomplete` version: 473d31a9c949a7e449a9b41fcd57b663c14f9216
* Zsh version: ubuntu/5.8-3ubuntu1
* Framework: Oh My Zsh
* Plugin manager:  none

[code]

Basically each time I do a cd it error with
[code]

[2021-04-14 09:38] remygrandin opened #243 "History list selection don't match selection content"
* `zsh-autocomplete` version: 473d31a9c949a7e449a9b41fcd57b663c14f9216
* Zsh version: ubuntu/5.8-3ubuntu1
* Framework: Oh My Zsh
* Plugin manager:  none

[code]

When afterward I call upon history, the selected history and the displayed one are not the same as they should be.

![image](https://user-images.githubusercontent.com/1934515/114689163-b74bbc00-9d15-11eb-953a-5ae389323a5f.png)

![image](h

[2021-04-15 18:19] StefanLobbenmeier opened #244 ".autocomplete.recent-dirs.precmd:zf_mv:56: /home/stefan/.chpwd-recent-dirs: no such file or directory"
* `zsh-autocomplete` version: 473d31a9c949a7e449a9b41fcd57b663c14f9216
* Zsh version: zsh-5.8-0-g77d203f
* Framework: Oh My Zsh
* Plugin manager: Oh My Zsh (right?)

[code]

[2021-04-15 18:22] StefanLobbenmeier commented on #244
For context:

I raised an issue some time ago on another pc, where I also had this issue but was not sure where it was caused from. Today I updated the zsh-autocomplete on this PC (stefan-manjaro) and the issue appeared, so I now suspect that this was related to this plugin.

Unfortunately this time git did not tell me what exactly had been updated, but its been some time since I last update the p

[2021-04-15 18:34] StefanLobbenmeier commented on #244
I just went through a git bisect:

`git bisect start HEAD 6d27f2bae3d7d6cc98e91ccfe4dfbb8141f5afa4`

Somewhere in there the file /home/stefan/.chpwd-recent-dirs  has been created, so the issue did not appear anymore afterwards. For anyone else that might encounter this issue it might help to manually set the file content, in my case it ended up containing that:
[code]

[2021-04-16 11:08] marlonrichert commented on #244
I’m reopening this, since I do intend to fix this.

[2021-04-18 16:04] marlonrichert commented on #230
Actually, I just realized, even though we can no longer query the terminal for the cursor after `precmd`, we _can_ update the calculated screen to account for the new value of `$COLUMNS` on `line-pre-redraw`.

[2021-04-19 18:30] marlonrichert commented on #244
Fixed.

[2021-04-19 18:30] #244 closed

[2021-04-22 21:37] marlonrichert commented on #243
Sorry, but I cannot reproduce this with the steps you've given. Are you sure you haven't left out any steps?

[2021-04-22 21:38] marlonrichert commented on #242
Duplicate of #244.

[2021-04-22 21:38] #242 closed

[2021-04-24 19:07] marlonrichert commented on #230
Done.

[2021-04-28 07:43] eplusg opened #247 "Not running after terminal restart"
Hi,

I followed the instructions and installed zsh-autocomplete with Znap.
When I run `znap source marlonrichert/zsh-autocomplete` everything works fine.
But when I restart the terminal the autocompletion doesn't work. If I rerun `znap source marlonrichert/zsh-autocomplete`

Do I need to configure something else to make it work after restart?

[2021-04-28 07:47] eplusg commented on #247
Nevermind I didn't read instructions properly :)

[2021-04-28 07:47] #247 closed

[2021-05-03 09:44] riophae opened #248 "`insert-unambiguous=yes` doesn't work"
* `zsh-autocomplete` version: 306e221bfec548b8cb54f1cc333a13d02e4cbe80
* Zsh version: debian/5.8-6
* Framework: Oh My Zsh
* Plugin manager: Antigen

Steps to reproduce:

[code]

Seems it returned too early here:

https://github.com/marlonrichert/zsh-autocomplete/blob/306e221bfec548b8cb54f1cc333a13d02e4cbe80/completion/_autocomplete.unambiguous#L17

[2021-05-04 20:16] achistiakov94 commented on #243
@marlonrichert @remygrandin I have the same issue.

Apparently if you do many same commands and then do some different commands, history autocompletion gets screwed up. It's pretty much reproducible.
Consider an example.

That's the setup (we're doing commands here) and history search just by pressing up arrow (without match filter). It works correctly.
[code]

Now, if we search by "cat" and hit u

[2021-05-05 02:09] ChocolateOverflow opened #249 "Don't tab-complete with 0 input"
## What do you want?

With blank input (nothing but white spaces) on a line, `<TAB>` should do nothing.

## Why do you want this?

I don't like how accidentally pressing `<TAB>` with nothing typed suggests *everything*, even with `zstyle ':autocomplete:*' min-input 1` set.

## Who else would benefit from this?

People who often accidentally press `<TAB>`.

## Explain in detail how you would expect

[2021-05-05 07:55] marlonrichert commented on #243
Sure, it's clear that `matches` and `displays` are out of sync, but I still cannot reproduce the issue. Here's what I did:
[code]
Then I pressed <kbd>Up</kbd> to open the history menu. Works fine. All in sync.

@achistiakov94 @remygrandin Please use the above to create a test case with which I can actually use to reproduce the problem. If I cannot reproduce it, I cannot fix it.

[2021-05-05 08:02] marlonrichert commented on #249
I cannot reproduce that. Here's what I did:
[code]
Then I pressed <kbd>Tab</kbd>. It inserts a tab.

You probably have something else in your config that causes this behavior.

[2021-05-05 08:02] #249 closed

[2021-05-05 09:26] marlonrichert commented on #248
Thanks for reporting. I can reproduce this and I will publish a fix soon.

[2021-05-05 19:25] remygrandin commented on #243
I think I understood the miscommunication that there was. The issue arrise when doing and up to bringthe history **after** typing the start of the command.
I have done your exact example, if I type "cat" then press up, the display issue is here.

[2021-05-06 00:59] ChocolateOverflow commented on #249
I've checked and found that the following setting seems to cause the 0-input tab-completion problem

[code]

Removing the individual items in the `'! ...'` string doesn't seem to  solve the problem so I suspect it's the whole `tag-order` thing causing the issue.

[2021-05-06 07:19] marlonrichert commented on #243
@remygrandin Thanks! Now I can reproduce it.

[2021-05-06 15:49] marlonrichert commented on #243
Fixed.

[2021-05-06 15:49] #243 closed

[2021-05-06 15:49] marlonrichert commented on #248
Fixed.

[2021-05-06 15:49] #248 closed

[2021-05-06 18:25] achistiakov94 commented on #243
Just tested it, now it works good.
Thank you for the fix!

[2021-05-07 06:28] riophae commented on #248
Thank you...Now it works great 👍

[2021-05-07 13:38] Aetherall opened #251 "accidental raw key insertion when navigating command parameters"
* `zsh-autocomplete` version:  76ff7df91c9ec436d8f1c5b519d91fc426eae801
* Zsh version:  zsh 5.8 (x86_64-ubuntu-linux-gnu)
* Framework:  none
* Plugin manager:  none

[code]

From there you can see two strange behaviours
For them to show up, type this command manually
`ls -H -H`
The unwanted behaviour is the not-found prompt, which make navigating difficult ( curl command edition etc)

[2021-05-07 13:54] Aetherall commented on #251
Bisection revealed the faulty commit:
[2a838cb6ef05c9912569cf9f899087f02ecf0c87] Reintroduce fully fuzzy matching as a fallback

[2021-05-07 14:39] J-E-Mc opened #252 "Show autocompletion for command being aliased"
## What do you want?
make it so that aliased commands show autocompletion

## Why do you want this?
i have `ls`, `ll` and `la` aliased to `exa`, `exa -l` and `exa -a` respectively and i want this to show the autocompletion as if i typed those commands in

## Who else would benefit from this?
anyone who uses aliases

## Explain in detail how you would expect this to work
Given the following situati

[2021-05-07 17:08] marlonrichert commented on #252
Done.

[2021-05-07 17:08] #252 closed

[2021-05-07 17:56] marlonrichert commented on #249
Try instead:
[code]

[2021-05-07 19:13] marlonrichert commented on #129
All right, it's there.

[2021-05-07 19:16] marlonrichert commented on #129
@GabrielDeml Sorry, this turned out not to be a "good first issue" at all. My bad. 😅

[2021-05-07 19:16] #129 closed

[2021-05-07 23:41] Aetherall commented on #251
Sorry I've not been really precise

I noticed a strange behavior when moving my cursor backward when correcting a curl command.

The behavior was the insertion of `^D` characters when navigating across a header argument (-H)

I was able to reproduce it when typing `ls - H - H` in my terminal, and I noticed that when typing the second `-H`, zsh tried to look for possible matches within $PATH, and a

[2021-05-11 22:34] J-E-Mc opened #253 "Insert unambiguous on blank arguament"
## What do you want?
Insert unambiguous with blank arguament

## Who else would benefit from this?
People who use insert unambiguous in directories with files that all begin with the same substring (e.g. log directories)

## Explain in detail how you would expect this to work
Given the following situation:
A directory contains many log files all beginning with `2021-`

When I perform the following

[2021-05-12 05:33] marlonrichert commented on #253
That's already implemented. [See the example in the included `.zshrc` file.](https://github.com/marlonrichert/zsh-autocomplete/blob/966312b149fb82a9d01144454de886b6a626ce69/.zshrc#L34)

[2021-05-12 05:33] #253 closed

[2021-05-12 07:01] J-E-Mc commented on #253
I already looked through that and couldn't find anything that made it work with a blank arguament (I already have insert-unambiguous enabled)

[2021-05-12 15:46] marlonrichert commented on #253
Works for me:
[code]

[2021-05-12 18:05] J-E-Mc commented on #253
found the issue, I was also using fzf-completion at the same time, it seems that the flags are incompatible

[2021-05-12 21:02] marlonrichert commented on #253
The problem is that Fzf's "completion" feature does not use Zsh's completion system at all. So, it's not possible to use `zstyle` to change how that works. You'll have to tweak Fzf's settings instead.

[2021-05-13 03:20] ChocolateOverflow commented on #249
Still tab-completes with 0 input

[2021-05-14 12:36] maarekj opened #254 "History is ordered by reverse alphanumerical instead of reverse numerical"
* `zsh-autocomplete` version: 966312b149fb82a9d01144454de886b6a626ce69
* Zsh version: ubuntu/5.8-3ubuntu1
* Framework: none
* Plugin manager: none

[code]

Hello,

there is bug here. The history must be reverse ordered by numerical line of history file. But here, the history is ordered by reverse alphanumerical. Then the `line 12` whose is the last line appears before the `line 9`.

![Capture d’éc

[2021-05-14 12:42] maarekj opened #255 "Make `zstyle ':autocomplete:*' list-lines <num>` apply to history search"
* `zsh-autocomplete` version: 966312b149fb82a9d01144454de886b6a626ce69
* Zsh version: ubuntu/5.8-3ubuntu1
* Framework: none
* Plugin manager: none
*
[code]

![Capture d’écran de 2021-05-14 14-40-46](https://user-images.githubusercontent.com/1654977/118272179-82708780-b4c2-11eb-9c69-09d255f80379.png)

As you can see on the screenshot, there are only 16 lines displayed in history instead of 32

[2021-05-14 13:16] marlonrichert commented on #254
Can you please fill in which `zsh-autocomplete` and Zsh versions you are using?

Also, I'm unable to reproduce this with the steps you've given.

[2021-05-14 13:20] marlonrichert commented on #255
Not a bug: History search is intentionally hard-capped at 16. But I can implement this as an enhancement. 🙂

[2021-05-14 13:22] marlonrichert commented on #249
Sorry, but I cannot reproduce it. Here's what I did:

[code]
Then I pressed <kbd>Tab</kbd>. It inserts a tab.

If you can use the above to make me a reproducible test case, then I'll reopen the issue.

[2021-05-14 15:17] maarekj commented on #254
I update my first comment with version of zsh-autocomplete and zsh version

[2021-05-14 15:19] maarekj commented on #254
I seem to have followed the steps to the letter.
I will try again in a few days.

[2021-05-15 09:14] ChocolateOverflow opened #256 "Freezing and gobbling CPU when tab-complete on directory with space in name"
* zsh-autocomplete version: 966312b149fb82a9d01144454de886b6a626ce69
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: none

1. Have `zstyle ':autocomplete:tab:*' widget-style menu-select` set in `.zshrc`
2. Have a directory whose  name includes a space: `mkdir 'a b'`
3. Try to tab-complete after the directory name: `ls a\ b/<TAB>`
4. The process freezes and somehow eats up 12.

[2021-05-15 18:12] marlonrichert commented on #256
Sorry, but I cannot reproduce this. Here's what I did:
[code]
No problem.

Also, did you see this message in the bug report template?

which I can reproduce the bug. If I cannot reproduce the bug, then I cannot fix it!

It's there for a reason.

[2021-05-15 18:12] #256 closed

[2021-05-15 18:15] marlonrichert commented on #251
Closing this. If you can give me a working test case, I will reopen it.

[2021-05-15 18:15] #251 closed

[2021-05-15 18:23] cathex-matt commented on #255
I noticed the same just today and was about to engage a discussion.

[2021-05-15 18:25] crazy-matt commented on #255
I noticed the same just today and was about to engage a discussion.

[2021-05-15 18:45] crazy-matt opened #257 "_autocomplete.history_lines:19: invalid subscript when activating history right after a `clear`"
* `zsh-autocomplete` version: 966312b149fb82a9d01144454de886b6a626ce69
* Zsh version: zsh-5.8-0-g77d203f
* Plugin manager: Zinit + Powerlevel10k

[code]

I want to highlight that I haven't run the entire procedure, my zsh-autocomplete points to the main branch. I run only from `clear`.

And I loaded these completion settings below in my env:
[code]

[2021-05-15 21:10] marlonrichert commented on #257
Sorry, but I cannot reproduce this with the steps you've given.

[2021-05-15 21:10] #257 closed

[2021-05-16 13:54] marlonrichert commented on #255
Done.

[2021-05-16 13:54] #255 closed

[2021-05-18 09:37] h0adp0re opened #260 "Prompt jumps up one line when on the last line"
* `zsh-autocomplete` version: 405c29211047968516c9dbd9f41146976725462e
* Zsh version: `zsh-5.8-0-g77d203f`
* Framework: none
* Plugin manager: none

[code]
1. Fill the screen so the prompt is on the last line
2. Type any command or press return
3. The prompt jumps up one line (it's very fast with the steps above)

https://user-images.githubusercontent.com/11251772/118628851-ad661e80-b7d5-11eb-88ff

[2021-05-19 09:57] maarekj commented on #255
Thank you @marlonrichert
Good stuff.

[2021-05-19 10:13] maarekj commented on #254
See my step on an asciinema rec:
https://asciinema.org/a/FwyEmHiSKmyf4cHWUUZtxlRPv

[2021-05-19 12:39] marlonrichert commented on #260
I cannot reproduce this. Which prompt theme do you use?

[2021-05-19 12:41] h0adp0re commented on #260
I use powerlevel10k. But it can be reproduced in the tmp folder with only `zsh-autocomplete` loaded.

[2021-05-19 12:59] marlonrichert commented on #260
Sorry, I still cannot reproduce this. I wonder if it's a bug in your terminal?

After doing `exec zsh -f`, what output do you get from `env`?

[2021-05-19 13:13] h0adp0re commented on #260
Haha, proof was the wrong word. Here's the stuff you wanted, stripped of compromising information. As is evident, I use tmux within alacritty. I could reproduce the same thing outside of tmux, as well as with Terminal.app.
[code]

[2021-05-19 13:25] maarekj commented on #254
[code]

[2021-05-19 13:47] maarekj commented on #254
The bug occurs from the version 966312b149fb82a9d01144454de886b6a626ce69
At the version 1b0e714f0b96afe28019e738c5941fbce60fc058 and before all is ok

[2021-05-19 13:49] marlonrichert commented on #260
Aha, maybe the problem is `tmux`. Have you tried without?

[2021-05-19 17:52] h0adp0re opened #261 "Sometimes `^[[52;1R` gets printed inbetween prompts seemingly randomly"
* `zsh-autocomplete` version: 405c29211047968516c9dbd9f41146976725462e
* Zsh version: `zsh-5.8-0-g77d203f`
* Framework: none
* Plugin manager: none

[code]
I recorded it to maybe give a better idea of what's going on.

https://user-images.githubusercontent.com/11251772/118860441-11770880-b8e4-11eb-8389-7f17e9039fff.mov

[2021-05-20 05:39] tomKPZ opened #262 "Error printed on first autocompletion menu: "couldn't create cache-dir /zsh/compcache""
This bug only repros when I set:
zstyle ':completion:*' extra-verbose true

The issue is that .autocomplete.config sets cache-path to "$XDG_CACHE_HOME/zsh/compcache", but my XDG_CACHE_HOME is not set.  According to the XDG spec [1], "If $XDG_CACHE_HOME is either not set or empty, a default equal to $HOME/.cache should be used."

[1] https://specifications.freedesktop.org/basedir-spec/basedir-spec-

[2021-05-20 05:51] tomKPZ opened #263 "Random numbers suggested for recent directories when using z"
Here's an example of a suggestion when typing "cd":
$ cd
directory
dev/         docs/        mnt/         net/         pics/        tmp/         vids/
ancestor directory
home/
recent directory
1040                    ~/dev/forks/wlroots/    1274                    /usr/share/zsh/plugins/

I don't have any directories called "1040" or "1274".  I've attached my $HOME/.z for you to use to reproduce t

[2021-05-20 11:35] h0adp0re opened #266 "Sort completions in columns instead of rows"
## What do you want?

Sort completions in columns instead of rows

## Why do you want this?

Easier on the eyes.

## Who else would benefit from this?

Probably everyone.

## Explain in detail how you would expect this to work
### Given the following situation:
Type in a command with a large list of possible completions.

### When I perform the following steps:
Tab through the completions.

### Th

[2021-05-20 11:59] marlonrichert commented on #254
That’s interesting.

If you `unset` all your `LC_*` and `LANG` vars, does the bug persist?

What output do you get from the following?
[code]
Is it the same with and without your `LC_*` vars?

[2021-05-20 12:03] marlonrichert commented on #261
Which terminal do you use? What is the value of `$TERM`?

[2021-05-20 12:05] h0adp0re commented on #261
If you're asking about a terminal emulator, then I use Alacritty. My `$TERM` is set to `screen-256color`.

[2021-05-20 12:07] marlonrichert commented on #262
Are you sure? Because it gets set here: https://github.com/marlonrichert/zsh-autocomplete/blob/405c29211047968516c9dbd9f41146976725462e/module/.autocomplete.__init__#L43

[2021-05-20 12:09] marlonrichert commented on #263
Which implementation of `z` do you use? The numbers come from its output. If that output has changed format, then I need to update my parsing code.

[2021-05-20 12:27] maarekj commented on #254
[code]
[code]

[2021-05-20 14:07] tomKPZ commented on #262
I'm sure.  I can see it's empty if I "echo $XDG_CACHE_HOME" at the end of my .zshrc.  I think the issue is that .autocomplete.__init__.precmd runs after .zshrc.

Also zsh-autocomplete should not be exporting XDG_CACHE_HOME/XDG_DATA_HOME.  It should just use "${XDG_CACHE_HOME:-$HOME/.cache}" where appropriate, or use "local" instead of "export".

[2021-05-20 14:14] tomKPZ commented on #263
I'm using oh-my-zsh ToT with plugins=(z ...).  If I just run "z", then I see the first 2 lines in the output:
[code]
Which is suspiciously close to the recent directory suggestion:
[code]

[2021-05-20 17:14] #266 closed

[2021-05-20 17:15] tomKPZ opened #268 "Add the ability to hide "all matches" from the autocomplete menu"
## What do you want?
An option to toggle the "all matches" menu off (but still retain the useful Shift+Tab shortcut).

## Why do you want this?
The message may be useful for new users, but once they discover the Shift+Tab shortcut, the message is unnecessary.  But even for new users, actually showing all of the matches twice is unnecessary and only takes space away from other suggestions.

## Who

[2021-05-20 17:18] marlonrichert commented on #261
And are you actually using `screen`? If not, that explains it.

[2021-05-20 17:24] marlonrichert commented on #262
Yes, that is intentional.

Sure, I can change that.

Anyway, I cannot reproduce this. Can you please use the [bug report template](https://github.com/marlonrichert/zsh-autocomplete/issues/new?assignees=&labels=bug&template=bug-report.md&title=) that you deleted when you created this issue to make a reproducible test case? It doesn't have this warning for nothing:

which I can reproduce the bug. If

[2021-05-20 17:32] marlonrichert commented on #263
That's not suspicious at all. It's fairly obvious that the parsing fails somehow. However, I'm unable to reproduce it.

Again, can you please use the [bug report template](https://github.com/marlonrichert/zsh-autocomplete/issues/new?assignees=&labels=bug&template=bug-report.md&title=) that you deleted when you created this issue to make a reproducible test case? It doesn't have this warning for no

[2021-05-20 17:34] marlonrichert commented on #268
Aha, so, you _do_ want to be able to insert all matches with Shift-Tab, but you want to hide only the message? Thanks for clearing that up; I first thought you wanted to disable the feature altogether. 🙂

[2021-05-20 17:37] marlonrichert commented on #260
As mentioned in the other issue, it looks like you're running Alacritty, but for some reason, your `$TERM` is set to `screen-256color `. Don't do that, unless you're actually using `screen`.

[2021-05-20 17:39] h0adp0re commented on #260
Where and how should I set my `TERM` then? I have it set to `xterm-256color` in my `alacritty.yml`:
[code]
I know it's bad practice to set it inside your shell.

[2021-05-20 17:46] marlonrichert commented on #261
OK, that's interesting. I didn't know `tmux` works like that. So, what happens if you don't use `tmux`? Does the problem go away?

[2021-05-20 17:52] marlonrichert commented on #261
No, don't do that. What I meant is, can you try running `zsh-autocomplete` in Alacritty _without_ starting `tmux`? Does it then work?

[2021-05-20 18:05] marlonrichert commented on #261
OK, I will close this then. I have tried to reproduce it with `tmux` on Alacritty, but it works fine for me.

[2021-05-20 18:05] #261 closed

[2021-05-20 18:05] tomKPZ commented on #262
The repro steps are:
[code]

Upon typing "l", I get "couldn't create cache-dir /zsh/compcache".  The error is not shown again.

The key to getting this to reproduce for me is ```zstyle ':completion:*' extra-verbose true```.

That explains why the issue is occurring.  At the time ```.autocomplete.config``` runs, ```XDG_CACHE_HOME``` is unset, which means [1]:
```zstyle ':completion:*' cache-path "$

[2021-05-20 18:06] marlonrichert commented on #260
Never mind my comment. I was unaware of how `tmux` works exactly.

Anyway, closing this as per your request on #261.

[2021-05-20 18:06] #260 closed

[2021-05-20 18:12] marlonrichert commented on #262
```zstyle ':completion:*' cache-path "$XDG_CACHE_HOME/zsh/compcache"```
will expand to:
```zstyle ':completion:*' cache-path "/zsh/compcache"```

Thanks. I can confirm that is indeed the case. Will fix.

[2021-05-20 18:12] tomKPZ commented on #263
The repro steps are:

[code]

Replace ```/usr/share/oh-my-zsh/plugins/z/z.plugin.zsh``` with your real path.

[2021-05-21 10:12] maarekj commented on #254
Which function bug in zsh ?
Please, you can give me some informations on the bug that I should submit to zsh mailing list ?

[2021-05-21 10:44] maarekj commented on #254
In the documentation of zsh, I see in section [14.3.1: Parameter Expansion Flags](http://zsh.sourceforge.net/Doc/Release/Expansion.html#Command-Substitution):

So this seems to be the normal behavior.

## Suggestions
If we replace `${(@nq+)tmp}` by `${(@nq+)tmp/ /0}` it works

[2021-05-21 17:42] marlonrichert commented on #254
Thanks for spotting that. I will fix it.

[2021-05-21 17:55] marlonrichert commented on #263
Thanks for the test data. I can reproduce it now and will fix it.

[2021-05-21 19:50] balta2ar opened #269 "Delays of 10s on mc (Midnight Commander) startup and broken shell"
* `zsh-autocomplete` version:  405c29211047968516c9dbd9f41146976725462e

* Zsh version:  zsh-5.8-0-g77d203f
* Framework:  none
* Plugin manager:  none
[code]

The problem is that when zsh-autocomplete is sourced in `~/.zshrc`, **mc takes 10s to startup (probably some timeout), and then internal shell doesn't work** (Ctrl-o is used to switch to internal shell and type commands).

I'm sorry but I'm

[2021-05-21 20:06] balta2ar commented on #269
By the way, it worked fine a very long time ago and I haven't updated for a while. I did git bisec, I started with some commit 7 months ago (127e44c) and finished here: c85f98fb75d7c8d0320f1dfc351448adbb335f64 is the first bad commit

[2021-05-22 10:53] marlonrichert commented on #269
Thanks for the detailed info. I can reproduce it, but I don't yet have any idea what causes it. This will require some more investigation.

[2021-05-22 18:37] marlonrichert commented on #254
Should be fixed now.

[2021-05-22 18:37] #254 closed

[2021-05-22 18:37] marlonrichert commented on #262
Fixed.

[2021-05-22 18:37] #262 closed

[2021-05-22 18:38] marlonrichert commented on #263
Fixed.

[2021-05-22 18:38] #263 closed

[2021-05-22 21:16] tomKPZ commented on #262
Woo! Thank you very much for the fix!

[2021-05-22 21:17] tomKPZ commented on #263
Thanks for fixing :)

[2021-05-22 22:01] tomKPZ opened #270 "When using z, recent directory suggestions are least used directories instead of most used"
* `zsh-autocomplete` version: 7762811cd69c97a3625b7c4f11b0ac2541250054
* Zsh version: zsh-5.8-0-g77d203f
* Framework: Oh My Zsh

[code]

Upon typing ```cd a```, the suggestions are the least used matching directories:
[code]

The most used matching directories are:
[code]

[2021-05-23 19:31] marlonrichert commented on #270
Fixed.

[2021-05-23 19:31] #270 closed

[2021-05-24 04:01] tomKPZ opened #272 "Feature Request: Verbose aliases"
## What do you want?
Similar to https://github.com/marlonrichert/zsh-autocomplete/issues/161 for parameters, aliases should show their expansions when ```zstyle -T ":completion:${curcontext}:aliases" verbose```.

## Why do you want this?
OMZ plugins often add lots of aliases, like the popular ```git``` plugin.  The issue is it's sometimes difficult to tell which alias does what.   Does```gcl``` ex

[2021-05-24 07:49] maarekj commented on #254
**Thank you** very much, it's work !

[2021-05-24 08:54] marlonrichert commented on #272
This is already implemented, although in a slightly different way: The expanded alias shows up as a separate command.
[code]
Does this not work for you?

[2021-05-24 14:08] tomKPZ commented on #272
It doesn't seem to work for me on Arch Linux.  The repro steps are:

[code]

[2021-05-24 15:47] artfulrobot opened #273 "Left, Right keys affected by upgrade"
* `zsh-autocomplete` version:  1658d38581c57764dd25980c8a36ff095cf686bb
* Zsh version: ubuntu/5.8-3ubuntu1
* Framework:  none
* Plugin manager: antigen

[code]

Since upgrading to ↑ today my left and right keys don't work as they did:

![autocomplete-2021-05-24](https://user-images.githubusercontent.com/870343/119372148-e6f3c980-bcae-11eb-848b-5b855de651b2.gif)

i.e. they used to work and now they

[2021-05-24 16:32] yutkat opened #274 "Terminal quits when using <S-Tab> to complete in menu-select"
* `zsh-autocomplete` version: 1658d38581c57764dd25980c8a36ff095cf686bb
* Zsh version: 5.8.0.2
* Framework: none
* Plugin manager: none

[code]

According to my investigation, this problem seems to occur from the commit of fbd093f7c97a64da92020ba5a6c2756ff56e1c9d.

[2021-05-24 23:48] tomKPZ commented on #272
I tested on macOS and now I'm getting the same results as you in https://github.com/marlonrichert/zsh-autocomplete/issues/272#issuecomment-846892332.  I'm using zsh 5.8 on both systems.

However, it still seems a bit buggy.  The alias only expands if you type the full thing.  I'm not sure if that's intentional, but it would be cool to have all of them expanded like with parameters.

There's some i

[2021-05-25 21:04] tanderson-google commented on #274
I'm also seeing this issue.  It seems to be a crash in zsh.

[2021-05-26 18:18] marlonrichert commented on #273
That's probably caused by 46509997646fbaa8d37c8494cc56014bf5ee2d7f.

Does the problem go away when you do this?
[code]

[2021-05-26 18:20] marlonrichert commented on #273
How have you defined your key bindings? Can you paste the relevant part of your dotfiles here?

[2021-05-26 20:49] marlonrichert commented on #274
Fixed.

[2021-05-26 23:52] yutkat commented on #274
Thank you for the update.
But, I've tried the main branch and it still seems to reproduce.

[2021-05-27 03:13] shauryagoel0 commented on #29
Hi, I am still facing the issue. My minimal .zshrc is-

export ZSH="/home/user/.oh-my-zsh"                                                                                                          plugins=(zsh-autocomplete fast-syntax-highlighting)                                                                                             source $ZSH/oh-my-zsh.sh

Both of the plugins and oh-my-zsh

[2021-05-27 05:19] tomKPZ commented on #274
Same here, the issue still reproduces.  Here's a stack trace: https://pastebin.com/TgK4Ajd0

[2021-05-27 07:12] marlonrichert commented on #274
OK, yes, I can reproduce it, too. Let me have another look.

[2021-05-27 08:22] marlonrichert commented on #274
Looks like a bug in Zsh to me: https://www.zsh.org/mla/workers/2021/msg01162.html

[2021-05-27 08:38] marlonrichert commented on #273
Thanks, that clears it up for me. I know how to fix that.

[2021-05-27 08:50] marlonrichert commented on #29
@shauryagoel0 I cannot reproduce that. Can you please open a new issue for it and carefully fill out the bug report template? That would really help me investigate. Thanks!

[2021-05-27 10:34] yutkat commented on #274
Oh! it's a bug in zsh. I'm surprised.
Indeed, the following steps reproduced the problem in my environment.

[code]

But why doesn't it reproduce with fbd093f commit?
I want you to revert this commit if possible.

[2021-05-27 10:38] marlonrichert commented on #274
Don't worry, I already know how to work around this. I will commit a fix later today. 🙂

[2021-05-27 19:25] marlonrichert commented on #274
All right, now it should _really_ be fixed. 🙂

[2021-05-27 19:25] #274 closed

[2021-05-27 20:29] marlonrichert commented on #273
You can remove those lines, by the way. This has not been true for quite a while now. 🙂

[2021-05-27 21:13] marlonrichert commented on #273
Because `tmux` has its own key codes. It's a virtual terminal emulator inside your virtual terminal. 🙂

[2021-05-27 21:19] marlonrichert commented on #273
All right, it should be fixed now.

[2021-05-27 21:19] #273 closed

[2021-05-28 01:44] yutkat commented on #274
Great work :tada:  It works for me. Thank you, marlonrichert.

[2021-05-28 15:00] marlonrichert commented on #268
It turns out this is already implement in Zsh's completion system: https://github.com/marlonrichert/zsh-autocomplete/discussions/265#discussioncomment-798409

[2021-05-28 22:10] marlonrichert commented on #272
@tomKPZ I submitted two patches to Zsh for this feature:
* [Make `_expand_alias` more usable as a completer ](https://www.zsh.org/mla/workers/2021/msg01172.html)
* [Let 'extra-verbose' completion show alias values ](https://www.zsh.org/mla/workers/2021/msg01173.html)

[2021-05-29 04:37] tomKPZ commented on #272
Wow, that's awesome!  I'll apply those patches to my zsh so I can try it out 🎉🎉

[2021-05-29 21:08] marlonrichert commented on #269
Fixed.

Tip: You can speed up Midnight Commander's startup even more by adding this to your `.zshrc` file
[code]
and then put after it all things that you don't need inside `mc`.

[2021-05-30 10:12] marlonrichert commented on #269
@balta2ar Actually, I just realized this is, in fact, a bug in Midnight Commander. Just try the following:
[code]

[2021-05-30 10:44] marlonrichert commented on #269
@balta2ar I filed a bug report with Midnight Commander: https://midnight-commander.org/ticket/4253

[2021-05-30 14:20] tomKPZ commented on #272
This issue is resolved for me, so I'm closing it out.  Thanks again for the patches!

[2021-05-30 14:20] #272 closed

[2021-05-31 04:56] tomKPZ opened #279 "Unable to queue up slow commands"
* `zsh-autocomplete` version: 7f44a6d94761b7404955ce360e9c76b906130ca0
* Zsh version: zsh-5.8-436-g0c14732
* Framework: Oh My Zsh

[code]

The ```ls``` command gets lost if it is typed while ```sleep 1``` is running.  Queueing up slow commands is useful when working with large repositories and it seems to work in all major shells (bash, zsh, fish).  The issue only reproduces when zsh-autocomplete

[2021-05-31 07:43] balta2ar commented on #269
Thank you for the investigation! Since it's a bug in mc and should be fixed on their side, should https://github.com/marlonrichert/zsh-autocomplete/commit/114c857d56e916ea942923cb2df4c7508a4926f7 be reverted? Because I'd like to have completions in mc subshell, I have mc running in most of my terminals, but until mc fixed it, I can do the same in my zshrc (conditionally loading zsh-autocomplete wh

[2021-05-31 09:47] marlonrichert commented on #230
@MenkeTechnologies I found a better solution. Patch coming soon.™

[2021-06-01 03:19] cpakkala opened #280 "setopt HIST_IGNORE_ALL_DUPS breaks history completion."
* `zsh-autocomplete` version: 7f44a6d94761b7404955ce360e9c76b906130ca0
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: none

[code]
The problem is that HIST_IGNORE_ALL_DUPS removes items from the $history array, but there are multiple places in the code that cycle through all the indexes, starting with line 22 of history_lines:
[[ -v events[$history[$histno]] ]]

If you inser

[2021-06-01 07:27] marlonrichert commented on #280
I'm unable to reproduce this with the exact steps you've given. Are you sure you've execute them to the letter? It's especially important that you first do `cd $(mktemp -d); exec env -i HOME=$PWD PS1='%# ' TERM=$TERM zsh -f`.

[2021-06-01 14:06] yingzhu146 opened #281 "compdef: unknown command or service ssh"
* `zsh-autocomplete` version:  7e038790c32676ac46090870f1036abd65f10c98
* Zsh version: zsh-5.8-0-g77d203f
* Framework: oh-my-zsh
* Plugin manager:  none
<img width="581" alt="image" src="https://user-images.githubusercontent.com/59233975/120334655-6d636900-c2b6-11eb-961d-2cd97dbaa467.png">

The plugin works perfectly in my normal shell, however, when I use it inside a terminal emulator of e.g. neo

[2021-06-01 17:20] marlonrichert commented on #281
You telling me that in itself is useful info. Now I know that at least you tried it. Before I added that notice, many people would simply immediately delete those steps, without even trying them. 🙂

[2021-06-01 17:23] marlonrichert commented on #281
When you launch a new kitty tab via kitty's remote control, can you try starting Zsh with `zsh -vx`? Then please paste the output here so I can have a look where it fails.

[2021-06-01 19:13] marlonrichert commented on #230
Nah, never mind; it didn't really work. The best solution is simply to press ⬇️. That will expand the menu as far as possible. 🙂

[2021-06-01 19:13] #230 closed

[2021-06-01 19:17] marlonrichert commented on #269
I pushed in a more subtle workaround. You should have a fast `mc` startup again. The only feature I disabled when `mc` is running is to query the terminal for the cursor position. Hence, under `mc`, the max autocompletion list length is always the full screen.

[2021-06-01 19:17] #269 closed

[2021-06-01 19:18] marlonrichert commented on #279
Fixed.

[2021-06-01 20:10] tomKPZ commented on #279
Thanks for the fix!  However there seems to be a lingering issue.  With the patch, if I type ```sleep 1<Enter>ls<Enter>```  then I see ```ls<Newline>```, but I still have to press Enter to run the command.  The command should be run without additional input.

[2021-06-01 20:18] marlonrichert commented on #279
Hm, I didn't realize it behaved like that. I'll look into it.

[2021-06-01 20:26] marlonrichert commented on #279
Well, that was quite easy.

[2021-06-01 20:26] #279 closed

[2021-06-01 22:18] tomKPZ commented on #279
Wow that was fast!  I can confirm it's working properly now, thanks again!

[2021-06-01 23:53] paw-lu opened #282 "Completion not triggering after `e14687b80`"
* `zsh-autocomplete` version: e14687b80428eb1c22069023b5f12a2ef4f55bcb (works) → 85fdb5750d6bddc621df6ba447027c97fadf2bd4 (does not work) → 112b791326007623c7fdb6234d2f9feb74dae538 (does not work)
* Zsh version: zsh-5.7.1-0-g8b89d0d
* Framework: none
* Plugin manager: none

On one of my machines autocompletion does not work at all—there is no output or interaction when pressing <kbd>tab</kbd>. I'v

[2021-06-02 00:55] yingzhu146 commented on #281
Thanks a lot for having a look here, really appreciate you taking your time!

I hope I understood you correctly since I'm executing zsh twice, I replaced the second one with `-xv`

[code]

[2021-06-02 06:20] marlonrichert commented on #282
It works fine for me on the latest commit:
[code]

Have you tried reinstalling?

[2021-06-02 06:25] marlonrichert commented on #281
@yingzhu146 I don't see any error messages in the output you posted. Please disable Powerlevel9k/Powerlevel10k (it generates too much spam), then do the same thing I asked you (`zsh -vx`), but don't stop before you see an error.

[2021-06-02 15:49] paw-lu commented on #282
Yeah since it's been non-functioning for me for so long, I suspsect there is something more unique to my machine that made it stop working as expected post e14687b80.

If by reinstalling you mean deleting the repo and recloning—that doesn't seem to help.

[code]

[2021-06-02 15:49] cpakkala commented on #280
My mistake; it also requires setopt HIST_FIND_NO_DUPS.

[2021-06-02 20:38] cpakkala opened #283 "Idempotency?"
* `zsh-autocomplete` version: 7f44a6d94761b7404955ce360e9c76b906130ca0
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: none

Not sure if this should be categorized as a feature request or bug report.  It would be nice if the module was idempotent; so that it works correctly after being sourced multiple times (my scripts automatically resource everything when my .zshrc timesta

[2021-06-03 15:51] marlonrichert commented on #282
Yes, that's what I meant.

Aha:
[code]
I must have something in _my_ environment that's making it work when I don't use a fresh clone. I'll have to investigate.

[2021-06-03 16:08] marlonrichert commented on #282
@paw-lu Are you saying that the first bad commit for you is 70417848c6cd0715955ce4cbaf4b9ed779c7402c?

[2021-06-03 16:11] marlonrichert commented on #280
Works fine for me:
[code]

[2021-06-03 16:25] marlonrichert commented on #283
I consider that a feature request. 🙂 Sure, it's possible, but it will require some work, since `zsh-autocomplete` patches a lot of existing functions. I will have to give this some thought.

[2021-06-03 16:36] paw-lu commented on #282
Yes, 7041784 is the first bad commit for me. Apologies if that wans't made clear enough.

7041784 also sometimes gives me `.autocomplete.__init__.precmd:31: can't clobber parameter _autocomplete__log_fd containing file descriptor 0` when sourced. So that's why I checked out 85fdb57 in my example—which is a few commits later. 85fdb57 fixes the clobber errors, but does not fix autocomplete for me.

[2021-06-03 16:47] marlonrichert commented on #282
Thanks! That makes it a lot more clear what I need to fix.

[2021-06-03 17:41] marlonrichert commented on #282
Actually, sorry, no, that doesn't help. As you said yourself, that's fixed in 85fdb57.

I wonder if it has something to do with you using zsh-5.7.1-0-g8b89d0d. 🤔

[2021-06-03 18:02] marlonrichert commented on #282
@paw-lu Can you go to `${XDG_DATA_HOME:-$HOME/.local/share}/zsh-autocomplete/log` and have a look what is in the newest log files there? Any error messages?

[2021-06-03 19:51] paw-lu commented on #282
There are files there, but all empty it seems.

[code]

[2021-06-03 20:31] marlonrichert commented on #282
OK, try this:
[code]
Then check the logs again.

[2021-06-03 21:08] paw-lu commented on #282
Yeah that did it.
To be clear, I used e40c1318a30 for this one, the latest commit at the time of this post.

[code]

<details>
    <summary><code>ZayW1zyA4EZr</code></summary>

[code]

</details>

[2021-06-03 23:18] yingzhu146 commented on #281
Sorry for the slow turnaround here.

Here you go

<details><summary>(click to expand)</summary>
[code]

[2021-06-03 23:21] yingzhu146 commented on #281
Yep sorry for the delay:

<details><summary>(click to expand)</summary>
[code]

[2021-06-04 05:04] beauwilliams opened #287 "command not found: .autocomplete.__init_"
* `zsh-autocomplete` version: e40c1318a30fd722f18ffa0ed99e20819ff60568
* Zsh version: zsh-5.3-0-g4cfdbdb
* Framework: none
* Plugin manager: none

[code]

ERROR: `command not found: .autocomplete.__init_`

Open shell, with minimal zshrc (single line) with `source ~/.zsh/zsh-autocomplete/zsh-autocomplete.plugin.zsh`
Produces error each time we start the shell

We can 'fix' the error by running `exe

[2021-06-04 13:47] hanschen opened #288 "Errors after clean install with zimfw"
* `zsh-autocomplete` version: e40c1318a30fd722f18ffa0ed99e20819ff60568
* Zsh version: zsh-5.8-0-g77d203f
* Framework: Zimfw
* Plugin manager: none

I'm trying out Zimfw and was interested in using this plugin. Reading other issues, it seems like the two should work well out-of-the-box (e.g. #37). However, after I installed and enabled this plugin, I get the following error after each line:

[code]

[2021-06-04 16:25] thanh125643 opened #289 "Recent dirs completion with zsh-z is some how dont work"
* `zsh-autocomplete` version:
* Zsh version: ubuntu/5.8-3ubuntu1
* Framework: none
* Plugin manager: Zinit

I change setting to this in zshrc
[code]
some picture use z normal

![Code_23_20_58_04_06_21](https://user-images.githubusercontent.com/9133085/120833075-92442e80-c58b-11eb-919d-d30d3fe9bba9.png)

but not show any thing when i use recent dirs compelte

![Code_23_22_45_04_06_21](https://user-

[2021-06-04 16:31] marlonrichert commented on #282
@paw-lu Can you update to 20a301d and then try this?
[code]
And then check the logs again.

[2021-06-04 16:48] marlonrichert commented on #281
It looks like your `$_comp_dumpfile` (`/Users/yingzhu/.zcompdump-MacBook Air (3)-5.8` is strangely enough pretty much empty. Can you delete it and then try again?

[2021-06-04 17:10] marlonrichert commented on #287
I don't test with Zsh < 5.7. So, no guarantees that `zsh-autocomplete` will work with Zsh 5.3.

So, that means there's something in your global dotfiles (`/etc/z*`) that's messing things up. Please try to find out what it is. 🙂

What OS are you using?

[2021-06-04 17:56] paw-lu commented on #282
Logs seem empty now.

[code]

[2021-06-04 23:22] beauwilliams commented on #287
Yes I was a bit surprised to see 5.3 pop up. I did some digging and it seems the variables are not correctly reflecting the version I am running: https://i.ibb.co/cbQvhx9/Screen-Shot-2021-06-05-at-9-19-37-am.png

As far as I am aware, should be 5.8 running on OSX.

I'll do some digging around. I found some files in /private/etc but did not immediately suggest anything that could be causing the err

[2021-06-04 23:32] beauwilliams commented on #287
Interestingly, running `zsh -o SOURCE_TRACE` fixes the error. I have no idea why..

Here is the output:
+/etc/zshrc:1> <sourcetrace>
+/Users/admin/.zshrc:1> <sourcetrace>
+/Users/admin/.zsh/.fzf.zsh:1> <sourcetrace>
+/usr/local/opt/fzf/shell/key-bindings.zsh:1> <sourcetrace>
+/Users/admin/.zsh/.p10k.zsh:1> <sourcetrace>
+/Users/admin/.zsh/powerlevel10k/powerlevel10k.zsh-theme:1> <sourcetrace>
+/Us

[2021-06-05 01:47] cpakkala commented on #280
$ cd $(mktemp -d) && exec env -i HOME=$PWD PS1='%# ' TERM=$TERM zsh -f
% git clone --depth 1 -- https://github.com/marlonrichert/zsh-autocomplete.git
Cloning into 'zsh-autocomplete'...
remote: Enumerating objects: 59, done.
remote: Counting objects: 100% (59/59), done.
remote: Compressing objects: 100% (54/54), done.
remote: Total 59 (delta 0), reused 29 (delta 0), pack-reused 0
Receiving objects:

[2021-06-05 07:56] marlonrichert commented on #280
Can you try that again, but before you press ⬆️, run this:
[code]

[2021-06-05 16:43] cpakkala commented on #280
[code]

[2021-06-06 21:21] marlonrichert commented on #288
This is actually [a bug in `zsh-syntax-highlighting`](https://github.com/zsh-users/zsh-syntax-highlighting/issues/816) (or `add-zle-hook-widget`, depending on how you look at it). However, I will implement a workaround to prevent this from happening.

[2021-06-06 21:26] marlonrichert commented on #288
Workaround implemented.

[2021-06-06 23:00] hanschen commented on #288
Many thanks for the fix and for opening a bug against `zsh-syntax-highlighting`. I just noticed that [`fast-syntax-highlighting`](https://github.com/zdharma/fast-syntax-highlighting) seems to have the same bug - would it be possible to apply the same workaround for this plugin?

[2021-06-07 03:00] flexagoon commented on #187
It happened to me. I am also using Zinit plugin manager, but my error text is slightly longer:

[code]

[2021-06-07 07:39] marlonrichert commented on #187
This appears to be a regression introduced by 68bae9522a53fdffcc93be0453daf71b09175ef9.

[2021-06-07 07:45] marlonrichert commented on #289
@thanh125643 Please put together a _minimal_ test case by doing the following in your terminal :
[code]
Edit the above until you find what is the minimum set of instructions to reproduce the problem, then copy-paste it here.

[2021-06-07 08:04] marlonrichert commented on #287
What do you get from `print $SHELL`?

[2021-06-07 08:22] beauwilliams commented on #287
Yep, something is not right. Bit odd, maybe its a homebrew issue..

I don't know exactly what to trust here, but I assume --version is correct in saying its 5.8. But the variables say otherwise. Yep good idea, it might be something that happens during init. perhaps zsh 5.3 calls zsh5.8

https://i.ibb.co/NtWSTCK/Screen-Shot-2021-06-07-at-6-20-22-pm.png

[2021-06-07 08:33] beauwilliams commented on #287
Okay so here is the fix, fyi for anyone else. This is related to homebrew. You need version > 5.4? for this plugin and so you need the login shell to reflect a version above that. You can get login shell with `print $SHELL $ZSH_VERSION` as suggested above. Note that `zsh --version` prints the shell you are using at the moment, but not the "default" shell as you can call it.

To change the login sh

[2021-06-07 08:33] #287 closed

[2021-06-07 11:13] marlonrichert commented on #280
I'm able to reproduce it now and I know how to fix it.

[2021-06-07 11:22] marlonrichert commented on #288
Thanks for informing me. I filed a [bug with `fast-syntax-highlighting`](https://github.com/zdharma/fast-syntax-highlighting/issues/224).

I just tested it and yes, I can easily apply the same workaround there.

[2021-06-07 20:26] marlonrichert commented on #282
Can you update to fd801e4ce6e31c2b4e4985a769d8db80da50b098 and try this?
[code]

[2021-06-07 20:34] paw-lu commented on #282
Unfortunatley still empty.

[code]

[2021-06-07 20:43] marlonrichert commented on #187
Should be fixed now.

[2021-06-07 20:43] #187 closed

[2021-06-07 20:45] marlonrichert commented on #280
Fixed.

[2021-06-07 20:45] #280 closed

[2021-06-07 20:48] marlonrichert commented on #288
Workaround added.

[2021-06-07 20:48] #288 closed

[2021-06-07 20:50] marlonrichert commented on #282
What happens if you paste this into the command line?
[code]

[2021-06-07 23:12] paw-lu commented on #282
[code]

[2021-06-07 23:14] paw-lu commented on #282
Actually, read the message and saw that the comment was causing issues
Removed

[code]

[2021-06-08 05:40] flexagoon commented on #187
Doesn't help. Here's my .zsh config:
https://dpaste.com/5ETLF2F3X

[2021-06-08 05:44] flexagoon commented on #187
Oh wait, nvm, I just forgot to run `zplug update`. Thanks!

[2021-06-08 06:17] marlonrichert commented on #282
Well, that looks like it works. I’m kind baffled by this one.

[2021-06-08 06:22] marlonrichert commented on #282
Hm, I think I have to attack it from that angle.

[2021-06-08 06:28] marlonrichert commented on #282
@paw-lu Can you try the following?
[code]
And then press <kbd>tab</kbd>.

[2021-06-08 06:42] marlonrichert commented on #187
If you use my software on a regular basis, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-06-08 06:43] marlonrichert commented on #288
If you use my software on a regular basis, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-06-08 06:43] marlonrichert commented on #280
If you use my software on a regular basis, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-06-08 15:05] paw-lu commented on #282
[code]

[2021-06-08 18:08] marlonrichert commented on #282
OK, that should be fixed now. That doesn't explain the other bug, though. 🤔

[2021-06-08 18:10] marlonrichert commented on #282
@paw-lu Can you try this?
[code]
This should produce output both on screen _and_ in the log.

[2021-06-08 18:37] paw-lu commented on #282
Running that makes the terminal unusable, it just keeps repeating the long message. Recording the log path and running in a seperate session still shows empty logs 😅.

<details>
    <summary>Terminal output</summary>

[code]

</details>

[code]

[2021-06-08 20:16] marlonrichert commented on #282
What happens if you do this?
[code]
Does `foobar` then show up in the log?

[2021-06-08 22:24] paw-lu commented on #282
yep!

[2021-06-09 02:37] yingzhu146 commented on #281
Again sorry for being slow

I `rm  $_compdumpfile`
<details><summary>(click to expand)</summary>
[code]

[2021-06-09 09:14] marlonrichert commented on #281
@yingzhu146 It looks like you're not using the latest commit in the `main` branch. Can you please do the following and then try again?
[code]

[2021-06-09 09:17] marlonrichert commented on #282
If you do `typeset -gH _autocomplete__log_fd` before sourcing `zsh-autocomplete`, does the problem go away?

[2021-06-09 14:59] yingzhu146 commented on #281
@marlonrichert looks like its fixed in main 🥳  I don't see the errors anymore - thanks a ton!

[2021-06-09 14:59] #281 closed

[2021-06-09 15:01] jocastaneda commented on #282
Curious as to what operating system you are on paw-lu? I was seeing something similar not too long ago with autocomplete on a new install on my macOS machine. The main issue on my end was just it not autocompleting, but now does sans the options showing. I'm not using any plugin manager or framework either.
![autocomplete](https://user-images.githubusercontent.com/1500554/121379121-990ad280-c8f8-1

[2021-06-09 16:22] paw-lu commented on #282
@marlonrichert

Kinda. Now hitting <kbd>tab</kbd> does something, though not entirely as expeceted. For example when `file1.txt`, `file2.txt`, and `file3.txt` exist. Hitting tab after any command just automatically fills in `file1.txt`—no output or options are presented

[code]

Logs still empty after running `functions -t .autocomplete.async.start .autocomplete.async.pty .autocomplete.async.compl

[2021-06-09 16:28] paw-lu commented on #282
@jocastaneda

CentOS Stream release 8

Luckily for me, this works expected on my macOS machines. The CentOS machine is my first to have some issues.

Yeah can't stress this enough. Even if this doesn't end up resolved, the effort and guidance here is really appreciated.

[2021-06-09 18:55] marlonrichert commented on #281
@yingzhu146 See, this is another reason why you should always follow the bug template. 😉

---

PS: If you use my software on a regular basis, please consider [leaving a tip](https://github.com/sponsors/marlonrichert). 🙂

[2021-06-09 19:01] marlonrichert commented on #282
@jocastaneda @paw-lu Thank you for the kind words! 🤗

If you use my software on a regular basis, please consider [being a sponsor](https://github.com/sponsors/marlonrichert). 🙂

[2021-06-09 19:02] marlonrichert commented on #282
@paw-lu Does it help when you do this after sourcing `zsh-autocomplete`?
[code]

[2021-06-09 19:12] paw-lu commented on #282
No. Behaviour is the same—you get a very basic completion with no interaction or output shown.

[code]

Want to correct https://github.com/marlonrichert/zsh-autocomplete/issues/282#issuecomment-857846082

It seems the <kbd>tab</kbd> responce is restored now even without running `typeset -gH _autocomplete__log_fd`. Though as said in that comment there is no output or interaction shown. It just auto

[2021-06-09 19:25] marlonrichert commented on #282
@paw-lu Can you try reverting commit 85fdb5750d6bddc621df6ba447027c97fadf2bd4 line by line and see which one fixes the problem?

[2021-06-10 00:20] paw-lu commented on #282
Offending line marked in https://github.com/marlonrichert/zsh-autocomplete/commit/70417848c6cd0715955ce4cbaf4b9ed779c7402c#r51960674

I'll repeat what's stated there:

[2021-06-10 00:27] paw-lu commented on #282
Simply blindly removing all `2>&$_autocomplete__log_fd` from `module/.autocomplete.async` on latest commit (a1ee18e7d640dbf0ca2ae48001d7d35e9e7080cc) fixes it for me.

[2021-06-10 05:56] marlonrichert commented on #282
OK, well, that’s not handy. I wonder why that doesn’t work on CentOS?

@paw-lu Can you give me your `$OSTYPE`? Perhaps I can conditionally remove it.

I thought you said, though, that 85fdb57 was the first commit that broke it for you? Those redirects were already present in e14687b and that worked for you. It makes me think that it’s not the redirects themselves that are the problem, but rather t

[2021-06-10 15:20] paw-lu commented on #282
It's pretty generic.

[code]

To be clear, from https://github.com/marlonrichert/zsh-autocomplete/issues/282#issuecomment-854011914

e14687b is the last working commit, making 7041784 the breaking commit. It also introduces some clobber errors though which are fixed a couple of commits later in 85fdb57, so I didn't want that getting in the way of debugging, and is why I was chosing it initally as

[2021-06-10 18:55] marlonrichert commented on #282
It seems that for some reason, redirecting to that fd when inside a pty breaks things for you. No idea why. But perhaps I can add a test inside the pty to check if the fd is writable.

[2021-06-11 04:02] naefl opened #290 "Feature Request: Show live man preview like in mbhynes/fzf-gcloud"
## What do you want?

Basically this  https://github.com/mbhynes/fzf-gcloud but everywhere :) the fuzzy search aspect is less important  (would be cool to enable though), less than the man preview. Would be awesome to have man completion on the right pane for everything

## Why do you want this?
Will making learning new commands way easier. also seems very much in the spirit of this app and you al

[2021-06-14 00:28] mike2point71 opened #291 "Certain command and option combinations cause "do you wish to see all XX possibilites" instead of the nice menu"
* `zsh-autocomplete` version: a1ee18e7d640dbf0ca2ae48001d7d35e9e7080cc
* Zsh version: zsh-5.8-0-g77d203f
* Framework: oh-my-zsh
* Plugin manager: none
* Operating system: darwin20.0

 1. Paste the following into your terminal and <kbd>Enter</kbd>:
[code]
 1. In the shell session created above, try to reproduce your problem and
    record all of it here:
[code]

[2021-06-14 07:00] marlonrichert commented on #291
It's a bug in Zsh: https://www.zsh.org/mla/workers/2021/msg00304.html

[2021-06-14 08:43] marlonrichert commented on #290
Won't fix. Showing man pages is not completion and thus out of scope for this plugin.

If you want an easy way to show help (man page or otherwise) for the command you are currently typing, add this to your `.zshrc` file:
[code]

[2021-06-14 08:43] #290 closed

[2021-06-14 23:36] guiferpa opened #292 "Unexpected behavior for rupa/z"
* `zsh-autocomplete` version: a1ee18e7d640dbf0ca2ae48001d7d35e9e7080cc
* Zsh version: ubuntu/5.8-3ubuntu1
* Framework: Oh My Zsh
* Plugin manager: "none"
* Operating system: linux-gnu

 ![image](https://user-images.githubusercontent.com/9096630/121971523-45ace000-cd4f-11eb-8abc-6f131d508ef4.png)

 I use [rupa/z](https://github.com/rupa/z) to jump around but when I just installed `zsh-autocomplete`

[2021-06-15 00:51] mike2point71 commented on #291
You're the man.  Love your plugin, and I can't believe you were able to respond with the exact thing so fast.

[2021-06-15 09:25] marlonrichert commented on #292
I'm unable to reproduce that. Can you share your `.z` file?

[2021-06-15 22:09] guiferpa commented on #292
**Command**:
`cat z`

**Output**:
[code]

[2021-06-16 10:06] marlonrichert commented on #282
@paw-lu Do you think you could put together a minimal, reproducible test case for this that does not use `zsh-autocomplete`? Then I can ask about it on the Zsh mailing list.

[2021-06-16 11:14] marlonrichert commented on #292
Ah, now I see why: It's because `rupa/z` generates completions using `compctl`, which is [the old, deprecated way to control completions](https://zsh.sourceforge.io/Doc/Release/Zsh-Modules.html#The-zsh_002fcompctl-Module) in Zsh. Sorry, but `zsh-autocomplete` doesn't support that. You can try filing an issue with `rupa/z` to ask that they update their completions. Zsh "new" completion system was r

[2021-06-16 11:14] #292 closed

[2021-06-16 20:19] marlonrichert commented on #282
@paw-lu Please try updating to the latest commit and see if that helps.

[2021-06-18 19:16] paw-lu commented on #282
Runs perfectly 😄

[2021-06-18 19:16] #282 closed

[2021-06-18 19:18] paw-lu commented on #282
Yes I'll attempt this!

Would showing that it does not log as expected be sufficient, or do we need to show it blocking a process?

[2021-06-19 07:29] marlonrichert commented on #282
I don’t think it matters. Whichever is the simplest way you can show it behaves differently between CentOS & macOS.

Once you’ve compiled your test case, can you send it yourself to [zsh-workers(at)zsh(dot)org](https://zsh.sourceforge.io/Arc/mlist.html)? I’m sure they’ll want to ask for more info. Better that they get it straight from the source. 🙂

[2021-06-21 22:59] Timoses opened #293 "Menu selection by number"
## What do you want?

Display menu options prepended with a selection number which can be used by user to select option by typing the number.

## Why do you want this?

I am using voice programming and numbers are a great visual aid in selecting options.

## Who else would benefit from this?

Anyone who wants to type less.

## Explain in detail how you would expect this to work
Given the following

[2021-06-22 06:56] YodaEmbedding commented on #215
This seems to occur only for commands that take >250ms (approximation) to finish.

[2021-06-22 08:40] YodaEmbedding opened #294 ".autocomplete.async.timeout.fd-widget"
* `zsh-autocomplete` version: ff84e8d2c987614083903723f933c921f0f16056
* Zsh version: /bin/zsh zsh-5.8-0-g77d203f
* Framework: Oh-my-zsh
* Plugin manager: zinit
* Operating system: linux-gnu

**Steps to reproduce:**

Create .zshrc:

[code]

Run a new shell and type:

[code]

Appears to happen due to the vi-mode OMZ plugin.

[2021-06-23 19:18] marlonrichert commented on #293
Thanks for the suggestion, but that's better implemented in Zsh's completion system and thus out of scope for this project. You should make your suggestion on the [`zsh-workers` mailing list](https://zsh.sourceforge.io/Arc/mlist.html).

[2021-06-23 19:18] #293 closed

[2021-06-23 19:22] marlonrichert commented on #294
@YodaEmbedding Can you please add a reproducible test case _without_ `zinit`? It complicates things needlessly.

[2021-06-23 19:46] YodaEmbedding commented on #294
Reproduce without zinit:

[code]

[2021-06-23 20:11] marlonrichert commented on #294
@YodaEmbedding It's a bug in `vi-mode.plugin.zsh` or `add-zle-hook-widget` (depending on how you look at it).

* [On line 20 in `vi-mode-plugin.zsh`](https://github.com/ohmyzsh/ohmyzsh/blob/e32d4b1e195f4c7777844beea97af42bd93434eb/plugins/vi-mode/vi-mode.plugin.zsh#L20), `_vi-mode-set-cursor-shape-for-keymap` always returns non-zero when `$VI_MODE_SET_CURSOR` is not equal to `true`.
* This causes

[2021-06-23 20:34] marlonrichert commented on #294
I sent a question about it to the Zsh mailing list: https://www.zsh.org/mla/workers/2021/msg01330.html

[2021-06-23 20:39] marlonrichert commented on #294
By the way, this could be fixed easily in `vi-mode.plugin.zsh`, as follows:
* Use `add-zle-hook-widget` instead of defining zle-xxx widgets directly.
* Make sure your hook widget functions always return zero, _unless you actually, intentionally want that all hooks that follow get canceled._

Please file a bug report with OhMyZsh about this. This problem not limited to just the `vi-mode` plugin. Th

[2021-06-23 20:39] #294 closed

[2021-07-01 02:24] hoteit commented on #291
hi. getting stuck with the same error when i mainly type "cd".  once I type "c" I get the do you wish to see all X possibilities. Is there any way to force certain keywords like "cd" to not attempt a menu popup?

[2021-07-01 20:09] marlonrichert commented on #291
@hoteit I would like to reproduce that. Can you post a minimal test case?

[2021-07-02 09:04] GeorgeGedox commented on #107
This is currently broken and all `zstyle ':completion:*:'` options are ignored

[2021-07-02 14:28] marlonrichert commented on #107
@GeorgeGedox Can you give me a reproducible test case, so I can see this for myself and fix it?

[2021-07-03 23:42] mataslauzadis opened #296 "Dead link to settings"
The link to the settings in the README is dead.
https://github.com/marlonrichert/zsh-autocomplete#settings

[2021-07-04 10:39] marlonrichert commented on #296
Fixed.

[2021-07-04 10:39] #296 closed

[2021-07-07 10:27] pcjmfranken opened #297 "Semicolon not removed from hist completion (regression)"
* `zsh-autocomplete` version: Confirmed in `d11612a` and `b164ae7` (current `main`)
* Zsh version: 5.8
* Framework: none
* Plugin manager: none

Shell output:
[code]

Reproduction steps:
1. Populate history by executing a command
2. Type the first word of the command again
3. Press <kbd>&uparrow;</kbd> to have it autocompleted from the history menu
4. Press <kbd>Space</kbd> and you will see that t

[2021-07-07 11:54] Timoses opened #298 "Runaway processes"
* `zsh-autocomplete` version: latest
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: antibody
* Operating system: Linux and MacOS

Sofar I am unable to reproduce this with intent. However, I experience this both an MacOS and Linux (Fedora 33).

Sometimes I find `zsh` processes which use up lots of CPU time.
On my MacOS I noticed this only after installing `zsh-autocomplete` (

[2021-07-08 03:44] Timoses commented on #283
This would be very nice as sourcing `~/.zshrc` is quite a common task after updating it.

Additionally, I seem to find that sourcing `~/.zshrc` and thereby reloading *zsh-autocomplete* triggers https://github.com/marlonrichert/zsh-autocomplete/issues/298 .

[2021-07-13 07:25] hyperfocus1337 opened #299 "Use tab key to complete the autocompletion suggestion on the active line, instead of the box below"
## What do you want?
Ability to configure autocompletion to use tab key for completing the autocompletion suggestion on the active terminal line (instead of the first completion suggestion in the box below).

## Why do you want this?
I'm used to using tab to complete the greyish backdrop completion on the active terminal line, instead of using tab to autofill the first completion suggestion. I can

[2021-07-13 07:35] hyperfocus1337 commented on #299
Ah wait, I confused this plugin with [zsh-autosuggestions](https://github.com/zsh-users/zsh-autosuggestions), sorry about that.

[2021-07-13 07:35] #299 closed

[2021-07-13 22:50] YodaEmbedding opened #300 "max-lines has no effect"
* `zsh-autocomplete` version: b164ae7bc70978131c2515bca4cb3bcaf3f95dbc
* Zsh version: /bin/zsh zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: none
* Operating system: Arch Linux

**Steps to reproduce:**

[code]

**Results**:

For a terminal window of size height=8 and width=32,

[code]

**Expected:**

[code]

[2021-07-14 08:18] marlonrichert commented on #300
That’s because I removed the `max-lines` setting some time ago. Please use the [`list-lines` setting](https://github.com/marlonrichert/zsh-autocomplete/blob/b164ae7bc70978131c2515bca4cb3bcaf3f95dbc/.zshrc#L23) instead.

[2021-07-14 08:18] #300 closed

[2021-07-14 08:22] marlonrichert commented on #298
That one is new to me and sounds like a separate problem. Can you open a separate bug report for that one, with a minimal test case with which I can reproduce the problem? Thanks.

[2021-07-14 17:55] vitaly opened #301 "should complete exact prefix before fuzzy matches"
* `zsh-autocomplete` version: b164ae7bc70978131c2515bca4cb3bcaf3f95dbc
* Zsh version: /usr/local/bin/zsh zsh-5.8-0-g77d203f
* Framework: zim
* Plugin manager: none
* Operating system: darwin19.6.0

| BTW, the above, imho, should be generated by a command

### the problem:

I'm very fast at the keyboard, and used to type ahead, not waiting for shell to catch up.

Since switching to `zsh-autocomplet

[2021-07-14 18:09] vitaly commented on #300
Actually, `list-lines` still doesn't work:

* `zsh-autocomplete` version: b164ae7bc70978131c2515bca4cb3bcaf3f95dbc
* Zsh version: /usr/local/bin/zsh zsh-5.8-0-g77d203f
* Framework: zim
* Plugin manager: none
* Operating system: darwin19.6.0

[code]
% x
external command
x265             xar              xargs            xattr
xattr-2.7        xcode-select     xcodebuild       xcrun
xcscontrol

[2021-07-14 18:17] vitaly opened #302 "`list-lines` has no effect."
`list-lines` has no effect. I Initially commented on #300 but it's closed as `wontfix`, so I thought a new issue is better ;).

* `zsh-autocomplete` version: b164ae7bc70978131c2515bca4cb3bcaf3f95dbc
* Zsh version: /usr/local/bin/zsh zsh-5.8-0-g77d203f
* Framework: zim
* Plugin manager: none
* Operating system: darwin19.6.0

[code]

[code]

I have `list-lines` set to 8, but it frequently fills my w

[2021-07-14 18:17] vitaly commented on #300
I opened a new #302

[2021-07-14 18:26] vitaly opened #303 "is it possible to disable `history-words` either globally, or for certain commands?"

[2021-07-14 18:55] Timoses commented on #298
It seems to be related because every time TAB completion closes the session I spot a runaway process which I have to kill manually.

Example:
[code]

In this directory if I type
[code]
=> Shell session closes and runaway zsh process starts.

It's very reproducible this way.

[2021-07-14 18:57] Timoses commented on #298
I noticed that above (`ls col<TAB>` => Runway process on MacOS) happens when I have the following configured:
[code]

If I have only either or none of them configured it does not happen (only when both are activated).

[2021-07-14 18:59] vitaly opened #304 "`insert-unambiguous` doesn't affect alias expansion"
* `zsh-autocomplete` version: b164ae7bc70978131c2515bca4cb3bcaf3f95dbc
* Zsh version: /usr/local/bin/zsh zsh-5.8-0-g77d203f
* Framework: zim
* Plugin manager: none
* Operating system: darwin19.6.0

[code]

[2021-07-16 17:36] marlonrichert commented on #298
Why exactly do you type `col`? You don’t seem to have any file with those letters in your pwd.

[2021-07-17 16:48] #297 closed

[2021-07-17 16:48] marlonrichert commented on #297
Fixed.

[2021-07-17 18:30] marlonrichert commented on #301
Can you give examples of GitHub repos where this is done that way? I would like to see if there's any standard or conventions for this, instead of just making up my own.

[2021-07-17 18:39] #301 closed

[2021-07-17 18:40] marlonrichert commented on #301
Implemented.

[2021-07-17 19:05] Timoses commented on #298
Not exactly trying to find a non-existing file, but completion attempts like these via `TAB` just happen during day-to-day `tabbing`. It shouldn't just lead to zsh quitting and leaving a runaway process in these cases (or any case I suppose).

Thanks for the attempted fix.

However, it still happens (zsh session closes / tmux pane just quits -> runaway process) after I updated to latest version (w

[2021-07-17 19:06] Timoses commented on #298
If I can do anything to debug the situation please let me know (inserting a specific debug line within autocomplete scripts , ...)

[2021-07-17 19:27] #302 closed

[2021-07-17 19:29] marlonrichert commented on #302
You're misunderstanding what `list-lines` does. I've updated the [documentation](https://github.com/marlonrichert/zsh-autocomplete/blob/810deb896da7df1e6eb3cb2a8f227d3521f8bf89/.zshrc#L21) to make it more clear.

[2021-07-17 19:29] #303 closed

[2021-07-17 19:43] marlonrichert commented on #304
Works for me. Here's what I did:
[code]
Can you reproduce it with the steps above?

PS: Please don't ignore the bug report template (which I replicated above). It's there for a reason. Kindly follow the steps as instructed.

[2021-07-17 22:00] #298 closed

[2021-07-17 22:01] marlonrichert commented on #298
I was now able to generate some runaway processes, determine the cause of it, and fix the problem. Please update and let me know if it doesn't fix it for you.

[2021-07-18 08:39] YodaEmbedding commented on #300
Is there a way to ensure that completions use only a maximum number/percentage of lines, and without shifting the completion to the top of the terminal window?

**Use case:** I often want to look at the previous command's output when crafting my new command.

[code]

In the above example, `max-terminal-lines-used=50%`, so I can comfortably view the contents of fruits.txt while writing my command,

[2021-07-18 09:19] marlonrichert commented on #300
Because your prompt is not at the bottom of the screen. If the space is already available, it will be filled.

[2021-07-18 09:21] marlonrichert commented on #300
Yes, the `list-lines` setting. [See here](https://github.com/marlonrichert/zsh-autocomplete/blob/a7f69c9ed25b33952d98b21c5196d92c16b65af0/.zshrc#L21) for examples.

[2021-07-18 10:02] Timoses opened #306 "Shell quits when attempting autocompletion of non-existing path before min-delay expires"
* `zsh-autocomplete` version: a7f69c9ed25b33952d98b21c5196d92c16b65af0
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: antibody
* Operating system: MacOS

Shell closes when `zstyle ':autocomplete:*' min-delay 0.5` is set and one quickly presses `<TAB>` when typing e.g. `ls col` where `col` is not part of the current directory.

This only happens within the **0.5s** before aut

[2021-07-18 10:03] Timoses commented on #298
Thanks, this fixes it! No more runaway process. However, the phenomenon of a closing shell still appears: #306

[2021-07-18 13:37] marlonrichert commented on #289
Closing, as I haven't heard back from @thanh125643.

[2021-07-18 13:37] #289 closed

[2021-07-18 13:39] marlonrichert commented on #291
If anyone wants to submit a patch to Zsh for this, that would be great.

[2021-07-18 13:44] marlonrichert commented on #306
I cannot reproduce this. Here's what I did:
[code]
No crash.

PS: Next time, please don't delete the bug report's steps-to-reproduce template (which I used above). It's there for a reason.

[2021-07-18 13:44] #306 closed

[2021-07-18 13:44] #304 closed

[2021-07-18 13:47] marlonrichert commented on #298
You're welcome! 😊

---

If you enjoy using this software, please consider [becoming a sponsor](https://github.com/sponsors/marlonrichert).

[2021-07-18 13:48] marlonrichert commented on #301
PS: If you enjoy using this software, please consider [becoming a sponsor](https://github.com/sponsors/marlonrichert). 🙂

[2021-07-18 13:48] marlonrichert commented on #297
PS: If you enjoy using this software, please consider [becoming a sponsor](https://github.com/sponsors/marlonrichert). 🙂

[2021-07-18 13:48] marlonrichert commented on #296
PS: If you enjoy using this software, please consider [becoming a sponsor](https://github.com/sponsors/marlonrichert). 🙂

[2021-07-21 09:02] vitaly commented on #302
is there a way to limit the maximum number of lines? often I have some information on the screen I intend to use in a command line, but autocomplete produces so much options that the command line goest to the top, so nothing is seen except command line and completions. this is quite inconvenient. besides, having full screen of completion options is useless anyway... too much.  especially on big sc

[2021-07-21 09:06] vitaly commented on #300
@marlonrichert Actually it frequently takes my prompt from the bottom of the screen to the top, completely wiping out the information above the command line.

[2021-07-21 09:11] vitaly commented on #301
done ;)

[2021-07-21 09:13] vitaly commented on #301
No. I just think that instead of copy pasting commands to and from terminal, running something like `zsh-autocomplete-bug-report` would be more convenient ;)

[2021-07-21 09:23] vitaly commented on #304
it works in the last version.

[2021-07-21 12:11] shtolfensie commented on #291
I get the "do you wish to see all ..." prompt on any larger list of possible suggestions - e.g., after typing sudo, git, man. It started happening in commit 2c22ed0.
It happens on a fresh install, manual sourcing, clean shell (as described in the bug report template). On the previous commit it works as I would expect (shows an incomplete list with (MORE) at the bottom.

[2021-07-21 16:04] marlonrichert commented on #302
How many lines do you have in your terminal? By default, the prompt will be pushed up to the 16th line from the bottom at most. If it gets pushed up more than that, then that’s a bug.

You can use `list-lines` to override this behavior.

[2021-07-21 16:06] marlonrichert commented on #300
@vitaly How tall is your terminal? If it’s 16 lines or less, then that’s expect behavior. You can use `list-lines` to reduce this. If your terminal is more than 16 lines tall, then that’s a bug. If so, are you able to provide me with a reproducible test case?

[2021-07-21 16:07] marlonrichert commented on #301
Sure, I can add some kind of command for that.

[2021-07-21 16:14] marlonrichert commented on #291
@shtolfensie OK, I'm able to reproduce it now. I'll look into it.

[2021-07-21 16:30] marlonrichert commented on #291
Fixed.

[2021-07-21 16:54] thompsonbrian commented on #283
This would be very nice to have.  In the meantime, do we have a workaround?

[2021-07-21 20:59] marlonrichert commented on #283
@thompsonbrian Yes: Use `exec zsh` to restart your shell.

[2021-07-22 10:00] vitaly commented on #300
As I mentioned I have `list-lines` set to 8. I figured out what the problem is, or at least a direction to look. in short: `tmux`. Seems like terminal size detection fails inside tmux: https://www.loom.com/share/317c1da30aa54d7cb4b04bb156759aa8

[2021-07-22 10:15] vitaly commented on #300
looks like `_autocomplete__buffer_start_line` is always `1` in side TMUX

[2021-07-22 10:43] vitaly commented on #300
looks like there's no `terminfo[u6]` and `terminfo[u7] ]]` inside TMUX

[2021-07-22 13:42] marlonrichert commented on #300
Thanks! I will have to think of some kind of workaround for it. In the meantime, can you please open a new issue for this? 🙂

[2021-07-22 14:13] vitaly opened #309 "`list-lines` is broken in TMUX"
* `zsh-autocomplete` version: 79534a25eb6a956b32f860032e98445b41193004
* Zsh version: /usr/local/bin/zsh zsh-5.8-0-g77d203f
* Framework: zim
* Plugin manager: none
* Operating system: darwin19.6.0

apparently `terminfo[u6]` and `terminfo[u7]` not available from within TMUX.

[2021-07-22 14:13] vitaly commented on #300
https://github.com/marlonrichert/zsh-autocomplete/issues/309

[2021-07-23 14:08] tejasc0 commented on #183
right, we dont need to add each plugin in plugins section of zshrc

[2021-07-28 06:31] Timoses opened #311 ""zsh: do you wish to see all X possibilities""
* `zsh-autocomplete` version: 3abe9dba037b681ab54131a1219a733f4abb9761
* Zsh version: /bin/zsh zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: antibody
* Operating system: Linux (Fedora 33)

 1. Paste the following into your terminal and press <kbd>Enter</kbd>:
[code]
 1. Once you're able to reproduce your problem in the shell session created
    above, copy-paste the contents of your termi

[2021-07-28 06:35] Timoses commented on #311
It seems like `/tmp/d*` does not exist:
[code]

[2021-07-28 06:59] gauravnumber opened #312 "How to stop zsh-autocomplete when I using `z`?"
* `zsh-autocomplete` version: 3abe9dba037b681ab54131a1219a733f4abb9761
* Zsh version: /usr/bin/zsh ubuntu/5.8-3ubuntu1
* Framework: Oh My Zsh
* Plugin manager:  none
* Operating system: linux-gnu

 1. Paste the following into your terminal:
[code]
 2. Then output looks like this:
![image](https://user-images.githubusercontent.com/75254747/127277890-82c4c8c1-b17c-4380-b257-1e152ace6da7.png)

How do

[2021-07-28 12:39] marlonrichert commented on #311
I'm not sure what you mean by this. Can you please include clear, step-by-step instructions to reproduce?

[2021-07-28 12:45] marlonrichert commented on #312
I'm unable to reproduce this with the steps you've given.

[2021-07-28 12:45] #312 closed

[2021-07-28 20:27] #309 closed

[2021-07-28 21:24] marlonrichert commented on #291
Just to be clear, I fixed the problem pointed out by shtolfensie [in their comment](https://github.com/marlonrichert/zsh-autocomplete/issues/291#issuecomment-884141162), not the whole issue.

[2021-07-28 21:25] marlonrichert commented on #311
@Timoses Is this by any chance a duplicate of #291?

[2021-07-29 14:21] tshu-w opened #313 "filter completion based on fuzzy search help text"
## What do you want?
It would be much appreciated if we could filter completion based on fuzzy search help text like https://github.com/Aloxaf/fzf-tab.

<img width="1476" alt="Screen Shot 2021-07-29 at 22 04 06" src="https://user-images.githubusercontent.com/13161779/127506921-b1ad9fc9-cff5-494d-a694-d147eed3928a.png">

## Explain in detail how you would expect this to work
Given the following sit

[2021-07-29 14:29] tshu-w commented on #313
BTW, how do I change the Multi-select shortcut（Ctrl-Space）, I'm not familiar with zsh yet.

[2021-07-29 18:59] Timoses commented on #311
Possibly. It's at least the same symptom.

[2021-07-29 19:17] Timoses commented on #311
I am able to reproduce it on my Mac, however not with the same command (`ls /tmp/d`).

Step by step:
1. Expand terminal to be "large". For the following I now get:
[code]
2. Try the command (on Mac I found this one working `tput `)
[code]
3. Now shrink the terminal window to very small. For the command from step 1. I now get
[code]
4. Try again to type "tput " (like in step 2.):
[code]

What I fou

[2021-07-29 19:18] Timoses commented on #311
Above (for MacOS) I can reproduce with both native MacOS `terminal.app` application and `alacritty` terminal.

[2021-07-29 20:09] marlonrichert commented on #313
Filtering is not possible, but you can do full-text search (that is, search through _all_ text displayed) by doing the following:
1. Press ⬇️ to start menu selection.
2. Press <kbd>⌃</kbd><kbd>S</kbd> to start searching.

See the Readme a for a [full list of keybindings](https://github.com/marlonrichert/zsh-autocomplete#key-bindings).

Otherwise, this is not a feature of `zsh-autocomplete`, but ra

[2021-07-29 20:09] #313 closed

[2021-07-29 20:14] marlonrichert commented on #313
<kbd>⌃</kbd><kbd>␣</kbd> for multiselect is [defined here](https://github.com/marlonrichert/zsh-autocomplete/blob/1db1177a6b6cd4c7eb65ada856ecaaff70fb400b/module/.autocomplete.key-binding#L69). For documentation, see the `zsh` manual:
* [`bindkey` builtin](https://zsh.sourceforge.io/Doc/Release/Zsh-Line-Editor.html#Zle-Builtins)
* [`zsh/complist` module > menu selection](https://zsh.sourceforge.io

[2021-07-29 20:29] marlonrichert commented on #311
Ah, now I get it. That's expected behavior and a "feature" of `zsh`. There's not really anything I can do about that. You might want to file a bug report about this on the [`zsh` mailing lists](https://zsh.sourceforge.io/Arc/mlist.html).

[2021-07-30 02:11] tshu-w commented on #313
Thanks for the quick reply to such a newbie question.

[2021-07-30 12:52] marlonrichert opened #315 "Re-escaping on recent directory completions"
### Discussed in https://github.com/marlonrichert/zsh-autocomplete/discussions/314

<div type='discussions-op-text'>

<sup>Originally posted by **tshu-w** July 30, 2021</sup>
<img width="1068" alt="Screen Shot 2021-07-30 at 14 45 06" src="https://user-images.githubusercontent.com/13161779/127612258-2e51b21c-82dd-4b04-afe5-07a91463727b.png">

when I type tab:
<img width="1101" alt="Screen Shot 2021

[2021-07-30 13:18] #315 closed

[2021-07-30 20:58] Timoses commented on #311
Thanks. Was able to fix it with
[code]
(https://zsh.sourceforge.io/Doc/Release/Completion-System.html#Standard-Styles)

[2021-07-30 21:02] Timoses commented on #311
Hm, though it doesn't really fix it as it's still 'eating' key strokes...

[2021-08-01 11:50] marlonrichert commented on #311
@Timoses But it happens only when you resize and your currently have a list of completions open, right? That case is pretty much beyond my control.

[2021-08-01 13:29] Timoses commented on #311
No, it also happens when the window is already small.
I was hoping for something like a style that says 'Only show max X lines of completions suggestions and never show "do you want to see..."'.
Didn't find anything that could help. I agree, it's on zsh side.

[2021-08-01 19:31] marlonrichert commented on #311
How small?

[2021-08-01 19:46] Timoses commented on #311
Just made a 'border' test to see how small I have to shrink it so that it asks me if I want to see all (instead of just showing).

On Macos with the `tput ` this still works:
[code]

while this shows the question whether I want to see it all (practically disturbing my typing):
[code]

Keeping the same columns and increasing the height of the window it again works (shows all completions) when the w

[2021-08-02 06:08] tshu-w opened #317 "Hide zsh-autosuggestions results when entering menu"
As metioned in https://github.com/marlonrichert/zsh-autocomplete/discussions/316

* `zsh-autocomplete` version: 20b332c172066daabf1476567daad983bb51fe56
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: Znap
* Operating system: darwin20.0

 1. Paste the following into your terminal and press <kbd>Enter</kbd>(**modified**):
[code]
 1. Once you're able to reproduce your problem i

[2021-08-02 08:34] marlonrichert commented on #311
I'm unable to reproduce it when typing in a Terminal of that size on macOS. Can you give me some example of what you're typing when you get interrupted?

[2021-08-02 08:36] marlonrichert commented on #311
Oh, and have you updated `zsh-autocomplete` to the latest commit on the `main` branch?

[2021-08-02 08:39] marlonrichert commented on #317
Thanks, I'm able to reproduce that.

[2021-08-02 08:43] marlonrichert commented on #317
This appears to happen only when `zsh-autocomplete` is sourced _after_ `zsh-autosuggestions`.

[2021-08-02 08:45] tshu-w commented on #317
Yes, maybe we should mention it somewhere.

[2021-08-02 08:53] marlonrichert commented on #317
No, I can fix it. I'll upload a patch later today.

[2021-08-02 09:03] tshu-w commented on #317
You are really so productive!

[2021-08-02 12:02] Timoses commented on #311
[code]

Well, as stated above I am typing the following: `tput ` (<- with a space at the end).

Which by default produces this output
[code]

If I make the window smaller it shows:
[code]

I now also found a scenario where it shows this:
[code]
(terminal screen is between the small size when it triggers "do you wish to see all ..." and the large size when it has no difficulties showing all).
This

[2021-08-02 12:45] marlonrichert commented on #311
Yes, that was my point. It only shows under the following conditions, right?
1. Generate a large completion list (with or without `zsh-autocomplete`).
2. Make the window small enough that the list no longer fits.
3. Now you get the `do you wish to see` message, which eats up a key stroke.

Is that what you mean? If so, then no, there's nothing I can do about that, as the resizing does not trigger

[2021-08-02 12:47] marlonrichert commented on #311
`zsh-autocomplete` attempts to always show `(MORE)` and nothing else, when the completion list doesn't fit on screen. However, as I pointed out above, when you resize your terminal window, this does not trigger any events to `zsh-autocomplete` (and thus it gets no chance to redraw the screen) and is handled internally by `zsh`.

[2021-08-02 19:26] #317 closed

[2021-08-02 19:28] marlonrichert commented on #317
Fixed.

---

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-08-02 19:33] marlonrichert commented on #313
No problem. And feel free to [give something back](https://github.com/sponsors/marlonrichert). 😉

[2021-08-03 04:57] tshu-w commented on #317
Done. Not a lot, a little regard ❤️

[2021-08-03 04:57] tshu-w commented on #317
Done. Not a lot, a little regard ❤️

[2021-08-04 16:43] Timoses commented on #311
It does. As explained above, when the terminal is small enough that the completion menu entries do not fit then it displays 'do you wish ...'.

It happens **either** by resizing while the completion menu shows **or** by already having a small terminal size and then typing `tput ` which **should show completion menu** but it shows '**do you wish to ...*'.

[2021-08-04 16:58] Timoses commented on #311
Watch it here: https://vimeo.com/583025620

[2021-08-04 17:06] Timoses commented on #311
I admit the terminal from above window is very small : D.

This would be a more practical example where it's really annoying and where the size isn't really that small:
https://vimeo.com/583028139

Plus, it seem's there are some weird effects where first it works with 'MORE' but then again not. And it prints 'do you wish ...' when typing only `t` at a quite large size as well.

[2021-08-04 17:09] Timoses commented on #311
Fixed link: https://vimeo.com/583029610 (above was broken)

[2021-08-04 17:19] Timoses commented on #311
From above recording I can reproduce the follwing:
* Have terminal/pane a certain size
* Write `t`
* -> It displays suggestions with 'MORE' at the end
* Reduce height of terminal
* Write `t`
* -> It displays 'do you wish...'
* Increase size again to previous size
* Write `t`
* -> It displays 'do you wish...' (**I would expect it to write 'MORE' again** because it is the same size as before when it

[2021-08-05 20:21] marlonrichert commented on #311
Thanks for the new video. I have been able to reproduce some of it now. It looks like I made an optimistic rounding error. I'll have a fix ready soon.

[2021-08-05 20:23] #311 closed

[2021-08-05 20:26] marlonrichert commented on #311
Should be fixed now. At least, I'm not able to reproduce it anymore. 🙂

---

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert).

[2021-08-07 04:09] tshu-w opened #318 "some command is executed without pressing enter when zsh-autocomplete enable"
* `zsh-autocomplete` version:
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: Znap
* Operating system: darwin20.0

 1. Paste the following into your terminal and press <kbd>Enter</kbd>:
[code]
 1. Once you're able to reproduce your problem in the shell session created
    above, copy-paste the contents of your terminal here:
[code]
Here is the content of my [ec](https://githu

[2021-08-07 06:41] K4LCIFER commented on #318
I have encountered the same issue with KiCAD. I'm guessing zsh is running `kicad --help` in the background to get the options list, but KiCAD doesn't have a help option, so running `kicad --help` ends up opening a file called `--help` in KiCAD.

[2021-08-07 07:27] tshu-w commented on #318
Thanks for the tip, it seems to be the case, I'll try to add special handling to `--help`.

[2021-08-07 07:41] tshu-w commented on #318
Thx @K4LCIFER, adding special judgments solves this issue. Any
[code]
Other tips are welcome.

[2021-08-07 08:32] marlonrichert commented on #318
@K4LCIFER Yes, that is exactly the case. I will have to remove that code and think if there’s a better way to handle that.

[2021-08-07 08:34] marlonrichert commented on #318
@K4LCIFER @tshu-w Would perhaps some kind of blacklist feature be sufficient?

[2021-08-07 08:37] marlonrichert commented on #318
Another idea would be to allow you to override per command how we should fetch help.

[2021-08-07 10:35] tshu-w commented on #318
I think these two can be combined into one, if the override is left blank that is disabled.

[2021-08-08 14:34] yrammos opened #319 ""Unknown sort identifier"."
* `zsh-autocomplete` version: `ca35064`
* Zsh version: `zsh-5.8-0-g77d203f`
* Framework: none
* Plugin manager: none
* Operating system: macOS 11.5.1

Unfortunately I'm not able to reproduce my issue with the "blank slate" of the template provided. This is driving me insane, though, so I'm taking the liberty to describe it and appeal for help.

My minimal `~/.zshrc` contains a single line:

[code]

[2021-08-08 14:36] marlonrichert commented on #319
Which app are you using for “recent dirs”? The built-in default or something else?

[2021-08-08 14:36] marlonrichert commented on #319
And is the problem with recent dirs only, or do you get the same problem otherwise, too? If so, can you post some more examples?

[2021-08-08 14:41] yrammos commented on #319
@marlonrichert thank you for your lightning-fast response.

Before I attempt to answer your questions: I just noticed that, using the "blank slate" environment of your GitHub issue template, a new command line is generated on each keypress. For example, pressing <kbd>s</kbd> multiple consecutive times at the prompt, I get:

[code]

[2021-08-08 14:45] yrammos commented on #319
(Oh gosh, this second symptom might be a different issue, however, because it only occurs with the `xterm-kitty` terminal, not iTerm…)

[2021-08-08 14:51] yrammos commented on #319
It does not seem limited to recent dirs only. I just tried with a dir that I'm confident to have never cd'd do:

`$ cd ~/Pict` <kbd>tab</kbd> (attempting to enter `~/Pictures`)

In another similar case I got a different error:

`$ cd /Library/Op` <kbd>tab</kbd> (attempting to enter `/Library/OpenDirectory`)

`_autocomplete.recent_dirs:9: number expected`

[2021-08-08 14:52] yrammos commented on #319
The built-in default.

[2021-08-08 19:25] marlonrichert commented on #319
That is still the same error message, which shows a failure in trying to check for recent dirs that match your command line.

So, it's always the same error message, right?

Can you share your `.zshrc` file?

[2021-08-08 19:47] yrammos commented on #319
My `.zshrc` is a single-liner:

[code]

[2021-08-08 20:41] marlonrichert commented on #319
Can you try the following?
1. Run `functions -t _autocomplete.recent_dirs`.
2. Generate the error.
3. Go to `$XDG_DATA_HOME/zsh-autocomplete/log`.
4. Post the contents of the newest log file.

[2021-08-08 22:30] yrammos commented on #319
Here is the resulting log.

I redacted various long lists of directories with the string `[space-delimited-list-of-directories]`.

[log.log](https://github.com/marlonrichert/zsh-autocomplete/files/6951541/log.log)

[2021-08-09 06:20] marlonrichert commented on #319
It looks like you've filed this bug before: #182.

Can you run `git bisect` to find out which commit regressed it for you?

[2021-08-09 06:24] marlonrichert commented on #319
Never mind: I already figured out what is the problem.

[2021-08-09 17:44] #319 closed

[2021-08-09 17:45] marlonrichert commented on #319
Fixed.

---

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-08-09 18:24] yrammos commented on #319
Thank you, @marlonrichert. Fixed indeed!

[2021-08-12 05:07] K4LCIFER opened #321 "Receiving `.autocomplete.async.read-cursor-position:43: bad base syntax` as terminal output after lag"
I'm not sure if this is a bug or not, but I'm getting this output when I type in the name of a python file. What happens is it lags out after typing in the full name of the python file and then it outputs `.autocomplete.async.read-cursor-position:43: bad base syntax`. Not sure what this means.

[2021-08-12 05:18] K4LCIFER commented on #321
Forcing update to the most recent commit seemed to fix the issue. I'll keep an eye on it for recurrences.

[2021-08-12 05:18] #321 closed

[2021-08-12 07:06] i3d opened #322 "args completion on nvim seems throwing errors"
* `zsh-autocomplete` version: 53ef40140a4bb210588e46532c588ad965542435
* Zsh version: /Users/jimxu/homebrew/bin/zsh zsh-5.8-0-g77d203f
* Framework: Oh My Zsh, Prezto
* Plugin manager: Zinit, zplug
* Operating system: darwin20.0

[code]
The above command kills my terminal session. I think it is due to exec -c.

without that, I could go into a new zsh session, which the local .zshrc.

[code]

Here,

[2021-08-12 07:12] i3d commented on #322
actually, when the error is throw, the autocompletion no longer able to complete on command options but only seems history...

e.g. if I want to edit a file 'foo', which hasn't been in history before, then

v f<tab> will never give me the local file 'foo' (it just completes on history) .... but nvim f<tab> will.

[2021-08-12 07:45] i3d commented on #322
ok, I have another linux box that also installed ZAC, and I tried on that it didn't manifest the issue, but then I did a git pull, which these changes

Updating 3abe9db..53ef401
Fast-forward
 module/.autocomplete.__init__    |  4 ++++
 module/.autocomplete.async       | 91 ++++++++++++++++++++++++++++++++++++++++++++++++-------------------------------------------
 module/.autocomplete.compinit

[2021-08-12 08:06] marlonrichert commented on #322
I am unable to reproduce your issue. Are you able to create a minimal test case for me in the following environment?
[code]

[2021-08-12 08:07] marlonrichert commented on #322
Can you run a `git bisect` to find out what was the exact commit that broke this for you?

[2021-08-12 08:10] #318 closed

[2021-08-12 08:11] marlonrichert commented on #322
Can you update to 1be32b0 and see if that fixes the issue for you?

[2021-08-12 11:53] marlonrichert commented on #291
This has now been fixed in Zsh with https://github.com/zsh-users/zsh/commit/b4dff9a8e85802afcd52e7798176ebeb5e662da9. No idea when that will be released.

[2021-08-12 11:53] #291 closed

[2021-08-12 16:47] #322 closed

[2021-08-12 17:29] marlonrichert commented on #322
Glad to hear that!

---

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-08-16 04:16] K4LCIFER opened #325 "Be able to discard current history search by hitting escape."
## What do you want?

When scrolling through the command history it would be nice to have a quick way to escape from the search which would also clear the command text. I would propose hitting `<esc>` as an option.

## Why do you want this?

Currently its a little inconvenient, as if you're searching through the history and want to get out, you have to hit `<tab>` on an item and then delete the co

[2021-08-19 18:58] #325 closed

[2021-08-20 17:35] #283 closed

[2021-08-20 17:36] marlonrichert commented on #283
It's there now. Enjoy!

---

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-08-24 00:16] rwmitchell opened #329 "disable "do you wish to see all N possibilities""
I have a short terminal window. Entering commands get interrupted with "do you wish to all all N possibilities".

To Reproduce

Steps to reproduce the behavior:

Create a short (6 rows) terminal window

type: ```alias[SPACE]```
zsh prompts with:
```zsh: do you wish to see all 194 possibilities (23 lines)?```

Expected behavior

Ideally I'd like to never see that prompt. If the screen size allows t

[2021-08-24 05:31] marlonrichert commented on #329
Yes, that’s exactly what `zsh-autocomplete` is trying to do. Do you think I’m trying to eat your keystrokes on purpose? 🙂

[2021-08-24 05:31] marlonrichert commented on #329
How wide?

[2021-08-24 09:57] rwmitchell commented on #329
I think the real issue is, the possible completions should only be shown when there is a slight pause in typing.

Regardless of terminal size, some completions are going to expand to enough options to generate the "do you wish to see" prompt.  When rapidly typing a command where the user isn't actually looking at the completions, the random prompt, which then eats a character, throws off getting t

[2021-08-24 10:02] marlonrichert commented on #329
Yes, there is:
https://github.com/marlonrichert/zsh-autocomplete/blob/f59c44d981478632dd31dea1c5244e4a74244934/.zshrc#L11

[2021-08-24 10:06] rwmitchell commented on #329
What is the unit? seconds, milliseconds, nanoseconds?

[2021-08-24 10:08] marlonrichert commented on #329
It is all [documented in the file I linked to](https://github.com/marlonrichert/zsh-autocomplete/blob/main/.zshrc).

[2021-08-24 10:11] #329 closed

[2021-08-24 20:58] vitaly opened #330 "common substring mixes `-` and `_`"
* `zsh-autocomplete` version: 99f0b2ad9bdaa8a94ed8edf489d0738d2303fd21
* Zsh version: /usr/local/bin/zsh zsh-5.8-0-g77d203f
* Framework: zim
* Plugin manager: none
* Operating system: darwin19.6.0

when there are choices that differ only by `-` vs `_`, common substring is incorrectly calculated.

### What I expect:

if I have directories `foo-bar` and `foo_bar`, I expect to be able to choose any o

[2021-08-29 07:21] morhekil opened #331 ""Can't change scope of existing param: dir" error when completing non-existing directory name"
* `zsh-autocomplete` version: 20e0e64247ad54899d8303af767e8f1fe2ee590b
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: zplug
* Operating system: darwin20.1.0

 1. Paste the following into your terminal and press <kbd>Enter</kbd>:
[code]
 1. Once you're able to reproduce your problem in the shell session created
    above, copy-paste the contents of your terminal here:
[code]

[2021-08-29 08:12] #331 closed

[2021-09-01 19:05] Redimber opened #332 "How to uninstall it?"
I just wanted to see how the autocompletion works, but I didn't like it and i'm unable to uninstall it

[2021-09-02 09:55] #332 closed

[2021-09-02 10:26] lefth opened #334 "Let `history-incremental-search-*` list rows in chronological order"
* `zsh-autocomplete` version: f3aa3b01ef5ffb067ca246325377b1f3680dfde2
* Zsh version: /usr/bin/zsh ubuntu/5.8-3ubuntu1
* Framework: None
* Plugin manager: None
* Operating system: WSL2 Ubuntu 20.04

 1. Paste the following into your terminal and press <kbd>Enter</kbd>:
 ...
 2. Once you're able to reproduce your problem in the shell session created
    above, copy-paste the contents of your termin

[2021-09-02 10:56] marlonrichert commented on #334
First off, it's not a bug; it's a feature. Although, indeed, the documentation could be better.

If you want to have the results sorted in chronological order, just press <kbd>↑</kbd>.

[2021-09-02 10:57] marlonrichert commented on #334
I have no idea what you mean with "partial" vs "complete" searches. Care to explain?

[2021-09-02 13:25] lefth commented on #334
Oh, interesting point about "up arrow" at the search prompt. I'll have to get used to that--there's history search in order, but not live anymore. I think this will work about as well, though I'm used to seeing the most recent match right away, as I type.

When I wrote "partial" search, I meant a search whose terms, from the user's perspective, have not been fully input. When doing an incremental

[2021-09-03 06:44] marlonrichert commented on #334
I see your point there. It's something I've gone back and forth on in the past. I suppose I could make it configurable.

Two reasons:
* The shortest match is the least number of changes away from the original. It is the most "exact" match.
* To make `^R` provide a different way of searching than <kbd>↑</kbd>. It felt redundant to have them both do the exact same thing.

[2021-09-03 09:44] lefth commented on #334
Another way of describing "partial search" is: when I do an incremental search, I consider it as having an implicit "*" wildcard at the end. As such, a shorter string is not a more exact match. But arguably a command where the term occurs earlier is a more exact match, and a command where the term matches with a left word boundary is a better match. For example, "n" matches "null" better than "end

[2021-09-03 11:45] marlonrichert commented on #334
I am currently testing `^R` with chronological results and it works quite well. I will probably push in the changes later today.

[2021-09-03 13:44] lefth commented on #334
Thanks! Do you intend to give the `↑` menu a more sophisticated sort? If so I could write a sort function that would take match closeness into account. I've made that sort of ranking for text search in a different situation.

[2021-09-03 16:06] marlonrichert commented on #334
Thanks, but no thanks. I’ve gotten feedback before that users expect ⬆️ to produce results in chronological order. 🙂

[2021-09-05 10:51] #334 closed

[2021-09-05 11:01] marlonrichert commented on #334
It's there now, plus some other minor improvements to the incremental history search. Enjoy!

---

PS: If you indeed enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-09-08 07:30] muuvmuuv opened #335 "`bad pattern: funcs=(\n ~zsh-autocomplete/functions/.autocomplete.*~*.zwc(N-.:a)\n )`"
* `zsh-autocomplete` version: latest I assume
* Zsh version: zsh 5.8 (x86_64-apple-darwin20.0)
* Framework: Starship
* Plugin manager: zinit
* Operating system: macOS ARM latest release

I was not able to reproduce it with the template you provided because I only get this error on loading the shell:

[code]

My zshrc:

[code]

My zsh_history looks like this:

[code]

[2021-09-08 07:38] muuvmuuv commented on #335
Just tried with the Homebrew zsh Version "zsh 5.8 (arm-apple-darwin20.2.0)" same error.

[2021-09-08 11:41] marlonrichert commented on #335
It's actually a bug in Zinit: https://github.com/zdharma/zinit/issues/366

I had a workaround for it, but it looks like it doesn't work anymore. I will add a new workaround.

However, I do strongly recommend you switch to a plugin manager that doesn't [do as much nonsense](https://github.com/zdharma/zinit/blob/f3cd0b78950478207a9a5308532781a85c5baacb/zinit.zsh#L675).

[2021-09-08 17:14] muuvmuuv commented on #335
I am open for suggestions. I only have fzf and two other zsh plugins I need. I would even add them in a fast way natively without a pm but I have no clue how to do that. I will take a closer look at that the next days, maybe I really dont need any.

[2021-09-08 17:17] marlonrichert commented on #335
If you do want to use a plugin manager, I would naturally recommend [Znap](https://github.com/marlonrichert/zsh-snap). 🙂

[2021-09-08 18:16] muuvmuuv commented on #335
Okay wow you are amazing. Now I don't even see any blink or delay its just up in 0.1ms xD Combined it with Starship.rs and it's just the perfect fit for it.

[2021-09-09 06:11] marlonrichert commented on #335
Great to hear! 😃

---

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert).

[2021-09-11 02:12] stepotronic opened #336 "Freezing after first character, only responsive after CTRL+C"
* `zsh-autocomplete` version: current master
* Zsh version: zsh 5.8 (x86_64-apple-darwin20.0)
* Framework: "none"
* Plugin manager: "none"
* Operating system: macOs Big Sur

I sadly cannot even give you any other output.
Installed following the instructions in the README and just used source to load it. I used the special instructions in this bug ticket as well.

As soon as I type one character it

[2021-09-11 06:30] paxtonfitzpatrick commented on #336
* `zsh-autocomplete` version: f8899c9 (current `main`)
* Zsh version: `zsh 5.7.1 (x86_64-apple-darwin19.0)`
* Framework: Oh My Zsh (also tested with none)
* Plugin manager: Oh My Zsh (also tested with none)
* Operating system: macOS Catalina 10.15.7
* I also can't produce any meaningful output, but steps to reproduce are described below

Just to add some additional info, I started having this issu

[2021-09-11 07:01] marlonrichert commented on #336
@paxtonfitzpatrick Thanks for the detailed info! I will test it today on macOS.

[2021-09-11 10:50] marlonrichert commented on #336
OK, I can reproduce it. Let me see what I can do.

[2021-09-11 11:33] marlonrichert commented on #336
Fixed! 🙂

---

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 💝

[2021-09-11 11:43] #336 closed

[2021-09-11 11:51] marlonrichert commented on #336
Fixed! 🙂

---

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 💝

[2021-09-11 12:41] rwmitchell commented on #118
This looks like my issue, when I press TAB, the first match is added to the cmdline, not just the portion that is shared with all matches.

These are my settings:
[code]

[2021-09-12 19:36] rwmitchell commented on #118
recently added fzf and suddenly TAB is working like I expected/described.  go figure.

[2021-09-12 19:42] marlonrichert commented on #118
Well yeah, `zstyle ':autocomplete:*' fzf-completion yes` won't work without `fzf`. It even says so here:
https://github.com/marlonrichert/zsh-autocomplete/blob/c970b6d16af808e7bdef3f7094f4cc5c81fe0c10/.zshrc#L50
https://github.com/marlonrichert/zsh-autocomplete/blob/c970b6d16af808e7bdef3f7094f4cc5c81fe0c10/.zshrc#L51

[2021-09-12 19:47] rwmitchell commented on #118
certainly that part won't and I had tried disabling it (after the post above), but I was still getting the first menu item filled in on the cmdline even though there were many other options with zero letters in common - it was that part I was trying to fix.  I wanted TAB to show possible completions, but not change the cmdline - at least  not until the second TAB hit (where it normally starts cycl

[2021-09-12 19:56] rwmitchell commented on #118
Ah, I had changed what I was doing.  ```ls z[TAB]``` expands filenames starting with z until they don't match (goal behavior)
typing just ```ls [TAB]``` still fills in the first file in directory.

[2021-09-12 21:01] marlonrichert commented on #118
I did find a pair of bugs in the common substring logic. They're fixed now.

---

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-09-12 23:06] rwmitchell commented on #118
hmmm, ```ls z[TAB]``` is putting the first entire  item on the cmdline instead of only filling to the first unambiguous character.
```ls [TAB]``` still puts the first item on the cmdline, even if it shares nothing in common with the other items.

[2021-09-13 07:55] marlonrichert commented on #118
@rwmitchell Instead of commenting  on a closed issue that is not actually related to your problem, can you please open a new issue for this? Thanks.

[2021-09-13 08:13] marlonrichert commented on #118
OK, it turns out there was another bug in the "unambiguous" completion that my own config didn't happen to hit but was trigger by yours. Sorry about that. I will push in a fix later today.

[2021-09-13 08:16] marlonrichert opened #337 "Add install and uninstall scripts"
### Discussed in https://github.com/marlonrichert/zsh-autocomplete/discussions/333

<div type='discussions-op-text'>

<sup>Originally posted by **Redimber** September  1, 2021</sup>
I just wanted to see how the autocompletion works, but I didn't like it and i'm unable to uninstall it</div>

[2021-09-13 08:42] marlonrichert commented on #337
Thought about it again and it really doesn't seem to be worth the effort.

[2021-09-13 08:42] #337 closed

[2021-09-13 08:52] pbosab opened #338 "Error after opening terminal"
* zsh-autocomplete version: latest
* zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: none
* Operating system: linux-gnu

hello, since the latest update (this morning),  i am getting these errors when opening a terminal:

.autocomplete.__init__:92: array parameter precmd_functions set in enclosing scope in function .autocomplete.__init__
.autocomplete.__init__:92: array paramete

[2021-09-13 09:11] gex commented on #244
@marlonrichert i still have this issue. just installed zsh-autocomplete, i'm on [a892bfd](https://github.com/marlonrichert/zsh-autocomplete/commit/a892bfdd13446d42aec0eca2d49117dff0aaf3d6). i just switched to zsh on a brand new macbook so there's a chance i made a mistake somewhere but the error message is very similar to the one above or the one in #242.

my `.zshrc`

[code]

and i get the follow

[2021-09-13 11:46] marlonrichert commented on #244
Whoops! Looks like I did a too greedy find-and-replace.  😅  Fixed.

---

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 💝

[2021-09-13 12:14] pbosab commented on #338
@marlonrichert
update: im not an expert, but after disabling every plugin and re-enabling them one by one, i've ended up with this:
only zsh-autocomplete on: no errors.
only zsh-autosuggestions on: no errors.
both of them on cause the issue.

[2021-09-13 12:58] marlonrichert commented on #338
@pbosab It's not an actual error, just a warning. But thanks for reporting it! This helps me improve the quality of the code. I will release a fix soon that will make the warning go away. 🙂

That's a core dump from a ZSH subshell that crashed. It's not really useful to me (since it signifies a bug, not in my code, but in `zsh`), but it might be of interest to the [developers of ZSH](https://zsh.so

[2021-09-13 13:11] pbosab commented on #338
@marlonrichert thanks for the reply, but the warnings and the subshell crash appear only when both plugins are enabled (autocomplete & autosuggestions). they coexisted and worked till today.

[2021-09-13 17:22] thanh125643 opened #339 "Error on zinit install"
* `zsh-autocomplete` version: b29b16cd5f358833515707ae220d3ef573cad06c
* Zsh version: /usr/bin/zsh ubuntu/5.8-3ubuntu1
* Framework: none
* Plugin manager: zinit
* Operating system: linux-gnu Ubuntu20.04
[code]
install zsh-autocomplete in zinit make this weird error. Old version run normal

[2021-09-13 19:30] #338 closed

[2021-09-13 19:31] marlonrichert commented on #338
The warnings should be gone now.

[2021-09-13 19:31] marlonrichert commented on #118
Fixed.

[2021-09-13 19:44] marlonrichert commented on #339
Then that's a bug in `zinit`. Please report it there.

[2021-09-13 19:44] #339 closed

[2021-09-14 01:52] rwmitchell opened #340 "insert-unambiguous does not work as expected"
* `zsh-autocomplete` version:
118f8bb74f660ba3fa97f1f67f2eef4527fbbf18

* Zsh version:
* Framework:
* Plugin manager:
* Operating system:

Options as set:
[code]
fzf --version
0.27.2 (3f90fb4)

``` ls [TAB]``` still puts the first entry directly on the cmdline

<img width="647" alt="image" src="https://user-images.githubusercontent.com/15944841/133181163-1d539a92-172c-46d1-a0ae-01b81ee9da67.png">

[2021-09-14 18:38] marlonrichert commented on #340
Sure, that seems like reasonable expectation. 👍

I'm unable to reproduce that. Here's what I did:
[code]
After that, the completions stay on screen.

[2021-09-14 19:08] #340 closed

[2021-09-14 19:11] marlonrichert commented on #340
Alright, the new completion behavior has been implemented. 🙂 If you are able to reproduce the disappearing list with the template I provided above, then please open a new issue for that.

[2021-09-15 12:24] tshu-w opened #341 "add-zle-hook-widget:84: widgets[$hook]: parameter not set"
* `zsh-autocomplete` version: 586c60cc894332a20e550b30fbdfbfd669987350
* Zsh version: /usr/bin/zsh ubuntu/5.4.2-3ubuntu3.1
* Framework: none
* Plugin manager: Znap
* Operating system: linux-gnu

 1. Paste the following into your terminal and press <kbd>Enter</kbd>:
[code]
 1. Once you're able to reproduce your problem in the shell session created
    above, copy-paste the contents of your terminal

[2021-09-15 13:25] euglevi opened #342 "_async_zle_watcher:6: 2: parameter not set"
* `zsh-autocomplete` version: last one
* Zsh version: 5.8
* Plugin manager: Znap
* Operating system: Ubuntu 20.10

I could not make bug template to work but I could easily reproduce my issue with this minimal zshrc configuration:

[code]
The error message I get as soon as I open the terminal is:

`_async_zle_watcher:6: 2: parameter not set`

If I comment out one of the two plugins, the problem doe

[2021-09-15 19:52] #341 closed

[2021-09-15 20:27] #342 closed

[2021-09-15 20:28] marlonrichert commented on #342
Fixed. 🙂

---

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 💝

[2021-09-16 04:24] yutkat commented on #339
I think this problem seems to have been fixed from aab02776676f2a584cf843edfa7eb9dcb0e39e60

[2021-09-16 07:09] marlonrichert commented on #339
Yes, but the problem
[code]
which was the original problem of this bug report is still a bug in `zinit`.

[2021-09-16 09:07] marlonrichert commented on #339
Actually, it was fixed in 0d930658ed410c6b24bf58af33d8dba28ee58c5d. I forgot to mention it. 🙂

[2021-09-23 08:39] pbosab opened #343 "Completion of non-existent file make `zsh` segfault"
* `zsh-autocomplete` version: latest git
* Zsh version: /usr/bin/zsh zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: none
* Operating system: linux-gnu

made a new .zshrc empty, with only:

[code]

(5.0 was only for testing purpose)

now try to "cat /var/log/the_first_letter_of_a_non_existent_file" and <kbd>TAB</kbd> before the 5sec
in my example:

cat /var/log/x<kbd>TAB</kbd>

zsh segfault

[2021-09-24 07:33] marlonrichert commented on #343
Sorry, but I'm unable to reproduce this.

In your test `.zshrc`, can you add the following, then try again and paste me the lines that occur before the segfault?
[code]

[2021-09-24 12:56] pbosab commented on #343
here you go:
[tmux-0-0-0-20210924T145201.log](https://github.com/marlonrichert/zsh-autocomplete/files/7225736/tmux-0-0-0-20210924T145201.log)

[2021-09-24 20:15] marlonrichert commented on #343
Thanks! It looks like the crash happens _after_ the widget's completion function has returned.

Can you try adding the following to your test `.zshrc` _before_ sourcing `zsh-autocomplete`?
[code]
Does the crash still occur then?

If it doesn't, then try the following:
1. Remove the statement above from the `.zshrc`.
2. Restart the test shell.
3. Run `functions -t .autocomplete.async.list-choices.c

[2021-09-24 20:22] pbosab commented on #343
it doesn't

only these lines:
[code]

[2021-09-25 08:40] marlonrichert commented on #343
Thanks. Can you try this?
1. Start the test shell.
1. Run
[code]
1. Reproduce the crash, noting the exact time when it occurred.
1. Send me the time of the crash and the file that `$_autocomplete__log_file` points to.

[2021-09-25 14:40] muuvmuuv opened #344 ".autocomplete.key-binding.precmd:15: functions[fzf-completion]: parameter not set"
* `zsh-autocomplete` version: b2078e77db6f351b7167f310bdb28a4181a53d97
* Zsh version: /opt/homebrew/bin/zsh zsh-5.8-0-g77d203f
* Framework: Starship
* Plugin manager: Znap
* Operating system: macOS 11.6 (20G165)

Can you help me debug that for you, I have no experience in debugging zsh stuff. I have tried to reproduce it but without any success.

[code]

[2021-09-25 20:14] #344 closed

[2021-09-25 20:17] marlonrichert commented on #344
Not necessary. I know what causes it and it should be fixed now. 🙂

[2021-09-25 22:14] pbosab commented on #343
mh, don't know how to do this, since it happens when i tab and the terminal close.
if you can tell me how to do this, i can try.

here is the file:
[2021-09-26.log](https://github.com/marlonrichert/zsh-autocomplete/files/7230420/2021-09-26.log)

thanks

[2021-09-26 06:36] marlonrichert commented on #343
Have another terminal window open where you execute
[code]
roughly at the same time as the crash.

It would also help if you wait a couple of seconds before pressing the <kbd>Tab</kbd> that causes the crash.

These two things combined will help me identify the exact spot in the log where things go wrong.

[2021-09-26 11:17] pbosab commented on #343
[2021-09-26.log](https://github.com/marlonrichert/zsh-autocomplete/files/7231244/2021-09-26.log)

-13:08:22.571

hope it helps

[2021-09-27 06:12] muuvmuuv commented on #344
Awesome, thanks! :)

[2021-09-27 06:30] marlonrichert commented on #343
Thanks, I'm able to reproduce it now. It looks like a bug in `zsh`. I will try to narrow it down to a simpler test case, so I can report.

[2021-09-28 06:28] drewauff opened #346 "Simplification"
I love what you have done, but it can be very overwhelming at times, so much so I had to disable it.

It literally shows everything, all the time. I doubt anyone would need it "all" all the time. To much to process.

I suggest the following:

- More options with regard to customisation (colours etc.)
- add the ability to set dir list depth, listing the whole system is just to much
- allow setting

[2021-09-29 05:34] marlonrichert commented on #346
If you want to customize the colors, I recommend you use my [Z Colors](https://github.com/marlonrichert/zcolors) plugin.

What do you mean with “listing the whole system”? Can you give an example of when it does that?

No idea what you mean with that. Can you be more specific?

That’s an interesting an idea. I’ll give it some thought.

[2021-09-29 06:22] drewauff commented on #346
on that last point, I use fasd and with that there is an interactive "mode" which does exactly what I suggested you but there are no theming options available nor will there ever be. Also i cant be piped through fzf. The fact that all you have to do is tap a number and thats it makes it appealing.

I will have a look at zcolors tonight. thank you for the suggestion.

As soon as you start typing yo

[2021-09-30 09:25] weilbith commented on #335
This issue is still there, right?

[2021-09-30 12:27] muuvmuuv commented on #335
No, gone after updating, at least on my end.

[2021-09-30 18:15] marlonrichert commented on #335
@weilbith Can you give me a reproducible test case?

[2021-10-01 08:02] weilbith commented on #335
Hmm. I just created a new user. And then I do:

[code]

That appears on each new shell I open. Autocomplete doesn't work at all (god damn I love your plugin so much it is a nightmare without). And it is a little worse because Powerlevel10k instant prompt reports tons of output because something is logging before the first prompt. Very annoying atm.

[2021-10-01 15:00] J-E-Mc opened #347 "Autocomplete selection doesn't work if command wraps over like"
If I type a command on one line that is long enough to have to wrap over to another line then I can't enter the completion menu

### Environment

[code]

### Steps to reproduce

[code]

[2021-10-02 08:10] marlonrichert commented on #347
Can you update your steps to reproduce with a concrete example with which I can actually reproduce it? Include any key presses that I need to make.

Also, what terminal do you use?

[2021-10-02 19:26] marlonrichert commented on #347
Never mind. I was able to reproduce it.

[2021-10-02 19:53] #347 closed

[2021-10-03 15:06] jack1142 commented on #335
I'm seeing the same issue with [zcomet](https://github.com/agkozak/zcomet):
[code]

Contents of `.zshrc`:
[code]

[2021-10-05 06:29] marlonrichert commented on #335
I didn’t realize it before, but this issue is a duplicate of #339. Also, 96fec14c2963d06412af82c9873c5ff64336a1a3 doesn’t fix the problem you have; it’s  a workaround  for another Zinit problem. Apologies for the confusion.

@weilbith It’s caused by a bug in Z Init: https://github.com/zdharma/zinit/issues/543. It’s not that hard to fix, though. See [my comment there](https://github.com/zdharma/zin

[2021-10-05 07:09] marlonrichert commented on #335
@muuvmuuv Because you are using Znap now, right? Because the problem still hasn’t been fixed in Z Init. 🙂

[2021-10-05 07:10] weilbith commented on #335
I know. I'm thinking about alternatives. But Znap still has no lazy loading, correct?

So I wen to `$XDG_CACHE_HOME/zinit/plugins/marlonrichert---zsh_autocomplete` and run `zcompile -R zsh-autocomplete.plugin..zsh` there. No autocompletion works but I get tons of errors on a new shell which looks like that:

[code]

[2021-10-05 07:36] weilbith opened #351 "Allow do disable path completion on remote hosts"
## What do you want?
Allow to disable the completion of paths while typing commands like `scp` with paths on other hosts.

## Why do you want this?
I use a YubiKey to authenticate myself to other hosts. When I start to type a path for a `scp` command the auto-completion continuously unfocuses my terminal  and focus a window to authenticate myself. Clicking it away will just cause a loop each time

[2021-10-05 09:53] #351 closed

[2021-10-05 10:15] marlonrichert commented on #335
No, not correct. 🙂  Znap _does_ have lazy loading:
[code]

For example, to lazy-load `pyenv init` and `pyenv` completion:
[code]
This way, `pyenv init` will be executed only once you run `pyenv` or try to invoke completion on it. 🙂

[2021-10-05 11:08] marlonrichert commented on #335
I cannot reproduce that. Here's what I did:
[code]
And now autocompletion works just fine.

You have probably set some shell options that change the way `zcompile` parses the code. Try this instead:
[code]

This will invoke `zcompile` with default shell options, which is what Z Init and Z Comet should be doing, too.

[2021-10-05 11:12] muuvmuuv commented on #335
@marlonrichert Oh, I think you are right ^^ Did not think about that to be an issue with the pm rather than the plugin itself.

[2021-10-05 17:28] #343 closed

[2021-10-05 18:42] marlonrichert commented on #335
Please disregard my comments so far as to what is the cause of the problem: On further investigation, it turns out that, actually, the only thing that fixes the problem, for both Z Init and Z Comet, is to `zcompile` from the command line. Changing the `zcompile` statement inside the code does nothing to solve it. There must be _something_ that both of them change about the compilation progress, bu

[2021-10-05 18:52] muuvmuuv commented on #335
At all here… Just use [**znap**](https://github.com/marlonrichert/zsh-snap) xD I really have less problems with it (thanks @marlonrichert). Can strongly recommend it!

[2021-10-05 21:01] thepreacher opened #353 "High cpu usage after update today"
I'm on macos Big Sur 11.6 and I updated my zsh addons with `zsh pull`. Since that, as soon as I start iTerm my macbook fan goes berserk and start spinning full on.

When I disable only zsh-autocomplete the problem goes away.

Any ideas?

[2021-10-06 00:28] agkozak commented on #335
I can run this at the command line:

    zsh -f
    () { zcompile -R zsh-autocomplete.plugin.zsh; }
    source zsh-autocomplete.plugin.zsh

with the same results:

    (anon):22: bad pattern: funcs=(\n      ~zsh-autocomplete/functions/.autocomplete.*~*.zwc(N-.:a)\n  )

[2021-10-06 01:58] Omoeba commented on #353
Reverting commit 7b1a81c1673b1d78b849754c614247e9d509c27c fixes the issue.

[2021-10-06 12:21] TonAtLacework commented on #353
For every command you seem to spin up a new zsh session. Please fix because this makes the plugin unusable.
<img width="503" alt="Screen Shot 2021-10-06 at 14 20 28" src="https://user-images.githubusercontent.com/85245506/136200948-ebcfd919-774a-4d70-a9e9-a2367c9bb422.png">

[2021-10-06 18:39] marlonrichert commented on #353
Amazing how just one missing character can wreak so much havoc.
[code]

[2021-10-06 18:41] marlonrichert commented on #353
@Omoeba Don't worry about it. Identifying the broken commit was already very helpful. 👍🏽

[2021-10-06 19:58] marlonrichert commented on #335
I finally managed to figure it out: It's an unfortunate way in which compiled or autoloaded code in Zsh is not 100% equivalent to the original source code. But now that I now what causes it, I also know how to work around it.

@agkozak Thanks for your help in tracking down the root cause of the problem!

[2021-10-06 20:08] Omoeba commented on #353
haha it's always the tiniest things that get ya

[2021-10-06 21:03] agkozak commented on #335
I suspect the reason Znap didn't have a problem was because it already has `zsh/param/private` loaded when `zcompile` is run. I tested that out of the command line.

[2021-10-07 10:41] weilbith commented on #335
I can confirm that my `HEAD` is 8877a3b76c030f446ffe0c35a0acd0f9cf627081 but I still have this issue. 🤷🏾

[2021-10-07 11:53] marlonrichert commented on #335
Do `git pull` again. It should be fixed now.

[2021-10-07 14:03] TonAtLacework opened #357 "Error on completion"
[code]
when using TAB key as completion key

### Environment

[code]

### Steps to reproduce
docker stop <TAB>

[code]

[code]

Now you are going to tell me that it's an incompatibility between zsh-autocomplete and other completion functions i am using...

[2021-10-07 14:33] TonAtLacework commented on #357
Ok, commented out auto-suggestions and problem is gone. So not a bug, just a compatibility issue.

[2021-10-07 15:12] #357 closed, assigned to nobody

[2021-10-08 07:25] weilbith commented on #335
For some reason I had to delete the local clone of the plugin my plugin manager did. In this exact example for my I had to delete `$XDG_CACHE_HOME/zinit/plugins/marlonrichert---zsh-autocomplete`. It then reinstalled it and then it was fine. The `HEAD` of the commit before I deleted the directory and afterwards was the same. Dunno what was the difference here. Maybe some "compile" hook or so? 🤷🏾

[2021-10-12 07:31] marlonrichert commented on #335
@agkozak I noticed that Z Comet is actually not that different in syntax from Znap and that you even copied some features from me. Rather than compete with each other, would you be interested in joining forces and merge our plugin managers into one?

[2021-10-12 07:55] euglevi opened #358 "Issue with the widget-style menu-select/menu-complete options"
I did not succeed in using the bug template. However, I think you can reproduce this quite easily because the bug happens even with this minimal zshrc configuration:

[code]

The issue is that when I try to enter the menu after "cd" - so to choose a directory - the following error message appears twice:
`.autocomplete.complete-word.post:12: array parameter mbegin set in enclosing scope in function

[2021-10-18 07:17] #358 closed, assigned to nobody

[2021-10-18 08:51] volodymyrprokopyuk opened #359 "Navigate menu selection items with `Alt-hjkl` key style"
## What do you want?

Navigate items in the selection menu using `Alt-h`, `Alt-j`, `Alt-k` and `Alt-l` key combination in the same way the `right`, `down`, `up` and `left` cursor keys work. As I understand this is a matter of `bindkey -M menuselect 'Alt-h' menu-selection-command`, but I do not know 1) how to define `Alt-key` combination for the above keys and 2) what the exact menu selection comma

[2021-10-19 08:08] marlonrichert commented on #358
Sorry, but I cannot reproduce it. Have you updated to the latest version?

[2021-10-19 08:12] marlonrichert commented on #359
Menu selection itself is not a feature `zsh-autocomplete`, but rather of `zsh`. `zsh-autocomplete` merely enables it and adds some sensible defaults. For information on how to customize it, please see [this section of the `zsh` manual](https://zsh.sourceforge.io/Doc/Release/Zsh-Modules.html#Menu-selection).

[2021-10-19 08:12] #359 closed, assigned to nobody

[2021-10-20 17:20] adinklotz opened #361 "Auto-remove dangling `;` behind last history line"
The pesky semicolons, as seen in #141 and #297, seem to be back. They are correctly removed on other characters, but not when pressing space

### Environment

[code]
e2ff14e (grafted, HEAD -> main, origin/main, origin/HEAD) Suppress a warning
/home/adin/.zsh/.zshrc:68
ubuntu linux-gnu /usr/bin/zsh -zsh ubuntu/5.8-3ubuntu1

### Steps to reproduce

[code]
It's a little hard to see in text since it h

[2021-10-24 04:45] NavyD opened #362 "setopt HIST_FIND_NO_DUPS breaks history completion"
An error occurred when typing up after entering ` [ $PATH = *":$HOME/.local/share/go/bin:"`: _autocomplete. History_lines: 22: invalid subscript, which may be related to 'setopt HIST_FIND_NO_DUPS'

### Environment

* zsh-autocomplete version: 1c88317
* zsh version: zsh 5.8 (x86_64-ubuntu-linux-gnu)
* Plugin manager: zinit

[code]

### Steps to reproduce

setup docker: `docker run --rm -it -v .zshr

[2021-10-26 03:22] mmhj opened #363 "Updating to `7b1a81c` or laters breaks `zsh-autocomplete` on M1 MacBookPro"
I'm running iTerm2 using zsh with omz on a 2020 M1 mbp.
I use the following plugins:

k
git-flow-completion
web-search
zsh-completions
zsh-autocomplete
zsh-autosuggestions
zsh-syntax-highlighting

After updating to 7b1a81c1673b1d78b849754c614247e9d509c27c the widget for autocomplete disappeared, and I instead see:
[code]

### Environment
[code]

### Steps to reproduce
I cannot reproduce the bug on

[2021-10-26 13:30] #362 closed, assigned to marlonrichert

[2021-10-29 21:52] yrammos commented on #363
Not knowing if this is related, I'm reporting nonetheless. I ran the diagnostic procedure of the GitHub issues template for this repo:

### Environment

[code]

### Steps to reproduce

[code]

Upon running the last command in the above sequence, i.e.

`env -i HOME=$PWD PATH=$PATH FPATH=$FPATH TERM=$TERM zsh -d`

I get the following result:

`.autocomplete.key-binding:92: terminfo[kpp]: parameter n

[2021-10-30 11:27] marlonrichert commented on #363
@yrammos Replace the last line with just `zsh -d` and try again.

[2021-10-30 11:28] marlonrichert commented on #363
@mmhj @yrammos Does this problem really occur only on M1 Macs? Have you tested it on other machines?

[2021-10-30 11:38] yrammos commented on #363
I haven't been, and sadly neither am I, able to test on other machines.

[2021-10-30 11:40] yrammos commented on #363
I did — confirming that the issue is reproduced.

[2021-10-30 11:48] mmhj commented on #363
Obviously, but that is what the bug reporting required, so I followed the steps exactly.

I have also tried to replace the last line with just `zsh -d` and the issue is reproduced.

I get the following result:

`.autocomplete.key-binding:88: terminfo[kpp]: parameter not set`

[2021-10-30 11:49] mmhj commented on #363
I am not able to test on other machines. But I also tried to replace the last line with `zsh -d` and the issue is reproduced.

[2021-10-30 12:07] mmhj commented on #363
Not sure if this is related but reporting my findings anyway.

When I try to enter a directory by just typing the name of the dir I get the following error:

[code]

When I type `cd dir` I see the proper autocompletions i.e. the `directory` listings.

[2021-10-30 12:28] marlonrichert commented on #363
Aha, well, that's new information.

When you get this error, can you please run `setopt` and share the output here?

[2021-10-30 12:32] marlonrichert commented on #362
@NavyD It's fixed. PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-10-30 12:34] marlonrichert commented on #357
@TonAtLacework You're welcome! PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂 @baudneo

[2021-10-30 12:35] marlonrichert commented on #353
PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-10-30 12:43] mmhj commented on #363
`setopt`

[code]

`print $path[(r).]`

[code]

Other than that autocomplete result I get no output from `print $path[(r).]`

[2021-10-30 12:51] marlonrichert commented on #347
@J-E-Mc It's fixed now. PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-10-30 12:52] marlonrichert commented on #344
You're welcome! PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-10-30 12:53] marlonrichert commented on #343
@pbosab It's fixed now. PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-10-30 12:55] marlonrichert commented on #340
@rwmitchell PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-10-30 12:56] marlonrichert commented on #339
@thanh125643 PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-10-30 13:00] rwmitchell commented on #340
I abandoned using it.  It interrupted my workflow, doing things I didn't expect and not things I wanted.  I'm sure it is just a conflict with configuration but I gave up trying to figure it out.

[2021-10-31 09:15] marlonrichert commented on #363
I'm able to reproduce it now and should have a fix soon.

[2021-10-31 17:22] marlonrichert commented on #363
Should be fixed now. Let me know if you still experience problems.

[2021-10-31 17:22] #363 closed

[2021-10-31 17:28] marlonrichert commented on #346
I think most of this should be better by now. If there are specific things you still would like improved, please open a new issue for each point individually. It's easier to keep track of them that way, rather than having one big list in a single issue.

[2021-10-31 17:28] #346 closed

[2021-10-31 17:31] marlonrichert commented on #346
Try adding this to your `.zshrc` file:
[code]
Documented [here](https://github.com/marlonrichert/zsh-autocomplete/blob/b41b5635c3a6b11cc14c46e80f32c4c292c63539/.zshrc#L11).

[2021-10-31 18:35] yrammos commented on #363
@marlonrichert unfortunately the plugin is still broken on my end. This might be the sign of a different problem: I reacted to this thread because the first breaking commit is the one mentioned in the OP's title (`7b1a81c`)—that is to say, the last working commit is `ec9de3c`— and I likewise have an m1 MBP. My symptomatology however is slightly different: I don't see the message mentioned by the O

[2021-10-31 18:52] mmhj commented on #363
Just confirming that on my end everything seems to be working now.

I can autocd, the directories show up, I get none of the messages I've previously mentioned, so far at least, I will continue testing tomorrow.

@yrammos Let me know if I can help troubleshoot, since we have a similar setup.

[2021-10-31 18:53] marlonrichert commented on #363
@yrammos Yes, please open a new issue for this.

[2021-10-31 19:10] yrammos opened #364 "Plugin not working after `ec9de3c`"
No error messages are displayed. The plugin fails to display the full widget, populating it only with a seemingly arbitrary subset of completions (usually suffix aliases,  command history, and aliases). Curiously, pressing <kbd>tab</kbd> flashes the widget for a split-second.

### Environment

[code]

The problem persists in the minimal setup of the GitHub issue template.

[2021-10-31 19:32] marlonrichert commented on #364
Can you update to de71c335ea96b847de923561b3a9a9c1798a25cf and see if that helps? If not, can you make a recording of the problem and share it here?

[2021-10-31 19:57] yrammos commented on #364
@marlonrichert, unfortunately this didn't help.

You may find comparative recordings made on the `main` and `ec9de3c` (last working commit) at [this link](https://www.dropbox.com/sh/sfb36scja4u9wct/AACx8-XACI4zc_prur_i_68-a?dl=0). The two files are named accordingly. Thanks.

[2021-11-01 18:16] marlonrichert commented on #364
I don't see this behavior in the video you posted.

Can you check if there's anything of interest in the log files referred to by `$_autocomplete__log_async`, `$_autocomplete__log_pty` and `$_autocomplete__log`? Any error messages?

[2021-11-02 00:21] yrammos commented on #364
@marlonrichert I can see the following line in the logs of at least events the second. Try to normalize without epfl.

[2021-11-02 19:29] marlonrichert commented on #364
Can you do `functions -T .autocomplete.async.insufficient-input`, reproduce the bug and then check the logs again?

[2021-11-04 17:41] vale46 opened #365 "Arrow Keys not working with default settings"
Up arrow key at terminal prompt (with default zsh-autocomplete settings) shows last command only, instead of history of 16. Down arrow key doesn't do anything.

When reproducing the problem (as directed),  in new shell, arrow keys work as expected.

[code]

### Steps to reproduce

[code]

[2021-11-04 18:39] vale46 commented on #365
discovered that I have to source zsh-autocomplete.plugin.zsh a 2nd time, towards the end of my .zshrc, for arrow keys to work as expected.

[2021-11-04 21:28] marlonrichert commented on #365
That means the problem is somewhere in your dotfiles and not in `zsh-autocomplete`. Try commenting out lines from your `.zshrc` file until you find the one that causes the problem.

That means something else in your dotfiles is overriding `zsh-autocomplete`'s keybindings. Again, try commenting out lines from your `.zshrc` file until you find the one that causes the problem.

[2021-11-05 19:29] adinklotz commented on #361
Is there, or could there be, a way to disable multiselection entirely then? I never use it, and would rather have sane semicolon behavior.

[2021-11-05 22:02] marlonrichert commented on #361
Yes, I could add that.

[2021-11-05 22:08] marlonrichert commented on #361
Actually, I just recalled that I can, in fact, auto-remove the `;`. It just has some visual bugs in the current version of `zsh`, but those should be fixed in the release.

[2021-11-06 19:57] #361 closed

[2021-11-06 19:58] marlonrichert commented on #361
Done.

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-11-07 13:16] vale46 commented on #365
thx for the feedback.

when I disable `oh-my-zsh` (which I'm using along with `zsh-autocomplete`) arrow keys start working. Still going thru `oh-my-zsh` setup script to isolate what I'm seeing. Given the popularity of `oh-my-zsh` in `zsh` setups, anyone else experience this issue with GNOME terminal?

Oddly enough when I replicate the same `zsh` setup on a different PC, running W10 with `msys2` in

[2021-11-07 18:54] marlonrichert commented on #365
Can you share your `.zshrc` file? Then I can help you find what's wrong.

[2021-11-09 11:40] martaver commented on #365
Also experiencing this problem on ZSH in MacOS.

If I `source $ZSH/oh-my-zsh.sh` before I install zsh-autocomplete (with znap), history works.
If I source it afterwards, history is broken.

Kind of annoying because it means I have to define my plugins and configurations in a particular order.

Incidentally, if I don't source OMZ at all, then the context info under the prompt breaks, and is replace

[2021-11-09 11:45] martaver commented on #365
My `.zshrc` (minimal repro)

[code]

You can get the desired effect by moving around `source $ZSH/oh-my-zsh.sh` or commenting it out.

[2021-11-09 12:04] martaver opened #366 "per-directory-history"
## What do you want?
A way to constrain history to commands executed in CWD.

## Why do you want this?
Global command history is shared across terminals and history often ends up polluted with stuff that's irrelevant.
Plugins like `per-directory-history` solve this problem, by ensuring command history only cycles through commands that have been executed in the current directory.

Currently, if I u

[2021-11-09 12:15] martaver commented on #366
With a little closer inspection, if I use [`per-directory-history`](https://github.com/jimhester/per-directory-history), `zsh-autocomplete` does seem to read from different sources if I toggle with CTRL-G, however the local history broken: it always shows the same history regardless of directory/terminal.

Maybe if this could be fixed, then `zsh-autocomplete` could be used harmoniously with `per-d

[2021-11-09 15:17] marlonrichert commented on #365
Well, yes, because OMZ then overrides `zsh-autocomplete`'s keybindings. So, don't source them in that order. 🙂

Alternatively, since you are using Znap, you can opt to not `source $ZSH/oh-my-zsh.sh` but instead use `znap source` to [load only those parts of OMZ that you actually want](https://github.com/marlonrichert/zsh-snap/blob/4a35a4b856e67cdcb13bd37f36fce3f20d34a83e/.zshrc#L40) and leave out

[2021-11-09 15:17] #365 closed

[2021-11-09 15:21] marlonrichert commented on #366
How? In what way? Can you give me a reproducible test case?

[2021-11-09 19:10] IgnusG opened #367 "Completion strategy not working with zstyle setting insert-tab pending"
I've always wanted to use this plugin together with its completion strategy but it never seemed to work. I've finally found the culprit in this line in my configuration:

[code]

I don't know why I initially added it - I think it might've come from the zsh config I used as a template when I was setting zsh up for the first time. Anyways, wanted to share if anyone ever has the problem of their `com

[2021-11-09 19:11] #367 closed

[2021-11-09 19:12] IgnusG commented on #367
Oops, sorry, wrong repository entirely.

[2021-11-09 20:07] marlonrichert commented on #366
I tested the `per-directory-history` plugin in a clean `zsh` environment, which I set up as follows:
[code]

It's _extremely_ buggy. I cannot get it to work correctly in vanilla `zsh` at all. The per-dir histories don't appear to get saved correctly.

Ergo, this should be fixed in the `per-directory-history` plugin. Please file an issue over there, using the setup I provided above.

[2021-11-09 20:07] #366 closed

[2021-11-09 20:08] marlonrichert commented on #364
@yrammos Did you try this yet?

[2021-11-09 23:18] yrammos commented on #364
@marlonrichert thanks for following up, my apologies for the delay (and the inscrutable reply above, now fixed).

After your `functions` statement, the logs contain countless repetitions of the following line:

`.autocomplete.async.insufficient-input:6: bad math expression: operator expected at `min-delay …'`

I hope this helps.

[2021-11-10 07:21] marlonrichert commented on #364
@yrammos That’s it? Nothing else? Besides there error message, there should be trace output.

[2021-11-10 08:28] martaver commented on #366
Thanks for the quick response!

Actually, the reason I submitted this as a feature request was because
ultimately I'm just trying to constrain history to a directory, I don't
really care how it's done.

Do you think there's scope in zsh-autocomplete for it, or is this really
something that should be handled outside your plugin?

On Tue, Nov 9, 2021 at 10:07 PM Marlon Richert ***@***.***>
wrote:

[2021-11-10 08:40] yrammos commented on #364
@marlonrichert. evidently not my week. Please disregard my latest log message, it was generated using an old commit of your plugin (`ec9de3ce`), which actually works well on my machine.

Fast-forwarding to the `HEAD` of `main`, and after rerunning `functions -T .autocomplete.async.insufficient-input`, I get the following log:

[code]

I'll be online during the day and able to provide any additiona

[2021-11-10 10:59] marlonrichert commented on #364
@yrammos No error message this time?

[2021-11-10 11:03] marlonrichert commented on #366
It's out of scope for this plugin, but you're welcome to submit a feature request for it [in the `zsh-hist` repo](https://github.com/marlonrichert/zsh-hist).

[2021-11-10 11:37] yrammos commented on #364
Now there is—after a few more minutes of use:

<details>

[code]

</details>

[2021-11-10 17:15] marlonrichert commented on #364
@yrammos What output do you get from `zstyle -L '*' min-input`?

[2021-11-10 22:12] Lite5h4dow opened #368 "Add a setting for limiting completions to a maximum number of lines"
I cant seem to get the external command, ancillary manipulator command or main porcelain command to display only a few lines

### Environment

[code]

### Steps to reproduce

1. edit .zshrc ,mine looks like this
[code]
2. start typing any command.
3. get this mess
![image](https://user-images.githubusercontent.com/18059545/141201942-cf1ec047-5e96-4a60-a0db-049d83f417de.png)
![image](https://user-i

[2021-11-11 07:13] marlonrichert commented on #368
`list-lines` sets maximum number of lines to which to _grow_ if not all the lines fit on screen. If more lines will fit on screen, then `zsh-autocomplete` will use them.

[2021-11-11 07:59] Lite5h4dow commented on #368
yeah, but i dont want it to fill the whole window though if its clear, because I clear my window a lot
how do i get it to not fill the whole window?

[2021-11-11 08:00] Lite5h4dow commented on #368
if this isn't possible I will just uninstall it and leave you alone.

[2021-11-11 20:27] marlonrichert commented on #368
Like I said, by typing more.

Why is this so important? It won't stay there; it's just temporary.

Of course it's possible. You just have to implement it. Patches welcome. 🙂

[2021-11-12 09:10] Lite5h4dow commented on #368
I don't like a full terminal in any way. I don't like useless information since the vast majority of suggestions arent useful. I don't like clutter.

[2021-11-12 22:53] yrammos commented on #364
@marlonrichert `zstyle -L '*' min-input` outputs nothing.

Curiously enough, the only `.zshrc` line in which `min-input` appears on my system is:

`# zstyle ':autocomplete:*' min-input 1 min-delay 0`

and it is in fact commented out.

[2021-11-13 10:02] marlonrichert commented on #364
That line actually fits the error message perfectly. I wonder if something on your system is parsing your `.zshrc` file interactively but without `setopt interactivecomments` or perhaps somehow omitting the `#`.

What happens if you remove that line?

Can you start your shell with `zsh -o sourcetrace` and paste the files it reports here?

[2021-11-15 16:35] marlonrichert commented on #364
That is by the most baffling part. Are you sure about this? Can you try again with the bug report template and paste your entire session here?

[2021-11-15 20:28] yrammos commented on #364
### Environment

[code]

### Steps to reproduce

[code]

[code]

Curiously, at the end of this sequence my keyboard mappings seem erratic (backspace prints a space, for instance).

[2021-11-15 20:50] yrammos commented on #364
(By the way, this folds back to [this comment](https://github.com/marlonrichert/zsh-autocomplete/issues/363#issuecomment-955068728), which I posted in the original thread.)

[2021-11-16 23:28] amomchilov commented on #361
Hey Marlon, pardon me if this is a silly question, but here goes:

Is there a config setting that fully removes the semi-colons, even prior to pressing space? I can't imagine when I'd need to repeat a command from history while also tacking on another command with `;`.

[2021-11-17 19:49] marlonrichert commented on #364
@yrammos Thanks, I hadn't remembered that comment.

If you add `zmodload -F zsh/terminfo p:terminfo` to the start of the `.zshrc` file, does the problem go away?

Which terminal do you use?

[2021-11-17 20:38] marlonrichert commented on #361
No, there is no such config. Is this important somehow? Patches welcome. 🙂

I use it quite often, actually, to put multiple history items into one command line.

[2021-11-17 22:14] yrammos commented on #364
@marlonrichert I added this line, to no avail.

Suspecting a `$TERM`-related issue myself, I tried different terminals (iTerm2, Terminal.app, and Kitty, which I use most often). The problem persisted in all cases. I do not set a `$TERM` string in my `~/.zshrc`. Running `$ echo $TERM` prints `xterm-256color` in iTerm2 and `xterm-kitty` in Kitty.

[2021-11-18 06:45] marlonrichert commented on #364
That’s really weird. Can you show me the output of `env` within the subshell above and in your normal shell environment?

[2021-11-19 06:51] gex opened #369 "warning: no such `suffix alias'"
i updated to [8a538ff](https://github.com/marlonrichert/zsh-autocomplete/tree/8a538ff9a5cb30ac060fb4b4fa9d4ce8bb08ae3b) and since then when i start a new shell i see a ``no such `suffix alias'`` warning(?) all the time. screenshot with everything commented out in `.zshrc` (except this plugin of course):

<img width="263" alt="Screen Shot 2021-11-19 at 7 48 27" src="https://user-images.githubuserco

[2021-11-19 20:19] pcjmfranken commented on #361
Semis are not being removed from completions when you move to edit them. If you then complete this edited command, you end up with two trailing semis which is a no-op.

Perhaps leftwards cursor movements such as <kbd>←</kbd>, <kbd>HOME</kbd>, etc. could be added as semi-removal triggers similar to how <kbd>Space</kbd> works since fe20fc50b8ae1909441a10f2d8466f514d7c65fe?

[2021-11-19 23:55] yrammos commented on #364
@marlonrichert here is the output of `env` in my normal shell:

[code]

and here it is in the minimal sub-shell:

[code]

[2021-11-20 12:51] marlonrichert opened #370 "Let most widgets remove trailing `;` from history lines"
Semis are not being removed from completions when you move to edit them. If you then complete this edited command, you end up with two trailing semis which is a no-op.

Perhaps leftwards cursor movements such as <kbd>←</kbd>, <kbd>HOME</kbd>, etc. could be added as semi-removal triggers similar to how <kbd>Space</kbd> works since fe20fc50b8ae1909441a10f2d8466f514d7c65fe?

_Originally posted by @pc

[2021-11-20 12:54] marlonrichert commented on #364
Add `export TERMINFO=/Applications/kitty.app/Contents/Resources/kitty/terminfo` to your minimal subshell `.zshrc` and try again.

[2021-11-20 13:42] pcjmfranken commented on #370
PS I was looking into a reliable method for generating a trigger list, but most search results were StackOverflow posts on related matters written by you :)

[2021-11-20 15:04] marlonrichert commented on #370
What, are you saying my SO posts are not reliable? 😉

What do you mean by that?

[2021-11-20 19:55] #369 closed

[2021-11-20 19:55] #370 closed

[2021-11-20 19:57] marlonrichert commented on #369
Fixed.

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-11-20 19:58] marlonrichert commented on #370
@pcjmfranken @amomchilov @adinklotz Done.

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-11-22 20:25] 1Spinne opened #371 "It doesn't work"
When I activate the plugin, zsh crashes.
No error messages are displayed.

[2021-11-22 20:29] marlonrichert commented on #371
Please follow the steps in the bug report template.

[2021-11-22 20:29] #371 closed

[2021-11-22 20:40] 1Spinne opened #372 "I doesnt`t work"
When I start the plugin, my zsh crashes
### Environment
zsh: no such user or named directory: zsh-autocomplete

### Steps to reproduce
It doesn't work in this shell only in the default.
The default shell just crashes without any error, when I run `znap source marlonrichert/zsh-autocomplete`

[2021-11-22 20:42] 1Spinne commented on #372
I installed it with znap

[2021-11-22 20:43] 1Spinne commented on #371
Really?

[2021-11-22 20:43] 1Spinne commented on #371
Is this a bot?

[2021-11-22 20:43] 1Spinne commented on #371
Pls read my comment

[2021-11-22 20:43] 1Spinne commented on #371
And description

[2021-11-22 20:52] marlonrichert commented on #372
Closing this as not reproducible. I'll reopen it if you can provide me with a minimal, reproducible test case. If I cannot reproduce your problem, then I cannot fix it.

[2021-11-22 20:52] #372 closed

[2021-11-23 03:23] JP-Ellis opened #373 "Support for fzy"
## What do you want?
I see there's support for fzf already, and I was wondering whether it would be possible to add support for [fzy](https://github.com/jhawthorn/fzy) too?  From what I understand, it can be mostly a drop-in replacement though I am not experienced with the development of Zsh plugins.

## Why do you want this?
I think the description from fzy's readme best describes why fzy might b

[2021-11-25 04:20] jerryc05 opened #374 "Option to not expand command substitution?"
### Environment

[code]
[code]

### Steps to reproduce
[code]

Place cursor to the end of the backtick, and then press RIGHT ARROW multiple times, the content between the backticks is evaluated every time I press RIGHT ARROW.

This is not my expected behavior. One use case is when I run ``eval `ssh-agent` `` the command `ssh-agent` gets evaluated multiple times (whenever my cursor moves around the

[2021-11-25 18:24] marlonrichert commented on #374
That should be easy to fix. In the meantime, as a workaround, add this to your `.zshrc` file:
[code]

[2021-11-25 19:05] marlonrichert commented on #373
“Support” is a big word: I’m merely working around [`fzf`’s shaky shell “extensions”](https://github.com/junegunn/fzf/tree/master/shell) that some people use. `fzy`, however, doesn’t appear to ship with any widgets, keybindings or other shell code. So, there’s really not anything there to support.

What exactly would you want me to support? Your issue doesn’t say.

[2021-11-28 09:57] 0xc0000007b opened #375 "First-time user experience"
Tried this out again after about two years (maybe?) to see if I could integrate it into my workflow and want to provide my user experience this time around as last time I didn't have the time to provide feedback.

Installation:

- Unclear with package managers or package names used as not covered in the README
- I installed one of the AUR packages which has a higher rating and points to this repo

[2021-11-29 10:52] #375 closed

[2021-11-29 11:00] marlonrichert opened #377 "Update the Gifs in the Readme"
They're quite old.

[2021-11-30 14:27] fexd12 opened #378 "Error Installing zsh-autocomplete"
### Environment

[code]

[code]

### Steps to reproduce

[code]

zsh --version
`zsh 5.8 (x86_64-ubuntu-linux-gnu)`

I''m getting this error when i run source zsh-autocomplete.plugin.zsh, and  using framework OMZ

[code]
can you help me?

[2021-11-30 14:55] f-r-o-g opened #379 "Brew formula"
## What do you want?
Install your fantastic autocomplete script via brew.

## Why do you want this?
Maintain most of my software lifecycle via brew MacOS or Linux. Also since znap is also not available via brew.

## Who else would benefit from this?
Everyone who uses zsh and brew.

[2021-12-03 13:07] ShivamJoker commented on #379
I was just gonna write this 🤣
I am waiting too not sure how to create one :)

[2021-12-04 09:50] marlonrichert commented on #379
Please submit an issue or pull request to https://github.com/Homebrew/homebrew-core 🙂

[2021-12-06 19:09] #373 closed

[2021-12-06 19:12] marlonrichert commented on #378
I'm unable to reproduce this by installing OMZ and then sourcing `zsh-autocomplete`. Please provide me with reproducible test case and I'll reopen the issue.

[2021-12-06 19:12] #378 closed

[2021-12-06 19:16] marlonrichert commented on #364
@yrammos Did you try it?

[2021-12-08 10:11] yrammos commented on #364
@marlonrichert my apologies, not yet — been very busy. Will try to do today. Thank you very much for the alert.

[2021-12-09 21:16] #374 closed

[2021-12-10 03:29] jerryc05 opened #380 "Option to not expand variables?"
### Environment

[code]
[code]

### Steps to reproduce
- Suppose I have a shell variable that contains a very very long string (e.g. the `__conda_setup` variable from `conda init`)
- Now, type `$__con` and hit <key>Tab</key>. It will be autocompleted to `$__conda_setup`.
- Here is what goes wrong:
  - It keeps popping up the prompt `zsh: do you wish to see all 1 possibilities (46 lines)?` every ti

[2021-12-11 09:02] yrammos commented on #364
@marlonrichert I inserted the line you specified.

The last line of the minimal subshell sequence:

`env -i HOME=$PWD PATH=$PATH TERM=$TERM ${TERMINFO:-TERMINFO=$TERMINFO} zsh -d`

produces the error:

`env: /Applications/kitty.app/Contents/Resources/kitty/terminfo: Permission denied`

[2021-12-11 23:21] #380 closed

[2021-12-11 23:22] marlonrichert commented on #380
That behavior was a regression. It's fixed now.

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2021-12-12 10:25] marlonrichert commented on #364
Sorry, I made a typo in that line. Please try this instead:
[code]

[2021-12-12 12:39] Onfroygmx opened #381 "Completion error on launchpad"
Ok, let(s have some fun :)
Following: https://github.com/marlonrichert/zsh-launchpad/discussions/2

### Environment
[code]

Ok, I will stop this...

[code]

Gives me the options.
As soon as I hit TAB i don't have the options anymore.

Onf

[2021-12-12 15:51] marlonrichert commented on #381
I'm a bit confused. I don't see any options in your output; I just see files. What exactly do you mean? And what do you expect Tab to do?

[2021-12-12 15:54] marlonrichert commented on #381
(END)

What terminal are you using? It looks like it's not configured correctly or it doesn't support ANSI colors.

[2021-12-13 19:03] marlonrichert commented on #379
I'll leave this open in case someone else wants to do it or, god forbid, pay me for it. 😁

[2021-12-13 19:17] marlonrichert opened #384 "Toggle dotfiles listing with `GLOB_DOTS`"
### Discussed in https://github.com/marlonrichert/zsh-autocomplete/discussions/383

Moreover, for the directory suggestion, is it possible to hide the folders that start with a dot?

[2021-12-13 19:19] #384 closed

[2021-12-15 08:47] Dragonizedpizza opened #385 "How does command autocompletion work?"
I'm not sure what kind of isssue to make, so I'm doing feature request.

How does command autocompletion work? I have a slightly complex version of pacman I made, and I'm wondering how I can have zsh-autocomplete autocomplete my flags or packages.

![image](https://user-images.githubusercontent.com/70718540/146152945-b790508e-f7ce-4c10-9c6c-06b08550071d.png)

How does it know what flags are applic

[2021-12-17 22:34] BK-STAR77 opened #387 "run-tests.zsh:2: clitest not found"
OS BIG SUR 11.6.2

bkstar@Mac-mini-de-BK ~ % omz reload
/Users/bkstar/.oh-my-zsh/custom/plugins/zsh-autocomplete/run-tests.zsh:2: clitest not found
bkstar@Mac-mini-de-BK ~ %

thank you for help

[2021-12-18 10:49] marlonrichert commented on #387
That’s a bug in either Oh-My-Zsh or your own dotfiles. That script should not be run on startup, since it’s not a plugin file. Please [file a bug in the Oh-My-Zsh repo](https://github.com/ohmyzsh/ohmyzsh/issues/new?assignees=&labels=Bug&template=bug_report_omz.yml) or fix the problem in your dotfiles.

[2021-12-18 10:49] #387 closed

[2021-12-18 21:24] marlonrichert commented on #364
@yrammos ?

[2021-12-18 21:24] marlonrichert commented on #381
@Onfroygmx ?

[2021-12-18 23:16] jerryc05 opened #388 "Do not show "do you wish to see all X possibilities" unless tab is pressed"
### Environment

[code]
[code]

### Steps to reproduce
1. Type `pgrep ` (notice the space after `pgrep`).
2. Noticed that the terminal shows up `zsh: do you wish to see all 73 possibilities (75 lines)?`, which consumes the next char I pressed.
3. When I noticed that the first char is consumed, I pressed the backspace to delete all chars to the right of `pgrep`.
4. The prompt `zsh: do you wish to s

[2021-12-20 08:48] Grohiik opened #389 "config.cache-path"
I'm like 90% sure this isn't actually a bug, but just me being stupid.
But I have spent like WAY too much time trying to fix it or google for the answer so I guess I'm asking for help here
I get some error about parameters not being set. It only happens when i source .zshrc never when first starting a terminal
I'm on void, and at the bottom is my entier .zshrc, the issue dissapears if I remove `zn

[2021-12-20 16:34] marlonrichert commented on #389
What kind of Linux do you use?

You cannot have that kind of prompt if you followed the instructions above it. Please _actually_ follow the instructions, then report back here.

[2021-12-22 01:40] yrammos commented on #364
@marlonrichert I'm sorry for this very long delay. This actually does work!

[2021-12-22 15:08] marlonrichert commented on #364
@yrammos In that minimal subshell you mean? Or also in your normal shell?

[2021-12-22 15:09] yrammos commented on #364
@marlonrichert in the minimal subshell only.

[2021-12-22 16:01] yrammos commented on #364
@marlonrichert should I also have added `export TERMINFO=/Applications/kitty.app/Contents/Resources/kitty/terminfo`? Because I did not.

[2021-12-24 18:05] marlonrichert commented on #364
@yrammos I’m not sure anymore, but if you now have a sub-shell where the problem does _not_ occur, then at least you can start adding parts of your normal `.zshrc` to it until you find what causes the problem.

[2021-12-24 19:16] ChristopherA commented on #379
Specifically, how much?

[2021-12-25 11:38] marlonrichert commented on #379
Actually, I take that back: I realized I have no interest in doing that at all, not even for money. Sorry. 🙂

[2021-12-25 11:38] #379 closed

[2021-12-26 13:22] yrammos commented on #364
@marlonrichert the line `zstyle ':completion:*' menu select` from my `.zshrc` was the culprit. I had added that line presumably to have the currently selected menu option highlighted as I press <kbd>Tab</kbd>. Marking the issue closed, with thanks for your help. Merry X-mas.

[2021-12-27 13:29] marlonrichert opened #392 "Override incompatible `zstyle` values more robustly"
https://github.com/marlonrichert/zsh-autocomplete/blob/18a9bfb36bf79db6359ab1f321e938a099d5fa1b/scripts/.autocomplete.config#L7 tries to unset incompatible `zstyle` values, but this handles only a couple of known cases from OMZ & Prezto. https://github.com/marlonrichert/zsh-autocomplete/issues/364#issuecomment-1001179643 shows that it’s still possible to define values that mess up the autocompleti

[2021-12-27 13:29] marlonrichert commented on #364
Thanks for

[2021-12-27 13:29] #364 closed

[2021-12-27 21:46] Grohiik commented on #389
Pretty sure I said, but Void Linux

I copied all the lines in one go as I assumed that would work it didn't apparently.
Yeah I can't reproduce when copying it correctly
Sorry for wasting your time

[2022-01-02 18:31] sileht opened #393 "Issue with history containing `"
When the history contains ``` ` ``` I got the following error when I press PAGEUP (to get last history command):
[code]

### Environment
[code]

[2022-01-02 18:32] sileht commented on #393
my tmp workaround, not sure this is the right solution:

[code]

[2022-01-03 14:34] #389 closed

[2022-01-03 15:11] #393 closed

[2022-01-03 15:12] marlonrichert commented on #393
@sileht Fixed.

PS: If you enjoy using my software, please consider sponsoring me. 🙂

[2022-01-03 18:38] Dragonizedpizza opened #394 "Down arrow keybind no longer works"
### Environment

[code]
[code]

### Steps to reproduce

The error doesn't occur in the mini shell you provided for some reason, which is what confuses me.
My config can be found [here](https://sourceb.in/8tFx45NKoA).

[2022-01-05 16:40] Altair-Bueno commented on #388
You can disable it by adding this to your `.zshrc` config file

[code]
---

### `At Top: Hit TAB for more, or the character to insert`

The one i find more disturbing is `At Top: Hit TAB for more, or the character to insert`. It only appears when the terminal is small enough (or when there are a lots of options to choose from). It's the same behaviour: the terminal just keeps eating your character

[2022-01-06 20:41] Altair-Bueno commented on #388
Update: asiinema recording

https://asciinema.org/a/BluGyxHift2Wxkd9YTePMf1BV

[2022-01-09 23:27] Omoeba opened #396 "man: do you wish to see X possibilities"
### Environment

[code]

### Steps to reproduce

[code]
- Type `man` followed by a space
[code]

[2022-01-10 07:45] Aakash-kaushik opened #397 "Getting `.autocomplete.async.read-cursor-position` error when holding enter key"
### Environment

[code]

### Steps to reproduce

[code]
### Manual step:
1. add `zsh-autocomplete` as a plugin
2. Hold enter key in your terminal to reproduce the problem.

### Images
![image](https://user-images.githubusercontent.com/39410692/148732468-f26ce588-7fb0-4e04-b54e-d0e00c6b188a.png)

[2022-01-11 15:35] marlonrichert commented on #388
That's not a solution, though. It just leads to a different form of the same problem, which you yourself mentioned:

This is a very tricky problem to solve and, unfortunately, I don't currently have time to solve it. Pull requests welcome! @jerryc05 @Altair-Bueno @JiajiaGuo

[2022-01-11 15:37] marlonrichert commented on #396
Duplicate of #388.

[2022-01-11 15:37] #396 closed

[2022-01-11 15:47] Altair-Bueno commented on #388
Have any ideas where to start? Disabling the `zsh-autocomplete` plugin with both lines on my zshrc still shows the same message. I thought it was a zsh thing, not directly caused by your plugin

[2022-01-11 18:30] marlonrichert commented on #388
@Altair-Bueno Yes, it’s a Zsh thing, but it doesn’t matter in vanilla Zsh, because it’s not so bad if it appears only when you press Tab. The challenge for Zsh Autocomplete is to figure out how many completions will fit on screen _before_ they are passed to Zsh’s `compadd`, because once added, they cannot be removed.

[2022-01-12 12:19] Omoeba commented on #388
`zstyle ':completion:*:*:man:*:*' menu select=long search`fixes the man issue for me

[2022-01-12 12:55] Altair-Bueno commented on #388
It doesn't remove the message forever tho, but works better than my solution

I'm not familiar with zsh enough to work on this, but I'll give it a try

[2022-01-12 17:23] yellowhat opened #398 "Prefer left completion over error correction"
### Environment

[code]

### Steps to reproduce

[code]

Hi,
I have a folder that contains the following folders:
[code]

If I type `cd deploy/gke`, I get as suggestions:
[code]

I am not sure why it is not narrowing to only `gcp-pulumi-gke`.

If I have in my `.zshrc`:
[code]
after `znap source marlonrichert/zsh-autocomplete`, it will auto complete `gcp-pulumi-gke` as expected.

Any suggestions?

[2022-01-13 20:26] ShrirajHegde opened #399 "zsh-autocomplete creates huge logs (upto size 400 GBs)"
### Environment

[code]
OUTPUT:
- redhat linux-gnu /usr/bin/zsh /usr/bin/zsh zsh-5.8-0-g77d203f
- <empty>
-  4fd8a6c (HEAD -> main, origin/main, origin/HEAD) Fix link to `.autocomplete.config` in Readme

### Steps to reproduce
It happens eventually over time. So I am not sure of reproducing.
![image](https://user-images.githubusercontent.com/66936172/149403233-82b308ac-cfb3-485f-ac34-50c93e58f479.

[2022-01-14 14:04] marlonrichert commented on #399
Please do the following:
* Share a copy of the file `~/.local/share/zsh/chpwd-recent-dirs`
* Post the value of `$COLUMNS` for which the problem occurs.
* Run `functions -T .autocomplete.recent_paths.trim` and share the log contents generated after that.

[2022-01-14 23:08] geyang opened #400 "_autocomplete.config.completer:1: CURRENT: parameter not set"
### Environment

[code]

4fd8a6c (grafted, HEAD -> main, origin/main, origin/HEAD) Fix link to `.autocomplete.config` in Readme

### Steps to reproduce

After a clean installation of oh-my-zsh, and following the installation instruction, in each new terminal session I get the following error:
[code]

[2022-01-16 05:15] ShrirajHegde commented on #399
- >Share a copy of the file ~/.local/share/zsh/chpwd-recent-dirs

[code]
- >Post the value of $COLUMNS for which the problem occurs.

80 (80x24 default size)

- >Run functions -T .autocomplete.recent_paths.trim and share the log contents generated after that.

Empty with non-zero exit code.

![image](https://user-images.githubusercontent.com/66936172/149647997-e2c92c7d-426c-41fb-a82f-f4bf13c4b4d4.

[2022-01-17 12:21] MohammadRostamiorg opened #401 "disable zsh-autocomplete when i don't type anything"
hello

I want to disable autocomplete when I don't type anything

look at the picture
![Screenshot_2022-01-17_15-49-27](https://user-images.githubusercontent.com/80725665/149768449-5ae99b20-072e-4978-b532-6457b281429f.png)
I don't like showing the folders name now!

[2022-01-17 12:32] marlonrichert commented on #399
Those are not the contents of the log. Again, run `functions -T .autocomplete.recent_paths.trim`, then share what is printed _in the log_ after doing so.

[2022-01-17 12:34] marlonrichert commented on #399
Are you sure that's the _entire_ contents of `~/.local/share/zsh/chpwd-recent-dirs`? It should end in a `'`.

[2022-01-17 13:03] marlonrichert commented on #397
This seems to be terminal-specific. I can reproduce it in Gnome Terminal, but not in Konsole or Apple Terminal.

[2022-01-17 13:12] Aakash-kaushik commented on #397
Hey @marlonrichert, thanks for taking out time and debugging this, is there a workaround that you seem to know of or will you be working on this as an issue?

[2022-01-17 13:40] marlonrichert commented on #400
I'm unable to reproduce this. Here's what I did:
[code]

Please use the above template to provide me with a reproducible test case.

[2022-01-17 13:45] Aakash-kaushik commented on #397
So i have a docker container that is exposed to users and i do not exactly keep pressing the enter key but if they look at it as a error that's what i am worried about.

[2022-01-17 13:45] Aakash-kaushik commented on #397
But thanks for the support.

[2022-01-17 13:46] Aakash-kaushik commented on #397
Feel free to close the issue if there is no way to handle this through code.

[2022-01-17 15:07] ShrirajHegde commented on #399
It does, I missed it while copying.

[2022-01-18 14:30] marlonrichert commented on #397
@Aakash-kaushik Don't worry, there is a way to make the error go away. I just haven't gotten around to implementing it yet. 🙂

[2022-01-18 14:46] marlonrichert commented on #399
@ShrirajHegde And what about this? ☝🏽

[2022-01-18 14:47] marlonrichert commented on #400
Well, I'm sorry, but then that means the problem is not in the Zsh Autocomplete plugin. 🤷🏽‍♂️

[2022-01-18 14:47] #400 closed

[2022-01-18 15:01] ShrirajHegde commented on #399
Sorry, somehow missed that.

 here it is

[code]

[2022-01-19 23:51] CharlesARoy opened #404 "Recent dir completion gets in the way of file completion"
This might be a bug, but for some autocompletions, the suggestions are a little off. One solution might be to add the ability to set the suggestion category priorities unilaterally or even, which categories are prioritized by program. For example:

If I'm in a directory with the following files and I type `vim ar`
[code]

All that gets suggested is a recent directory (in which one of the subdirect

[2022-01-20 00:48] CharlesARoy opened #405 "Setting to increase available history with up arrow"
Just a quick question:

Is there a setting to allow one to cycle through more than the past 16 commands in the history (while still only showing 16 at a time)?

If not, this feature would be appreciated as it is the standard behavior in bash/zsh.

[2022-01-20 03:25] gh0st-1 opened #406 "MacOS guide"
Hello sorry for silly question.

i have downloaded via brew install zsh-completions /

the only zshrc file on my Catalina is in /etc/ .. is this normal ? or do i need to manually create a .zshrc file

also what lines do i need to add to my zshrc file ? finder wont let me edit it should i chmod 755 it ?

sorry for all the questions and thanks for all the great work. im a complete newb !

[2022-01-20 09:26] Aakash-kaushik commented on #397
@marlonrichert got it, I will keep a check on this issue if you do push something.
Thanks for the extension.

[2022-01-20 13:26] marlonrichert commented on #404
This is a tricky problem to solve because of the way Zsh completion works. I'll have to think what would be the best way to solve this.

[2022-01-20 15:39] marlonrichert commented on #397
@Aakash-kaushik Fixed!

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 💝

[2022-01-20 18:11] CharlesARoy commented on #404
Thanks!

One way to pretty much fully fix this for me would be to add a widget-style option that causes Tab to work the way it does by default with Zsh. That way, in the above examples, I could use Tab to expand the share directory (or the tools directory) and use the arrow keys to select the suggested recent directories. Let me know if that's unclear at all.

[2022-01-21 07:08] marlonrichert commented on #404
Have you tried just pressing <kbd>▼</kbd> Down Arrow on the command line? It lets you select which completion to insert.

But if you really want to use Tab for that, just add this to your `.zshrc` file:
[code]

Documented here:
https://github.com/marlonrichert/zsh-autocomplete/blob/0b993ff7130dd33afecc365bb9edf5a330be842b/.zshrc#L41

[2022-01-21 12:00] Martinits opened #410 "Recent dirs completion doesn't work with `zoxide` or `z.sh`"
I can use zoxide (or z) in my zsh (with oh-my-zsh) as usual, but I cannot see any completion about recent directory.
There's no "recent directory" title in the completion output, like "alias" or "external command".

Lines related to zsh-autocomplete in `.zshrc` are:
[code]
Full `.zshrc` is at https://github.com/Martinits/dotfiles/blob/master/.zshrc

When not set `zstyle ':autocomplete:*' recent-di

[2022-01-21 12:39] marlonrichert opened #411 "Usual navigation keys don't work in history menu"
### Discussed in https://github.com/marlonrichert/zsh-autocomplete/discussions/409

<div type='discussions-op-text'>

<sup>Originally posted by **saul** January 21, 2022</sup>
Hi

When in the history prompt, when I try to use `Home`/`End`, they do nothing. Similarly using `Ctrl-Left`/`Ctrl-Right` does not move backward/forward a word - they act as `PgUp` and `PgDown` and navigate the history menu

[2022-01-21 12:45] marlonrichert commented on #411
@saul You are not doing anything wrong! That is, in fact, a bug. Thank you for reporting. I will fix it. 🙂

[2022-01-21 12:54] marlonrichert commented on #410
Can you please share the output of `zoxide query --list` and `_z -l`?

[2022-01-21 12:58] Martinits commented on #410
$ zoxide query --list
/home/martinit/my/tmp
/home/martinit/my/dotfiles
/home/martinit/my
/home/martinit/.config/alacritty
/home/martinit/my/mit6s081/lab
/home/martinit/.config/ranger
/home/martinit/my/mit6s081/lab/kernel
/vm/sharedfolder/quaderno/Docs/linuxuser/vim
.........(many lines)

$ _z -l
![image](https://user-images.githubusercontent.com/48900241/150530767-d073eb8f-39b9-4cdd-90a8-dfe7c0b29

[2022-01-21 13:01] marlonrichert commented on #410
Did you press Enter after typing `_z -l`?

[2022-01-21 13:04] Martinits commented on #410
Yes I did. If not, it's like this:
![image](https://user-images.githubusercontent.com/48900241/150531716-a988864b-95ab-490f-98c1-a5ee8d570ab1.png)

[2022-01-21 13:05] marlonrichert commented on #410
OK, that's unexpected. `z.sh` doesn't normally use `fzf`, does it?

[2022-01-21 13:07] marlonrichert commented on #410
Try the following:
1. Run `functions -T _autocomplete.recent_directories`.
2. Generate some directory completions.
3. Check the contents of the file that `$_autocomplete__log` points at.

What do you see in the log?

[2022-01-21 13:24] Martinits commented on #410
I decided to use zoxide, so I removed z.sh(forget to tell you).
That _z command probably comes from zoxide, not z.sh.

[2022-01-21 13:29] Martinits commented on #410
1. The command exited with non-zero value, no output.
2. done
3.
[code]

[2022-01-21 18:34] CharlesARoy commented on #404
Sorry, I could have been clearer in my last message. In my original post, I raised two issues at the same time and probably should have created separate issues for them. For now, I can live with occasionally bad suggestions, as long as I can disable Tab from selecting the suggestion. In other words, I want Tab to work the standard Zsh way and only use arrow keys to select the zsh-autocomplete sugg