[2020-05-05 04:46] wookayin opened #1 "Foolproof: add more warnings if plugins are put in a wrong order"
This plugin requires that `fzf` (and accompanied `~/.fzf.zsh`) must precede `zsh-autocomplete`.

Though it was mentioned in README, I don't think [it was not](https://github.com/marlonrichert/zsh-autocomplete#installation) emphasized enough. It would be great to have a fool-proof feature such that if an user have wrong ordering in their zshrc, a warning message would be printed (or disable the plu

[2020-05-05 05:17] wookayin opened #2 "space (magic-space) is too aggressive"
Currently, it automatically accepts the completion when there are completions (automatically) being shown.

Say we want to type `for a in 0 1 2; do`. There is `a.py` that is file suggestion.

[code]

Pressing space here, it will accept the completion:

[code]

which should not be the case.

[2020-05-05 08:50] andreypopp opened #4 "zsh-autocomplete overrides fzf configuration"
First of all, thanks for the amazing completion experience with this plugin!

I'm trying this out now and found out it exports `$FZF_*` environment variables which override my customisations to fzf. I'm wondering why is it doing so and if it's needed — maybe it can be scoped to the plugin's usage of fzf somehow?

[2020-05-05 09:00] CallumHoward opened #5 "zsh: do you wish to see all 3121 possibilities (3121 lines)?"
As soon as I type there is a message `zsh: do you wish to see all 3121 possibilities (3121 lines)?`. Perhaps this is set from Oh-my-zsh. It causes problems because it eats keystrokes when typing. Is there a way to disable it?

[2020-05-05 12:35] weilbith commented on #2
Yes. Some behavior like in _Vim_ for the `completeopt` setting with `noinsert` and `noselect` set. So you get the list populated, but you must manually trigger at least once the selection of the first entry (or any other) and complete. Would be awesome.

[2020-05-05 12:46] weilbith commented on #4
Same here. Fzf allows to set these options via CLI arguments per command. It would be awesome to keep other applications unaffected which rely on a user configuration. I use fzf for fairly a lot of other stuff, as it is a very useful tool that I can pipe anything into. I would love to still use my own configuration for that. Maybe I should open a PR to help.

[2020-05-05 14:05] joeatodd opened #7 "Keybindings in Konsole (KDE Plasma)"
Hey,

First off - amazing plugin. Seeing this on reddit yesterday made me decided to refresh my zsh setup & install this plugin.

I have an issue (which I have fixed locally, so no rush) which is that the keybindings, eg:

key[Down]='^[[B'

don't correspond to what my terminal feeds in. For each of down, up, left, right, I had to swap the second '[' for a capital O. Not sure why this is the case.

[2020-05-05 14:18] Dwight-D commented on #5
I think this should go away if you make sure pull the latest version and then call `compinit` before you source the script.

[2020-05-05 14:21] Dwight-D commented on #7
This has been discussed here:

https://github.com/marlonrichert/zsh-autocomplete/pull/3

[2020-05-05 15:23] marlonrichert commented on #4
I cannot scope my changes to the plugin, but what I _can_ do is look if you have the environment variables already set and if so, use yours instead of mine. I will implement this soon.

[2020-05-05 15:58] weilbith commented on #4
@marlonrichert btw: awesome plugin. Love it. :grimacing:

[2020-05-05 16:44] z0rc opened #8 "Use zsh/terminfo"
The approach of defining bindkeys using escape sequences is inherently flawed, it's not possible to match all terminal emulator behaviors.

Instead please use `zsh/terminfo` module. http://zsh.sourceforge.net/Doc/Release/Zsh-Modules.html#The-zsh_002fterminfo-Module and https://wiki.archlinux.org/index.php/zsh#Key_bindings

Also while we're at it. Please provide option to skip key binds in plugin a

[2020-05-05 16:56] marlonrichert commented on #5
I'm working on making this easier. I'll push an update soon.

[2020-05-05 16:56] marlonrichert commented on #7
Duplicate of #3.

[2020-05-05 17:00] z0rc opened #9 "setopt/unsetopt"
The plugin isn't the right place to change setopts, especially something like AUTO_CD and BEEP.

Please use [LOCAL_OPTIONS](http://zsh.sourceforge.net/Doc/Release/Options.html#index-NOLOCALOPTIONS) or even `emulate -L zsh`, so you can explicitly define needed option in functions without touching user configuration.

[2020-05-05 17:01] marlonrichert commented on #4
This one is a bit tricky. I need the environment variables to communicate to `fzf` plugins what I want them to do. So, I cannot exactly scope them. However, what I can do is check if you've already set them and if so, don't override them.

[2020-05-05 17:02] marlonrichert commented on #8
I'm already working on both of those points. Expect to see an update soon. Thanks! 🙂

[2020-05-05 17:06] marlonrichert commented on #9
I won't use `localoptions`, because the whole point of this plugin is to make completion work well out of the box. Some options will need to be set for this.

However, I will consider removing some to make the plugin slightly less opinionated, as long as it doesn't worsen the UX too much. Thanks for your input.

[2020-05-05 17:08] TanishBansal opened #10 "Want to switch to default Tab behaviour while using cd."
How do I switch to default Tab behaviour while using cd i.e. togge between the options rather than insert all the options

[2020-05-05 17:19] z0rc commented on #9
If you need some specific options to be set, you can do this similarly to https://github.com/Aloxaf/fzf-tab/pull/16.

[2020-05-05 21:07] marlonrichert commented on #10
Can you please describe, step by step, what you are doing and what you expect? I don't understand what you mean.

[2020-05-05 21:22] marlonrichert commented on #9
Thanks, there's just one problem with this:

Most of my code revolves around `_main_complete`. So, I'm not sure it makes sense to use `localoptions` here.

For example, I have actually tried to do `setopt localoptions nobeep` in my functions, but that did not get rid of all the beeping that `list-choices` does otherwise.

Perhaps @romkatv would like to comment on this?

[2020-05-05 21:25] marlonrichert commented on #7
Sorry, I closed this by accident. I thought #3 was an issue, but it was a pull request.

[2020-05-05 21:48] marlonrichert commented on #2
@weilbith I don't use vim, so I have no idea what you're talking about there. Can you try to explain it in more detail?

[2020-05-05 22:38] marlonrichert commented on #1
@wookayin I updated the code. Can you test if it resolves the issue for you?

[2020-05-05 22:39] marlonrichert commented on #2
@wookayin @weilbith  I updated the code. Can you test if it resolves the issue for you?

[2020-05-05 22:40] marlonrichert commented on #4
@andreypopp @weilbith I updated the code. Can you test if it resolves the issue for you?

[2020-05-05 22:40] marlonrichert commented on #5
@CallumHoward I updated the code. Can you test if it resolves the issue for you?

[2020-05-05 22:41] marlonrichert commented on #7
@joeatodd I updated the code. Can you test if it resolves the issue for you?

[2020-05-05 22:41] marlonrichert commented on #8
@z0rc I updated the code. Can you test if it resolves the issue for you?

[2020-05-05 23:07] wookayin commented on #1
The commit is a squashed of many changes so it's hard to keep track of what has changed.

Having fzf source *after* zsh-autocomplete, pressing `<tab>` accepts autocompletion rather than invoking fzf. But I do see the following error messages:

[code]

Why would be that?

[2020-05-05 23:16] wookayin commented on #2
Thanks for our update. The problem I mentioned in the issue is gone. However, there is still a (similar) problem behavior is still not intuitive. I think space should **not** match accept suggestions.

Suppose you have a following situation:
[code]
![image](https://user-images.githubusercontent.com/1009873/81124822-47b93400-8eeb-11ea-887d-3ab220ce514b.png)

Pressing `<space>` accepts the suggestio

[2020-05-06 01:37] sejgit opened #11 "ale-line-finish"
when running a command like which fzf (might be with any command), no shell function 'zle-line-finish' exists flashes up then is erased and a blank prompt comes up.  I have turned off my whole init file then back on, the behavior persists.

[2020-05-06 01:37] sejgit opened #12 "zle-line-finish"
when running a command like which fzf (might be with any command), no shell function 'zle-line-finish' exists flashes up then is erased and a blank prompt comes up.  I have turned off my whole init file then back on, the behavior persists.

[2020-05-06 01:38] #11 closed

[2020-05-06 01:49] sejgit commented on #12
think I found the issue ; line #117 got truncated, should read:
zle -N zle-line-finish _zsh_autocomplete_finish

[2020-05-06 03:08] DanDobrick opened #13 "Closing termnial window when pressing arrow up"
This must have changed at some point today since I updated the plugin this evening, but when pressing the up arrow to attempt to cycle through my history, the terminal window closes instead.

On OSX using both iTerm and the terminal bundled with rubymine.

[2020-05-06 03:12] DanDobrick commented on #13
Stepping through the commits and trying them all out it looks to have happened in this commit: 9d0e92e7733d1f3f3cd9aa438aae722bd20cd2a4

[2020-05-06 05:32] wookayin commented on #10
Just like the default behavior.

``
$ f|
fa/ fb/ fc/
[code]

[2020-05-06 05:52] Dwight-D opened #14 "Hidden files ignored by auto-suggest / leading dot ignored"
Hidden files are ignored or downprioritized by auto-suggest. Typing the name of a dotfile will match that part against substrings in other filenames, but not exact matches of dotfiles.

Steps to reproduce:

    ➜ touch .test file.test
    ➜ rm .tes
    file.test
    ➜ \t
    ➜ rm file.test

Expected:

    ➜ touch .test file.test
    ➜ rm .tes
    .test file.test
    ➜ \t
    ➜ rm .test

[2020-05-06 06:03] Dwight-D opened #15 "Autocomplete keybindings overwrite custom user keybinds"
Any keybindings user places in their own .zshrc (or elsewhere) will be overwritten by `_zsh_autocomplete_init`.

This makes it difficult to unbind undesired widgets, like `magic-space` for instance.

[2020-05-06 06:05] Dwight-D commented on #2
Seconding the request for removal of this feature. So far I have found magic space to render my terminal more or less unusable as it will often insert inappropriate suggestions. It's also quite difficult to turn off with the recent update.

[2020-05-06 08:38] weilbith commented on #4
Yes, looks pretty good. :+1:
But my command history keybind still don't work. Can it be related to that? :thinking:

[2020-05-06 08:41] weilbith commented on #2
Yes, maybe it would be nice to configure some behavior of this plugin. Accepting the "best match" automatically with space is very aggressive. There will be always a special case where the completion could be wrong. Especially when constructing awkward and super special chain commands. :laughing:

[2020-05-06 08:44] weilbith commented on #2
`noinsert`: while looping through the suggestion list don't insert the current
entry automatically but the user must manually confirm/select the candidate.

`noselect`: if the suggestion list pops up, don't automatically select the first
entry, but let the user himself decide to use the completion

[2020-05-06 09:31] romkatv commented on #9
Not really.

[2020-05-06 09:31] z0rc commented on #8
The code is okay, but not quite there.

1. You have to explicitly `zmodload zsh/terminfo`.
1. You can skip all `terminfo[]` checks if loading of the module failed.
1. I don't think sourcing `zkbd` config belongs to this plugin. The zkbd configuration is solely part of user's own configuration. Still checking for `key` array created by zkbd might be okay.

[2020-05-06 09:59] TanishBansal opened #16 "Not able to change directories without cd."
Not able to cd to a directory without cd, permission denied.
Without plugin.
tanish@us01:tanish/tanish_main1
▶ IOR
tanish/tanish_main1/IOR

With plugin.
tanish@us01:tanish/tanish_main
▶ IOR
zsh: permission denied: IOR

[2020-05-06 10:04] TanishBansal commented on #16
Why is **unsetopt AUTO_CD** required for the plugin to work?

[2020-05-06 10:12] marlonrichert commented on #16
It’s not strictly required. I can remove it.

[2020-05-06 10:22] marlonrichert commented on #1
Originally, `zsh-autocomplete` loaded `zsh/complist` itself, but I found out this should be done _before_ loading `compinit`. Please see the installation instructions: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#installation

[2020-05-06 10:25] marlonrichert commented on #11
Did you manage to fix it? What was the problem?

[2020-05-06 10:26] marlonrichert commented on #12
Thanks! Weird that this didn’t happen when I tested it. I will fix it.

[2020-05-06 10:26] marlonrichert commented on #13
Thanks, I’ll have to see if I can reproduce that.

[2020-05-06 10:28] marlonrichert commented on #10
Thanks, I understand it now. I don’t have an answer to that yet. I’ll look into it.

[2020-05-06 10:33] marlonrichert commented on #15
I added `_zsh_autocomplete_init` so that end users don’t have to worry whether they source it or `fzf` first.

I will have think how I can make it easier for you to use only the parts that you really want.

[2020-05-06 10:35] marlonrichert commented on #4
Do you get the same behavior as in #13 ?

[2020-05-06 10:37] marlonrichert commented on #2
This one is very tricky to solve. Believe me, I have tried. Would one of you want to try your hand at it? I welcome all pull requests! 🙂

[2020-05-06 10:42] marlonrichert commented on #8
Thanks, I will look into it.

[2020-05-06 10:50] marlonrichert commented on #5
This should be resolved now. Please read the updated installation instructions: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#installation

I will close this issue now. Let me know if it needs to be reopened.

[2020-05-06 10:50] #5 closed

[2020-05-06 10:51] marlonrichert commented on #4
I will close this issue now, as the original problem has been resolved. Please open a new issue for the command history keybind (or comment on #13, if that's the same issue).

[2020-05-06 10:51] #4 closed

[2020-05-06 10:51] marlonrichert commented on #7
This should be resolved now. Closing the issue. Please let me know if it needs to be reopened.

[2020-05-06 10:51] #7 closed

[2020-05-06 10:54] marlonrichert commented on #8
Perhaps, but I still need those checks when the module does load, because terminfo is not guaranteed to define the keys that I need.

[2020-05-06 10:55] wookayin commented on #2
Can we just **simply disable** space? There is no much value I think this magic-space adds.

[2020-05-06 10:55] marlonrichert commented on #8
I just checked and my `/etc/zshrc` successfully uses `terminfo` without ever doing `zmodload zsh/terminfo`. Are you sure this is necessary?

[2020-05-06 10:57] marlonrichert commented on #8
Some people have asked for it. So, I'm not going to remove it just yet.

[2020-05-06 11:27] marlonrichert commented on #12
Fixed. Thanks again!

[2020-05-06 11:27] #12 closed

[2020-05-06 11:31] z0rc commented on #8
You're right, it might not be required anymore. Some old zsh version might still need it, as I cannot find when exactly this happened.

[2020-05-06 11:34] z0rc commented on #8
I don't think it's a plugin job to do what zkbd explicitly asks on initial configuration. https://github.com/zsh-users/zsh/blob/master/Functions/Misc/zkbd#L262

[2020-05-06 11:38] marlonrichert commented on #13
This seems to happen when you don't have Fzf installed, which causes `zsh-autocomplete` to fall back to the `history-search-backward` widget. And for some reason, this crashes Zsh. Not sure why or how to work around it. I'll have to investigate some more.

[2020-05-06 12:13] weilbith commented on #2
I'll go for customizing the keybindings anyways. So I'll need to unbind default bindings and add my own ones after this plugin got loaded. I would be also fine to just get the widgets and do the binding myself. But I understand that without any binding this plugin is useless. So to make it work out of the box they are necessary. I think this is a critical decision for every plugin. Some allow to c

[2020-05-06 12:27] andreypopp commented on #13
Have fzf installed and in PATH but it happens for me as well, if I comment a line which binds an up arrow in this plugin then it works ok.

[2020-05-06 12:40] marlonrichert commented on #8
I don't think it hurts either, though. Does it?

[2020-05-06 12:49] weilbith opened #17 "Typying laggs due to slow completion"
Hey,
thanks again for this plugin! :pray:

I use it now just my second day, but what really bothers me are the lags. This is especially the case for paths. Each time I enter a slash it starts to lag. I guess this will apply for all completions that are not optimized or simply slow.
I must admit I have rarely a knowledge of such things in Zsh, but is is possible to do asynchronous completion? As mu

[2020-05-06 12:57] marlonrichert commented on #13
@andreypopp Are you sourcing [Fzf's keybindings](https://github.com/junegunn/fzf/blob/master/shell/key-bindings.zsh)? Without them, the code falls back to using `history-search-backward`. Simply having Fzf in your path is not enough.

[2020-05-06 12:59] marlonrichert commented on #17
Can you give me an exact test case where the completion feels particularly slow? Then I can try to reproduce it.

For me, path completion feels very snappy. I have not noticed any problems with it. On the other hand, I find that completing certain `git` commands can feel slow sometimes.

[2020-05-06 13:02] marlonrichert commented on #17
I have tried to do that using https://github.com/mafredri/zsh-async/, but the problem with async completion is that if the completion finishes when the Zsh Line Editor is no longer active, it simply will not update. So, basically, while typing and then you pause, the last couple of letters fail to trigger completion. It only worked as long as I kept typing, which didn't feel quite right. 🙂

[2020-05-06 13:15] weilbith commented on #17
Hmm okay it is my fault. Sorry for your inconvenience. It happens when my PC is under load. But is is quite "interesting". So it happens already when I run some simulations for work. but actually these just increase the CPU usage to ~30%. But doing more "tests", I recognized that this only happens for special cases. So I use TMux. So if I'm in a TMux window (I hope you know the terminology, it is

[2020-05-06 13:18] weilbith commented on #17
But sad in general about the async stuff. Always nice to have it. :/

[2020-05-06 13:24] marlonrichert commented on #17
But glad it's not a problem in my plugin. 😉

[2020-05-06 16:11] andreypopp commented on #13
@marlonrichert no, I'm not. Still a bit confusing why it closes the shell on "Up" in that case.

[2020-05-06 17:44] marlonrichert commented on #13
OK, you **_should_** source Fzf's keybindings if you want `zsh-autocomplete` to use Fzf for history search. 🙂

As to why calling any of Zsh's history widgets inside another widget closes the shell, I have no idea. It only works if you call them right away, but if you do anything before that, the shell crashes.

[2020-05-06 17:56] marlonrichert commented on #13
@DanDobrick @andreypopp I pushed in a fix. Please `git pull` and let me know if it works for you. 🙂

[2020-05-06 17:57] marlonrichert commented on #14
@Dwight-D I pushed in a fix. Please git pull and let me know if it works for you. 🙂

[2020-05-06 17:58] DanDobrick commented on #13
@marlonrichert Works perfectly, thanks!

[2020-05-06 17:58] marlonrichert commented on #1
@wookayin I pushed in a new fix. Please git pull and let me know if that makes it work for you. 🙂

[2020-05-06 17:59] marlonrichert commented on #8
@z0rc I pushed in a new update. Please check it out and let me know if it resolves the issue for you. 🙂

[2020-05-06 18:02] marlonrichert commented on #2
@wookayin @weilbith @Dwight-D I really don't want to give up on `magic-space` just yet. I just pushed in a new fix that makes all of the above disappear for me. Please `git pull`, try it out and let me know if it works for you, too. 🙂

[2020-05-06 18:03] marlonrichert commented on #9
@z0rc I now use `emulate -L zsh` and `localoptions` in all other cases. Plus, I moved all the options I need into an array that the user can override. Please check it out and let me know if this resolves the issue for you. 🙂

[2020-05-06 18:04] marlonrichert commented on #16
@TanishBansal It's gone now. Please `git pull` to update. 🙂

[2020-05-06 18:13] marlonrichert commented on #10
@TanishBansal @wookayin

First, please `git pull`, so you're updated to the latest version.

Then, to get back the old skool complete behavior, add the following to your `.zshrc` file, right _after_ you source `zsh-autocomplete`:
[code]

[2020-05-06 18:17] marlonrichert commented on #15
@Dwight-D Please `git pull` to update. You should be able to more easily change the keybindings now. 🙂

[2020-05-06 18:19] #13 closed

[2020-05-06 19:27] Mellbourn opened #18 "key: assignment to invalid subscript range"
When I try to install it using zinit like this

[code]
I get this error

[code]

I'm on commit b0edf5c

[2020-05-06 20:31] marlonrichert commented on #18
It doesn’t work because of this bug in zinit: https://github.com/zdharma/zinit/issues/327

To work around it, don’t load the plugin thru zinit but just `source` the file directly, as per the updated installation instructions: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#installation

You can still use zinit to update the plugin.

[2020-05-06 23:29] wookayin commented on #10
@marlonrichert You should introduce an environment variable to configure behaviors.

Also, the tab completion still doesn't work as I described. Did you ever test it? Even after the "roll back" overriding of `complete-word`, it is inserting completions just twice.

[2020-05-07 05:40] hliu202 opened #19 "can not change current directory without "cd""
Hi, I fail to change any directories without "cd"

Is there any thing wrong with my operations, or is this a bug?

[2020-05-07 05:56] hliu202 commented on #19
Oh, I just found the closed issue https://github.com/marlonrichert/zsh-autocomplete/issues/10.

It seems I have to obviously add "setopt AUTO_CD"

[2020-05-07 05:56] #19 closed

[2020-05-07 06:15] CallumHoward commented on #5
Hi, sorry for slow response, been pretty busy. I'll try this tonight.

[2020-05-07 07:04] marlonrichert commented on #10
@wookayin Yes, I tested it and it worked for me exactly as you described.

What do you mean with “ it is inserting completions just twice“? Can you give me an exact test case for this where this happens?

Do you have a concrete proposal for what kind of environment variables you think should be introduced and how they shoul work? If you can write a pull request for it, even better. 🙂

[2020-05-07 07:08] marlonrichert commented on #5
This should not be necessary anymore because of the changes I made for #1.

[2020-05-07 07:56] CallumHoward commented on #5
I pulled the latest master but it still didn't work so I commented everything in my config to find the culprit. Here it is:

[code]

This gets added when you install Node Version Manager, it seems to load some completion scripts which cause the problem. My solution will be to comment out the last line here. Thanks for a cool plugin!

[2020-05-07 08:40] CallumHoward commented on #16
With the current master, and as noted by @hliu202 I still need to `setopt AUTO_CD` after zsh-autocomplete is sourced, though I didn't set it previously

[2020-05-07 08:55] marlonrichert commented on #16
Ah, I think I know what the problem is. I probably introduced it in 0d3ff05933a7e1482e01399c73e8532030ababaf. I think I know how to fix it.

Thanks!

[2020-05-07 09:45] marlonrichert commented on #16
@CallumHoward I pushed in a new fix. Please try again. 🙂

[2020-05-07 09:46] marlonrichert commented on #9
I think this should be resolved now. Closing the issue. Let me know if it needs to be reopened.

[2020-05-07 09:46] #9 closed

[2020-05-07 09:49] marlonrichert commented on #18
@Mellbourn There is now a fix available with which you can patch your copy of Zinit until an official fix is released: https://github.com/zdharma/zinit/issues/329#issuecomment-624897560

[2020-05-07 11:49] marlonrichert commented on #8
I think this is resolved now. Closing the issue. Let me know if you think otherwise.

[2020-05-07 11:49] #8 closed

[2020-05-07 11:52] CallumHoward commented on #16
Huh, I tried it and it causes my shell to exit before the first command gets executed.

[2020-05-07 11:52] marlonrichert commented on #10
After using my suggested solution above, I can tab around infinitely, not just twice. I'm going to close this issue now. If you can provide me with a test case that let's me reproduce it, then I will reopen the issue.

[2020-05-07 11:52] #10 closed

[2020-05-07 11:53] marlonrichert commented on #16
What else are you using? If you comment out everything else in your `.zshrc`, does it still happen? Something might be conflicting with what `zsh-autocomplete` is doing.

[2020-05-07 11:55] marlonrichert commented on #14
Closing this issue now as the test case you provided completes successfully for me. Let me know if it doesn't for you, then I will reopen the issue.

[2020-05-07 11:55] #14 closed

[2020-05-07 12:10] CallumHoward commented on #16
yep, narrowed it down to https://github.com/zdharma/fast-syntax-highlighting

[2020-05-07 12:34] marlonrichert commented on #16
Thanks, I'll test it.

[2020-05-07 12:49] marlonrichert commented on #16
I tried it and although https://github.com/softmoth/zsh-vim-mode/ didn't make my shell exit, it did cause all kinds of other problems in `zsh-autocomplete`.

I found a solution for it, though: You need to source `zsh-vim-mode` *after* `zsh-autocomplete`. Otherwise, its [keymap tracking feature](https://github.com/softmoth/zsh-vim-mode/#editing-keymap-tracking) will undo some of the work that `zsh-

[2020-05-07 12:53] CallumHoward commented on #16
Huh, I was already sourcing it after. Perhaps it is another setting somewhere, I'll try and narrow it down some more.

[2020-05-07 12:58] marlonrichert commented on #16
Actually, after some more testing, I find that even if I change the order of sourcing the two, `zsh-vim-mode` _still_ messes up some of `zsh-autocomplete` features. So, scratch that.

Have you tried adding `VIM_MODE_TRACK_KEYMAP=no` to your `.zshrc`?

[2020-05-07 13:06] marlonrichert commented on #16
The only way I can find to stop `zsh-vim-mode` from messing with `zsh-autocomplete` is to
1. Set `VIM_MODE_TRACK_KEYMAP=no`.
1. Source `zsh-vim-mode` _before_ `zsh-autocomplete`.

But I'm closing this issue now, because the discussion is going really off topic. Feel free to open a new one. 🙂

[2020-05-07 13:06] #16 closed

[2020-05-07 13:11] CallumHoward commented on #16
Sourcing it after seemed to fix it, all seems to be working well now without the need for `setopt AUTO_CD` also. Thanks for your help!

[2020-05-07 13:11] marlonrichert commented on #16
OK, sourcing it after still led to some unexpected results for me, but I'm glad it works for you. 🙂

[2020-05-09 17:28] romzie opened #21 "Down arrow key has no effect"
Just cloned this repo and added it to my zsh config (with oh-my-zsh).
All seems to work fine (I don't have fzf installed), except the Down arrow key that has no effect. So I basically have no opportunity to navigate through proposals.
I tried commenting all my other zsh plugins but same issue.

My zshrc : [here](https://github.com/romzie/dotfiles/blob/master/.zshrc).

Also it would be nice to be a

[2020-05-09 19:03] nisavid commented on #2
Thank you for looking into this, @marlonrichert.  In my usage, I have indeed noticed some improvements to the `magic-space` behavior after your recent changes.  However, I'm still seeing some cases in which it has issues.  Below, I will give the two most recent problems that I encountered, and I'll post additional comments if I find others.

#### `tar xf̭` ￫ <kbd>space</kbd> ￫ `tar xfv ̭`

After t

[2020-05-09 20:32] nisavid opened #22 "History expansions are mostly unusable due to premature auto-expansion"
This plugin's immediate auto-expansion of history expansions causes the latter to be mostly unusable.  Some examples are detailed below.  The overarching theme is that history expansions should only be auto-expanded if they are unambiguous, where "ambiguous" is meant in the sense that the already typed history expansion could possibly be altered by further characters that have yet to be typed.

Su

[2020-05-09 21:13] nisavid commented on #2
Here's another problematic case.

#### `print a̭ ` ￫ <kbd>space</kbd> ￫ `print a-long-file-name ̭`

If the working directory contains (if I understand correctly) any file that starts with the letter `a` (such as `a-long-file-name`, per the title above), then after typing `print a`, pressing <kbd>space</kbd> will auto-complete the first such file name before inserting the space character.  This beh

[2020-05-09 21:45] nisavid commented on #18
zdharma/zinit#329 is now resolved, so I believe this can be closed.

[2020-05-10 10:04] marlonrichert commented on #21
Thanks for reporting this. This is one config permutation that I hadn’t considered. The Down key doesn’t do menu selection if you don’t use fzf, because then you need the Down key to go forward when doing history search. However, I failed to realize that then you don’t have a way to enter menu selection.

I will fix this by making it so that, if you don’t use fzf, I will not override the Tab key b

[2020-05-10 10:06] marlonrichert commented on #22
Thanks for the detailed report! I haven’t tested history expansion, because I always just use the Up key instead. I find that it’s faster and more accurate.

I will have a look at what is the best way to fix and let you know when I’ve pushed in a fix.

[2020-05-10 10:09] marlonrichert commented on #2
@nisavid Thanks for the very detailed reports! 👏🏽

I will investigate what is the best way to fix this and of course notify this thread when I’ve pushed in a fix.

[2020-05-10 10:11] #18 closed

[2020-05-10 15:47] CadaverLab opened #23 "Vi mode configuration in prompt causes bindkey conflict"
I use vi mode and have my prompt set up for it accordingly. Here's the relevant code:

[code]

What this does is change the cursor from beam to block depending on the mode (beam for insert, block for normal)

If i run `bindkey "^I"` with that block present, i get `"^I" fzf-completion` as a result. If i remove it, `bindkey "^I"` prints `"^I" complete-word`.

My steps for tracking this down were cre

[2020-05-11 10:59] Mallchad commented on #2
I haven't used this plugin much yet, I like it very much already.
But I have found simply commenting out
`  bindkey ' ' magic-space`
to be good enough for me. I don't like fully automatic completion it throws me off.
I think it would be nice to have a single variable to disable this.

[2020-05-11 16:28] marlonrichert commented on #23
Instead of using `zle -N zle-keymap-select` and `zle -N zle-line-init`, can you try using [`add-zle-hook-widget`](http://zsh.sourceforge.net/Doc/Release/User-Contributions.html#Manipulating-Hook-Functions) instead?

[2020-05-11 18:59] marlonrichert commented on #21
@romzie I pushed in a fix. Please update and try it out.

[2020-05-11 19:11] marlonrichert commented on #21
@romzie I pushed in a fix. Please update and try it out.

[2020-05-11 20:44] marlonrichert commented on #2
@wookayin

With the input above, just type `i` and press Tab to get `zlogin` or type `o` and Tab to get `zlogout`. Especially for large listings, that's much faster than endlessly tabbing around. Please give it a try. 🙂

[2020-05-11 21:03] marlonrichert commented on #2
@nisavid @wookayin @weilbith @Dwight-D All right, I've pushed in a fix. Rather than my previous approach of trying to check what _not_ to correct, I've decided to use a whitelist of things that are safe to correct instead. With that, all of the cases you've listed above now pass, plus some more. Please give it a try. 🙂

Oh, and you can turn it off completely by adding the following to your `.zshrc

[2020-05-11 22:16] romzie commented on #21
@marlonrichert  Okay just pulled and tested it. Here is my feedback :
 - pressing tab activates completion or triggers the grid list of suggestions as expected
 - pressing tab a second time enters the suggestions list as expected
 - once inside the suggestions list, using arrow keys and enter to select works as expected
 - but if I want to use the tab key to cycle through the suggestions, it messe

[2020-05-12 09:58] marlonrichert commented on #22
@nisavid The problem here is not `magic-space`. It seems that `zsh-autocomplete`'s automatic use of `list-choices` somehow causes history expansion for some cases. I'll have to investigate more to see how I can fix this.

[2020-05-12 12:24] marlonrichert commented on #22
@nisavid I pushed in a fix that works for me when trying the cases above and also the cases listed in http://zsh.sourceforge.net/Doc/Release/Expansion.html#History-Expansion

Please update and try it out. 🙂

[2020-05-12 12:31] marlonrichert commented on #21
@romzie This behavior is entirely intentional on my part and not a bug. It is exactly as specified in the Readme under ["Key bindings in the completion menu"](https://github.com/marlonrichert/zsh-autocomplete#key-bindings-in-the-completion-menu). 🙂

Since you can already move around in the menu using the arrow keys, `zsh-autocomplete` uses the Tab key to insert multiple selections without leaving

[2020-05-12 12:58] marlonrichert commented on #21
Oh, and if you want Shift-Tab to cycle in the opposite direction while in the menu, rather than show more completions/info, add the following:
[code]

[2020-05-12 13:13] romzie commented on #21
Well you got me there, I did not read enough of the README.

Thank you for adding those additionnal key binding choices to the README.
If I may be a little picky, I would prefer having custom variables to trigger those key bindings instead of those difficult-to-understand lines, but that's up to you.

Closing this issue, keep up the great job! Love this plugin now btw.

[2020-05-12 13:13] #21 closed

[2020-05-12 13:26] marlonrichert commented on #21
@romzie I added more info to the Readme on [how to customize the behavior of `zsh-autocomplete`](https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#configuration). Hopefully that helps. 🙂

[2020-05-12 13:35] marlonrichert commented on #1
`zsh-autocomplete` should be fairly robust by now with regards to the order in which it and other plugins are sourced. Closing this issue now. If you find another specific case that does not work, please open a new issue for it.

[2020-05-12 13:35] #1 closed

[2020-05-12 13:36] marlonrichert commented on #2
Closing this now. Please let me know if it needs to be reopened.

[2020-05-12 13:37] marlonrichert commented on #15
I also added [additional instructions to the Readme](https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#configuration). Closing this issue now. If you have additional customization options, please let know.

[2020-05-12 13:37] #15 closed

[2020-05-12 13:43] marlonrichert commented on #23
I tested your case again with the latest code and I can no longer reproduce it. It seems to have been fixed by 16068f35d1a2be01f396b57544f3cf9b17285c82. Please update and try again. 🙂

[2020-05-12 15:10] CadaverLab commented on #23
I just pulled and tested and it works, thank you.

I'm gonna try using the way you suggested but i need to do some reading up on it first

[2020-05-12 16:19] #23 closed

[2020-05-13 09:25] marlonrichert commented on #2
Well, gosh darn, I just discovered that `zstyle ':completion:correct-word:*' tag-order '-'` does not completely disable autocorrection, plus I found that there are still some cases for which autocorrection works incorrectly. 🙁 I'll have to investigate further on how to solve this.

[2020-05-13 10:01] weilbith opened #24 "Super slow git remote completion"
When I use `git` and do stuff like adding a remote or clone from remote, when start to type the `https` or `ssh` location, the input becomes super slow. Often does nothing happen anymore and then all keystrokes are applied at once. This happens always and is quite annoying. Can I disable that? I don't necessarily need completion for the remote location paths.

[2020-05-13 11:30] marlonrichert commented on #24
It should be disabled already. Can you give me some exact test cases with which I can reproduce this? Then I can investigate.

[2020-05-13 12:12] marlonrichert commented on #24
And have you updated to the latest version yet?

[2020-05-13 12:58] weilbith commented on #24
I just run an update and my local version is on commit 0ba256a63fe1304a6e041233a92f2e08d3d76818 which is current `master`s head of this remote here.

Let's type `$ git clone git@github.com:`. As soon as I reach the colon and want to continue the problem occurs. It remains as long as I edit this URL no matter what.

[2020-05-13 15:11] CadaverLab opened #25 "Enabling autodescriptions by default"
This isn't so much a bug report as it is a feature request: would it be possible to have groups and autodescriptions enabled by default as opposed to having to press shift+tab each time?
An option to have it always turned on would work too

[2020-05-14 07:19] marlonrichert commented on #24
Thanks, I'm able to reproduce it. I'll see what I can do.

[2020-05-14 10:27] marlonrichert commented on #25
I don't want to enable it by default, but you can enable for yourself by adding the following to your `.zshrc` file _after_ sourcing `zsh-autocomplete`:
[code]

I'll add this to the Customization section of the Readme, too. 🙂

[2020-05-14 11:43] michaelpolonski commented on #24
The same problem with ping command.

[2020-05-14 11:56] marlonrichert commented on #24
@michaelpolonski Can you give me a test case for that, please?

[2020-05-14 13:01] michaelpolonski commented on #24
ping 8.8.8.8 is stuck for me

[2020-05-14 13:14] weilbith commented on #24
What is actually the source of remote paths/urls/links? :thinking:
For example I never had a completion for such paths before. I thought this plugin is actually not adding new once, but simply make the available sources more automated.

[2020-05-14 13:25] marlonrichert commented on #24
@michaelpolonski I am unable to reproduce this. Do you perhaps have some additional completions installed, such as https://github.com/zsh-users/zsh-completions? Please tell me if you do, then I can try to reproduce the problem with those.

[2020-05-14 13:27] marlonrichert commented on #24
@weilbith You are correct: The source is indeed Zsh's internal completion modules —or whatever additional completion modules you have installed. `zsh-autocompletion` does not add any completions itself. As you stated, it just makes existing ones easier to access. 🙂

[2020-05-14 13:29] marlonrichert commented on #22
Closing this issue now. Let me know if you experience any new problems with this.

[2020-05-14 13:29] #22 closed

[2020-05-14 14:20] marlonrichert commented on #25
It's now in the Readme. Closing this issue.

[2020-05-14 14:20] #25 closed

[2020-05-14 14:38] marlonrichert commented on #2
@nisavid @wookayin @weilbith @Dwight-D I just pushed in a major rewrite that hopefully fixes things once and for all. 😅

When you press Space, correction now works as follows:
1. **Don't** correct anything if…
    * …the word we're on can be **expanded**,
    * …completion offers an **exact match**.
    * …we're on an **option**.
1. If there is only **one** possible correction, insert it **immedia

[2020-05-14 14:40] marlonrichert commented on #24
@weilbith I just pushed in a fix that hopefully alleviates your problem. Please update and try it. 🙂

[2020-05-14 14:40] marlonrichert commented on #24
@michaelpolonski Have you updated your local copy to the latest commit yet?

[2020-05-14 14:50] weilbith commented on #24
@marlonrichert works like charm. Thanks for this fix!
I keep the issue closed for @michaelpolonski ...

[2020-05-14 15:02] marlonrichert commented on #24
@michaelpolonski Please try if updating to this fix works for you, too. 🙂

[2020-05-14 15:14] Mallchad commented on #2
Feels pretty fantastic so far. Nearly every feels just as it should be.
There's just one more problem that I think was mentioned in issue #17
It still lags sometimes. This is most notable when you try to type a path on it's own.
(For executing files directly and searching for files with changing the working directory)
![image](https://user-images.githubusercontent.com/45771609/81951990-c86be480-95

[2020-05-14 15:55] marlonrichert commented on #2
OK, I can reproduce that. It seems to occur only when using `AUTO_CD`.

But it's not related to this particular issue, so let's continue the discussion at #17, @Mallchad. 🙂

[2020-05-14 15:56] marlonrichert commented on #17
Reopening, because @Mallchad [reports the same problem](https://github.com/marlonrichert/zsh-autocomplete/issues/2#issuecomment-628701222).

[2020-05-15 08:58] michaelpolonski commented on #24
Sorry, it doesn't for me. Still stack on ping. when I comment the plugin in .zshrc everything is fine.

[2020-05-15 11:57] marlonrichert commented on #24
@michaelpolonski Can you paste me a copy of your `.zshrc`? Then I can try to reproduce the problem and identify what the cause is.

[2020-05-15 12:09] michaelpolonski commented on #24
# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
#installation via script from github
#export ZSH="/home/$USER/.oh-my-zsh"
#installation via yay -S oh-my-zsh-git
export ZSH=/usr/share/oh-my-zsh/

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh i

[2020-05-15 12:11] weilbith commented on #24
@michaelpolonski this is horrible xD
Do you have a dotfile repo? Or just put it into a Gist.

[2020-05-15 12:18] michaelpolonski commented on #24
https://gist.github.com/michaelpolonski/567068597551788485bb863cee9d27ec

[2020-05-15 14:36] marlonrichert commented on #24
@michaelpolonski I don't see any obvious problems in your `.zshrc`. I will have to test with it.

In the meantime, when it is slow, can you press Ctrl-X + H and show me what the output is?

For me, it shows this:
[code]

[2020-05-15 14:38] marlonrichert commented on #2
I noticed a couple of more edge cases for `magic-space`, so I pushed in another fix.

[2020-05-15 14:42] marlonrichert commented on #17
@Mallchad The problem was that `zsh-autocomplete` wasn't expecting `AUTO_CD` to be enabled and no matches were generated when you typed a directory in the command position. This should be fixed now. In addition, I've added some enhancements to the way directories and files are presented in the completion results. Please update and check it out. 🙂

[2020-05-15 14:45] marlonrichert commented on #24
@michaelpolonski Why are you calling `neofetch` in your `.zshrc`? Isn't that a `bash` tool?

[2020-05-15 15:03] marlonrichert commented on #24
OK, I was able to reproduce it now: I installed `oh-my-zsh` and immediately _**everything**_ goes straight to hell in a hand basket! 😂

It will take me some time to figure out what are a;; the incompatibilities that `oh-my-zsh` introduces. 😅

[2020-05-15 15:26] marlonrichert commented on #24
Never mind, there was apparently something wrong with the way I installed `oh-my-zsh`. Now everything is working fine.

[2020-05-15 15:29] marlonrichert commented on #24
@michaelpolonski Sorry, I really cannot reproduce it. The only thing I can think of is that you're using `neofetch`. I haven't tried running that, but I don't think it's compatible with Zsh.

[2020-05-15 15:32] michaelpolonski commented on #24
I have a problem even I comment neofeth and oh-my-zsh. Unfortunately, CTRL+X+H doesn't work for me.

[2020-05-15 15:52] Mallchad commented on #17
It does indeed feel less laggy, although, it does not seem to be gone entirely.
Namely, if I misspell any character it starts to lag again when completing a path.
So I assume this is due to some kind of completion timeout with directories.
But only (as far as I can tell) when you have the direction on it's own without other commands in front.

[2020-05-15 15:55] marlonrichert commented on #24
@michaelpolonski Did you first press ctrl-H and then shortly after that X? You should not press all three at the same time.

[2020-05-15 15:58] marlonrichert commented on #24
Please try commenting out everything in your `.zshrc` except `zsh-autocomplete`. Does the problem still persist?

If not, try adding the other things back one line at a time until the problem reappears. Then we can identify what causes it.

[2020-05-15 15:59] marlonrichert commented on #24
@weilbith Can you try to reproduce this problem, too? 🙂

[2020-05-15 16:00] marlonrichert commented on #17
Thanks, I’ll investigate.

[2020-05-15 16:12] marlonrichert commented on #17
@Mallchad I cannot reproduce it. When you make a misspelling, what do you do next? Do you just continue typing? Can you give me an example of a misspelling plus what you typed afterwards that made the completion slow?

[2020-05-15 19:08] weilbith commented on #24
What are the minimal instructions to reproduce? I lost the track of this issue...

[2020-05-15 21:22] marlonrichert commented on #24
Do you get any slowdown when typing arguments to `ping`?

[2020-05-16 04:41] michaelpolonski commented on #24
argument-rest options  (_arguments _ping)
tags in context :completion::complete:ping:argument-rest:
    hosts  (_hosts _arguments _ping)

[2020-05-16 06:19] marlonrichert commented on #24
@michaelpolonski Thanks!

Please try adding the following two lines, one at a time (**not** both at the same time!), to your `.zshrc`, _after_ sourcing `zsh-autocomplete`:
[code]
[code]

Does either of these alleviate the problem? Which one?

[2020-05-16 08:18] Ahira-hub opened #26 "Odd key behavior"
Hello,
Upon first installation, this plugin runs like a dream. Rebooting my terminal (I'm using Kitty), there is very erratic behavior. It's almost like the it's stuck in a hotkey mode. For example:
I want to type "sudo".
S: Just fine
u: is ignored (letter is not typed)
d: "do you want to display all 348 results?
o: same as above
spacebar: same as above.

I'm guess it's mistaking each key press fo

[2020-05-16 09:56] michaelpolonski commented on #24
I am sorry guys, both lines have no effect. Perhaps the problem is with my environment. Unfortunately, I no longer have time to continue, and I do not want to take the time from you. Thanks for the great plugin.

[2020-05-16 13:28] marlonrichert commented on #26
@Ahira-hub Can you paste me a copy of your `.zshrc` file? Then I can try to reproduce the problem.

[2020-05-16 14:48] PSalant726 opened #27 "Simplify Customization Options"
I'm really enjoying this plugin; thanks for your hard work and continued attention!

As a suggestion, it would be nice to simplify the customization options using `ENV` variables set in a user's `.zshrc` file (likely before sourcing `zsh-autocomplete`). Some recommended variable names:
- Always show group names:
[code]
- Turn off automatic spelling correction:
[code]
- Use tab to cycle matches:
[c

[2020-05-16 16:12] marlonrichert commented on #24
@michaelpolonski I just ran into a similar problem myself, but with `git`. It turned out that, in my case, `oh-my-zsh` and `git` had installed bad completion functions for me, which made completion for `git` commands much slower.

Try the following: In your terminal, do `echo $fpath` and look for any directories that do not belong to your Zsh installation. In those, look for files starting with an

[2020-05-16 17:31] Mallchad commented on #17
I usually have typed out a whole word / command by the time I have a chance to process the fact that I've made a mistake, but current it is made painfully aware to me that I've made the mistake because if I ignore, or don't realize the popup that is telling that I made a mistake.
Even if I put 1 character wrong sometimes it blocks input for a few hundred miliseconds.
This ONLY happens if it can't

[2020-05-16 21:15] Ahira-hub commented on #26
Sure thing. It's pretty simple at this point as I just started

# Load Antigen
source /usr/share/zsh-antigen/antigen.zsh

# Load the oh-my-zsh's library.
antigen use oh-my-zsh

# Path to your oh-my-zsh installation.
export ZSH="/home/ibrahiemk/.oh-my-zsh"

source $ZSH/oh-my-zsh.sh

#Antigen Themes
antigen theme  https://github.com/denysdovhan/spaceship-zsh-theme spaceship

#Antigen Bundles
#antige

[2020-05-16 21:45] marlonrichert commented on #27
Thank you for your kind praise! 🙇🏽‍♂️

About the feature request itself: I will have to think about it. 🙂

[2020-05-16 22:07] marlonrichert commented on #26
Thanks! It looks like this is a bug in Antigen: https://github.com/zsh-users/antigen/issues/703

Please ask them to fix it. 🙂

In the meantime, you can work around it by installing `zsh-autocomplete` manually. See instructions over here: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#manually

[2020-05-16 22:07] #26 closed

[2020-05-16 22:08] marlonrichert commented on #26
Or, if you want a plugin manager that actually works and is also faster than Antigen, try https://github.com/zdharma/zinit

[2020-05-16 22:09] michaelpolonski commented on #24
Here it is! I removed /usr/share/zsh/functions/Completion/Unix/_ping and that fixed the problem.

[2020-05-16 22:59] Ahira-hub commented on #26
See...this is funny. I was literally nuking antigen just before seeing this and installing zinit. I'm still  new-ish to this zsh stuff :). Thanks for the assist and great project!

[2020-05-17 06:55] marlonrichert commented on #26
@Ahira-hub If you want some tips to get started, check out [my `.zshrc` file](https://github.com/marlonrichert/.config/blob/master/zsh/.zshrc).

[2020-05-17 06:56] marlonrichert commented on #26
In particular, I recommend you ditch `ohmyzsh` and just use this instead:
[code]

[2020-05-17 08:52] weilbith commented on #27
I would love to have the tabbing. I must admit that I fail to adjust my keybinds to your widgets to achieve that... 🙈

[2020-05-17 09:38] marlonrichert commented on #17
@Mallchad All right, I pushed in a new fix. You now get error correction on any path you type whenever you type a `/`. Please update and let me know how that's working out for you. 🙂

[2020-05-17 13:15] Mallchad commented on #17
This does seem to improve things quite a lot.
Thanks man.
But, I think this is still a hack to the symptom, rather than tackling the core issue.
I still notice that the error popup occurs, although it's quite a lot less bad when the "magic-slash"
autocorrects because it stops once the candidate has been completed successfully.
![Peek 2020-05-17 14-00](https://user-images.githubusercontent.com/4577

[2020-05-17 14:09] marlonrichert commented on #17
@Mallchad I watched your video several times, but I cannot tell the difference between you stopping with typing or the system lagging. 🙂 Can you please tell at which points exactly you experienced lag? With which inputs did the system get stuck? And what were the completions offered afterwards?

[2020-05-17 14:11] marlonrichert commented on #17
Rather than post a video, I'd prefer if you could just type some test cases for me. 🙂

Like: "Given directory structure A, when I type B, the system hangs. Then, when the system resumes, it outputs C."

[2020-05-17 14:13] marlonrichert commented on #2
Since I haven't heard any complaints anymore, I'm guessing this is fine now. Closing.

[2020-05-17 14:13] #2 closed

[2020-05-17 14:43] Mallchad commented on #17
If am looking for, say a binary in `/home/mallchad/.local`
I might type `/home/nallchad` by mistake.
With the magic slash it will successfully complete (because it's the only completion).
However, after I've hit the `n` key the small delay has kicked in, that can throw me off.
Another example.
If I type `man`
then hit space, it then defiantly hangs (probably because it's 20,828 completion candidat

[2020-05-18 07:11] marlonrichert commented on #17
Thanks for the detailed description! I still cannot reproduce it at all, but now at least I have some idea of how to fix it. 🙂

[2020-05-18 14:22] marlonrichert commented on #24
@michaelpolonski I pushed in a new commit to fix #17, which I think will also improve performance here. Can you update, put your `_ping` completion file back and test whether it works for you?

[2020-05-18 14:23] marlonrichert commented on #17
@Mallchad I pushed in a new fix. Please try it out and let me know if it works. 🙂

[2020-05-18 14:28] Mallchad commented on #17
@marlonrichert this is more than good enough.
I still think that it might be possible to do async, and this would be the best final result.
But this is very good for me now, I won't ask this of you, it would require a lot of rethinking.
Thank you for all your hard work :tada:

[2020-05-18 14:38] marlonrichert commented on #17
You're welcome! 🥳

I actually tried to implement asynchronous completion at some point, but it was very buggy —and not actually any faster. 😂

My current code does the automatic listing in a different way, though, than originally. So, I might give it a try again at some point. 🙂

[2020-05-18 14:38] #17 closed

[2020-05-18 14:38] marlonrichert opened #28 "TODO: Asynchronous `list-choices`"
Not sure if it will actually improve performance, since of all the completion code, it's the calls to `compadd` that cause the most overhead, and those need to happen in the main thread, to update the completion menu. I already tried it once and didn't succeed. However, the automatic `list-choices` code is quite a bit different now than originally. So, I might try to give it another go at some poi

[2020-05-18 14:54] marlonrichert commented on #17
@Mallchad How does this impact the performance of your shell? Is the shell refreshed each time your monitor refreshes?

[2020-05-18 15:03] michaelpolonski commented on #24
Updated and returned _ping. Still stuck.

[2020-05-18 16:29] Mallchad commented on #17
Ok, 1, asynchronous doesn't actually have to be faster to make a difference, it just needs to be non-blocking. ie, usually laggy behavior is because something is hanging up the process you're concentrated on.
-You want typing to update but it's being preventing be completion generation.
2, it's not that my monitor impacts performance, it's that I have more that twice the opportunity to (frames) to

[2020-05-18 20:08] Ahira-hub commented on #26
Thank you for the info and .zshrc file! I'm still trying to extract the SSH functionality from Z4H. I really like that script, but prefer to have more control over the rest. Your plugin doesn't work well with Z4H (same issue as antigen). So I'm trying to piece things together :)

[2020-05-19 11:03] marlonrichert commented on #26
@Ahira-hub Can you please file a bug report with Z4H? I would love to know why this happens. Hopefully, it can be fixed.

[2020-05-19 14:11] weilbith commented on #24
@marlonrichert I observe similar issues for the package managers `pacman` and `trizen` for ArchLinux. :/

[2020-05-20 08:24] marlonrichert commented on #24
@weilbith Please do the following steps:
* Disable `zsh-autocomplete` temporarily.
* Then, for each case:
   * Type the same input up to the point where it would normally slow down.
   * Press ctrl-X and then H.
   * Copy the input and output and paste it here.
* Re-enable `zsh-autocomplete`.

[2020-05-20 08:30] weilbith commented on #24
[code]

[2020-05-20 15:13] weilbith opened #29 "Highlight flickering with zsh-autosuggestions after spaces"
I use this plugin combined with [zsh-autosuggestions](https://github.com/zsh-users/zsh-autosuggestions). I observed that since using this plugin the highlighting for the autosuggestion flickers. So while typing I see as usual the autosuggestion command in the configured color (usually kinda decent colored). But then it starts to flicker. So it looks like a regular command. It becomes hard to tell

[2020-05-20 21:26] marlonrichert commented on #24
Thanks! Can you do the same for `pacman`, please?

[2020-05-20 21:27] marlonrichert commented on #24
Thanks! Can you do the same for `pacman`, please?

[2020-05-21 17:26] marlonrichert commented on #24
@weilbith I don't have ArchLinux, so I cannot test this myself. Can you try the following and see if it helps?
[code]

[2020-05-21 17:41] marlonrichert commented on #29
I see this effect only if I have `zsh-autocomplete`, `zsh-autosuggestions` _and_ `zsh-syntax-highlighting` enabled. I presume you have the latter installed, too?

My guess is that there's just too much going on at the same time. 🙂 But why do you need `zsh-autosuggestions` if you already have `zsh-autocomplete`?

[2020-05-21 18:24] marlonrichert commented on #29
By the way, when I switch out zsh-syntax-highlighting with https://github.com/zdharma/fast-syntax-highlighting/, then I get flickering in the current word being typed only (because it turns the word white whenever completions are being list), but no more flickering in `zsh-autosuggestions`' postdisplay. You should try it. 🙂

[2020-05-21 19:57] weilbith commented on #24
Hmm. Nope unfortunately not. Any chance that I can disable the plugin here?

[2020-05-21 19:59] weilbith commented on #29
Okay, I'll give this plugin suggestion a chance. Thank you.

I don't get the question. It is pretty much different...

[2020-05-21 20:26] marlonrichert commented on #29
@weilbith Let's not close this issue just yet! 🙂 I'll see what I can do from my end to lessen the problem.

What exactly do you use `zsh-autosuggestions` for? I tried it now, but I have to say, I find it rather confusing to have both `zsh-autosuggestions` and `zsh-autocomplete` active at the same time.

[2020-05-21 20:32] marlonrichert commented on #29
And now I noticed that having both `zsh-autosuggestions` and `zsh-autocomplete` installed actually makes menu selection buggy. I wonder if I just have declare these two incompatible? 🤔

[2020-05-22 07:51] marlonrichert commented on #29
@weilbith I just noticed that I I use `fast-syntax-highlighting` with `zsh-autocomplete`, [then the highlighting itself flickers on and off](https://github.com/zdharma/fast-syntax-highlighting/issues/189). So, that doesn't really solve the problem.

However, if I use`zsh-syntax-highlighting` with `zsh-autocomplete` but **without** `zsh-autosuggestions`, [then everything works perfectly](https://gi

[2020-05-22 08:59] weilbith commented on #29
Well I have a few commands that I use frequently or need more often. While the
 time frame could be rather long, but commands that you need then and now.
 Therefore it is pretty nice to get them as suggestions. So I don't have to
 remind myself to somehow get this command by history or so, but it simply gets
 suggested and I can accept it easily. And this also works where no suggestion
 is given.

[2020-05-22 09:01] weilbith commented on #29
installed actually makes menu selection buggy. I wonder if I just have to
declare these two incompatible? thinking

That would be really sad. I had to do a hard decision. And since I did not managed to configure autocompletion properly for me (Still can't tab through suggestions by documentation), I'm not sure what my answer would be.

[2020-05-22 09:02] weilbith commented on #29
well, maybe the wording of "flickering" wasn't the best description. In fact it turns of the autosuggestions special highlight and when I type the next char(s) it enables again. So it is not  continuously changing.

[2020-05-22 12:04] marlonrichert commented on #24
@weilbith Sorry, I just noticed had a typo in there. Please try this instead:
[code]

[2020-05-22 12:29] weilbith commented on #24
Can I simply copy this into a existing shell? Or must it be set before/after sourcing the plugin explicitly?

[2020-05-22 12:40] marlonrichert commented on #24
You should be able to add this at any time.

[2020-05-22 13:07] weilbith commented on #24
So it doesn't help. But I guess you will have a hard time to reproduce that yourself. You could use the [Vagrant box for ArchLinux](https://app.vagrantup.com/archlinux/boxes/archlinux). But that is a lot of effort for you. I must admit that I like the idea of this plugin a lot. Often just to see the available command options automatically is super helpful. But at the moment it produces more issues

[2020-05-22 14:07] marlonrichert commented on #24
You should be able to disable it completely for any command with the following syntax (where `(pacman|trizen)` can be replaced with whatever list of commands you want):
[code]

If even that doesn't work for you, then there is something really wrong with your setup. 🙂

[2020-05-22 14:11] marlonrichert commented on #24
Please make sure to file issues for all them. I would love to know about them. 🙂

If you want to be able to configure something in particular, just open an issue for it. It's usually quite straightforward. Also, I'm almost done with a fix for #27, which should make it easier for you.

I have a fix for #29 coming up soon. 🙂

Don't worry about it! I really don't mind people opening issue. In fact, I

[2020-05-23 12:39] marlonrichert commented on #29
@weilbith Alright, there's the fix! Please try it out. `zsh-autocomplete` should now work flawlessly with `zsh-users/zsh-autosuggestions` plus your choice of `zsh-users/zsh-syntax-highlighting` or `zdharma/fast-syntax-highlighting`. I've tested all the combinations. 🙂

[2020-05-23 13:13] weilbith commented on #24
Apparently it is. Thereby also the tab circling etc does not work. So I should first clean up my configuration and checkout what causes the issues.

Thanks for your nice words. I'm looking forward to the solutions of the linked issues! :rocket:
If I managed to fix my setup, I'll maybe come back and open issues where necessary. :)

[2020-05-23 13:13] #24 closed

[2020-05-23 13:19] weilbith commented on #29
Oh yeah that is awesome. Thank you so much for the quick solution. :tada:
Seem to work perfectly as the first tests show.

One note: while calling my plugin manager to update, it thrown an error due to git, because of a force-pushed history at the origin remote. Could that be? Or messed I something up locally. But actually I can't remember that I ever touched the cached plugin locally. If you did

[2020-05-23 13:19] #29 closed

[2020-05-23 17:33] marlonrichert commented on #29
Yeah, I did do a forced push, because I had accidentally committed some code that I shouldn't have committed yet. 🙂

How much did this impact you? What did you have to do to work around it?

[2020-05-23 21:23] weilbith commented on #29
I changed to the local clone and and did `git reset --hard origin/master`. The remote data was already fetched due to the plugin manager. I guess if you are familiar with git in daily work you can solve/determine such issue easily. Not sure how others get along.
Never mind. Was just a hint. Thanks for your great help. Happy that it works nice again. :blush:

[2020-05-24 09:12] marlonrichert commented on #29
Which plugin manager do you use?

[2020-05-24 09:15] weilbith commented on #29
I use [Antibody](https://getantibody.github.io/).

[2020-05-27 17:55] marlonrichert commented on #2
@nisavid @wookayin @weilbith @Dwight-D @Mallchad
I just wanted to let you know that 7256aebc89d2180be74bb242f80c1bd20e89d63a adds a new way to configure `magic-space`. Please see the Readme.

[2020-05-27 17:56] marlonrichert commented on #10
@TanishBansal @wookayin
I just wanted to let you know that 7256aebc89d2180be74bb242f80c1bd20e89d63a adds a new way to configure tab completion. Please see the Readme.

[2020-05-27 18:04] marlonrichert commented on #25
@CadaverLab
I just wanted to let you know that 7256aeb adds a new way to make `zsh-autocomplete` show groups. Please see the Readme.

[2020-05-27 18:09] marlonrichert commented on #27
@PSalant726 @weilbith @Mallchad @romzie
Starting with 7256aeb, you can configure `zsh-autocomplete` through Zsh's `zstyle` mechanism. Please see the Readme for the details.

[2020-05-27 21:35] romzie commented on #27
Great job!

[2020-05-27 22:11] romzie commented on #27
Does not seem to work for me

[2020-05-27 22:12] NICHOLAS85 commented on #10
hey @marlonrichert, I see you added support for [`zsh-autosuggestions`](https://github.com/zsh-users/zsh-autosuggestions) and it looks like everything is working correctly. However, I can't change the tab behavior as it suggests in the readme. I'd like to cycle through options using tab but it seems it always accepts the autosuggestion. Is there a way to work around this?

[2020-05-27 22:21] romzie opened #30 "No completion in /etc, magic space issue with sudo"
Just doing `cd /etc/` does not prompt me with any suggestions, even when pressing tab.
Works fine when disabling the plugin.

2nd problem (did not want to open another issue for that only):
Just type `cp x y` then use the arrows to go back to the beginning of the line.
Then add `sudo` and press space to add a real space : the `cp` disappears.

Precision: I have `cp` aliased to `cp -i`

[2020-05-28 05:41] marlonrichert commented on #27
Sorry, I somehow managed to commit the new code commented out. 🤦🏽‍♂️

I now pushed it in again, but not commented out this time. Please try again.

[2020-05-28 05:42] marlonrichert commented on #10
Sorry, I somehow managed to commit the new code commented out. 🤦🏽‍♂️

I now pushed it in again, but not commented out this time. Please try again.

[2020-05-28 05:50] marlonrichert commented on #30
Wow, thanks. Those are really surprising issues (in the sense of, how can I not have noticed those myself?), but I can in fact reproduce them. Thanks for reporting them!

[2020-05-28 06:20] marlonrichert commented on #30
@romzie It should be fixed now. Thanks again for reporting!

[2020-05-28 06:20] #30 closed

[2020-05-28 08:12] weilbith commented on #27
Awesome. I love it. Thank you so much. :pray:

[2020-05-28 08:16] romzie commented on #27
Works like a charm now, great job, thank you!

[2020-05-28 08:19] romzie commented on #30
Yep, all fine now ! Thank you for the quick support !

[2020-05-28 08:35] weilbith opened #31 "Path completion includes './', '../' and invalid paths cause red text"
Hey,
thanks for your contentiously great work. Your recent contribution make this plugin a real pleasure for daily work!
This issue here is nothing big and does not hinder the daily work. It includes two parts. But they are both pretty small and somewhat related, so I decided to make both into one.
The first are the path completion candidates `./` and `../`. When the last typed character for a pat

[2020-05-28 08:40] romzie commented on #30
I found another behavior I did not expect

When the window cannot contain all completion suggestions, none of them are displayed. Just tested with `cd /usr/share/` on fullscreen (all appears) and on half-screen (none appears but if I press tab I get a partial list).

I dont know if it is expected behavior

[2020-05-28 08:51] romzie opened #32 "Slow apt completion"
Awesome work you are doing, not a real issue but an improvement suggestion which would benefit the plugin I guess.

I noticed that when I type `sudo apt install`, and then the first 2 to 5 first letters of a package, the completion is really slow (which is normal, lots of packages exists).

The issue is that the input is lagging and therefore I cannot see what I type in real time, I have to wait a

[2020-05-28 09:03] romzie commented on #31
Second issue discussed here (three red lines) also appears when you type `git commit -m "` which is not a problem per se but is not ideal IMO.

[2020-05-28 11:02] cenk1cenk2 commented on #27
Amazing this was also what I was looking for. Thanks for this great piece of work.

[2020-05-28 11:16] marlonrichert commented on #30
Yes, this is expected behavior. Do you think it would make sense to show some kind of message instead?

[2020-05-28 11:40] #27 closed

[2020-05-28 12:05] romzie commented on #30
One could think a directory is empty when it happens so personnally I would suggest having a message like zsh gives when there is too much items to display.
Something non interactive like "Too much (<count>) items to display.".

But what I think would be neat is to have a customizable maximum terminal height to display suggestions, and being able to display a partial list if not enough space, with

[2020-05-28 12:53] marlonrichert commented on #30
Yes, please open another issue for this. This needs more thought. 🙂

[2020-05-28 13:26] romzie opened #33 "Thoughts on suggestions display"
### Thought 1

**Current behavior :**
When too much suggestions, nothing is displayed. Pressing tab enables a partial list of suggestions.

**Proposition :**
Add a message to notify user that there is actually some suggestions but too much to fit in screen.
Something like "Too much (X) items to display."

**My thoughts :**
This plugin always almost displays something so it felt weird having no inf

[2020-05-28 14:47] marlonrichert commented on #32
@romzie When it hangs and you press Ctrl-C, what does it say?

[2020-05-28 14:48] marlonrichert commented on #32
@romzie Also, can you do the following? Type until it hangs, then wait until you can move the cursor again, then press Ctrl-X and then H. What output do you get?

[2020-05-28 15:18] romzie commented on #32
When it hangs and I ctrl-c it says `Killed by signal in _main_complete after ls`.
Ii does not hang for long so I did it another time and got `Killed by signal in _autocomplete.handle_long_list after ls`
Another time I got `Killed by signal in _deb_packages after 2s`

Doing this ctrl-c sometimes makes my zsh crash btw ^^

Well I get no output from doing ctrl-x then h. It justs removes the suggestio

[2020-05-28 15:40] marlonrichert commented on #29
@weilbith Just a random remark: I just noticed that `zsh-autocomplete` is now _faster_ with `zsh-users/zsh-syntax-highlighting` than with `zdharma/fast-syntax-highlighting`. Oh, the irony! 😂

[2020-05-28 15:43] marlonrichert commented on #33
1. I'm already working on this. Stay tuned. 🙂
2. Good idea. I will implement it.
3. Not doable, unfortunately. At least not without a significant performance hit. But I could enable it as an option, for those who don't mind a bit slower completion when this happens. 🤔

[2020-05-28 15:55] romzie commented on #33
1. & 2. Wow nice, thank you !
3. I am curious about this. When pressing tab when the list is too long, zsh provides me with the full list, but a partial view over it (you can go in the list and actually see there is more than the terminal can display). I know nothing about zsh but what are some technical issues to reproduce this ?

[2020-05-28 17:46] marlonrichert commented on #33
I'm not familiar with this behavior. How can I reproduce it? Can you share screenshots of what it looks like?

[2020-05-28 17:48] weilbith commented on #29
Äh... lol? 🤣

[2020-05-28 17:48] marlonrichert commented on #32
Bingo! That's the one we're looking for.

Maybe its different keybindings idk

Try disabling `zsh-autocomplete` first and then, on the spot where it would normally get stuck, press Ctrl-X and then H.

[2020-05-28 17:58] marlonrichert commented on #32
I just checked the source code of `_deb_packages` and it's supposed to do caching. Is it always slow or only at first?

For example, I use [Homebrew](https://brew.sh) as my package manager and it's usually slow at first, too, when I haven't accessed it for a while or try to access a function I haven't used before, but the second time it's faster.

It could be an idea to try to get it to build the

[2020-05-28 18:16] forivall commented on #28
Yeah, i'd need this to start using this plugin, since i encounter a lot of jank just typing `git`, which happens a lot. I do have a rather complex [setup of dotfiles](https://github.com/forivall/dotfiles) that i should clean up, but making the listing async would just solve it without tweaking performance.

I use the [pure prompt](https://github.com/sindresorhus/pure), which uses [zsh-async](https

[2020-05-28 18:41] marlonrichert commented on #28
I've tried using `zsh-async`, but the problem is that completions cannot be shown when the Zsh Line Editor is not active. And when you're not typing, it's not active. So, if the completions finish only when you've already stopped typing, you get to see nothing. Or worse, you get to see old completions.

I would appreciate all help that anyone can offer with this! I could not get it to work reliabl

[2020-05-28 20:25] weilbith commented on #31
I updated just this morning (CET). Where are the completion candidates from? :thinking:

Hmm. Maybe it is more a feature rather than a bug. But paths are the fallback completion right? So for example that's why @romzie gets his issue.

[2020-05-28 21:59] romzie commented on #31
First "issue" : you might reproduce it by typing `cd ~/.config/` and you should see that `./` and `../` are the first two suggestions

Second "issue" : I would have expected to see nothing actually but I can be discussed.

[2020-05-28 22:08] romzie commented on #32
It does not feel like it is cached but it might be another thing causing the slowdown. Even when I delete characters it is slow. When I disable the plugin there is no slowdown.

from ctrl-x then h I get following output:
[code]

[2020-05-28 22:13] romzie commented on #33
Made a little gif [here](https://gfycat.com/whimsicalhatefulamericancurl)
so plugin is enabled (note that i dont use fzf), suggestions are displayed fine until I reach /usr/share/ which contains too much items to display, I then press tab to enable a list that is displayed even though it is longer than the terminal window, which I guess is created by zsh

[2020-05-29 07:47] weilbith commented on #31
Me too. If the plugin works asynchronous then it would be something different. Then I would maybe wait for completion, but nothing happens. But maybe it would a tiny configurable options as @marlonrichert already did for other cool things.

[2020-05-29 08:06] marlonrichert commented on #28
@weilbith @Mallchad @romzie @forivall Damn, I've solved it! 😃 I am now able to get non-blocking asynchronous completion! 🥳 I am still testing it and cleaning up the code, but expect an update coming soon. 🙂

[2020-05-29 08:07] marlonrichert commented on #32
Thanks. I'm first going to finish implementing #28, though. It might be that after that, this one becomes a non-issue. 🙂

[2020-05-29 08:14] marlonrichert commented on #33
Ah, you mean menu selection. I've tried that, but it doesn't work in this case, because it automatically inserts the first item from the menu, this disrupting what you've typed so far. 🙂

[2020-05-29 08:18] weilbith commented on #28
Wow that sounds amazing! :scream:
But if I understood it correctly I would need `zsh-async` for that. And this was
a fork of `zsh`? :thinking:

[2020-05-29 09:28] romzie commented on #28
No, from reading the description and looking at the code, it is a plugin,

Fantastic job though !

[2020-05-29 10:31] Mallchad commented on #28
Ahhhh that sounds amazing : D.
I actually can't wait for this!
It's the one thing missing from modern CLI's that prevents me from enjoying it fully.

[2020-05-29 10:38] weilbith commented on #28
This will also solve the issues of all slow completions like for package managers, correct?

[2020-05-29 10:59] romzie commented on #28
@weilbith I suppose completion will still be slow but it should remove input lag and prevent keystrokes from hanging.

[2020-05-29 11:10] Mallchad commented on #28
@romzie @weilbith I think this could be improved with better caching of results.
But this is for another discussion :)

[2020-05-29 14:03] TanishBansal commented on #10
Thanks @marlonrichert, I have made quite a lot of changes from[19bc2c ](https://github.com/marlonrichert/zsh-autocomplete/commit/19bc2cd937312d3b18d2213b3de55d737d8d4ae0)which fulfills my current need plenty.

Thanks for your awesome work.!

[2020-05-29 22:11] marlonrichert commented on #28
This fairly common practice on GitHub these days and protects your work in the event of data loss.
It would also be good for you to get feedback before pushing to master.

Sounds like a good idea. Here you go: https://github.com/marlonrichert/zsh-autocomplete/pull/34

[2020-05-30 21:17] marlonrichert commented on #31
Ah, it turns out I had already fixed this before you reported it, but I hadn't pushed out the relevant commit yet. Here you go. 🙂

[2020-05-30 21:17] #31 closed

[2020-05-30 22:16] marlonrichert commented on #33
I pushed in an setting to set the completion list on the [`dev` branch](https://github.com/marlonrichert/zsh-autocomplete/tree/dev) (which also includes asynchronous completion). Please checkout that branch to test the feature and let me know what you think. 🙂

[2020-05-30 22:30] marlonrichert commented on #28
@forivall @Mallchad @romzie @michaelpolonski @weilbith @wookayin @Dwight-D @nisavid @andreypopp @CallumHoward @joeatodd @z0rc @TanishBansal @NICHOLAS85 @sejgit @DanDobrick @Mellbourn @hliu202 @TheMasterOfE @CadaverLab @Ahira-hub @PSalant726

Hi all!

Asynchronous, non-blocking completion is now available on the [`dev` branch](https://github.com/marlonrichert/zsh-autocomplete/tree/dev). I would app

[2020-05-31 13:37] romzie commented on #33
Really really great what youy did with the possibility to enter the menu selection, love it !
Also tested the max height setting which works fine too. Very good job !

[2020-05-31 13:40] romzie commented on #28
From what I tested so far, it is a game changer how smooth it is !

[2020-06-01 06:34] Dwight-D commented on #28
I only tried it really quickly but it works great so far, none of the old issues seem to be present. I got a little slowdown once while using Git but I haven't been able to replicate it, might have been a one-off.

I also really like the new configuration options. I removed the plugin for a while because I found it a little too opinionated but now I like it a lot.

Nice work!

[2020-06-01 06:44] Dwight-D commented on #28
Actually I did notice one thing, it throws out the old suggestions when you type a new character, even if matches the previous results. So you won't see any suggestions as you're typing if the suggestions take over N ms.

Probably getting the results multiple times is redundant, any extra characters you type just make your search more specific and make the new valid results a subset of the first r

[2020-06-01 10:54] Mallchad commented on #28
I thought this was happening as well but I couldn't be sure because I don't understand how zsh refreshes the display.
I think a lot of the performance could be saved by improving caching, mainly by having multiple cache sources and filtering as needed,
1: You can keep a list of candidates for the current command from the first typed character
2: Cache results in memory and make sure the cache list

[2020-06-01 11:16] marlonrichert commented on #28
As the famous quote says:

I'm pretty good at naming things, but I'm really not going to try my hand at caching. 😁

Only some Zsh completers, such as those for package managers, implement some kind of cache. Most do not. `zsh-autocomplete` cannot force completers to use a cache if they don't have any implementation for it. 🤷🏽‍♂️

If you want to see completions, can't you just stop typing for a mom

[2020-06-01 11:24] Mallchad commented on #28
When you have a large amount of candidates to sort through it can get very slow very quickly unfortunatly.
While I understand the caching problem, it is a hard one, at the very least you could insert candidates that have been fetched from the current command.
So if I haved typed `git checkout ` by the time I've typed `checkout ` it's already gotten a list of stuff to complete with and I may have a

[2020-06-01 16:22] Dwight-D commented on #28
Many of these assume you type anywhere except the end of the current input. In most cases you are just typing more characters at the prompt, i.e. the end of the search string. This is just a more specific search, it cannot possibly result in any new matches that the latest string did not also match. Moving the cursor or deleting characters could invalidate the cache, to avoid complicated edge case

[2020-06-01 20:18] forivall commented on #28
It breaks [my `bindkey '^[[A' up-line-or-beginning-search` config](https://github.com/forivall/dotfiles/blob/osx/plugins/simple-history-search/simple-history-search.plugin.zsh#L9) 😢

[2020-06-01 21:22] marlonrichert commented on #28
@forivall That has nothing to do with this issue (asynchronous completion). Can you please open a new issue for that? Then I will see what I can do to fix it for you. 🙂

[2020-06-01 21:37] marlonrichert commented on #28
Even with asynchronous completion? Can you give me a test case for that, so I can reproduce it.

Easier said than done. Zsh does not provide any kind of API for accessing inserted completions. 🙁 I have been successful extracting them with the same method that `fzf-tab` uses ([see here](https://github.com/Aloxaf/fzf-tab/blob/master/fzf-tab.zsh#L18)), but reinserting them is extremely error-prone (l

[2020-06-01 21:45] marlonrichert commented on #28
But the problem is that Zsh does not give direct access to the generated completions in any way. There's no way for me to tell it, "Hey, use the old set of matches, but filter them by this." It does not matter whether the set of matches would theoretically grow or shrink from new input. Short of writing my own completion system from scratch, I have no way to manipulate this.

If you've made a mist

[2020-06-02 05:28] Dwight-D commented on #28
Ah, I suspected it might be something like this. In that case I'd say you've done about a good as job as is possible under the circumstances!

[2020-06-02 10:16] weilbith commented on #31
Finally updated it today and it works. Thanks for the fix!

I still think the red text stuff could need discussion and should be maybe configurable. Do you think it is worth a new issue? Kinda depends on the async stuff.

[2020-06-02 17:19] marlonrichert commented on #31
Yes, please file a new issue for that. It's easier for me when each issue discusses only one topic.

[2020-06-02 21:31] marlonrichert commented on #32
@romzie Is this an issue anymore, now that we have asynchronous completion?

[2020-06-02 21:36] marlonrichert commented on #28
@weilbith @romzie @Mallchad @Dwight-D Alright, it took me some time and effort to figure out how, but there you have it: Asynchronous completion no longer makes any existing completion lists disappear. Completions now stay on screen for as long as until the next list of completions arrives. 🥳

[2020-06-02 21:38] marlonrichert commented on #28
Please test and if there's no more concerns, then I think this is ready to be merged to the master branch. 🙂

[2020-06-02 23:32] romzie commented on #32
Completion results are still slow to arrive but I doubt you can do anything so I am closing this.

[2020-06-02 23:32] #32 closed

[2020-06-03 01:16] nhooyr commented on #28
Congrats!!!

[2020-06-03 07:23] Dwight-D commented on #28
Works pretty good, well done!

It does hang the prompt sometimes, I think it's when the new suggestions have been fetched and are being loaded into the suggestions field. As long as I continue typing there is no slowdown, but when I stop typing I sometimes get a slight freeze right before the new suggestions appear.

I'm not sure if this is a new issue or if it's unrelated to the asynchronous sugg

[2020-06-03 07:47] marlonrichert commented on #28
Yeah, I've experienced the same. That is something I could improve in future, but it's rather a lot of work, so I'm not going to include it in this issue here. Also, I'm not sure I can even avoid for all cases, just for some.

Oh, why not? 🙂

[2020-06-03 07:49] Dwight-D opened #35 "Insert longest common prefix"
Matches are presented in lexicographical order with no regard to the accuracy of the matches.

I would expect suggestions starting with my input to be prioritized over a match in a substring.

This interferes with the behavior of the tab key, as compared to in the normal shell experience. I would expect tab to first insert perfect matches starting with what I've typed, and not the first match in l

[2020-06-03 07:51] Dwight-D commented on #28
Makes sense, then I agree it's ready for a merge!

I got a little fed up with the magic space thing and the difficulty of overriding configuration. This has since been fixed so I've recently started using it again, but I'm not really up to speed on how it behaves yet. I still like it! :)

[2020-06-03 07:52] marlonrichert commented on #28
Alright, it's pushed to master, so I'm going to close this now. 🥳

If you notice any bugs, please open separate issues for them.

[2020-06-03 07:52] #28 closed

[2020-06-03 07:54] marlonrichert commented on #35
This is something I've tried to solve before, but did not commit, because it impacted performance significantly. However, now that we asynchronous completion, I could give it another try and at least provide it as an option, with a note about the performance hit. 🙂

[2020-06-03 12:31] weilbith commented on #28
Wow, thank you so much for investing that mass of time to make it possible. Respect. :pray:

Only one single thing: I think you must add zsh-async as dependency somewhere in the docs. I did just a simple update of this plugin and each new shell was spawning just a mass of errors while typing of missing `zpty`. Since I added the async plugin it works. Luckily I had an old shell still open. Else I w

[2020-06-03 13:14] Mallchad opened #36 "Async update causes flood of errors."
As mentioned in #28 by @weilbith,
In the latest update has problem where
`_autocomplete.async-list-choices:30: command not found: zpty                                         ─╯
_autocomplete.async-list-choices:31: command not found: zpty`
floods the console
I, also I should note that it doesn't actually prevent you from typing commands so you can just enter another shell and resolve the issue tem

[2020-06-03 18:32] Dwight-D commented on #35
Yeah I understand that it might be tricky but it's a fairly big annoyance since it deviates so much from normal shell behavior when hitting tab. You really expect it to complete with the right thing, so it throws me off a lot when I quickly tab and enter and it ends up inserting something completely different.

[2020-06-03 19:58] marlonrichert commented on #36
Whoops! 😅  This commit should fix it. Please update. @Mallchad @weilbith

[2020-06-03 19:58] #36 closed

[2020-06-03 20:00] marlonrichert commented on #28
@weilbith It's not about `zsh-async`. I had not added a statement to load the `zsh/zpty`. It seems that in my config, something else loaded it already, or perhaps it's preloaded in my version of Zsh. It's fixed now in 31530ea4eea03f8b40d70bd2ec9ff5179727a3af. Please update.

[2020-06-03 20:07] #33 closed

[2020-06-03 22:01] forivall commented on #28
The issue I'm having with bindkey only happens on the async branch. Probably some event ordering thing, but i'm not an expert in zsh at all. https://github.com/marlonrichert/zsh-autocomplete/issues/28#issuecomment-637080075

[2020-06-04 09:50] weilbith commented on #28
I did so and removed the `zsh-async`.

For some reason I now get no auto suggestions anymore, but just when I hit `tab`. Pretty sure it worked yesterday...

[2020-06-04 11:53] marlonrichert commented on #28
@weilbith Can you open a new issue for this, please? And are you on the `dev` or `master` branch? I pushed the fix to `master`.

[2020-06-04 19:25] marlonrichert commented on #35
@Dwight-D Alright, here it is on the `dev` branch. Please try it out. 🙂

[2020-06-04 20:11] marlonrichert commented on #28
Hey, I made a reddit post about this: https://www.reddit.com/r/zsh/comments/gwp58m/zshautocomplete_goes_asynchronous_nonblocking/

Go forth and upvote! 😉

[2020-06-04 23:53] gregf opened #37 "can't clobber paremeter"
I am seeing this error when almost every command I run right now. Mostly seems to be shell built ins though actually.

[code]

zsh 5.8 (amd64-portbld-freebsd12.1
FreeBSD fluffy.lan 12.1-STABLE FreeBSD 12.1-STABLE r361783 GENERIC  amd64

Using [zimfw](https://github.com/zimfw/zimfw) for my zshrc setup

[2020-06-05 05:56] Dwight-D commented on #35
Nice! It seems to be fixed for a few issues, but the example I posted here still fails. I'll keep using it throughout the day and see if I can figure out any pattern to it.

[2020-06-05 06:32] marlonrichert commented on #37
Thanks for letting me know! I’ll look into it.

[2020-06-05 06:34] marlonrichert commented on #37
@gregf How are you sourcing `zsh-autocomplete`? Did you do the manual installation or are you using a plugin manager? Does Zimfw manage in your plugins in some way?

[2020-06-05 06:58] marlonrichert commented on #37
@gregf I just tried `zsh-autocomplete` with a clean install of `zimfw` on zsh 5.8 and it works fine for me.

Can you please send me a copy of `.zshrc` and `.zimrc` files?

[2020-06-05 08:31] weilbith opened #38 "Asynchronous feature stopped plugin from working"
Hey :wave:

Thanks again for your continuous work. Especially the asynchronous feature makes this plugin a must-have! Unfortunately it does not work anymore for me. Which means it does not appear automatically anymore, but I must trigger the suggestions manually with `tab` again. Note that I configured the plugin to use `tab` and also do the suggestions appear grouped, as I also configured for thi

[2020-06-05 08:57] thaihugo opened #39 "Expansion from CTRL+SPACE error with fuzzy file search"
Hi,

Thanks for your work on this plugin. I cannot get the expansion to work using ctrl space as I get this error message:
[code]

For example, ctrl-space alone works (directory selection) but vim (space) ctrl-space shows the error.
Vim ** then ctrl-T works as ctrl-space should.

Here are the FZF options:
[code]

Is there something I'm missing?

[2020-06-05 09:28] marlonrichert commented on #38
Hm, I can reproduce that, but I have no idea why it's not working. I'll have to investigate.

[2020-06-05 09:51] marlonrichert commented on #38
@weilbith Alright, this should fix it. Please update.

[2020-06-05 09:58] weilbith commented on #38
Cool. Thanks for the fix. Now I get the completion for the minimal zsh. Let's see why this is not working for my custom setup. :+1:

[2020-06-05 10:16] weilbith opened #40 "Order and jump completion groups"
Just some new ideas to make this plugin even better as it is already.

I like to use the group option for the suggestion menu (disabled by default, `zstyle ':autocomplete:*' groups 'always'`). It looks more nice (personal opinion) and makes it more structured, understanding the suggestions even faster. The point is: sometimes I like to redorder the groups or jump between them. I must admit that I'

[2020-06-05 10:18] marlonrichert commented on #39
@thaihugo This should be fixed now. Please update. 🙂

[2020-06-05 10:18] #39 closed

[2020-06-05 10:19] marlonrichert commented on #40
That's definitely possible. Thanks for the suggestion. I will make it. 🙂

[2020-06-05 10:25] marlonrichert commented on #35
@Dwight-D If the example you posted here fails, then you have not enabled the feature. You should have the following in your `.zshrc` file, _before_ sourcing `zsh-autocomplete`:
[code]

[2020-06-05 11:34] thaihugo commented on #39
Corrected. thanks for the fix.

[2020-06-05 11:37] gregf commented on #37
It was my fault. I had another zsh-autocomplete repo listed, so they were conflicting. Sorry to waste your time!

[2020-06-05 11:48] adam-beck commented on #37
@gregf I'm running into this same issue. What do you mean exactly by "I had another zsh-autocomplete" repo listed?

[2020-06-05 11:56] marlonrichert commented on #37
@adam-beck He means he was sourcing `zsh-autocomplete` twice. That doesn't work. 🙂

[2020-06-05 12:03] srappan opened #41 "Don't break when sourced more than once"
This occurs whenever I source my ~/.zshrc with this plugin
[code]

My .zshrc

[code]

[2020-06-05 12:17] gregf commented on #37
I shouldn't have closed this, it appears to be happening agin this morning with out sourcing the repo twice. This is my configs.

[code]

[code]

[2020-06-05 12:18] marlonrichert commented on #41
You have a lot plugins installed. Can you please disable them one by one to see which one it is that conflicts with `zsh-autocomplete`? Then I can investigate the conflict and fix it.

[2020-06-05 12:27] srappan commented on #41
Disabled everything except `fzf`, `zsh-syntax-highlighting`, `zsh-autosuggestions`, `zsh-autocomplete`. Still the same error.
[code]

[2020-06-05 12:29] marlonrichert commented on #37
@gregf Sorry, that's too much customization for me to test with. You are sourcing and loading a bunch of things that I don't have access to.

Can you please disable your plugins and other sourced files one by one to see what it is that conflicts with `zsh-autocomplete`? Once we know the source of the conflict, then I can fix it.

[2020-06-05 12:37] gregf commented on #37
@marlonrichert removing this might have fixed it. zsh-users/zsh-autosuggestions

[2020-06-05 12:41] ddddavidee opened #42 "zsh-autocomplete blocks after one character"
I've probably some misconfiguration because I get some really annoying result when typing `ls` or `cd`: it stops after the first char asking if I want to see all the gazillions of possible completions. And of course it blocks.
[_zshrc.txt](https://github.com/marlonrichert/zsh-autocomplete/files/4736142/_zshrc.txt)
[_zsh_aliases.txt](https://github.com/marlonrichert/zsh-autocomplete/files/4736151/_

[2020-06-05 12:57] marlonrichert commented on #37
@gregf That cannot be it, because if I run just a standard install of `zimfw` (which includes `zsh-users/zsh-autosuggestions`) plus `zsh-autocomplete`, then it works just fine.

[2020-06-05 13:00] gregf commented on #37
*shrugs* it's been fine since I removed it. Does the order matter?

[2020-06-05 13:06] marlonrichert commented on #41
@srappan You must still have some other customization enabled, because I just did a clean install of OMZ + `fzf`, `zsh-syntax-highlighting`, `zsh-autosuggestions` and `zsh-autocomplete`, and it worked fine.

[2020-06-05 13:08] srappan commented on #41
I have powerlevel10k installed too

[2020-06-05 13:09] marlonrichert commented on #37
If you want to use both, then `zsh-autocomplete` should preferably come before `zsh-autosuggestions`, but it should not really matter that much.

You must still have some other customization getting in the way, because I'm unable to reproduce it with just `zimfw`, `zsh-users/zsh-autosuggestions` and `zsh-autocomplete`.

[2020-06-05 13:10] marlonrichert commented on #37
@adam-beck Would you happen to have a minimal test case with which I can reproduce the problem?

[2020-06-05 13:12] marlonrichert commented on #42
You have too many plugins and other customizations for me to be able to say what's the problem or to be able to test with. Can you please disable one by one to try to figure out where the problem lies? Then I can try to fix it.

[2020-06-05 13:14] marlonrichert commented on #41
Wait, why are you sourcing `.zshrc`? That file already gets sourced automatically when your shell starts up.

[2020-06-05 13:14] srappan commented on #41
To reload .zshrc when I make a change to the file

[2020-06-05 13:19] marlonrichert commented on #41
OK, thanks. I'll see if I can somehow make sure that `zsh-autosuggest` doesn't run again when you re-source your `.zshrc` file, because that's what's happening now.

[2020-06-05 13:39] NICHOLAS85 commented on #41
It is generally not a good idea to source your .zshrc during your session to reload your config as errors such as the one you’re running into tend to occur. Many plugins do not account for loading twice in the same session which is why you may see issues after sourcing. It is normally recommended to restart you session to apply changes such as running `exec zsh`

[2020-06-05 13:54] ddddavidee commented on #42
I'll try. But cannot tell when, sorry. We can close it for now.

[2020-06-05 13:54] #42 closed

[2020-06-05 20:04] marlonrichert commented on #37
@gregf @adam-beck I just now randomly managed to reproduce this by creating an empty variable on the command line, like `a=` or `1=`.

I pushed in a fix on the [`dev` branch](https://github.com/marlonrichert/zsh-autocomplete/tree/dev). Can you please check out the `dev` branch and see if this fixes it for you?

Do this by going to the dir where you cloned `zsh-autocomplete` and do
[code]
then rest

[2020-06-05 20:16] gregf commented on #37
@marlonrichert looks fixed to me. Ty!

[2020-06-05 21:24] marlonrichert commented on #37
Great! I've now merged it into `master`, so you can go back to using that branch.

[2020-06-05 21:24] #37 closed

[2020-06-05 22:13] marlonrichert commented on #40
@weilbith If you check out the `dev` branch, you will be able to jump between completion groups with alt-up/down. Please try it out. 🙂

Currently, group order is chosen as follows:
1. If we are in the command position, then executable files and glob expansions are shown first (they go in the same group), then directories, then all other files, and then all other things.
1. If we are changing our p

[2020-06-06 09:19] rjcoelho opened #43 "_zsh_autosuggest_highlight_reset:3: maximum nested function level reached"
On every prompt I get
[code]

Here is my zshrc
[code]

If I set prompt after sourcing autocomplete all is ok

[2020-06-06 14:15] marlonrichert commented on #43
I don't know exactly what `promptinit` does, but it by itself seems to break half of my keybindings. 🙁

I'll have to investigate further how to work around this.

[2020-06-06 15:17] ztNFny opened #45 "Ctr+Space _autocomplete.async_callback:11: bad math expression: illegal character: '"
To repoduce:
"ls [Ctrl+Space]"
-> _autocomplete.async_callback:11: bad math expression: illegal character: '

Minimal .zshrc to repoduce:
### Added by Zinit's installer
if [[ ! -f $HOME/.zinit/bin/zinit.zsh ]]; then
    print -P "%F{33}▓▒░ %F{220}Installing %F{33}DHARMA%F{220} Initiative Plugin Manager (%F{33}zdharma/zinit%F{220})…%f"
    command mkdir -p "$HOME/.zinit" && command chmod g-rwX "$HO

[2020-06-06 16:15] ztNFny commented on #45
nvm, my completions.zsh got borked, seems the latest fedora distrib is broken

[2020-06-06 16:15] #45 closed

[2020-06-06 19:18] ztNFny opened #46 "breaks fzf kill/ssh/.. completion"
fzf has some special completions defined (see completion.zsh), e.g. for "kill -9 [TAB]" it uses ps to list the processes. With zsh-autocomplete that list is broken.

[2020-06-07 18:06] marlonrichert commented on #43
Wow, it took quite some time and effort to figure out what went wrong with this one! 😰

It turns out the real minimal test case is this:
[code]

[2020-06-07 19:00] marlonrichert commented on #43
@rjcoelho I pushed in a fix on the `dev` branch. Can you please checkout that branch and tell if it works for you?

[2020-06-07 19:04] marlonrichert commented on #46
@ztNFny I cannot reproduce this. `kill -9` followed by fzf-completion looks identical to me with and without `zsh-autocomplete`. Can you please update and try again? This might have been fixed already in 3980bb725a6c5ff17c14af20cf8105bc088d49a4.

[2020-06-07 19:13] ztNFny commented on #46
@marlonrichert I'm on the latest version already.
With zsh-autocomplete:
![image](https://user-images.githubusercontent.com/1258173/83977770-5ee0ac80-a903-11ea-9ea4-8d58774aa118.png)
Without:
![image](https://user-images.githubusercontent.com/1258173/83977785-6e5ff580-a903-11ea-9d40-e437376211d6.png)

I can repoduce that with a minimal .zshrc:

source "$HOME/.zinit/bin/zinit.zsh"
autoload -Uz _zin

[2020-06-07 19:34] marlonrichert commented on #46
Ah, now I see. It's not broken. It's working as intended. When you press Tab with `zsh-autocomplete`, it never uses `fzf`. 🙂  If you want to use `fzf`'s completion with `zsh-autocomplete`, you need to press <kbd>Ctrl</kbd><kbd>Space</kbd>. Please see the Readme: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#with-fzf

[2020-06-07 21:29] weilbith commented on #40
Cool. I'll give the jumping a test soon. (How)Can I configure the key-combo for the this command?

Hmm. Is there a fixed list of all possible group names (despite not all of them always apply)? Or is this out of your hands/depend on all the other completion sources?

[2020-06-07 21:29] weilbith commented on #40
Cool. I'll give the jumping a test soon. (How)Can I configure the key-combo for the this command?

Hmm. Is there a fixed list of all possible group names (despite not all of them always apply)? Or is this out of your hands/depend on all the other completion sources?

[2020-06-08 04:04] Dwight-D commented on #35
Okay, my bad. This is great, I love it!

[2020-06-08 04:11] Dwight-D opened #47 "Option to not show results until N characters or Space input"
Typing one character results in a horrible list of suggestions that flashes briefly at the start of every command

![image](https://user-images.githubusercontent.com/25592807/83991764-22866e00-a94e-11ea-97fa-445e465374c2.png)

It's a minor grievance, but this flash looks pretty ugly and is a little annoying. I strongly suspect no one types one character and then auto-completes anyway, unless they

[2020-06-08 05:42] Dwight-D commented on #35
No, wait, there is this one weird quirk

[code]

Expected behavior: cycle through `bar/` and `bartest`, or possibly insert `bartest` instead of autocompleting to `bar/`.

I also noticed that some autocompletions are now inserting space when I tab partway through a path.

[code]

Expected behavior: no space at the end of completion `deployments`, allow me to keep completing/cycling through file pat

[2020-06-08 06:45] rjcoelho commented on #43
That was quick .. I don't have installed now. Maybe add some sort of test cases you this lib?

[2020-06-08 07:38] marlonrichert commented on #40
Currently, you can’t. It’s just `^[` (which is Alt, Escape or Meta, depending on your terminal) plus whatever you have for up or down. Why would this need to be configurable?

No, there is no fixed list. Completion code can add whatever tags it likes and each tag can have an arbitrary group name assigned to it through the `zstyle` mechanism.

Can you give some examples of what you’re after?

[2020-06-08 07:42] marlonrichert commented on #43
Of course I tested it. But I want confirmation that it works for you, too. 🙂

[2020-06-08 07:44] marlonrichert commented on #47
How about using the new [“shorten the automatic completions list“](https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#shorten-the-automatic-completions-list) feature? Would that solve your problem?

[2020-06-08 07:50] weilbith commented on #40
I think plugins should be as less opinionated as possible when it comes to
key-bindings. I understand that they define default to make the plugin working
out of the box. But it should always allow to disable the defaults and expose
options to set them manually, if the system (zsh here) does not allow so by
itself.
I'm pretty picky about my key bindings. So do I just a custom mech keyboard and have

[2020-06-08 08:51] marlonrichert commented on #40
key-bindings. I understand that they define default to make the plugin working
out of the box. But it should always allow to disable the defaults and expose
options to set them manually, if the system (zsh here) does not allow so by
itself.

There's a couple of reasons why I don't introduce customization settings lightly:
* Configurations add complexity. The more different configurations are possi

[2020-06-08 08:59] marlonrichert commented on #40
Also, you can use `bindkey -s` to map one key to another key or even a whole series of keys. So, if you just map your chosen key combination this way once to an arrow key, then it should work anywhere as an arrow key within Zsh.

[2020-06-08 09:17] Dwight-D commented on #47
I guess almost but not quite. The thing is that I can't think of any situation where suggestions would be desirable after only typing one character, so you're always gonna have a huge list that pops up for a second and then disappears, since I'm always gonna keep typing after that.

There's no point to it being there at all, no matter the size of the list. I guess I can make it smaller but it's st

[2020-06-08 09:28] weilbith commented on #40
Hmm. I get you arguments. But I still think we have different opinions on that. I mean isn't it in fact just a widget that must become exposed? So you internally bound these keys already to something. That is named already. Once you reviewed that and merged to `master` I would assume you did your best to name it and there won't be spontaneously a better name in future.

The chain binding sounds li

[2020-06-08 10:00] marlonrichert commented on #47
OK, thanks for the explanation. I can add that.

[2020-06-08 10:02] marlonrichert commented on #40
@weilbith Don't close this just yet! I'm working on providing a way to customize this. I didn't mean to say "no". I just meant that I'm always very careful with implementing these kind of things. 🙂

[2020-06-08 10:07] marlonrichert commented on #35
Thanks, that's easy to change.

Why? What's the logic behind that? I would expect it to complete `bar/` since it's the first in the list.

I cannot reproduce that, because I don't have access to `kubectl`. It works for me fine with normal paths. Do you have some other way I could reproduce this?

[2020-06-08 10:13] weilbith commented on #40
That is a good attitude. :+1:
I'm sorry for closing it so fast. I thought that's it. I don't want to annoy you with my opinion. The arguments where already raised. ^^

[2020-06-08 10:48] Dwight-D commented on #35
Completing to `bar/` doesn't make sense because it's not an unambiguous match, it's not a substring of `bartest`. However cycling through them works fine.

Honestly I couldn't remember the default shell behavior here which is why I threw in the `bartest`, I was thinking that maybe it kept on completing longer directory names instead of inserting the slash. But I tested it out in bash and it will a

[2020-06-08 11:11] marlonrichert commented on #46
You can disable this behavior and keep the default `fzf` tab behavior by putting the following into your `.zshrc` file:
[code]

[2020-06-08 11:11] #46 closed

[2020-06-08 19:55] marlonrichert commented on #40
@weilbith Can I ask, which key bindings would you use for this feature? And do you use the Arrow Up and Arrow Down bindings that `zsh-autocomplete` provides? If not, what key binding do you use to go back in/search? What key binding do you use to start completion menu selection?

[2020-06-08 20:35] weilbith commented on #40
Answers not in the correct order: I decided to use `tab` and `shift-tab` for the menu selection stuff. I'm used to it by code completion and other stuff. I have a dedicated thumb key for `tab`, so I'm pretty happy with it.

Good question. Usually I start with something where I think that it may be comfortable/memorical and then adapt over time if it does not. The interesting question: Can I reuse

[2020-06-08 22:21] marlonrichert commented on #40
Thanks for your explanation. I still have to think about what would be the best way to present this customization setting to the other. If you have any suggestions, I'd love to hear about them. 🙂

Yes, that's entirely possible.

[2020-06-08 22:39] marlonrichert opened #48 "Update the Asciinema video"
The video that's currently in the Readme doesn't accurately reflect the latest behavior. I will create a new one when I have time.

[2020-06-08 22:40] marlonrichert opened #49 "Provide a setting to let Shift-Tab always do menu selection"
I don't like that behavior myself, but it seems to confuse some novice Zsh users that menu selection is started only when the content does not fit on screen.

[2020-06-09 06:12] PythonNut commented on #29
Hmm I can't seem to get this to work. Does anyone have a config that uses all three plugins with no syntax flickering? I'm using `zinit` if that helps.

[2020-06-09 06:45] weilbith commented on #40
I think should finally have look to the code and research everything I don't understand. Or maybe watchout for a introduction to zsh its completion functionality.
I was assuming that this is just a widget you have written. And that I could now just bind it to the key-combo I like.

[2020-06-09 08:18] marlonrichert commented on #29
@PythonNut When you say "all three plugins", do you use `zdharma/fast-syntax-highlighting` or `zsh-users/zsh-syntax-highlighting`?

I have tested `zsh-autocomplete` with `zinit` plus `zsh-autosuggestions` and `zsh-syntax-highlighting`, and it works fine, without flickering. It does not work well with `zdharma/fast-syntax-highlighting` at the moment, though. If you need support for that, please ope

[2020-06-09 08:21] marlonrichert commented on #40
I didn't even have to write a widget. It's just two lines of `bindkey` statements. 🙂

Regarding menu selection, this is the documentation you should be looking at: http://zsh.sourceforge.net/Doc/Release/Zsh-Modules.html#Menu-selection

I'm still interested in making this work well out of the box, though.

[2020-06-09 12:53] weilbith commented on #40
Okay, so in fact this is a native feature of zsh within menus. So I could just add my own key-binding independently of this plugin. Correct?

So after all the remaining point is that you like the idea and provide your users with a default mapping for that. The issues is now to keep it configurable as I asked for. Right? So as it stands out to me, it could be pretty simple. The only case where your

[2020-06-09 13:31] marlonrichert commented on #40
Yeah, that makes sense and that's what I already had in mind, in fact. 🙂 Thanks! I'll implement it that way, then.

[2020-06-09 19:26] ztNFny commented on #46
is "zstyle ':autocomplete:" something that's defined by this plugin? I can only find information on "zstyle ':completion:" but not autocomplete

[2020-06-09 19:40] marlonrichert commented on #46
`zstyle` is Zsh's mechanism for storing preferences. You can read more about it here: http://zsh.sourceforge.net/Doc/Release/Zsh-Modules.html#The-zsh_002fzutil-Module

[2020-06-09 19:41] ztNFny commented on #46
that one i found, i was wondering about :autocomplete: specifically

[2020-06-09 19:49] ztNFny commented on #46
what I'm trying to achieve is when I'm in the middle of a word to use zsh-autocomplete (e.g. "ls tes<TAB>") but with a space prefix to use fzf (e.g. "ls <TAB>") but I fail to see where in zsh-autocomplete.zsh that zstyle ':autocomplete:tab:*' completion fzf is handled to derive from it

[2020-06-09 20:00] marlonrichert commented on #46
That's the prefix/namespace I use for `zsh-autocomplete`.

[2020-06-09 20:18] marlonrichert commented on #46
That sounds like a feature request to me. Please open a new issue for it. 🙂

[2020-06-09 21:09] marlonrichert commented on #40
@weilbith It's now available in the `master` branch.

[2020-06-09 21:09] #40 closed

[2020-06-09 21:10] marlonrichert commented on #29
@PythonNut I fixed `zdharma/fast-syntax-highlighting` integration and syntax highlighting integration overall in 9899663b438dcb3e39cc8f62aa26ca3f67df9ba0. Please update and try it out.

[2020-06-09 21:11] marlonrichert commented on #35
@Dwight-D It's now available on the `master` branch.

[2020-06-09 21:13] marlonrichert commented on #47
@Dwight-D @jcassee @PythonNut It's now available on the `master` branch. See the Readme for the syntax: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#wait-for-minimum-amount-of-input

[2020-06-09 21:13] #47 closed

[2020-06-09 21:13] marlonrichert commented on #43
The fix is now available on the `master` branch.

[2020-06-09 21:13] #43 closed

[2020-06-10 00:08] PythonNut commented on #29
It works perfectly with both syntax highlighting packages now. Thank you!

[2020-06-10 00:11] PythonNut opened #50 "Allow customizing warning messages"
### Is your feature request related to a problem? Please describe.
I would like to be able to customize the messages that `zsh-autocomplete` outputs. In particular, I would like to make the outputs extremely terse so they produce minimal visual distraction, although this would obviously be bad UX for new users.

### Describe the solution you'd like
I think it would be nice if the messages were cus

[2020-06-10 03:21] paw-lu opened #51 "fzf trigger sequence (**) does not work as expected (even using control + space)"
This is some really cool work. Thanks for sharing it!

### Describe the bug

The fzf search menu no longer seems to pop up when the trigger sequence is used when zsh-autocomplete is enabled, even when using the new shortcut—[<kbd>control</kbd>](# "down")[<kbd>␣</kbd>](# "space").

### To Reproduce
Steps to reproduce the behavior:

[code]

Of course, this fixes itself if I run `zstyle ':autocomplet

[2020-06-10 07:51] marlonrichert commented on #50
I've already been thinking about doing this. So, will do. 🙂

[2020-06-10 08:09] jcassee commented on #47
Thanks, @marlonrichert. I especially like how autocomplete does kick in after I type space, even when the minimum number of characters has not been reached.

[2020-06-10 08:44] jcassee opened #52 "Tab character in completion can corrupt menu"
### Describe the bug
My `.gitconfig` uses tabs for indentation, and contains a multiline alias (for `git push-status`). Because of this, the autocomplete menu item for `git push-status` contains a tab and zsh-autocomplete does not cut off the entry before the end of line.

### To Reproduce
Steps to reproduce the behavior:

[code]

### Expected behavior
The autocomplete menu to be rendered correctl

[2020-06-10 09:09] marlonrichert commented on #51
Well, there's the crux of the matter: I never promised any such thing. 😉

This is completely intentional. Since you now have one key binding for normal completion and one key binding for `fzf` completion, you really don't need the "trigger" sequence anymore. You can now choose on the spot which kind of completion style you want.

However, I could make it so that `zstyle ':autocomplete:tab:*' compl

[2020-06-10 09:10] marlonrichert commented on #46
@ztNFny There's an issue for this now: #51. Let's discuss there.

[2020-06-10 11:00] marlonrichert commented on #52
This is not a bug in `zsh-autocomplete` but a bug in Zsh's `compsys`. When I do the following
[code]

and then press <kbd>Tab</kbd>, it produces

[code]

Please report this bug by sending an email to zsh-workers@zsh.org

[2020-06-10 11:00] #52 closed

[2020-06-10 11:08] jcassee commented on #52
@marlonrichert Thanks for this. I'll investigate further and report it. Sorry for the bother.

[2020-06-10 11:14] marlonrichert commented on #52
No problem. 🙂

[2020-06-11 00:00] g4cm4n opened #53 "Let user choose case sensitivity behaviour"
Installing plugin seem to mess with zsh options about case insensitive completions. It would be great if user could decide about this feature in personal configuration or better yet if it could be done old way with plain zsh functionality. Perhaps it is possible, but i couldn't figure it out. Not sure if it's a bug or is it simply not implemented.
Maybe it's the matter of command order in zsh dotf

[2020-06-11 06:51] marlonrichert commented on #53
Case-sensitivity is set separately in Zsh for many different circumstances. Can you give me some concrete examples of what behavior you would like to see and how `zsh-autocomplete` is doing it differently?

[2020-06-11 10:51] weilbith opened #54 "How to enhance change directory completion sources"
### Describe the solution you'd like

I'm using the tool [fasd](https://github.com/clvv/fasd) to access frequently used directories and files faster without providing the full path. If I use the `fasd` command directly, I get beautifully auto-completion of its results while I type. It would be awesome if I could get these candidates as another group in the completion menu when using `cd` for direc

[2020-06-11 11:03] g4cm4n commented on #53
Let's say i'm in "/etc" and i want to quickly change current directory to "~/workdir". Effeciency is the key in this buissnes, my boss says. I realize that and trying my best to be a good slave. My intention is to type "~/w" and let autocompletion do the rest. Sadly my finger slipped, i typed "~/W" and quickly hit completion button. Unfortunately i'm prompted with red coloured message: _No matchin

[2020-06-11 11:08] marlonrichert commented on #49
I just tried it and maybe this could just be the default.

[2020-06-11 11:53] marlonrichert commented on #53
Yeah, `zsh-autocomplete` overrides the `matcher-list`. I could choose not to, but there's an awful lot of people using, for example, Oh-My-Zsh (or some other "framework" that sets the `matcher-list`), and they'll be terribly confused when `zsh-autocomplete` does not appear to work "correctly" out of the box.

But I _can_ provide a setting to make case insensitivity bi-directional, instead of only

[2020-06-11 12:12] marlonrichert commented on #54
The way `fasd` handles completions is really funky and not according to standards with the latest versions of Zsh. In addition, [`fasd` has not seen any maintenance or updates since 2015](https://github.com/clvv/fasd/graphs/code-frequency). I highly recommend switching to another another similar tool that is more actively maintained, such as [`zoxide`](https://github.com/ajeetdsouza/zoxide).

[2020-06-11 12:30] weilbith commented on #54
Hmm okay. Thanks for the insight!
So I just took a quick look onto `zoxide`. It appears to me like I would use this as a `cd` replacement with a global alias (like `exa` for `ls` or `bat` for `cat`/`less`). And then I would get the completion automatically because of the commands nature. Right?

[2020-06-11 13:33] jcassee opened #55 "Work better with history-substring-search-up/down"
### Is your feature request related to a problem? Please describe.

Because zsh-autocomplete sets `zstyle ':zle:up/down-line-or-beginning-search' leave-cursor no`, it is awkward to use with up/down arrow keys bound to `history-substring-search-up/down`. When typing the up arrow, the cursor does not move to the end of the line.

[code]

### Describe the solution you'd like

Some way of getting pref

[2020-06-11 20:25] tmpm697 opened #56 "Random freeze?"
### Describe the bug
When I use this plugin it freeze the whole pc, force to hard reboot.

### To Reproduce
Steps to reproduce the behavior:

[code]

play around with this plugin especially with tab, and it gives random freeze then bring down the pc to unresponsive behavior, then force hard reboot.

### Expected behavior
It should not freeze the pc.

### Desktop
 - OS + distribution:   Archlinux u

[2020-06-11 21:27] marlonrichert commented on #38
@weilbith This should now be fixed on the `dev` branch. Please try it out.

[2020-06-11 21:30] #49 closed

[2020-06-11 21:33] marlonrichert commented on #53
@g4cm4n An improved version of the matching algorithm is now available on the `dev` branch, which should address the problems you've been experiencing. In your clone of `zsh-autocomplete`, please do `git checkout dev`, restart your terminal, try it out and let me know what you think.

[2020-06-11 21:34] marlonrichert commented on #54
@weilbith Alright, a first prototype of `zoxide`-based completion for `cd` and `autocd` is now available in the `dev` branch. Please check it out. 🙂

[2020-06-12 09:18] weilbith commented on #38
Jop works. I should consider to switch my plugin manager. Wasn't able to change branch for some reason (took no effect) and also not manually. Had to to it completely manually. Buuuut that is not the topic. ^^

Thanks for fixing it.
Could you give a quick headsup here when it is in `master`?

[2020-06-12 09:21] marlonrichert commented on #38
I use https://github.com/zdharma/zinit as my plugin manager. Have a look at [my `.zshrc` file](https://github.com/marlonrichert/.config/blob/master/zsh/.zshrc) for an example of how to use it.

Yes, I will give you a heads-up. 🙂

[2020-06-12 09:30] weilbith commented on #38
Yeah I'm aware of `zinit`. But since I was pretty happy with `antibody` so far and because `zinit` looks like an overkill, I hesitate to switch so far. But actually I like such powerful tools like `zinit`. Maybe I should invest the time to read the details and figure out how I can profit by them. For example which of my plugins could be lazy loaded etc.

[2020-06-12 09:32] marlonrichert commented on #38
I'm keeping this issue open until I've merged to `master`. 🙂

[2020-06-12 09:33] marlonrichert commented on #38
Most of `zinit`'s feature you don't really need. And if you want lazy loading, just use [Powerlevel10k's instant prompt feature](https://github.com/romkatv/powerlevel10k/blob/master/README.md#instant-prompt) which will cause (almost) your entire `.zshrc` to be lazily loaded.

[2020-06-12 09:55] weilbith commented on #38
I do :grimacing:

Unfortunately there is no comparison with `antibody`. But since I use the approach to trigger the plugin bundling manually and then just source that, I can barely believe it can become faster. For the "on-the-fly" bundle within the `.zshrc` I guess it is a different story.

[2020-06-12 09:56] marlonrichert commented on #56
Here's what I did to reproduce it:
[code]
Works fine for me. 0.1% CPU usage.

I think you might have something else going on that's interfering?

[2020-06-12 10:00] marlonrichert commented on #38
I have no idea what you mean with "plugin bundling". 🙂

The first time you call `zinit` on a plugin, it clones the repo, then sources it. Afterwards, it will just source it. It updates your plugins when you tell it to do so. Yeah, it can tell it to do a bunch of extra stuff whenever it clones, updates or sources a plugin, but that's optional.

[2020-06-12 13:07] weilbith commented on #54
Okay I'm slightly confused. Assume (very likely) I now decide to switch from `fasd` to `zoxide` as you recommend. Do I now need to use the `z` command to change directories so can become trained and build up its database and scores? So I understand that the next time I use `cd` you provide me now with the `z` candidates. But does `z` also learn my directories while using `cd`? The GIF in the READM

[2020-06-12 13:43] marlonrichert commented on #54
I'm just looking again at `fasd` now and it does seem to have more features than `zoxide`. So, `zoxide` is not a straight-up replacement for `fasd`. Pity that it's not being maintained.

But also, now that I look at at again, I should be able to integrate to `fasd` or any other similar tool, too, in very much the same way.

In either case, whether you use `fasd`, `zoxide` or whatever else, you do

[2020-06-12 14:13] weilbith commented on #54
That sounds like you would need to do this manually for the specific tools?

[2020-06-12 14:51] marlonrichert commented on #54
Yes, because I cannot query the tool if I don't know how to query it. 🙂

But doing so is fairly simple once I know what the correct command is.

`fasd` dir completion support is now available on the `dev` branch. Please try it out. 🙂

[2020-06-12 16:56] weilbith commented on #54
But do you still think it is good to introduce it to your plugin? :thinking:
I mean the issue is basically that these completions should be tight to another command as they come from (`cd` in this case). Is there maybe another solution to do this in a more generic way and don't clutter your plugin?

I tried it. It only shows me always one result. While when I use my old approach I can see more for

[2020-06-12 19:46] mimoo opened #57 "clashes with auto-suggestion"
Hello!

Let's say I want to do `git add something`, the way I would usually do this is to write `git add som` and use the autocomplete. But the `tab` key is now broken and I see:

[code]

Is there a solution to this?

[2020-06-12 23:06] g4cm4n commented on #53
Yes, issues i had before seem to be resolved on dev branch. Much appreciated.

[2020-06-13 03:46] #53 closed

[2020-06-14 16:54] olets commented on #41
Getting a similar (on the user end anyway) error:

[code]

[code]

&nbsp;

I've never had with other plugins, or heard this recommendation.

[2020-06-14 18:41] marlonrichert commented on #57
@mimoo @jef I cannot reproduce this with my local build. In your clone of the `zsh-autocomplete` repo, can you please `git pull; git checkout dev`, restart your terminal and try if it works then?

[2020-06-14 18:43] marlonrichert commented on #41
@olets And that's why I'm keeping this issue open until I've fixed it. 🙂 But it's going to take time. `zsh-autocomplete` is a fairly complex plugin. It's not immediately obvious how to solve this.

[2020-06-15 02:41] tmpm697 commented on #56
I re-try but still the same result, Idk what would cause this issue. it seems your above setup run without issue if I spin up a another new user -- but because I `su -l <user>` so it does not come with X-org or terminal ..etc.

I use .zshenv and .zshrc but this time to test, I disabled .zshenv -- only specify ZDOTDIR in it.

So does this issue come from terminal/x-org or something graphical relate

[2020-06-15 07:41] marlonrichert commented on #56
I have no idea.

You could try running `top` and keep it visible while you reproduce this, to see where your CPU usage goes.

[2020-06-15 07:42] marlonrichert commented on #56
How do you "play around" with it? Can you find specific set of cases for which it freezes?

[2020-06-15 07:59] marlonrichert commented on #54
I think it's fine. I've already added code that makes `zsh-autocomplete` play nice with `fzf`, `zsh-autosuggestions` and syntax highlighting plugins. It's not much effort to add this. 🙂

Yes, I know. This was just a quick prototype. More will follow. 🙂

[2020-06-15 08:09] weilbith commented on #54
Haha I wasn't aware. Then it works like expected :D

[2020-06-15 11:31] marlonrichert commented on #57
Here's what I did to reproduce it:
[code]
Result:
* The completion menu appears and shows `foo`.
* Pressing <kbd>Tab</kbd> results in `f` being completed to `foo`.

[2020-06-15 15:01] jef commented on #57
Let me try again today. I may have had a fluke.

[2020-06-15 17:31] jef commented on #57
Worked fine for me. I think my problem was with aliasing `git` with something like `dotfiles`

[code]

Then running something like:

[code]

The autocompletion works for `foo`, but not necessarily for `add` or other git options. Could be more of a complex thing going on here though.

[2020-06-15 19:07] marlonrichert commented on #57
OK, good to know it's not a problem with `zsh-autocomplete`, then. 🙂

[2020-06-15 19:07] #57 closed

[2020-06-15 19:16] marlonrichert commented on #54
@weilbith I pushed in a new version of the feature on the `dev` branch. Try it out.

[2020-06-15 20:13] jef commented on #57
I wouldn't be so sure that it's not a `zsh-autocomplete` problem as it should be completing aliases as well.

For example:

[code]

[2020-06-15 20:22] marlonrichert commented on #55
@jcassee This should be fixed now on the `dev` branch. Please do a checkout and let me know if it works for you.

[2020-06-15 20:28] marlonrichert commented on #53
Merged to `master`

[2020-06-15 20:28] marlonrichert commented on #38
@weilbith It's in `master` now.

[2020-06-15 20:28] #38 closed

[2020-06-15 20:36] marlonrichert commented on #51
No, it's not. It's actually <kbd>⌥</kbd><kbd>␣</kbd>`fzf-cd-widget` plus alias expansion plus insert longest common expansion prefix plus <kbd>⇥</kbd>`fzf-completion` rolled into one. 🙂 If you're interested, you can find the code over here: https://github.com/marlonrichert/zsh-autocomplete/blob/dev/zsh-autocomplete.zsh#L710

[2020-06-15 20:38] marlonrichert commented on #51
@paw-lu @ztNFny Can you please checkout the `dev` branch and try out the latest autocomplete behavior? I've made some enhancements and I'm wondering if this in any way changes your `fzf` integration needs.

[2020-06-15 23:27] paw-lu commented on #51
@marlonrichert
Thanks for the explanation on `fzf-cd-widget`—it really cleared things up!

I tried out `dev`. Thanks a lot for the work!

### 👍
fzf-specific <kbd>tab</kbd> features seem to be working as expected

- `kill [TAB]` works as expected now (with fzf taking over)
- Trigger sequences work (`**`) with fzf

### 👎
Pressing <kbd>tab</kbd> under "normal" expected circumstances leads to unexpect

[2020-06-16 06:55] tmpm697 commented on #56
I `play around` by just spam keys and make it heavy use like press `ls` and -l` then hold tab to have all options listed ..etc.

This happens with just `st` terminal and `tmux` also.

[2020-06-16 06:59] marlonrichert commented on #51
`zsh-autocomplete`'s tab completion _never_ calls `fzf-completion`. It is called from control-space completion only.

On your command line, can you please run `bindkey '^I'`? If the output is `"^I" fzf-completion`, then there's something wrong with your setup. 🙂

That has nothing to do with `zsh-autocomplete`. For whatever reason, `brew`'s completion is just ridiculously slow. You'll find that wit

[2020-06-16 07:31] weilbith commented on #54
That looks pretty solid.
Observation: I also get file suggestions, even I use `cd` and the completion group is called `frequent or recent directory` (should be maybe plural ^^).

[2020-06-16 07:32] marlonrichert commented on #56
First of all, when using `zsh-autocomplete`, pressing Tab does not list completions. Completions are listed automatically. Pressing Tab will just insert the completion that's at the top of the list. If it doesn't work that way for you, then you have `zsh-autocomplete` incorrectly installed somehow.

Secondly, I can write `ls -l`, then press Tab a hundred times and it works fine.

Please try to com

[2020-06-16 07:32] #56 closed

[2020-06-16 07:34] marlonrichert commented on #54
That can be fixed.

In Zsh, completion group names are always singular.

[2020-06-16 10:01] jcassee commented on #55
I can confirm that this is fixed on the `dev` branch. For some reason it does not yet work with my full prezto config loaded. I'll try to find out why.

[2020-06-16 13:39] marlonrichert commented on #51
@paw-lu I did some testing and actually, `brew` completion is slow only when caching isn't use and `zsh-autocomplete` turns on caching. In a clean install, `brew` completion is slow. However, add `zsh-autocomplete` and use completion on `brew` commands a couple of times, and it becomes faster. If `brew` completion is slow for you all the time, then you really have not installed `zsh-autocomplete`

[2020-06-16 16:07] paw-lu commented on #51
I can confirm that you are correct about

[code]

Is there an issue with that? That seems to be one of the default shortcuts that are bound when `[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh` is run. It's what I would expect to be bound to <kbd>^</kbd>+<kbd>I</kbd>.

I want to clarify about the Homebrew example. That was just a random command I chose and was not specific to homebrew. This happens across

[2020-06-16 17:40] daxmc99 commented on #55
It seems to be working in dev

[2020-06-16 17:43] daxmc99 opened #58 "Eats quotes"
### Describe the bug

zsh removes double quotes from commands

### To Reproduce
Steps to reproduce the behavior:

Try to do `git commit -m "Test commit"`
The autocompletion / autocorrect will remove the quotes from the command.

### Expected behavior

Maybe disabling of auto-complete when a `"` character is detected? At that point I am going to be typing a string so there should be nothing to comp

[2020-06-16 19:19] marlonrichert commented on #51
Yes, there definitely is a _major_ issue with that. It means that `zsh-autocomplete` has not been loaded correctly. Could you please share your `.zshrc` file with me, so I can try to figure out what has gone wrong?

[2020-06-16 19:47] marlonrichert commented on #54
@weilbith I pushed in another update on the `dev` branch. Please try it out.

[2020-06-16 19:56] marlonrichert commented on #58
I cannot reproduce this in any way, shape or form. Here's what I tried:
[code]
and I then pressed <kbd>Tab</kbd>, <kbd>Space</kbd>, <kbd>Enter</kbd>, <kbd>Ctrl</kbd><kbd>Space</kbd>, <kbd>Shift</kbd><kbd>Tab</kbd>, you name it. Nothing happens, least of all to the quotes.

Can you please `git pull` to update your copy of the `dev` branch, restart your shell and try the above? If the problem does n

[2020-06-16 19:57] marlonrichert commented on #55
Alright, it's now available in `master`.

[2020-06-16 19:57] #55 closed

[2020-06-16 20:16] paw-lu commented on #51
Yeah no problem! 😄

I'm able to replicate this with an absolute minimum `.zshrc`. This is using oh-my-zsh.

[code]

Obviously, it follows that we can reproduce this issue with a completely blank `.zshrc`.

[code]

Just for my understanding—I thought the goal here is to keep fzf running as expected and to keep zsh-autocomplete from "interfering" with its features. So I would naively think that fzf'

[2020-06-16 20:37] marlonrichert commented on #50
@PythonNut @forivall This is available in the `dev` branch now. Please try it out.

[2020-06-16 20:40] marlonrichert commented on #51
Ah, right, I completely forgot about that. 🤦🏽‍♂️ That explains the `bindkey` output.

Thanks! Now I know what to tweak.

[2020-06-16 20:46] marlonrichert commented on #51
@paw-lu @ztNFny Alright, I pushed in a new update on the `dev` branch. Can you please try it out?

[2020-06-16 22:44] paw-lu commented on #51
Gave it a quick look. As far as I can tell this seems good!

### 👍

<kbd>tab</kbd> features seem to be working as expected

- [x] `kill [TAB]` works as expected (with fzf taking over)
- [x] Trigger sequences work (`**`) with fzf
- [x] Directories autocomplete with <kbd>tab</kbd>
- [x] Arguments autocomplete with <kbd>tab</kbd>

[2020-06-16 23:12] paw-lu opened #59 "Don't override ↑ and ↓ bindings when fzf is installed"
### Is your feature request related to a problem? Please describe.

Currently, if fzf is installed, zsh-autocomplete will rebind <kbd>↑</kbd> so that it no longer toggles through history, but fuzzy searches through it.

For my usage this seems unnecessary, since <kbd>^</kbd>+<kbd>R</kbd> already activates fuzzy search, and <kbd>↑</kbd> is a convenient well-known shortcut to repeat the last few com

[2020-06-17 02:00] benwoodward opened #60 "Enable suggestions for aliases"
### Is your feature request related to a problem?
Typing `git c` will yield a long list of git commands starting with 'c':

![image](https://user-images.githubusercontent.com/1472981/84846202-64c45380-b0a2-11ea-8e1d-c4b212f3a8f8.png)

However, when invoking `git` via `g` alias (`alias g='git'`) does not yield git-related results:
![image](https://user-images.githubusercontent.com/1472981/84846322-

[2020-06-17 05:56] yutakatay commented on #59
I agree with you.

this is the workaround.

[code]

[2020-06-17 06:47] artfulrobot opened #61 "Please return my panic button: Ctrl-C"
(first: just wanted to say thanks for a wonderful plugin!)

### Describe the bug

Sometimes I get in a mess on a command line and just want to (angrily) escape the whole thing and start over. I hit Ctrl-C and usually whatever I had created gets abandoned and I'm returned a new pristine command line.

When I get in a mess with this plugin Ctrl-C is ignored which ratches up the panic!

### To Reprod

[2020-06-17 07:55] marlonrichert commented on #61
Here's what I did to reproduce it:
[code]
then I pressed
1. <kbd>Ctrl</kbd><kbd>Space</kbd> to enter menu selection.
1. <kbd>Ctrl</kbd><kbd>C</kbd> to enter menu selection.
1. <kbd>Ctrl</kbd><kbd>C</kbd> to abort the line.

Works fine. Ergo, there must be something else in your config that's messing this up.

Can you please try the steps above to see if it works for you? After that, in the same su

[2020-06-17 09:41] weilbith commented on #54
Not sure what you exactly added. So here are my observations:
 - for the change directory command I get directories only
 - using a command that expects a file as parameter like `cat` does also get directory suggestions **and** no file suggestions

Anyways already really good work. I would be also fine with just the fdirectories. :)

[2020-06-17 12:17] marlonrichert commented on #54
Yes, that's exactly what I've implemented so far. 🙂

I will add `fasd`-based file completion soon. It's pretty straight-forward.

[2020-06-17 12:23] marlonrichert commented on #61
I meant, copy-paste the lines of your `.zshrc` into the command line of your sub shell, one by one. But if executing the steps above already reproduces the problem for you, then obviously you don't need to do that.

I just noticed you are still on 33d9812. Can you please `git pull`, restart and try again? If that doesn't help, can you please `git checkout dev`, restart and try again?

[2020-06-17 14:16] yutakatay commented on #58
I was experiencing the same problem until yesterday.
But, when I updated the master(4ad65c910768acc8d7c373fa01041292ac720ae6) today, it stopped happening for me.

[2020-06-17 18:31] PythonNut commented on #50
Works great! Thank you!

[2020-06-17 20:22] marlonrichert commented on #61
I wonder if it's related to you being on Zsh 5.7.1, while I'm on 5.8. Any chance you could update?

[2020-06-17 20:24] marlonrichert commented on #61
@artfulrobot I think I've found the bug: http://www.zsh.org/mla/workers/2019/msg00252.html

[2020-06-17 21:07] marlonrichert commented on #50
You're welcome. 😊

Merged to `master`.

[2020-06-17 21:07] #50 closed

[2020-06-17 21:08] marlonrichert commented on #54
@weilbith The `dev` branch now also includes `fasd` completion for files. Please test.

[2020-06-17 21:08] marlonrichert commented on #61
@artfulrobot The `dev` branch now includes a workaround for this. Please test.

[2020-06-17 21:14] marlonrichert commented on #60
@benwoodward It's virtually impossible for me to figure out which of a user's aliases should map to which commands, since aliases can include multiple commands and all other kinds of nonsense. However, what I _can_ do is automatically expand aliases. So, for example, in your case, if you type <kbd>g</kbd> plus <kbd>space</kbd>, then it will automatically expand to `git `, which will then result in

[2020-06-17 21:16] marlonrichert commented on #51
@ztNFny How do you feel about the current behavior on the `dev` branch?

[2020-06-18 06:44] #61 closed

[2020-06-18 08:51] weilbith commented on #54
Yep seem to work. Thanks! :blush:

[2020-06-18 17:07] daxmc99 commented on #58
@yutakatay Thanks for commenting, after upgrading to master (e03aeb2cdd5b8463df5f54a782e4261898d94987) I'm not longer seeing the issue.
Feel free to close

[2020-06-18 17:08] #58 closed

[2020-06-18 18:12] marlonrichert commented on #54
Now merged to `master`.

[2020-06-18 18:12] #54 closed

[2020-06-18 19:30] marlonrichert commented on #59
@paw-lu @yutakatay Do you have any suggestions what the `zstyle` statement for this should be? What would you expect it to be?

[2020-06-19 20:20] paw-lu commented on #51
I'm willing to close this @marlonrichert is everyone is comfortable with the changes.

[2020-06-19 20:48] ztNFny commented on #51
I'll try to take a look tomorrow/Sunday. Busy at work right now.

[2020-06-20 17:36] marlonrichert commented on #61
@artfulrobot It's now merged to `master`.

[2020-06-24 08:48] weilbith commented on #40
I'm back with a case for the order. You introduced the cool feature in #54 to integrate fast-jump directory/file tools like `fasd`. Their candidates have a higher priority than the "standard" suggestions. This leaves me often with the issue that I type just a few chars of a directory and hit tab to complete because I know it is there and completion should help me. Unfortunately these few chars mat

[2020-06-24 14:32] marlonrichert commented on #40
@weilbith For me, the "frequent or recent directory" group always appears _after_ the "directory" or "local directory" group, both on `master` and on `dev` and with both `cd` and `AUTO_CD`. You must have some option or `zstyle` that's messing with this. Can you please open a new issue for it and include a minimal test case? Thanks.

[2020-06-24 19:48] ztNFny commented on #51
@marlonrichert sorry, still hadn't had the chance, work is killing me atm

[2020-06-24 20:22] ztNFny commented on #51
just had a quick look at dev, more hopefully on the weekend:
- kill [tab] looks good
- so does FZF_COMPLETION_TRIGGER
- the new default "magic" space behaviour is killing me, don't think that's a good default option imho. especially the alias seems uncalled for.

[2020-06-25 01:56] paw-lu commented on #51
What's the new magic space behavior?

Paulo S. Costa

On Wed, Jun 24, 2020, 1:22 PM ztNFny <notifications@github.com> wrote:

[2020-06-25 04:56] ztNFny commented on #51
See README.MD in dev. Basically it expands pretty much anything. History, suggestions, alias (this i find the most annoying, the point of aliases is to not gave the original command), spellcheck.
There's a config option but the default is to have it all on.

[2020-06-25 05:21] marlonrichert commented on #51
Auto-expanding aliases is related to #60. I’ve actually read it works like that in Fish. But I do agree that it’s not very nice when you have very long aliases. I’ll have to tweak that a bit still.

[2020-06-25 05:23] marlonrichert commented on #51
But anyway, if the `fzf`-related behavior looks god to you, then I’ll merge that part soon to `master`.

[2020-06-25 05:24] ztNFny commented on #51
@marlonrichert fish doesn't insert aliases.

[2020-06-25 05:59] marlonrichert commented on #51
OK. I just read it somewhere. ¯\_(ツ)_/¯

[2020-06-25 06:11] marlonrichert commented on #60
I just discovered that the `COMPLETE_ALIASES` option did _not_ do what I think it does. Unsetting it turns out to be enough to get this to work.

[2020-06-25 06:13] marlonrichert commented on #51
Ah, I just discovered that what I'm doing to address #60 is [completely unnecessary](https://github.com/marlonrichert/zsh-autocomplete/issues/60#issuecomment-649242706). I'll remove it soon.

[2020-06-25 08:39] yuki-ycino opened #62 "Quickly typing Enter from completion executes, without completion"
### Describe the bug

Input quickly `git diff .vimr<Tab><Enter>`, It runs the git diff command as a `.vimr` with no completion.
If press Tab and wait a little, vimrc will be completed normally.

### Expected behavior

Appropriate completion is also provided for quick input.

### Screenshots

![Kapture 2020-06-25 at 17 24 15](https://user-images.githubusercontent.com/5423775/85684313-f66a3b80-b708-

[2020-06-25 11:53] marlonrichert commented on #62
I cannot reproduce this, not on `master` and not on `dev`.

Can you please do
[code]
and tell me if the problem persists?

If it doesn't, then the problem is likely in your config somewhere. In the sub shell created above, you can try pasting in and running the lines from your `.zshrc` one by one, until you find which one breaks it. Once you find that out, then I can try to fix it for you.

[2020-06-25 16:18] dylanjm commented on #59
Another comment would be to suppress completions when using `up-line-or-history`. When I move back in history and am modifying commands, it would be good to hold off on showing completions until I start typing or something.

[2020-06-25 17:34] PythonNut opened #63 "Make directory-jumping completion source optional"
This follows-up on #54.

### Is your feature request related to a problem? Please describe.
`zsh-autocomplete` seems to have become slower since `fasd` (and similar) completions were enabled. I am not sure if this is the actual cause. (Note that `fasd` itself is quite slow so this seems reasonable.) However, because I cannot disable the integration, I cannot test it.

### Describe the solution you

[2020-06-25 20:08] marlonrichert commented on #63
Many of the features in `zsh-autocomplete` could be spun off into mini plugins. However, I don’t think there’s too much value in that. On the other hand, I do think there’s added value in bundling then together in a coherent way.

Having said that: I have been thinking about ways to make the features of `zsh-autocomplete` more modular. Nobody’s been asking to get any of the features separately, th

[2020-06-25 20:10] marlonrichert commented on #59
@dylanjm I actually have implemented that already in my local copy of the `dev` branch. You can expect to see it soon.

[2020-06-26 19:50] marlonrichert commented on #51
Merged to `master`.

[2020-06-26 19:50] #51 closed

[2020-06-26 19:50] marlonrichert commented on #59
Merged to `master`.

[2020-06-26 19:50] #59 closed

[2020-06-26 19:53] marlonrichert commented on #60
Fixed in `master`.

[2020-06-26 19:53] #60 closed

[2020-06-26 20:21] marlonrichert commented on #63
@PythonNut It's available now on the `dev` branch. Please try it out.

[2020-06-27 09:36] benwoodward commented on #60
Hell yeah! Nice work! Thank you.

[2020-06-28 10:55] marlonrichert commented on #41
@olets I'm not the only one who says so: https://github.com/romkatv/powerlevel10k/blob/master/README.md#weird-things-happen-after-typing-source-zshrc

[2020-06-29 08:55] weilbith opened #64 "Group order for `fasd` directory/file suggestions"
[You asked me](https://github.com/marlonrichert/zsh-autocomplete/issues/40#issuecomment-648858078_) to open a new issues for that. So my problem is that for my setup, the directory and file suggestions are not ordered properly. The comment in the linked thread is explaining it more exhaustively, but in short do `frequently used directories` appear before `local directories`. Which is really annoyi

[2020-06-29 17:16] marlonrichert commented on #64
Some slightly off-topic comments on your config:
* `zstyle ':completion:correct-word:*' max-errors 0` should not be necessary when you have `zstyle ':autocomplete:(slash|space):*' magic 'off'`.
* If you define `zstyle ':autocomplete:tab:*' completion` twice, then the last value will override the first one.

[2020-06-29 17:47] marlonrichert commented on #64
Anyway, I cannot reproduce it. Here's what I did:
1. I made a temp folder and put a `.zshrc` file in it:
[code]
1. I put the following into the `.zshrc` file to enable `fasd` integration:
[code]
1. Below that, pasted in the exact config you posted.
1. I then started a sub shell that uses that `.zshrc` file, but without loading any global config files (such as `/etc/zshrc`):
[code]
1. I then create

[2020-06-29 17:50] marlonrichert commented on #64
By the way, I noticed that in your minimal config, you are not initializing `fasd` in any kind of way. If you don't, then `zsh-autocomplete` will not offer any a frecent dirs. Are you sure they're not coming from somewhere else?

Also, next time, can you please use the bug report template for stuff like this and follow [the instructions there](https://github.com/marlonrichert/zsh-autocomplete/blob

[2020-06-29 20:38] weilbith commented on #64
@marlonrichert I actually thought that i just followed your documentation.
The `fpath` is done by Antibody. :shrug:

[2020-06-29 20:39] weilbith commented on #64
@marlonrichert interesting. I expected something like that. But since I don't do it myself (as I know...). Need to fix that or investigate on my setup.

[2020-06-30 00:23] PythonNut commented on #63
That's totally understandable, I was just throwing some stuff out since the issue template asked for it.

Hmm the issue is that I've built a _lot_ of infrastructure around `fasd` (lots of integrations with other software). This is partly why I am not benefiting as much from the integration here as other people might. I'm aware that `fasd` is a hot mess and maybe one day I'll move all of my systems

[2020-06-30 06:23] marlonrichert commented on #63
Cool, it's available on `master` now.

[2020-06-30 06:23] #63 closed

[2020-06-30 06:33] marlonrichert commented on #64
OK, maybe I need to improve the documentation, then.

Anyway, to clarify for you:
* The choices presented under [Change <kbd>⇥</kbd> and <kbd>⇤</kbd> behavior](https://github.com/marlonrichert/zsh-autocomplete#change--and--behavior) are all mutually exclusive. You cannot combine them.
* The section [Tweak or disable automagic corrections and expansions](https://github.com/marlonrichert/zsh-autocom

[2020-07-01 17:37] marlonrichert commented on #63
@PythonNut Heads up: I'm renaming the `frecent-dirs` setting to `recent-dirs`.

[2020-07-03 10:01] slavistan opened #65 "Don't override existing completion matcher list"
### Problematic behavior

Existing completion matcher lists are ignored and overridden by the plugin's internal completion settings.
### Expected behavior

The plugin should respect the user's existing completion matcher lists.

---
### Additional context
Hi there ;)

I just stumbled upon this plugin and love it so far. My only gripe is the above issue: I am unable to use my own matcher list. From

[2020-07-03 11:30] marlonrichert commented on #65
It's not just Oh My Zsh. Other frameworks such as Prezto and Ziomfw also set `matcher-list` values that would prevent `zsh-autocomplete` from working correctly out of the box.

`zsh-autocomplete` relies heavily on setting `zstyle ':completion:'` styles to modify completion behavior. Without it, I would not be able to get the completion behavior that I want. `matcher-list` is just one of them.

Car

[2020-07-04 07:56] slavistan commented on #65
I'm playing around with the internals of zsh to gain an understanding of what can be done with it. To this end, I've done away with oh-my-zsh which hid all the complexity from me to which I want to be exposed now. So, what I want depends chiefly on what zsh has to offer about which I am largely ignorant at this point and, hence, I have no idea what I want :-) I'm basically just a curious zsh novic

[2020-07-04 12:32] oberow opened #66 "search for branches in git checkout command"
I have spent a few hours trying to figure this out, I apologize if this is already available in zsh-autocomplete.

### Is your feature request related to a problem? Please describe.

Autocompletion does not support searching of the options in the completion menu when trying to complete the git checkout command

### Describe the solution you'd like

Currently, when I type git checkout <Tab>, zsh-au

[2020-07-05 16:52] marlonrichert commented on #65
Yeah, at present, you need to do all `zstyle ':autocomplete:*'` statements _before_ your source `zsh-autocomplete`. However, that’s definitely something I can improve on. I’ll look into it.

Not yet, but I can make it possible. 🙂 It’s been on my list of things to do to make `zsh-autocomplete` more modular ([as I mentioned to @PythonNut here](https://github.com/marlonrichert/zsh-autocomplete/issues

[2020-07-05 17:01] marlonrichert commented on #66
Interesting. I don’t have any branches with that kind of names. I’ll investigate, but it might be a limitation of the `git` completion you’re using. Are you using Zsh’s own `git` completion or the one installed by Git? I would recommend using the former, not the latter. The one Git install is a bad Bash port and is full of bugs.

[2020-07-08 08:11] weilbith commented on #64
Hey, sorry for the long delay.
Following your exact approach does not work for me. Somehow the `$ZDOTDIR` environment variable is never used (`echo` on the variable in the spawn shell shows the old value). Anyways I simply abused my actual `.zshrc`. And yes you are right: local directories are displayed before frequent or recent used directories. So something in my configuration I'm not aware of i

[2020-07-08 08:13] weilbith commented on #64
Not sure if that helps. But this is how my `fasd` setup looks like this:

[code]

[2020-07-12 12:51] oberow commented on #66
Thanks marlon, that fixed it.

To anyone who might have the same problem, I looked in my $fpath (print -l $fpath to list its contents) and found a symlink in /usr/local/share/zsh/site-functions pointing to the git completion function in my git cellar: Cellar/git/2.27.0/share/zsh/site-functions/_git.

Removing the symlink to _git in my /usr/local/share/zsh/site-functions fixed it. Zsh then uses its

[2020-07-12 12:51] #66 closed

[2020-07-12 13:29] oberow opened #67 "zsh-autocomplete does not list all branches in the git repository"
### Describe the bug
zsh-autocomplete does not list all branches in the git repository

### To Reproduce
Steps to reproduce the behavior:

[code]

### Expected behavior
whether or not zsh-autocomplete is used, the number of suggestions shown by git checkout <tab> should be the same

### Actual behavior
![2020-07-12_20-43-06](https://user-images.githubusercontent.com/7954426/87247171-b800aa80-c484-

[2020-07-14 06:20] weilbith commented on #64
Okay they solution is simple. The initialization of `fasd` must happen **after** this plugin has been sourced. That's it. Thanks for the help!

[2020-07-14 09:17] weilbith commented on #64
Appeared that it works for directories now, but not files...

[2020-07-15 11:19] yutakatay opened #68 "history-beginning-search doesn't work"
### Describe the bug

I really like this plugin!
I'm not very trouble, but I found that history-beginning-search is not working.

### To Reproduce
Steps to reproduce the behavior:

[code]

### Expected behavior

history-beginning-search can work.

### Actual behavior

No history search.

### Desktop
 - OS + distribution: Arch Linux 2020.07.15
 - Zsh version: zsh 5.8 (x86_64-pc-linux-gnu)
 - Plugin

[2020-07-15 14:06] marlonrichert commented on #68
Thanks for reporting! I’ll investigate.

[2020-07-15 14:07] marlonrichert commented on #67
Thanks for reporting! I’ll investigate.

[2020-07-21 14:19] ajeetdsouza opened #69 "Multiple suggestions for zoxide"
### Is your feature request related to a problem? Please describe.

Hey, thanks for making this! I'm the author of zoxide, and I noticed you've added autocomplete support for it. I'd really appreciate it if you could support multiple suggestions too!

### Describe the solution you'd like

The latest version of zoxide allows you to query for a list of results:

[code]

The results are in order of t

[2020-07-22 14:22] marlonrichert commented on #69
Thanks! When I added the feature, `zoxide` did not yet support listing multiple suggestions. Glad to hear you've now implemented it. I will add support for it. 🙂

[2020-07-22 14:25] #62 closed

[2020-07-22 14:25] marlonrichert commented on #62
Closed because I cannot reproduce this and I haven't heard back from @yuki-ycino.

[2020-07-22 17:34] marlonrichert commented on #64
@weilbith Two things:
1. If you're using `zsh-autocomplete`, then you do not need the `zsh-ccomp zsh-ccomp-install zsh-wcomp zsh-wcomp-install` options for `fasd --init`. Using those options will install `fasd`'s own completion handling, which is leading to the surprising results you're seeing. You can remove those.
2. I've made some changes on the `dev` branch that might improve `fasd` handling.

[2020-07-23 19:50] weilbith commented on #64
Cool thanks for that. I will check it out soon! :+1:
Maybe before I do so: I just "found" this in my `.zshrc`. It takes part after I source/load all plugins. Do I still need that, does it not hurt too keep or will it actually hurt this plugin here?

[code]

[2020-07-23 19:59] marlonrichert commented on #64
You don’t need it. `zsh-autocomplete` already does it for you: https://github.com/marlonrichert/zsh-autocomplete/blob/7f727126a84365323d7eedc739618c883614761e/zsh-autocomplete.zsh#L56

[2020-07-23 20:38] marlonrichert commented on #67
@oberow This should be fixed on the `dev` branch now. Please check it out and let me know if it works for you.

[2020-07-23 20:48] marlonrichert commented on #65
@slavistan I tried your example `.zshrc` file above. I then ran the following command, which gave the following output:
[code]

As you can see, your style is in effect. However, the line above it _is more specific,_ thus overriding your line when the `complete` completer is being used.

To make it work as you want, you need to change your line to this:
[code]

[2020-07-25 01:27] oberow commented on #67
@marlonrichert I tested on the dev branch and it works! thanks!

[2020-07-25 01:36] #67 closed

[2020-07-25 12:15] marlonrichert commented on #64
This seems to be an edge case that's currently not handled correctly by the matching algorithm, in part because of the inclusion of recent dirs. Thanks for reporting! I'll fix it.

But next time, please file a separate issue for it. 😉

[2020-07-25 14:23] marlonrichert commented on #65
@slavistan By the way, I pushed in some changes to the `dev` branch that enhance the matching behavior. I would be happy if you could try them out and let me know what you think. 🙂

[2020-07-26 16:07] marlonrichert commented on #69
@ajeetdsouza It's there now on the `dev` branch. Please try it out.

[2020-07-26 17:40] xoriade opened #70 "Sort longest prefix matches first"
### Is your feature request related to a problem? Please describe.
When I enter `vim .zshr`, I get the completion list `.zsh_history .zshrc`.

### Describe the solution you'd like
I want to get the list in order of longest prefix matches, so in this case `.zshrc .zsh_history`.
While it's very crucial in my opinion for the actual prefix, I assume it would be nice to always sort by the appearance of

[2020-07-26 18:04] marlonrichert commented on #70
@xoriade Can you check out the `dev` branch and try if you like the completion behavior there? I've made some changes.

[2020-07-26 18:33] xoriade commented on #70
On `dev` this is solved :+1: Thanks!

It seems now *fuzzy* (as in subsequence instead of substring, substring match instead of prefix match) results aren't listed at all when non-fuzzy counterparts exist. This certainly fixes the original problem.
However, it does conflict with the expected behavior coming from `master` that one gets shown all matching results, fuzzy or not. If this is for perform

[2020-07-26 18:33] #70 closed

[2020-07-26 20:24] marlonrichert commented on #70
Can you share a video recording of that here, so I can see what’s going on? I cannot reproduce it.

[2020-07-26 20:40] marlonrichert commented on #70
Unfortunately, Zsh’s completion system provides very little control over the ordering of the results. So, there’s nothing I can do about it _easily._ I do have some ideas on how I could work around it, but that will require more investigation by trial and error.

That was my thought originally, too, which is why I made it work that way originally. However, this does have some drawbacks.

The first

[2020-07-27 07:42] weilbith commented on #64
Finally found some time to test it. Works fine for me. Pretty great because that was annoying me already a while. xD
I guess when you close this issue I can assume that it was merged to `master`? :upside_down_face:

[2020-07-27 07:43] weilbith commented on #64
Thanks! :pray:

I'm sorry you are right! :see_no_evil:

[2020-07-27 07:46] marlonrichert commented on #64
Yes, that is correct.

[2020-07-28 00:02] atwok opened #71 "Directory jumping priority"
### Is your feature request related to a problem? Please describe.

Hi.  I'm trying out autocomplete.   As part of that I installed zoxide and copied your cfg to try it out.  One issued I've run into is I type "emacs xyz<hit_the_tab_key>" and I'm expecting a file name expansion (because there are "xyz_*" files in the current dir) but what I get instead is "emacs /a/bunch/of/dirs/xyz/whatever/" bec

[2020-07-28 10:35] marlonrichert commented on #71
@atwok Can you please check out the `dev` branch and try out the completion behavior there? I’ve made some changes.

[2020-07-28 18:01] marlonrichert opened #72 "Provide a way to customize all the key bindings"
### Is your feature request related to a problem? Please describe.
The default set of key bindings are fine for most users and provide a good out-of-the-box experience, but some users have very customized setups, into which these don't fit.

### Describe the solution you'd like
* Provide a setting to disable automatic keybindings.
* Add a list of all the widgets that `zsh-autocomplete` provides to

[2020-07-28 18:03] marlonrichert commented on #65
I will probably provide a solution for this similar to #72.

[2020-07-28 18:53] Oasixer commented on #72
Thanks for making this! (I'm the reddit user that requested the feature). I would have made an issue for it but my understanding of zsh is sort of lacking with regrds to being able to describe how to achieve this.

[2020-07-28 21:03] marlonrichert commented on #68
@yutakatay I pushed in a fix on the `dev` branch. Can you try it out, please?

[2020-07-28 21:08] marlonrichert commented on #55
@jcassee @daxmc99 I pushed in a new fix on the `dev` branch that should work with any widget that has the word `history` or `search` in it. It would be great if you could try it out. 🙂

[2020-07-29 00:41] daxmc99 commented on #55
Thanks! I will take a look

[2020-07-29 01:09] yutakatay commented on #68
Great! It worked. Thank you :+1:

[2020-07-29 01:09] #68 closed

[2020-07-29 04:14] daxmc99 opened #73 "Master branch is currently failing"
### Describe the bug

Seeing
[code]
on startup
### To Reproduce
Steps to reproduce the behavior:

Use the Oh My Zsh custom plugin option with the latest master branch. This is started occurring after I upgraded to the latest version.
The last working commit (for me) was 8fadcb8b7ed6ac1d586a1470880296ef1107e86f

### Expected behavior

Autocomplete works on master

### Actual behavior

Autocomplete

[2020-07-29 06:23] marlonrichert commented on #73
Sorry, but I cannot reproduce this with a clean install of OhMyZsh plus `zsh-autocomplete`.

Here's what I did:
[code]
Then, in the temp dir's `.zshrc`, add `zsh-autocomplete` to the list of plugins and restart the sub-shell.

Can you please try the steps above and see if it works for you? If it does, then there's something else in your config that's messing things up. In that case, please try nar

[2020-07-29 08:46] slavistan commented on #65
Yepp, looks like that does it! I'll give it a thorough testing :+1:

[2020-07-29 09:13] slavistan commented on #72
Alternatively, you might simply provide a choice of two files to source in your `.zshrc`, one which includes default keybinds, and one that doesn't. E.g. consider this scheme:

`source zsh-autocomplete.plugin.zsh` - binds default keys to widgets (as it currently does)
`source zsh-autocomplete.nobindkey.plugin.zsh` - only provides the widgets

`zsh-autocomplete.plugin.zsh` may then be a simple wrap

[2020-07-29 11:54] marlonrichert commented on #72
@slavistan Sometime in the future, I’m planning to split the plugin up into separate files, so you can source only what you need. However, that’s a bit more; I’m not going to do that at this point.

[2020-07-29 13:27] marlonrichert commented on #64
@weilbith Now available on `master`.

[2020-07-29 13:27] #64 closed

[2020-07-29 13:28] marlonrichert commented on #69
@ajeetdsouza Now available on `master`.

[2020-07-29 13:28] #69 closed

[2020-07-29 13:29] marlonrichert commented on #71
@atwok Should be fine on `master` now. Reopen if not.

[2020-07-29 13:29] #71 closed

[2020-07-29 13:36] marlonrichert commented on #72
@slavistan It currently doesn't matter whether you declare your settings before or after you source `zsh-autocomplete`. Both should work, as long as you do it in your `.zshrc` file. Declaring them on the command line won't work. 🙂

[2020-07-29 14:22] atwok commented on #71
It works better now, thanks!

Just one related suggestion.  In my case, like yourself, I have 'cd' aliased to zoxide.  I was wondering if you can detect when the user is using one of these directory jumping tools and only offer them directory completions?  Or even if a user is just using regular 'cd'?  It does make sense when using other tools you want want a directory completion to get to a file.

[2020-07-29 16:05] ajeetdsouza commented on #69
Hey @marlonrichert,

I just tested this, and I'm not seeing any frecent results from zoxide. Am I doing something wrong? I haven't added anything to my configuration except `zgen load marlonrichert/zsh-autocomplete`.

[2020-07-29 17:00] weilbith opened #74 "Recent directorie/file suggestions from fasd are sorted reverse ranking"
### Describe the bug
The recent directory and file suggestions which come from `fasd` are sorted in wrong order. Actually they are sorted by rank reverse. So the suggestion with the lowest rank is sorted first, the highest rank last. I haven't looked into your implementation, but `fasd` does list candidates with the bottom line highest priority. You can pass the `-R` parameter to reverse this orde

[2020-07-29 18:02] marlonrichert commented on #74
Thanks for pointing this out. I wonder if any of the other dir jumping plugins I support list their results in a different order from the one I'm expecting. I'll have to investigate.

[2020-07-29 18:05] marlonrichert commented on #71
`zsh-autocomplete` offers frecent dirs from `zoxide` _anywhere_ that completion could offer a directory. Just try, for example, `cp`, `mv` or `rm`.

Or am I misunderstanding what you want? Could you offer some examples?

[2020-07-29 18:19] marlonrichert commented on #69
You need to also add `eval "$(zoxide init zsh)"` to your config. If `zoxide` is installed, but `zsh-autocomplete` does not find the function `_zoxide_hook`, then it assumes you are not actively using it.

Other than that, certain directories might be hidden from time to time because of how the completion system works.

[2020-07-29 18:40] ajeetdsouza commented on #69
Ah, I was initializing zoxide after loading the plugin. Thanks a lot!

[2020-07-29 19:16] marlonrichert commented on #74
@weilbith It's on `dev` now. Please try.

[2020-07-29 19:42] marlonrichert commented on #72
Hm, on closer inspection, this is going to be quite a bit more complex than I thought. There's a significant amount of logic that makes widget on demand. Perhaps I'll first implement #65 after all.

[2020-07-29 22:56] atwok commented on #71
My ask was a bit wordy.

I was wondering if there's a way to detect the user is trying to change directory and ONLY offer frecent dirs or local dirs?

It might not be possible or worth doing.  Just thinking out load.

[2020-07-30 08:22] marlonrichert commented on #71
You mean, instead of offering local dirs? Why would you want that? Then it would nearly impossible to navigate into local dirs. 🙂

Again, if you could give a concrete example, that would be really helpful.

[2020-07-30 08:38] weilbith commented on #74
Yes this works! :+1:

Btw, I wanted to say thank you again that you improved the matching as side feature on my last request. This is so much better to use!! :pray:

[2020-07-30 15:16] jcassee commented on #55
@marlonrichert This change seems to work very well. I had disabled the plugin again because of some interference I could not get to the bottom of, but I'm enabling it again and see how I fare. Thanks a lot!

[2020-07-30 15:25] jcassee opened #75 "Cannot disable frecent dirs feature"
### Describe the bug

The readme says `zstyle ':autocomplete:*' frecent-dirs off` can be used to turn the frecent dirs feature off. However, that does not seem to work. Also, `grep -r frecent .` at commit 3c7e78daf32f19d3091c088d041942c545d208f1 does not find anything.

### To Reproduce
Steps to reproduce the behavior:

[code]

The completion for `echo` will list frecent dirs.

### Expected behavi

[2020-07-30 22:15] atwok commented on #71
I meant to say "ONLY offer frecent dirs or local dirs?"

So right now

frecent_dir(s)
local_dir1/  local_dir1/
local_file.1  local_file.2

Is there some way to hide the local files when you know the user is changing directories?

Again, it's not a huge deal.  Sorry to be confusing.  :/

[2020-07-31 07:12] marlonrichert commented on #75
Thanks for reporting. I know what causes this. It will be easy to fix.

[2020-07-31 07:17] marlonrichert commented on #71
Oh, that’s actually a problem with `zoxide`. You’ll see that even without `zsh-autocomplete`, when you use `zoxide` to change dirs, its completion will offer files. Please file a bug at https://github.com/ajeetdsouza/zoxide/issues

[2020-07-31 12:05] marlonrichert commented on #74
Available now on `master`.

[2020-07-31 12:05] #74 closed

[2020-08-02 16:31] PythonNut opened #76 "Stops working when KSH_GLOB is set"
### Describe the bug

When KSH_GLOB is set, the pattern `*(history|search)*` is equivalent to `*` on [this line](https://github.com/marlonrichert/zsh-autocomplete/blob/3c7e78daf32f19d3091c088d041942c545d208f1/zsh-autocomplete.zsh#L591). This could be fixed by using an `emulate` call for that function.

### To Reproduce

[code]

### Expected behavior
`zsh-autocomplete` will work as normal.

### Act

[2020-08-02 20:22] marlonrichert commented on #76
@PythonNut I pushed in a fix on the `dev` branch. Please test.

[2020-08-02 20:23] marlonrichert commented on #65
@slavistan I pushed in a major rewrite with comprehensive documentation on the `dev` branch. Please try it out and let me know what you think.

[2020-08-02 20:24] marlonrichert commented on #72
@Oasixer @slavistan I pushed in a major rewrite with comprehensive documentation on the `dev` branch. Please try it out and let me know what you think.

[2020-08-02 20:24] marlonrichert commented on #73
Closing, since I cannot reproduce this and I haven't heard back from @daxmc99.

[2020-08-02 20:24] #73 closed

[2020-08-02 20:24] marlonrichert commented on #75
@jcassee This should be fixed now on the `dev` branch. Please test.

[2020-08-03 07:25] jcassee commented on #75
@marlonrichert Indeed, now works as advertised. Thanks!

[2020-08-05 14:18] Oasixer commented on #72
Hi @marlonrichert, unfortunately the commit '1eb79b6[...] Modularize the software architecture' seems to break the plugin for me, resulting in the following output as soon as the user starts typing (triggering the plugin):

`_autocomplete.main_complete:322: command not found: _autocomplete.extras
autocomplete.main_complete:322: command not found: _autocomplete.handle_long_list`

[2020-08-05 15:08] marlonrichert commented on #72
@Oasixer This should be fixed now on the `dev` branch. Please try again.

[2020-08-05 15:18] marlonrichert commented on #72
@Oasixer Sorry about that. This should be fixed now on the dev branch. Please try again.

[2020-08-05 17:11] Oasixer commented on #72
@marlonrichert unfortunately it's not fixed for me.

[2020-08-05 17:46] marlonrichert commented on #72
@Oasixer Did you
[code]
?

Please make sure you're not still on 1eb79b6.

[2020-08-05 17:50] marlonrichert commented on #72
@Oasixer Oh wait, you probably need to delete your compdump before this will start working:
[code]

I guess I should somehow make that part of this update. But how? 🤔

[2020-08-05 18:09] Oasixer commented on #72
@marlonrichert rm ~/.zcompdump did not fix either.

`$git log
commit 7b9554e945697dccb1b0813fa55430bc9c58ab4f (HEAD -> dev, origin/dev)
Author: Marlon Richert <marlonrichert@users.noreply.github.com>
Date:   Tue Aug 4 21:07:27 2020 +0300

    Make autocorrection deterministic

    * Make it synchronous again.
    * Use early screen refreshes to make it feel non-blocking.

$git rev-parse HEAD
7b955

[2020-08-05 18:45] marlonrichert commented on #72
@Oasixer How are you sourcing the plugin? Do you use
[code]
? Make sure you source the file that ends in `.plugin.zsh`, not just `.zsh`.

[2020-08-05 18:48] Oasixer commented on #72
I am sourcing the plugin.

Here is my zshrc
https://github.com/Oasixer/dotfiles/blob/master/.zshrc

[2020-08-05 19:04] marlonrichert commented on #72
Thanks for sharing. I found the problem: You're manually doing `autoload -U compinit && compinit`. That's what's throwing things off. I'll have to see how I can work around this.

[2020-08-05 19:08] Oasixer commented on #72
@marlonrichert I removed that line, removed zcompdump again, and the issue persists.

[2020-08-05 19:10] Oasixer commented on #72
@marlonrichert Okay I was able to fix the issue by sourcing zsh-autocomplete before sourcing oh-my-zsh. I'll push my working zshrc to the link above, if that helps you

[2020-08-05 19:43] marlonrichert commented on #72
No, that won't be necessary. I already know what the problem is: oh-my-zsh runs `compinit`, too.

[2020-08-06 22:05] marlonrichert commented on #72
@Oasixer I pushed in another update to the `dev` branch. Please try again.

[2020-08-07 14:46] neuroloops opened #77 "overwrite my path"
### Describe the bug
I was creating a new angular componente
```ng g c recipes/recipes-list```, then when I type `/` it change my path by another one ``` ng c node_modules/browserlist/```

### To Reproduce

![Screenshot_20200807_162907](https://user-images.githubusercontent.com/56033812/89657377-45d98500-d8cd-11ea-9286-996480a9d4cb.png)

### Expected behavior
Don't autocomplete my path

### Actual

[2020-08-08 08:02] marlonrichert commented on #77
@neuroloops Can you please try the `dev` branch? It should already be fixed there.

[2020-08-08 14:39] neuroloops commented on #77
it seems to work, i didn't have the issue.
I have another problem now, to confirm that problem was solve, I switched back to the `master` branch to reproduce the problem.

Then I moved again to the `dev` branch  but now I have this message when I `source ~/.zshrc`
`_autocomplete.add-zsh-hook:1: job table full or recursion limit exceeded`
How can I clear the table?

[2020-08-08 19:35] marlonrichert commented on #77
Don’t `source ~/.zshrc`. Just restart your terminal or shell. See https://github.com/marlonrichert/zsh-autocomplete/issues/41#issuecomment-639485938 and https://github.com/romkatv/powerlevel10k/blob/master/README.md#weird-things-happen-after-typing-source-zshrc

[2020-08-08 22:57] PythonNut commented on #76
It appears to be working again. Thanks!

[2020-08-08 23:04] neuroloops commented on #77
thank you, everything is working :+1:

[2020-08-08 23:04] #77 closed

[2020-08-09 00:47] daxmc99 commented on #73
Solved by removing the kubectl plugin from my plugin list...
[code]
All the other plugins were set to lastest. I'm not sure why this could happen but this resolved it

[2020-08-09 10:15] Geeky-nutcracker commented on #43
Sorry for my novice approach but I just couldn't get over this error. Since the error is kinda similar I'm mentioning it in here itself. The error is `_zsh_autosuggest_widget_modify:1: maximum nested function level reached; increase FUNCNEST?`. I'm getting it at every prompt.

I've downloaded this git repository and used the following in my `.zshrc`:
`source ${HOME}/.zsh/zsh-autocomplete/zsh-autoc

[2020-08-09 19:55] marlonrichert commented on #43
@mushi-nova Can you share your `~/.zshrc` file? It's kind of hard to tell what is the problem without any further info on your setup.

Also, the `master` branch is the default you get when you clone any Git repository. So, you should have the fix already.

[2020-08-09 19:57] marlonrichert commented on #43
@mushi-nova But also: Could you try out the `dev` branch and see if you have the problem there, too? You can do this as follows:
1. `cd ${HOME}/.zsh/zsh-autocomplete/`
2. `git pull`
3. `git checkout dev`
4. Restart your terminal.

[2020-08-10 14:32] weilbith opened #78 "Error messages: Assignment to invalid subscript range"
### Describe the bug
Sometimes while interacting with the command I type, auto-completion causes to print error messages. They then get printing quite often until I finish the command. My prompt gets redrawn again and again with the "old" command is automatically inserted again and the cursor on the new location.

### To Reproduce
I recognize this issue especially when editing a delete command. Be

[2020-08-10 16:53] paroque28 opened #79 "Oh-My-Zsh installation error"
### Describe the bug

Error when installing plugin with Oh-My-Zsh

[code]

### To Reproduce
Steps to reproduce the behavior:
[code]

[code]

### Expected behavior

### Actual behavior

### Desktop
 - OS + distribution: Ubuntu 20.04
 - Zsh version: 5.1.1
 - Plugin version: 3c7e78daf32f19d3091c088d041942c545d208f1

### Additional context

[2020-08-10 19:51] mushi-nova commented on #43
Sorry for the trouble. Actually this error almost wrecked zsh since I made a stupid mistake. So I reinstalled everything from the very beginning and everything was okay. And as far as your as previous answer, yeah I went into the `master` branch and read that it was already solved with a fix. Anyway, I'm still unaware of the reason why that happened. Thanks for the reply. If you still wish to see

[2020-08-11 06:43] marlonrichert commented on #79
@paroque28 Can you try the `dev` branch and see if it works there?

[2020-08-11 06:56] benwoodward opened #80 "Unable to execute command first time if I type too fast."
I'm not 100% certain this is a bug with this plugin, however, even though I'm not able to reproduce it by running `zsh -df`, however, I am able to reproduce it with `zsh-autocomplete` being the only thing that is being sourced in my `.zshrc`.

EDIT: Done some more testing, pretty convinced this is an `zsh-autocomplete` issue, I think the reason I can't reproduce it with `zsh -df` is because the pl

[2020-08-11 08:28] marlonrichert commented on #80
@benwoodward Thanks for reporting. What happens when the command doesn't execute? It's not clear to me from your video.

[2020-08-11 08:29] marlonrichert commented on #80
Also, which prompt/theme are you using? Does the problem occur when you don't use it?

[2020-08-11 08:32] benwoodward commented on #80
When it doesn't execute iTerms makes an alert noise and flashes the bell icon (I think this signifies bad input).

I'm using powerlevel10k, however, I have tried disabling it and that didn't resolve the issue.

[2020-08-11 08:32] marlonrichert commented on #78
@weilbith Thanks! I'm able to reproduce this on `master`. Have you checked if this is also an issue on `dev`?

[2020-08-11 08:39] marlonrichert commented on #80
What do you mean with "doesn't execute"? Do you stay on the same prompt? Do you get a new prompt but without the output of the command? In your video, the command seems to execute successfully before time, but now and then, there's a short delay before seeing output. It would help if your video would show when exactly you are pressing enter and how many times.

Having said that, I cannot reproduce

[2020-08-11 08:39] weilbith commented on #78
No I haven't. Why would you expect it to be different there? Did you already worked on improvements that could affect this issue?

[2020-08-11 08:41] marlonrichert commented on #80
Does #62 look to you like it's the same issue?

[2020-08-11 08:41] marlonrichert commented on #62
@yuki-ycino Does it look to you like #80 is the same issue?

[2020-08-11 08:43] marlonrichert commented on #78
I've completely reorganized the code on the `dev` branch. Many things work differently now.

However, I just tried out the `dev` branch and it seems what I last pushed in is actually broken. So, no point in checking that out now.  I'll let you know when I've fixed it.

[2020-08-11 09:10] benwoodward commented on #80
By _not executing_, I mean that I can't submit the prompt so to speak, so yes I am on the same prompt.

When you see the bell on screen, that's when I press enter the first time, and iTerm is not executing the command and making an error sound. Then I press enter again and the command executes creating a new prompt.

![image](https://user-images.githubusercontent.com/1472981/89879269-c9211080-dc16

[2020-08-11 09:13] benwoodward commented on #80
It really seems like what's happening is that because the plugin overrides _enter_, there's a period of time where the plugin hasn't completed loading the suggestions but it is also listening for the _enter_ keypress.

[2020-08-11 09:53] marlonrichert commented on #80
Thanks for the clarification. 👍🏽 That's interesting. I'm not explicitly listening to <kbd>enter</kbd>.

Does this same problem occur for you when you use macOS's built-in Terminal app?

[2020-08-11 09:59] benwoodward commented on #80
Just tested it, yes it does.

[2020-08-11 10:10] marlonrichert commented on #80
Can you try the following?
[code]
Does it make a difference?

[2020-08-11 10:13] benwoodward commented on #80
No, unfortunately it does not.

[2020-08-11 10:16] benwoodward commented on #80
My `.zshrc`: https://github.com/benwoodward/dotfiles/blob/master/.zshrc

[2020-08-11 10:25] marlonrichert commented on #80
Oh, that's interesting. I haven't tested with `zplug`. Can you `git pull` to update the `dev` branch and try again?

[2020-08-11 10:26] marlonrichert commented on #80
@benwoodward Can you please show me that version of your `.zshrc`?

[2020-08-11 11:40] marlonrichert commented on #80
@benwoodward I fixed the problem on the `dev` branch. Please update and try again.

[2020-08-11 12:35] marlonrichert commented on #78
For me, it appears to be a problem with `zinit`. Are you using that? I have a workaround, but I still need to test it a bit more.

[2020-08-11 12:49] weilbith commented on #78
Nope. On this machine here I use `antibody`...

[2020-08-11 14:03] paroque28 commented on #79
@marlonrichert It us a bit better now:

[code]

[2020-08-11 14:41] marlonrichert commented on #79
Well, that's interesting. What output do you get from `echo $fpath`?

[2020-08-11 15:27] paroque28 commented on #79
The output is as follows:

[code]

Also:

[code]

The plugin is installed in `/home/prodrigu/.oh-my-zsh/custom/plugins/ `

[2020-08-11 17:29] marlonrichert commented on #79
@paroque28 You're missing [`/usr/share/zsh/functions/Math/`](https://github.com/zsh-users/zsh/tree/master/Functions), which [does not exist in Zsh 5.1.1](https://github.com/zsh-users/zsh/tree/zsh-5.1.1/Functions), and also `add-zle-hook-widget`, which [does not exist in Zsh 5.1.1 either](https://github.com/zsh-users/zsh/tree/zsh-5.1.1/Functions/Misc). `zsh-autocomplete` cannot function without tho

[2020-08-11 17:29] marlonrichert commented on #79
I will update the Readme to state this.

[2020-08-11 18:19] paroque28 commented on #79
Oh, great :) I will just update my ZSH version.
Thank you

[2020-08-11 18:19] #79 closed

[2020-08-11 18:31] paroque28 opened #81 "command not found: _autocomplete.extras"
### Describe the bug

### To Reproduce
Steps to reproduce the behavior:

[code]

### Expected behavior

Normal shell

### Actual behavior
[code]

### Desktop
 - OS + distribution: Ubuntu 16.04
 - Zsh version: 5.8
 - Plugin version: dev branch

### Additional context

[2020-08-11 18:32] paroque28 commented on #81
After updating ZSH version I encountered this problem

[2020-08-11 20:25] marlonrichert commented on #81
@paroque28 Please don't file bugs against the `dev` branch. 🙂 Everything there is experimental and very likely to change.

[2020-08-11 20:25] #81 closed

[2020-08-11 20:27] marlonrichert commented on #78
@weilbith Did you try this on the `dev` branch yet?

[2020-08-11 23:41] benwoodward commented on #80
I was able to install the dev branch, thanks. I had to entirely remove the plugin with `zplug clean` before the suggestions worked.

Unfortunately I'm still experiencing the issue. I've made a new gif and slowed it down so it's easier to analyse. I managed to hit enter twice before successfully executing the prompt command on one attempt, meaning I had to press enter three times to execute the pro

[2020-08-12 05:14] marlonrichert commented on #80
@benwoodward After sourcing `zsh-autocomplete`, can you do the following and see if that helps?
[code]

[2020-08-12 06:28] weilbith commented on #78
Haven't you stated in a comment above that you tried it yourself and it doesn't help? 😮

[2020-08-12 22:56] benwoodward commented on #80
I pasted that into the shell and I'm still experiencing the issue.

[2020-08-12 23:15] benwoodward commented on #80
However.. it could be my imagination, but the behaviour does seem slightly different. The plugin renders a list of suggestions based on what's been typed, as you type the suggestion list is updated. What seems to happen now is that the issue doesn't occur on the first list, but if I keep typing a second list is rendered and if I hit enter _juust_ after this second list is rendered then I experienc

[2020-08-12 23:25] benwoodward commented on #80
Just been typing commands for a few minutes trying to reproduce and can no longer reproduce, kinda seems like the issue maybe goes away after stuff is cached?

[2020-08-12 23:41] benwoodward commented on #80
Actually experiencing it again, but only on `g d`, I'm guessing because this is the only command I can type fast enough to trigger the issue

[2020-08-12 23:48] benwoodward commented on #80
Experienced it again, but on a longer command. Seems that the issue occurs on commands that haven't already been typed.  🤔

[2020-08-13 05:15] marlonrichert commented on #80
@benwoodward I just noticed in your vid that you’re using aliases. Does it happen only when you use aliases?

And does it happen, too, if you type only last letter or two quickly and press enter? Or do you need to type the whole command quickly?

[2020-08-13 08:36] benwoodward commented on #80
I have tested that and it is not limited to aliases

I have tested this, and it seems to occur when a new list of suggestions is loaded, if I press enter within a short enough time of a new list of suggestions being shown I encounter the issue. So for example, if I type `git checkout fix/` I'll see a list of suggestions that consists of all my branches beginning with `fix/`, if I delete `fix/` and

[2020-08-13 09:01] benwoodward commented on #80
Just tried again, and it seems like it only occurs if I hit enter just _before_ a new list of suggestions appears. It happens so quickly that it's difficult to feel certain about how this happens. If you want we could do a screenshare so you can see what's happening.

[2020-08-13 10:34] marlonrichert commented on #78
@weilbith No, I meant that the whole `dev` branch was broken. It's fixed now, though. So, please `git checkout dev; git pull` and try again. Your problem is currently not occurring for me on the `dev` branch.

[2020-08-13 10:38] marlonrichert commented on #80
@benwoodward I just noticed that you're using `zsh-autosuggestions`. Does the problem also occur without it?

[2020-08-13 15:02] paw-lu opened #82 "Ability to combine ':autocomplete:tab:*' behaviors"
### Is your feature request related to a problem? Please describe.

Hi @marlonrichert ! I've been really enjoying your work! I had a question:

I'd like to be able to use

[code]

and

[code]

simultaneously.

I'm not sure how to set this up (or if it's even possible). I know you can chain options in `':autocomplete:space:*'` like so

[code]

though this doesn't seem to work for `':autocomplete:ta

[2020-08-13 17:31] marlonrichert commented on #82
I like the idea. The tab completion code, however, is a lot more complex than the magic space code. I'll have to think about it how this should work. 🙂

[2020-08-13 17:44] marlonrichert commented on #80
For what it's worth, I tried it now with `zsh-autosuggestions` enabled, but I still cannot reproduce it.

[2020-08-13 19:04] paw-lu commented on #82
No problem, and of course no pressure!

Mostly wanted to make sure this wasn't something that was available already, and that I was just getting the `zstyle` syntax incorrect.

Thanks for your project! 🤗

[2020-08-13 22:40] benwoodward commented on #80
Just removed `zsh-autosuggestions` with `zplug clean`, reloaded the shell and tested, error still occurs. It seems to happen when there's an existing list of suggestions and I hit enter just as the new one is loaded.

[2020-08-14 02:54] benwoodward commented on #80
I just recreated my `.zshrc` from scratch one config at a time but this time I used `zinit` instead of `zplug` and the issue has completely gone away.

My shell is noticeably snappier after switching to `zinit`, so I'm putting this down to my previous shell config leading to too much stuff being stored in memory which caused delays between functions. Or something to that effect.

Thanks for lookin

[2020-08-14 02:54] #80 closed

[2020-08-14 04:16] marlonrichert commented on #80
Great to hear you managed to solve it! 👏🏽🥳

[2020-08-14 04:33] benwoodward commented on #80
Thanks for this awesome plugin!

[2020-08-14 04:56] marlonrichert commented on #80
@benwoodward But by the way, I could look into making `zsh-autocomplete` faster with `zplug`. I’ve done the same for `zinit`.

[2020-08-14 05:10] benwoodward commented on #80
Thanks, however, I'm not attached to using `zplug`, but if someone else runs into this issue, hopefully this gives you an idea of what's causing the issue.

[2020-08-18 08:23] weilbith commented on #78
Sorry for the delay.
It appears like I can't simply source the `zsh-autocomplete.plugin.zsh` anymore. I get a lot of errors for unknown/defined things. How can I source this manually now? I need to switch my plugin-manager anyways, but for know switching the branch appears to be not so easy (or more correct I'm never sure if it worked or not). Is there a chance I can still do this somehow else?

[2020-08-18 10:17] marlonrichert commented on #78
@weilbith Hm, you are right. It seems I have broken the `dev` branch for the case where simply `source` the plugin. I'll have to investigate what's the problem.

[2020-08-18 10:24] marlonrichert commented on #78
@weilbith OK, should be fixed now.

[2020-08-20 02:16] thefriedman opened #83 "Autocomplete prints "bad pattern" errors when directory in path history contains "#""
### Describe the bug
When user has a directory with a "#" symbol in it in their recent paths, autocomplete spits out a bunch of "bad pattern" errors once you type or ask for completion.

### To Reproduce
Steps to reproduce the behavior:

[code]
At this point the `bad pattern` errors are seen in the shell:
[code]

### Desktop
 - OS + distribution: MacOS  10.15.6
 - Zsh version: 5.7.1
 - Plugin vers

[2020-08-21 08:19] marlonrichert commented on #83
Thanks for reporting. I know how to fix it. You won't need to clear the bad dirs from your path history. 🙂

[2020-08-24 03:38] PythonNut commented on #76
It worked when I checked 3c7e78daf3, sorry for the delay. I'll reopen if it ever becomes an issue.

[2020-08-24 03:38] #76 closed

[2020-08-24 07:38] marlonrichert commented on #76
Don’t worry about it. 🙂 I’ve kept it open, because it’s not merged yet to `master`. I’ve been doing a complete refactoring of the codebase on the `dev` and it’s taking me some time to iron out all the kinks.

[2020-08-24 08:11] weilbith commented on #78
Hey. Sorry that I haven't respond. I was on vacations and still am. And I have no PC with me around. So just leaving here a comment via phone.

So you fixed the source problem or/and the original bug? If both I would just trust you, since you were able to reproduce it on your PC. Else this issue would remain open for so long.

[2020-08-24 10:50] marlonrichert commented on #78
OK, I’ll close it. You can reopen if necessary.

[2020-08-24 10:50] #78 closed

[2020-08-26 04:11] marlonrichert commented on #65
@slavistan Can you please try out the `dev` and let me know what you think? Documentation over here: https://github.com/marlonrichert/zsh-autocomplete/blob/dev/README.md#advanced-use-your-own-completion-config

[2020-08-26 04:14] marlonrichert commented on #72
@Oasixer  @slavistan Can you please try out the `dev` and let me know what you think? Documentation over here: https://github.com/marlonrichert/zsh-autocomplete/blob/dev/README.md#advanced-choose-your-own-key-bindings

[2020-08-26 17:03] Oasixer commented on #72
@marlonrichert Yeah I've been using the customized keybinds for a while, but I wasn't updated to the latest version. I'll try it and let you know. Btw for some reason, zsh-autocomplete seems to override the built in binding for fzf '^k' which is equivalent to the up arrow. I haven't really investigated it yet though so I'll get back to you later and see if I can find a more precise cause

[2020-08-29 20:18] marlonrichert commented on #75
Merged to `master`.

[2020-08-29 20:18] #75 closed

[2020-08-29 20:19] marlonrichert commented on #48
Done.

[2020-08-29 20:19] #48 closed

[2020-08-29 20:19] marlonrichert commented on #65
Merged to `master`.

[2020-08-29 20:19] #65 closed

[2020-08-29 20:20] marlonrichert commented on #72
Merged to `master`.

[2020-08-29 20:20] #72 closed

[2020-08-29 20:20] marlonrichert commented on #83
Merged to `master`.

[2020-08-29 20:20] #83 closed

[2020-08-30 19:08] marlonrichert commented on #41
Available now on `master`.

[2020-08-30 19:08] #41 closed

[2020-08-30 19:16] marlonrichert opened #84 "Kill ring completion"
### Is your feature request related to a problem? Please describe.
Using `yank-pop` is clumsy. `yank` would be much better with menu selection.

### Describe the solution you'd like
When you press <kbd>Ctrl</kbd><kbd>Y</kbd>, it should open a completion menu with you current kill ring. It should ignore `$PREFIX` and `$SUFFIX`. `yank` should be a `menu-select` widget.

### Describe alternatives you

[2020-08-31 09:53] GuyKlaassen opened #85 "Autocomplete not working after minimizing and restoring terminal window"
Based on the following conversation:
https://www.reddit.com/r/zsh/comments/iizw2q/new_zshautocomplete_features_history_menu/g3e7g57/

### Describe the bug
I have a hotkey with which I open iTerm2 as the top half of my screen.
If I first launch iTerm2, autocomplete works fine. I can even complete commands, close the window, reopen the window, and it still works.
As soon as I type something and remo

[2020-08-31 12:03] marlonrichert commented on #85
Thanks for narrowing it down!

What do you mean with "close the window, reopen the window"? I am not familiar with iTerm 2. I just downloaded it and I can't seem to find any way to reopen [closed windows](https://support.apple.com/guide/mac-help/work-with-app-windows-mchlp2469/mac#apd283539665be34). Do you perhaps mean [minimize and restore](https://support.apple.com/guide/mac-help/work-with-app-w

[2020-08-31 13:12] GuyKlaassen commented on #85
I have a hotkey window (https://www.iterm2.com/documentation-hotkey.html) that, according to that documentation, "opens and closes the window". I would say it is more a show/hide, as it doesn't close the session or application.

[2020-08-31 16:06] windowswithoutborders opened #86 "autocomplete breaks prompt theme"
### Describe the bug

When running a prompt theme, autocomplete breaks the prompt styling, exposing the formatting instead of properly drawing it.

### To Reproduce
Steps to reproduce the behavior:
1)use prompt theme
2)type any character and press down. no spaces required.

[code]

### Expected behavior

prompt properly draws

### Actual behavior

prompt formatting is exposed

### Desktop
 - OS +

[2020-08-31 16:15] windowswithoutborders opened #87 "history menu opens slow with large history file"
### Describe the bug

There is a considerable delay when opening the history menu with thousands of entries

### To Reproduce
Steps to reproduce the behavior:
Have large zsh_history file (mine is 250k with 9000+ lines) and open history menu

[code]

### Expected behavior

History menu opens without considerable delay
### Actual behavior

History menu opens after a considerable delay

### Desktop

[2020-08-31 17:06] windowswithoutborders opened #88 "Feature modularity"
If possible, please consider implementing a way of disabling certain features of the plugin. Having control over which features are enabled would really help with better fitting the plugin into any given workflow.

[2020-08-31 17:51] marlonrichert commented on #88
You’re in luck: I _just_ implemented this in 07667b073059bcb82d98a5106e5d75fba0230156! 😃

See [this part of the Readme](https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#advanced-use-your-own-completion-config) for examples.

[2020-08-31 17:51] #88 closed

[2020-09-01 06:50] crian opened #89 "no such hash table element: add-zsh-hook"
### Describe the bug
Getting this message when i start the terminal:
`(anon):unfunction:30: no such hash table element: add-zsh-hook`

### To Reproduce
Steps to reproduce the behavior:

[code]

### Desktop
 - OS + distribution: Arch Linux
 - Zsh version: 5.8
 - Plugin version: cb01fad1c99b56183fedb6fc43b096f6a9e92e05

[2020-09-01 09:09] GuyKlaassen commented on #85
After looking into it a bit more, this is not behaviour specific to iTerm2.
If I use the regular macOS terminal it shows the same behaviour when I minimize and restore the terminal to my dock.

[2020-09-01 11:42] marlonrichert commented on #89
@crian Can you please fill out the steps to reproduce?

[2020-09-01 11:49] marlonrichert commented on #86
@windowswithoutborders I cannot reproduce this. Can you give me a more specific test case?

[2020-09-01 19:11] marlonrichert commented on #89
Fixed and pushed to `master`.

[2020-09-01 19:11] #89 closed

[2020-09-01 19:13] marlonrichert commented on #85
@GuyKlaassen Can you please `git checkout dev` and see if it solves the problem? I pushed in a potential fix on the `dev` branch.

[2020-09-01 19:15] marlonrichert commented on #86
@windowswithoutborders Usually this happens when an error message is printed at the same time that the prompt is being drawn. Do you see any visible message at the top of the prompt formatting?

[2020-09-01 19:27] GuyKlaassen commented on #85
It does solve the problem!
Only thing is that it now "remembers" all the autocomplete suggestions of the last character you removed.
In this case the "w" (top half is iTerm2, botom halve is regular macOS terminal:
![image](https://user-images.githubusercontent.com/50806487/91896927-dff8d700-ec99-11ea-9ae1-a873107dbba2.png)

[2020-09-02 05:19] marlonrichert commented on #85
@GuyKlaassen That is really strange and I honestly don’t know what to do about it. Might it be a bug in iTerm2?

But does the problem go away when you start typing again? Then it’s not really a big deal, is it?

[2020-09-02 05:23] marlonrichert commented on #85
Actually, I think what might be happening is that it doesn’t redraw the completions until you start typing again. So, the completion finishes, but it’s not shown until you type the next character.

[2020-09-02 06:17] GuyKlaassen commented on #85
As I showed in the screenshot it also happens in the regular macOS terminal, so it's not related to iTerm2.
And it does go away if I start typing again, it's just that before the change all the suggestions would go away when the prompt was empty. So the bug seems to be fixed (I also got some other errors/bugs while testing, but that might be related to other changes in the dev branch), but this (m

[2020-09-02 06:31] yutakatay opened #90 ".autocomplete.async.complete.fd-widget:21: completion cannot be used recursively (yet)"
### Describe the bug

When I set `zstyle ':completion:*:default' menu select=1`, the following error occurs.

`.autocomplete.async.complete.fd-widget:21: completion cannot be used recursively (yet)`

The version at the end of July had no problems.

### To Reproduce
Steps to reproduce the behavior:

[code]

### Expected behavior
I can select the completion candidates.

### Actual behavior
I cannot

[2020-09-02 09:24] marlonrichert commented on #85
I cannot reproduce this new problem, not in  iTerm nor in Terminal. So, it's kind of impossible for me to fix. :)

I will merge the commit to `master` and then close this issue, since the original problem was solved. If you can find some way for me to reproduce the new problem locally, feel free to open a new issue for it.