[2020-09-02 09:34] marlonrichert commented on #90
@yutakatay I cannot reproduce this with the steps you provided. Are you sure you didn't leave something out?

[2020-09-02 09:39] yutakatay commented on #90
Oh, really? I've checked that and the procedure is correct. I'll try to reproduce it on docker.

[2020-09-02 09:48] yutakatay commented on #90
OK. I could reproduce on docker.

[code]

You should be able to see the error message.

[code]

[2020-09-02 10:08] GuyKlaassen commented on #85
That's completely fair!
Thanks for the fix 👍

[2020-09-02 10:37] marlonrichert commented on #90
Sorry, I don't use Docker. :(

[2020-09-02 10:38] marlonrichert commented on #90
Does the problem occur when you use the `dev` branch?

[2020-09-02 10:43] yutakatay commented on #90
This error occurs even if I use the dev branch.

[2020-09-02 12:10] marlonrichert commented on #90
OK. Let me know if you can figure out why this happens, because I still cannot reproduce it. @yutakatay @srappan

[2020-09-02 13:12] yutakatay commented on #90
I investigated it by changing a few parameters and settings, but I couldn't find the problem.

It definitely reproduces in my environment. I will use this commit (3c7e78daf32f19d3091c088d041942c545d208f1) for a while.

[2020-09-02 16:24] windowswithoutborders commented on #86
Just noticed the error message at the top of the prompt is `.autocomplete.async.complete.fd-widget:21: completion cannot be used recursively (yet)` which I see someone has recently created an issue for. I'll try and provide relevant info in regards to this as i come upon it in that thread.

[2020-09-02 16:24] #86 closed

[2020-09-02 16:25] windowswithoutborders commented on #90
just wanted to add that this is the specific message I see when my themed prompt breaks.  I'll let you know if i can narrow it down to what might be causing this.

[2020-09-02 17:50] marlonrichert commented on #90
Is that the very last commit that works for you? Or can you still find a later one that works? It would help me a lot if you could find the exact point at which this broke.

[2020-09-02 18:06] marlonrichert commented on #90
@windowswithoutborders Are you also using `zstyle ':completion:*:default' menu select=1`? Or do you have the problem without it? What is the minimal amount of setting with which you can reproduce this?

[2020-09-02 18:08] marlonrichert commented on #90
@yutakatay What is it exactly you’re trying to accomplish with `zstyle ':completion:*:default' menu select=1`?

[2020-09-02 18:45] marlonrichert commented on #90
@yutakatay @windowswithoutborders @srappan I was finally able to reproduce it and pushed in a fix on the `dev` branch. Please `git checkout dev` and let me know whether it works for you, too.

[2020-09-03 01:08] yutakatay commented on #90
Great work! I used the dev branch and it seems to have fixed this problem.

Thank you :smile:

[2020-09-03 01:08] #90 closed

[2020-09-03 12:53] pcjmfranken opened #91 "No completion after clearing command with fast-syntax-highlighting"
### Describe the bug
With `zdharma/fast-syntax-highlighting` active, no completion menu shows when removing typed a command without executing and then typing something new. Opening the history menu with the up or down arrow seems to unstuck it.

~~Issue does not seem to occur with `zsh-users/zsh-syntax-highlighting`.~~ I actually can reproduce it with `zsh-users/zsh-syntax-highlighting` as well, j

[2020-09-03 16:52] bashenk opened #92 "Affects ctrl+r and ctrl+s behavior without explanation (with specific plugins)"
### Describe the bug
By default (i.e., without this plugin), `ctrl+r` displays `bck-i-search: ` followed by stdin and `ctrl+s` displays `fwd-i-search: ` followed by stdin.
With this plugin loaded, those messages are removed. There is no documentation mentioning this nor a clear way of reversing the change.
Without any config files loaded (i.e., by running `zsh -df` and sourcing the plugin manually

[2020-09-03 17:29] yutakatay commented on #91
I had the same problem before. But I solved the problem by loading fast-syntax-highlighting before zsh-autocomplete.
Give it a try.

[2020-09-03 21:33] pcjmfranken commented on #91
Thanks, tried that earlier but the issue persists. Forgot to mention in the original report 😑

[2020-09-05 07:51] marlonrichert commented on #92
I noticed the same thing yesterday. I have a fix ready and will push it in soon.

[2020-09-05 07:55] marlonrichert commented on #91
@yutakatay @pcjmfranken Does this problem also occur when you use the `dev` branch?

[2020-09-05 13:11] marlonrichert commented on #92
@bashenk It should be fixed now on the `dev` branch. Can you please try it out?

[2020-09-05 14:00] pcjmfranken commented on #91
Fixed in `dev`, nice!

[2020-09-07 16:27] marlonrichert commented on #85
Fix merged to `master`.

[2020-09-07 16:27] #85 closed

[2020-09-07 16:30] marlonrichert commented on #87
@windowswithoutborders I pushed in a fix (plus a bunch of other history-related features) on the `dev` branch. Want to give it a try?

[2020-09-07 16:30] marlonrichert commented on #91
Should be fixed now on `master` with fbb82dfbe1e5d8fe04e8bef2a968b971acdfd5a3

[2020-09-07 16:30] #91 closed

[2020-09-07 16:31] marlonrichert commented on #92
Fix now available on `master`.

[2020-09-07 16:31] #92 closed

[2020-09-07 17:38] yutakatay opened #93 "no such terminfo capability: smkx and rmkx on virtual console"
### Describe the bug

I noticed the following error when I switched from the GUI to the console on Linux by pressing Ctrl-Alt-F2.

[code]

I found that I could avoid this error by applying the following patch.

[code]

I hope you will consider fixing it.

### To Reproduce
Steps to reproduce the behavior:

[code]

### Expected behavior
No error message

### Actual behavior
I get this error message

[2020-09-07 21:20] marlonrichert commented on #93
@yutakatay I pushed in a fix on the `dev` branch. Can you try it out?

[2020-09-08 02:06] yutakatay commented on #93
This problem is fixed.

Thank you :wink:

[2020-09-08 02:06] #93 closed

[2020-09-08 21:30] daxmc99 commented on #87
Is there a quick way to unbind the up arrow from being taken by `zsh-autocomplete`

[2020-09-08 21:32] daxmc99 commented on #87
On the dev branch I get `.autocomplete.patch:37: maximum nested function level reached; increase FUNCNEST?`

[2020-09-09 06:22] marlonrichert commented on #87
Instructions for disabling automatic keybinds can be found in the Readme: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#advanced-choose-your-own-key-bindings

I'm not seeing that. Can you open a separate issue for it, please?

@daxmc99

[2020-09-09 16:09] maarekj opened #94 "Bug in the history when there are duplicates"
### Describe the bug
When I have duplicates in my history, only the oldest one is displayed when I press `<up>`.

### To Reproduce
Example to reproduce the bugged behaviour

[code]

The history command print:
[code]

And the press `<up>` print:
[code]

### Expected behavior
The `ls -alh` command is in line 2 and 4 of the history.
In `<up>` it should be the same.

### Desktop
 - macOS
 - Zsh versio

[2020-09-09 17:54] marlonrichert commented on #94
@maarekj I pushed in a fix on the `dev` branch. Want to try it out?

[2020-09-09 20:01] maarekj commented on #94
It's fixed.
Thank you very much.

[2020-09-09 20:01] #94 closed

[2020-09-09 21:44] bashenk commented on #92
Thank you for the fix! Sorry, I missed the notification earlier.

[2020-09-09 21:59] windowswithoutborders commented on #87
just tried out the dev branch. can confirm it is perfectly snappy on my end. thanks! This is shaping up to be a must have zsh extension as far as I'm concerned.

[2020-09-12 16:20] jakecoble opened #95 "Interferes with fast-syntax-highlighting"
### Describe the bug
When loaded before fast-syntax-highlighting, syntax highlighting is applied only if the user presses enter (i.e. syntax coloring is only applied to commands in the scrollback buffer).

When loaded after fast-syntax-highlighting, syntax highlighting is applied, but recursive `eval` and subshell syntax highlighting is not (i.e. `ls` in `eval "ls"` will not be highlighted as expe

[2020-09-12 21:44] jakecoble commented on #95
The two plugins appear to be having a disagreement over `region_highlight`. Unclear whether this is a zsh-autocomplete bug or a fast-syntax-highlighting bug.

[2020-09-13 08:30] artfulrobot opened #96 "Since update history-beginning-search-backward not working"
### Describe the bug

I just updated, (from c3359401f81bcfe26a9238a961391a05e3972e3b), and now my up-arrow behaviour is (a) different and (b) seems broken. My up-arrow key is bound to `history-beginning-search-backward `.

Before the update I could type `ls` hit ↑ and it would complete the line with the latest matching `ls...` from my history, repeated presses of ↑ went further throught the histor

[2020-09-13 08:50] marlonrichert commented on #95
Thanks for reporting. Can you give me a couple of concrete test cases with which I can observe this behavior?

[2020-09-13 20:42] marlonrichert commented on #96
I'm working on a better version of the history menu. Once it's ready, I'll push it to `master`, but you can already try it out on the `dev` branch.

[2020-09-13 23:38] jakecoble commented on #95
Ran a bisection and it looks like this bug was introduced in 005da66cd152681b1953f02dbb2d4c3c17e47970

[2020-09-17 16:45] marlonrichert commented on #96
It's because I'm working on #82. Read the [Readme in the `dev` branch](https://github.com/marlonrichert/zsh-autocomplete/blob/dev/README.md#change--and--behavior). The syntax has changed.

[2020-09-18 15:29] marlonrichert commented on #82
@paw-lu Have you tried it yet?

[2020-09-18 16:24] paw-lu commented on #82
Just updated and tried to give it a shot, but it ended up locking up my terminal for some reason after updating.

Had these in my `.zshrc`

[code]

Eventually I get this message:

[code]

[2020-09-18 16:24] paw-lu commented on #82
I'll investigate this a bit more later.

[2020-09-18 16:40] paw-lu commented on #82
Did a clean reinstall and things seem to be okay now, can't reproduce the original issue.

Things are also working well with

[code]

one issue is that 005da66 seems to mess with `zsh-autosuggestions`. I'll open a separate issue for that.

Thanks for notifying me, and again, thanks for the project!

[2020-09-18 16:46] paw-lu opened #97 "Commit 005da66 interferes with zsh-autosuggestions coloring"
### Describe the bug
 Commit 005da66 changes the muted coloring on zsh-autosuggestions to that of the default text. Commit before that works fine.

### To Reproduce

On 1e1be3a

<img width="431" alt="Screen Shot 2020-09-18 at 9 37 56 AM" src="https://user-images.githubusercontent.com/30049606/93623454-a14e6680-f993-11ea-9f34-63372eaa8e74.png">

On 005da66

<img width="431" alt="Screen Shot 2020-09

[2020-09-18 19:57] PythonNut commented on #63
Now, it seems like the `zstyle` options are ignored on the latest master.

[2020-09-18 20:00] PythonNut opened #98 "Provide settings to disable key bindings individually"
### Describe the solution you'd like
While the new history menu you created is very nice, it doesn't match my workflow so I would like to disable it.

### Describe alternatives you've considered

I could work around this if the `key-binding` zstyle option still worked.

[2020-09-19 16:10] marlonrichert commented on #98
@PythonNut I renamed the setting to `bindkey`. But I guess this should serve as a reminder for me to keep the old setting names, too. :)

[2020-09-19 16:15] marlonrichert commented on #98
Or perhaps I should just change it back for the time being. I should also think of some way to enable key bindings more selectively. You are not the only one who has asked for it.

[2020-09-19 16:31] marlonrichert commented on #98
No, I cannot think of any reasonable way to provide detailed key binding settings, without reimplementing `bindkey`. I think I’ll stick with just `yes/no`. However, I could provide a `yes/no` toggle for each key (or group of keys) that would be bound. 🤔

So, one `bind-key yes/no` setting for each of the following key groups (or “contexts”, in `zstyle` jargon:
* Tab + backtab
* Up arrow + down arro

[2020-09-19 19:28] marlonrichert commented on #63
Should be fixed in 0ee9470d3f80981b520b29aa919f8d6be956350d.

[2020-09-19 19:29] marlonrichert commented on #98
@PythonNut It's there now on the `dev` branch. Please try it out and let me know what you think.

[2020-09-22 09:58] artfulrobot opened #99 "max-lines range based on prompt's vertical position"
### Is your feature request related to a problem? Please describe.

It's great that we can restrict `max-lines` with a % or an integer number of lines. However this leads to two different experiences depending on where your cursor is on the screen.

If you have a new terminal, or have just <kbd>Ctrl-L</kbd> or `clear`ed your screen then the menu does not cause any scrolling. But if you're near the

[2020-09-22 15:22] marlonrichert commented on #99
@artfulrobot I like the idea. I don’t think we need two values, though. If `LINES_MIN` is equal to `max-lines` and `LINES_MAX` is always equal to `100%`, that would be enough.

In addition to this, whenever a new prompt gets drawn, I could tell the terminal to scroll in such a way that you always have `LINES_MIN` empty lines below it. Then each prompt would “jump” only when it gets drawn and not w

[2020-09-22 17:47] marlonrichert commented on #99
Thanks, that's good to know. Perhaps it would be a good tradeoff if only, say, `0.5 * LINES_MIN` at the bottom of the screen would be reserved for completions? Then the screen would at least jump less when the completions kick in.

[2020-09-24 11:44] maarekj opened #100 "The "zstyle ':autocomplete:tab:*' completion select" no longer works"
### Describe the bug
The option `zstyle ':autocomplete:tab:*' completion select` no longer works in last commit.

### To Reproduce
Steps to reproduce the behavior:

[code]

### Expected behavior
tap ⇥ must enter in completion menu, not select the first item. (If `completion select` is set for `:autocomplete:tab:*`)

### Actual behavior
tap ⇥ selects the first item of menu.

### Desktop
 - OS + dis

[2020-09-25 08:45] marlonrichert commented on #95
@jakecoble This should be fixed now on the `dev` branch. Can you please check that it is?

[2020-09-25 16:28] mehanoid opened #101 "History menu does not insert items to the prompt when using with Oh My Zsh"
### Describe the bug
It seems that the history menu on the dev branch conflicts with Oh My Zsh or some of the default configurations that it provides. If I try to select some history item and insert it with ↩︎, then the menu just closes without any result. BTW multi-selection with ⇥ key works, but pressing ↩︎ afterwards would insert at least two commands at once, as expected though.

### To Reprod

[2020-09-25 17:27] mehanoid commented on #101
It seems that there is already open issue https://github.com/marlonrichert/zsh-autocomplete/issues/96, I'm sorry that I didn't notice it. But it is said to be fixed on the dev branch, and I still have this issue with that version.

[2020-09-25 19:12] jakecoble commented on #95
I can confirm that this bug is now fixed. Thank you for working on this!

[2020-09-25 19:12] #95 closed

[2020-09-26 19:02] weilbith opened #102 "Recent directory and file completion stopped working?"
Hey,
I'm back with an issue. Unfortunately a possible bug. I'm pretty sure that I haven't changed my zsh environment for a long while. Just updating the plugins from time to time. But over the time recognized more and more that I'm missing the recent * completion group. I think sometimes super rarely they still do appear. But most of the time no more. This is a pretty important feature for me, esp

[2020-09-27 10:04] dmknght opened #103 "Incompatible color with zsh-autosuggestions"
### Describe the bug
In previous version, of zsh-autocomplete, 2 plugins work fine together
![Screenshot at 2020-09-27 16-55-37](https://user-images.githubusercontent.com/29118926/94361979-aacc8280-00a7-11eb-8962-25342de1d557.png)
In this version, somehow it make zsh-autosuggestion doesn't show gray color anymore
![Screenshot at 2020-09-27 16-56-33](https://user-images.githubusercontent.com/291189

[2020-09-27 10:07] dmknght commented on #103
I've installed version from dev branch. The problem was solved.

[2020-09-27 10:07] #103 closed

[2020-09-27 10:29] dmknght opened #104 "exit takes too long time"
### Describe the bug
With latest commit of zsh-autocomplete (ce4e5e7c9125a720529ba65ca855ea4084aa0b48), exit zsh takes 1 second or so to exit the terminal
### To Reproduce
1. Open terminal (zsh default)
2. type `exit` and `enter`

### Expected behavior
No delay for exit (like pervious versions)

### Actual behavior
1. Start zsh has delay time (i think it is faster than commits last month but it is

[2020-09-27 10:34] dmknght commented on #100
On dev branch, latest commits, you can use
[code]

[2020-09-28 16:20] x51mon commented on #98
How can i get back the old behaviour of the arrop-up key but keep the new history menu at the page-up key?
Sorry I've read through the readme, also the one in the dev branch but I could not figure it out.

[2020-09-29 12:25] weilbith commented on #102
I switched to the `dev` branch. There it kinda works or at least fails different. The suggestions look like this:

[code]

[2020-09-29 12:33] marlonrichert commented on #98
@x51mon That's not possible yet, I'm afraid. I will add it, but it's going to take a little while; there's some bugs on both `master` and `dev` that I need to fix first.

[2020-09-29 12:35] marlonrichert commented on #102
@weilbith Sorry, the `dev` branch is a bit of a mess at the moment. I'm going to spend some time first to port all the bug fixes to `master` and then I will start cleaning it up.

[2020-09-29 12:38] marlonrichert commented on #104
@dmknght Can you try the latest commit on the `dev` branch and tell me if it's still a problem there? I'm not able to reproduce it.

[2020-09-29 12:51] weilbith commented on #102
Sounds good. I adopted for the moment my configuration to use the `dev` branch because it also fixes some other issues I had like the autosuggestion highlighting etc.

[2020-09-29 18:48] marlonrichert commented on #96
Fixed now on `master`.

[2020-09-29 18:48] #96 closed

[2020-09-29 18:48] marlonrichert commented on #97
Fixed now on `master`.

[2020-09-29 18:48] #97 closed

[2020-09-29 18:52] marlonrichert commented on #101
Should be fixed now on `master` with c69b60e665d0b510f63792319eec25f10a225eed.

[2020-09-29 18:52] #101 closed

[2020-09-29 18:56] marlonrichert commented on #102
@weilbith Those fixes should now be available on the `master` branch. Please let me know if there's anything missing.

The features I prototyped on the `dev` branch will take a bit longer to come to the `master` branch, I'm afraid.

[2020-09-29 18:56] #102 closed

[2020-09-29 19:09] marlonrichert commented on #100
Closing this as I will redo the features that I prototyped on the `dev` branch.

[2020-09-29 19:09] #100 closed

[2020-09-29 20:08] dmknght commented on #104
Oh the problem is fixed on latest commit. Thank you @marlonrichert your plugin is awesome.

[2020-09-29 20:08] #104 closed

[2020-09-30 11:56] x51mon commented on #98
Ok great, thank you. So I wasn't to stupid to figure it out. And no pressure.

[2020-10-01 08:52] marlonrichert commented on #87
Available now on `master`.

[2020-10-01 08:52] #87 closed

[2020-10-06 14:38] mushi-nova opened #105 "Unknown file attribute error"
# Environment
- Zsh version: 5.8
- `zsh-autocomplete` version: **???**

Please report if the bug occurs without config files:
[code]
Does the bug occur without config files?
* [ ] Yes
* [ ] No

If not, which combination of config causes the bug to appear?

**???**

# Steps to reproduce

1. **???**
2. ...

## Actual behavior
[code]

[2020-10-06 19:56] marlonrichert commented on #105
@mushi-nova Can you give me a reproducible test case, please? If I cannot reproduce the bug, then I can neither test it nor fix it.

[2020-10-07 03:04] mushi-nova commented on #105
Sorry but I don't know how you can specifically reproduce this. I have sourced autocomplete in my .zshrc but such error appears every time I try to type any command. But the appearance of such an error is erratic that means it happens sometimes for every keypress and other times it happens after typing the whole command.

I failed to understand the meaning of the error or the bug.

[2020-10-07 08:21] marlonrichert commented on #105
@mushi-nova `_autocomplete.recent-paths` is the function that fetches your recent dirs from whatever dir jumping tool you are using: `zsh-z`, `zoxide`, `z.lua`, `rupa/z.sh`, `autojump` or `fasd`.

Which one of these do you use?

If you haven't installed any of these, then `zsh-autocomplete` defaults to `cdr`. http://zsh.sourceforge.net/Doc/Release/User-Contributions.html#Recent-Directories

[2020-10-07 09:38] marlonrichert commented on #95
Fixed now on `master`.

[2020-10-07 09:38] marlonrichert commented on #94
Fixed now on `master`.

[2020-10-07 09:39] marlonrichert commented on #103
Fixed now on `master`.

[2020-10-07 09:45] marlonrichert commented on #84
I implemented this as a separate plugin: https://github.com/marlonrichert/zsh-edit

[2020-10-07 09:46] marlonrichert commented on #82
Available now on `master`.

[2020-10-07 09:46] #82 closed

[2020-10-07 16:27] kslstn opened #106 "Documentation: where is the zstyle system?"
I'd love to know where I should add the lines mentioned in the section :)

[2020-10-07 17:25] marlonrichert commented on #106
Just add any of the `zstyle` lines from the Readme to your `~/.zshrc` file to change your settings.

I've now added a note about it [to the Readme](https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#preferences).

[2020-10-07 17:25] #106 closed

[2020-10-08 04:52] yutakatay opened #107 "Disable history_words completion"
### Is your feature request related to a problem? Please describe.

I don't want you to use history for completion. So I would like the option to disable it.

### Describe the solution you'd like

I'd like the option to disable `history_words`

### Describe alternatives you've considered

I haven't tried it, but I think I can disable it if I configure it myself using `zstyle ':autocomplete:*' conf

[2020-10-12 17:19] cenk1cenk2 commented on #96
First, I want to kindly thank you for your work on this amazing plugin.

I am not sure if to open up another issue or just write to this one but, the same problem is still a hit and miss for me in the current master branch.

It usually gets it in the second try. Sometimes it even doesn't. I can not seem to pinpoint what to do to make it consistently work, but mostly it seems it is kind of by luck.

[2020-10-14 07:01] marlonrichert commented on #96
@cenk1cenk2 Can you share your `~/.zshrc` file? I would like to see what else you're using.

[2020-10-14 12:30] cenk1cenk2 commented on #96
I use antigen to manage zsh installation via ansible with plugins:
[code]

Imported zsh files does not contain much, which can be summed as:
[code]
and some aliases and keybindings.

The hit and miss kind of behavior can be visualized here, similar to the original issue. If I move with tab or shift+tab it sometimes accepts it but the behavior is not consistent because sometimes it also works with

[2020-10-14 19:27] balta2ar opened #108 "Documentation with the default key bindings"
It would be nice if README contained a set of default keybindings (https://github.com/marlonrichert/zsh-autocomplete#advanced-choose-your-own-key-bindings) that are on by default, but which you can copy and partially disable (good example: https://github.com/neoclide/coc.nvim#example-vim-configuration).

Right now the docs says `You can then use zsh-autocomplete's widgets to define your own key bi

[2020-10-14 20:48] mehanoid opened #109 "Show part of the completions list instead of "Too long list" message"
### Is your feature request related to a problem? Please describe.

Currently if there is not enough space on the terminal, then the message "Too long list" is displayed, which is not very informative.

### Describe the solution you'd like

It would be great if at least part of the list was displayed, up to `max-lines` with the message "Not all lines are shown. Down Arrow to expand" or something l

[2020-10-15 08:31] marlonrichert commented on #109
I would love to have that myself, but Zsh’s completion unfortunately makes it really hard to do. I’ll keep this issue open, as it’s on my own wishlist, too, but please don’t expect an implementation any time soon. 🙂

[2020-10-15 09:16] mehanoid commented on #109
Yes, I understand, and it's a great plugin anyway :smiley: Thank you!

[2020-10-15 09:36] dmknght opened #110 "How can i set a "bash-like" history for upper arrow?"
I prefer the style of bash when use up arrow: select last history. By default, zsh-autocomplete shows full list of history which causes me delay and not very friendly. So is there any option that i can disable this or swich the style?

[2020-10-15 13:40] marlonrichert commented on #110
Not yet. 🙂 I will implement this as part of #98 and #108.

[2020-10-16 14:57] yutakatay opened #111 "Candidate completions for file paths containing a ~(tilde) are not colored"
# Environment
* Zsh version: zsh 5.8.0.2-dev (x86_64-pc-linux-gnu)
* `zsh-autocomplete` version: 0da3bdc1dd7c97a6afba53e922483a8be70acb4d

Does the bug occur without config files?
* [x] Yes
* [ ] No

# Steps to reproduce

[code]

## Expected behavior
Candidate completions are colored even if the path starts with a `~` (home directory).

## Actual behavior
Paths with tilde's don't get colored.

[2020-10-16 16:46] aulialuthfi99 opened #112 "History menu doesn't insert completion when part of the word is typed (Oh-My-Zsh)"
# Environment
* Zsh version: **5.5.1**
* `zsh-autocomplete` version: **0da3bdc1dd7c97a6afba53e922483a8be70acb4d**
* Latest Oh-My-Zsh (manually updated using `omz update` today, 16 Oct 2020)

Please report if the bug occurs without config files:
[code]
Does the bug occur without config files?
* [ ] Yes

* [x] No

If not, gradually add lines from your config file to the subshell until the bug appear

[2020-10-16 17:32] paw-lu commented on #97
Works great for me.
Thank you so much @marlonrichert !

[2020-10-17 15:15] marlonrichert commented on #105
Closing this as I have no way of reproducing this and I haven't heard back from @mushi-nova.

[2020-10-17 15:15] #105 closed

[2020-10-17 15:29] marlonrichert commented on #112
@aulialuthfi99 I am not able to reproduce this. I tried it as follows:

[code]

I then typed `na` and pressed<kbd>Arrow Up</kbd>. Now my command line says `nano .zshrc`.

Can you please try with the _exact_ steps above and tell me whether it works the same for you? If so, then there must be something else in your config that's causing the problem.

[2020-10-17 18:46] aulialuthfi99 commented on #112
@marlonrichert Ah sorry forgot to mention one thing: It doesn't work when there's multiple entry in the history menu. When there's only one entry, it'll just work straight up. Have a [look](https://i.imgur.com/HQgyokF.png). Sorry for using imgur, for some reason I couldn't upload image here.

[2020-10-18 12:13] marlonrichert commented on #112
@aulialuthfi99 OK, I now did the following:
[code]

I then typed `na` and pressed <kbd>↑</kbd>. Still works correctly for me.

Are you sure you don't have anything else that's interfering?

[2020-10-18 12:14] marlonrichert commented on #111
Should be fixed now.

[2020-10-18 12:14] #111 closed

[2020-10-18 13:19] aulialuthfi99 commented on #112
I'm pretty sure I don't have anything that gonna interfere with your plugin. Even I tried to uninstall zsh 5.5.1 and omz then install zsh 5.8 + omz, still same. Might be worth mentioning that I'm using CentOS 8.

[2020-10-18 13:35] yutakatay commented on #111
I was able to check this fix. Thank you very much.

[2020-10-18 19:36] marlonrichert commented on #112
@aulialuthfi99 Did you try the exact steps I wrote above?

[2020-10-18 19:41] marlonrichert commented on #108
Why do you want to disable Tab? What exactly would you like Tab to do?

[2020-10-18 19:46] aulialuthfi99 commented on #112
@marlonrichert yup, I did.

[2020-10-18 20:02] marlonrichert commented on #112
Then I have no idea. I don't have CentOS, so I cannot test with that.

[2020-10-18 20:06] marlonrichert commented on #98
It is now possible to override the Arrow Up/Down key binding. Please see the [relevant section in the Readme](https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#change-other-key-bindings).

[2020-10-18 20:06] #98 closed

[2020-10-18 20:06] marlonrichert commented on #110
It is now possible to override the Arrow Up/Down key binding. Please see the [relevant section in the Readme](https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#change-other-key-bindings).

[2020-10-18 20:06] #110 closed

[2020-10-18 20:14] marlonrichert commented on #112
@artfulrobot @cenk1cenk2 @mehanoid Is this the same issue that you had? Are you still experiencing it on the `master` branch? Was it ever fixed for you on `master`? Or is this a regression?

[2020-10-18 20:35] cenk1cenk2 commented on #112
Yes pretty much so it seems similar.

[2020-10-18 21:23] balta2ar commented on #108
Well, I like some of the experience that zsh-autocomplete gives me, but not all of it. I ended up disabling Tab, Up and Down functionality for now and living with the rest for a few days.

Speaking specifically about Tab: it conflicts with fzf (see how `**` works in https://github.com/junegunn/fzf/wiki/Examples-(completion) and https://github.com/junegunn/fzf/wiki/Configuring-fuzzy-completion) and

[2020-10-19 07:28] marlonrichert commented on #112
Can you try to create a reproducible test case for me, using the following?
[code]
I still haven't been able to reproduce it.

Also, **artfulrobot** reported that 005da66 was the last commit for him where this problem did not yet occur. Can you please `git checkout 005da66` and report whether that makes the problem go away for you, too?

[2020-10-19 07:30] marlonrichert commented on #112
@aulialuthfi99 @artfulrobot @cenk1cenk2 @mehanoid Are all of you seeing this problem only with OhMyZsh? Or can you reproduce it without OMZ, too?

[2020-10-19 07:36] marlonrichert commented on #108
You can use Fzf's Tab widget instead of `zsh-autocomplete`'s by adding the following to your `~/.zshrc` file:
[code]
This is documented here: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#change-tab-behavior

For all other key bindings, with commit 6bb412ab98ae6cb43a6ef733400a43a46cf4159d, I've made it possible to override them manually. You can now find instructions with

[2020-10-19 07:36] #108 closed

[2020-10-19 10:10] balta2ar commented on #108
This is awesome, thank you so much for your work!

[2020-10-19 10:37] cenk1cenk2 commented on #112
- With the clean ZSH installation I can not reproduce the issue. So the culprit can be Oh-My-ZSH.
- `fd16c5e` is the last commit that i found working for me, which had the older fzf style history search.

[2020-10-19 12:17] marlonrichert commented on #112
Thanks, that's very useful info.

Can you please try the following?

[code]

Does the problem occur then?

[2020-10-19 12:34] aulialuthfi99 commented on #112
When I try it exactly like this, the problem exist. But, like @cenk1cenk2 said, without the `oh-my-zsh.sh` line, it works just fine.

[2020-10-19 12:39] ikey4u opened #113 "ls color does nor work correctly"
Hello, after I install this plugin, I use `ls` command it shows as below

![image](https://user-images.githubusercontent.com/12681575/96452038-04f5d900-124b-11eb-9c47-0b2f1db9972e.png)

there are some `22;39;49m` which looks weird and I have no idea about it.

[2020-10-19 13:12] marlonrichert commented on #112
Can you try the following?
1. Make a backup of `.oh-my-zsh/lib`.
1. For each file in `.oh-my-zsh/lib`:
   1. Delete the file.
   1. Run a clean subshell with OMZ and `zsh-autocomplete`, as described above.
   1. See if the problem occurs.

Does deleting any of these files cause the problem to go away? If so, which one?

[2020-10-19 14:14] aulialuthfi99 commented on #112
@marlonrichert deleting `completion.zsh` in `.oh-my-zsh/lib` fixed it apparently.

[2020-10-19 15:03] marlonrichert commented on #112
Great! That narrows it down a lot. I’ll see what I can do fix it.

[2020-10-19 16:40] aulialuthfi99 commented on #112
Cool! Can't wait for next update 👍

[2020-10-19 16:58] marlonrichert commented on #112
Hm, I can’t see anything in there that obviously would be a problem.

In the clean subshell, can you please paste in the lines from https://github.com/ohmyzsh/ohmyzsh/blob/master/lib/completion.zsh one by one and test which one causes the problem?

[2020-10-19 18:15] marlonrichert commented on #113
Fixed.

[2020-10-19 18:15] #113 closed

[2020-10-20 00:37] wu-qing-157 commented on #112
Hi, I'm suffering from the same problem.

I paste `.oh-my-zsh/lib/completion.zsh` into a file `try`, comment some of the lines and run the following:

[code]

If line 1-13 are left uncommented, the completion goes well. But if I uncomment line 14 further, the problem occurs, so I think it is the line 14 that causes the problem, which says

[code]

[2020-10-20 02:51] xcetos opened #114 "undefined-key information when start zsh"
# Environment
* Zsh version: **5.8**
* `zsh-autocomplete` version: ** edf6f867fa75032ae55403891dde014bb33ca1f4**

Please report if the bug occurs without config files:
[code]
Does the bug occur without config files?
* [x] Yes
* [ ] No

# Steps to reproduce

1. Start a subshell in it without config files.
2. source zsh-autocomplete.plugin.zsh

## Expected behavior
**No output**

## Actual behavior

[2020-10-20 05:17] marlonrichert commented on #112
@wu-qing-157 Thanks! Let’s hope that is indeed the problem, as I still haven’t been able to reproduce it.

[2020-10-20 05:18] marlonrichert commented on #112
By the way, are you all on Zsh 5.5? Perhaps I’m not experiencing because I’m on Zsh 5.8.

[2020-10-20 05:19] aulialuthfi99 commented on #112
`dnf` gave me `5.5.1` so yeah

[2020-10-20 06:22] wu-qing-157 commented on #112
I'm on `zsh 5.8`, Ubuntu with Windows Subsystem for Linux

[2020-10-20 06:32] aulialuthfi99 commented on #112
Wait, I also tried it with `zsh 5.8` on CentOS 8 in my VPS, still doesn't work. Lemme try it in Kubuntu on my laptop this evening.

[2020-10-20 14:52] balta2ar commented on #108
@marlonrichert There is one minor nitpick that I just noticed after a day of using it. When zsh-autocomplete is off, when I press Tab and when there are multiple ambiguous candidates, the command is completed up to the point of unambiguity, and then it stops. The second Tab press reveals a menu. The third Tab  activates the menu where you can navigate and pick a candidate.

However, when I enable

[2020-10-20 16:25] marlonrichert commented on #108
Yes, it's all in the Readme, in the same section: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#change-tab-behavior

What you want is this:
[code]

Although, I have to add: You can usually get the completion you want by just continuing to type ahead. For example, given the following state:
[code]

If you type just two more letters, you can already get what you want. For e

[2020-10-20 16:37] marlonrichert commented on #114
@xcetos I'm not able to reproduce this with the latest commit on the `master` branch. Can you please `git pull` and try again?

[2020-10-20 17:16] marlonrichert commented on #112
After sourcing `.oh-my-zsh/lib/completion.zsh` and `zsh-autocomplete.plugin.zsh`, if you run the following line, does the problem go away?
[code]

Or failing that, what if you run this?
[code]

[2020-10-20 17:27] cenk1cenk2 commented on #112
After creating a temp ZSH shell and just sourcing the `completion.zsh` and `zsh-autocompelete`, the first command as well as the second command after the first commands work perfectly.

[2020-10-20 20:51] weilbith opened #115 "First prompt not working for Zinit lazy load"
# Environment
* Zsh version: `zsh 5.8 (x86_64-pc-linux-gnu)`
* `zsh-autocomplete` version: `85e23dbf6e3a2e34ff91969f0bb3f99b21e80e97`

Does the bug occur without config files?
* [ ] Yes
* [X] No

Which combination of config causes the bug to appear?

[code]

# Steps to reproduce
1. Use `zinit` as plugin manager
2. Alternate the given configuration with and without `wait` keyword

## Expected behav

[2020-10-20 21:21] weilbith commented on #115
PS: At the same time I now have issues with `fast-syntax-highlighting`. I was able to reduce it exactly just the case when both plugins are loaded. Then I get this message: `zsh-syntax-highlighting: unhandled ZLE widget '^[u^[u^@'` Do you have an idea what this comes from? Should/do I need to open an issue there?

[2020-10-21 06:37] marlonrichert commented on #63
@PythonNut It is now possible to individually disable any and all extra completions that `zsh-autocomplete` adds: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#disable-particular-completions

[2020-10-21 06:38] marlonrichert commented on #75
@jcassee It is now possible to individually disable any and all extra completions that `zsh-autocomplete` adds: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#disable-particular-completions

[2020-10-21 06:38] marlonrichert commented on #107
@yutakatay It is now possible to individually disable any and all extra completions that `zsh-autocomplete` adds: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#disable-particular-completions

[2020-10-21 06:38] #107 closed

[2020-10-21 06:51] marlonrichert commented on #115
What you're seeing is a side-effect of using `zinit wait`: `zsh-autocomplete` adds several hooks that run before the first prompt. However, `zinit wait` delays `zsh-autocomplete` initialization until after the first prompt, meaning it won't get to add its hooks until after the first prompt. This causes the hooks to not trigger until the second prompt. There's nothing `zsh-autocomplete` can do abou

[2020-10-21 07:03] jcassee commented on #75
Nice! You are really putting in a lot of thought and effort. Thanks you.

[2020-10-21 07:38] yutakatay commented on #107
Great work!! Thank you very much :joy:

[2020-10-21 07:59] weilbith commented on #115
Okay so since autocomplete should load quite fast I guess is is fine to not use the lazy loading. I thought there is maybe a function that registers all the hooks that could be called manually after finished loading.

I already saw that you introduced your own plugin manager. I must admit that I'm tired of switching/reading about zsh plugin managers. I think now I'm on a fast one that is incredibl

[2020-10-21 07:59] #115 closed

[2020-10-21 07:59] weilbith commented on #115
Ah, anything to the correlation wit the fast syntax highlighting plugin?

[2020-10-21 09:20] marlonrichert commented on #115
Ah, that looks like a bug indeed. Thanks for finding it. I'll fix it.

[2020-10-21 09:24] marlonrichert commented on #115
It's funny that you say that: I wrote Znap exactly because I got annoyed with Zinit. 😁 Like you state, Zinit does much more stuff than you'll ever need. That by itself doesn't sound so bad, but I discovered Zinit actually does a bunch of stuff _without asking_ and can thus unknowingly alter the behavior of your plugins or even slow down your shell at runtime. Couple that with a really strange synt

[2020-10-21 10:07] aulialuthfi99 commented on #112
@marlonrichert Just tried loading omz with completion lib commented on line 14 onwards and load your plugin afterwards, both command run perfectly fine and doesn't break history menu completion.

[2020-10-21 13:35] marlonrichert commented on #115
There currently isn't, but I could add one.

[2020-10-21 13:42] marlonrichert commented on #112
Alright, it's fixed now. Thanks for helping out!

[2020-10-21 13:42] #112 closed

[2020-10-21 13:44] cenk1cenk2 commented on #112
I guess we should thank you for your time on this, very grateful about it much thanks.

[2020-10-22 01:51] xcetos commented on #114
Ops! The problem was solved after I did `git pull`, though I still don't know why. Anyway, thank you!

[2020-10-22 01:51] #114 closed

[2020-10-23 17:58] paw-lu opened #116 "zsh-autosuggestion not responding to → press, instead just navigates through suggested characters"
# Environment
* Zsh version: **5.8**
* `zsh-autocomplete` version: **4aa819f98e05776**

Does the bug occur without config files?
* [x] Yes
* [ ] No

# Steps to reproduce

[code]

Pressing <kbd>→</kbd> will now toggle though suggested characters one at a time instead of completing suggestion.

![Kapture 2020-10-23 at 10 53 54](https://user-images.githubusercontent.com/30049606/97037551-470a6d80-151

[2020-10-23 18:12] paw-lu commented on #82
It's still not obvious to me how combine these settings.

If I wanted to combine `fzf` and `insert-unambiguous` would the proper way to combine them be

[code]

If so I'm not getting the expected behavior. But I want to make sure I'm combining correctly before I file an issue.

[2020-10-24 11:48] marlonrichert commented on #82
No, that's not right. You have to paste the literal lines from the examples:
[code]

[2020-10-24 12:05] marlonrichert commented on #116
@paw-lu This is actually intended behavior. I like to be able to accept single characters. 🙂 If you want to accept the entire suggestion, you can press <kbd>End</kbd>.

But I noticed that the autosuggest highlighting is now broken under these circumstances. I will have to fix that.

[2020-10-24 19:52] paw-lu commented on #116
Got it, thank you so much for the help!

I didn't find this documented anywhere, so I suggested #117 to prevent others from getting stumped.

[2020-10-24 20:22] paw-lu opened #118 "When Oh My Zsh is sourced, insert-unambiguous does not work when fzf completion is also enabled"
# Environment
* Zsh version: **5.8**
* `zsh-autocomplete` version: **4aa819f98e0577**

# Steps to reproduce

Please report if the bug occurs without config files:
[code]
Does the bug occur without config files?
* [x] Yes
* [ ] No

## Expected behavior
I expected the completion to insert the prefix, completing it to

[code]

## Actual behavior
I entirety of the first file name was used in the compl

[2020-10-24 20:24] paw-lu commented on #82
Thanks for the help @marlonrichert !

I had tried that before as well, and it also did not work out for me. I think I found my issue, unfortunately the behavior is triggered by sourcing Oh My Zsh.

Filed #118

[2020-10-25 09:43] marlonrichert commented on #116
I added a comment to your PR. I might remove this feature, since I'm starting to feel it doesn't really belong in `zsh-autocomplete`.

[2020-10-25 15:51] marlonrichert commented on #118
Fixed, but please note that if you're going to `source` OMZ from the command line, it's still going to break. There's nothing I can do about that. But if you `source` everything in your `~/.zshrc` file, then it should all be fine.

[2020-10-25 16:35] marlonrichert commented on #116
I removed the feature. `zsh-autosuggestions` keys should be back to default. If you want to keep that behavior, you can add the following to your `~/.zshrc` file:
[code]

[2020-10-25 18:32] paw-lu commented on #116
Got it! I agree that this is out of scope for this project!

As always, thanks @marlonrichert !

[2020-10-25 18:32] #116 closed

[2020-10-25 19:00] paw-lu commented on #118
@marlonrichert I tried this again, but it still does not seem to work for me.

Using a `.zshrc` this time to avoid the issue you mentioned.

[code]

[code]

[2020-10-28 20:19] marlonrichert commented on #118
This time, it was actually a different problem than the last time, but it's fixed now, too.

[2020-10-28 20:19] #118 closed

[2020-10-29 03:27] paw-lu commented on #118
@marlonrichert can confirm!

Thank you so much for both this project and the change!

[2020-10-30 17:26] wolfo opened #119 "keybind for down-line-or-complete not working in zshrc"
# Environment
* Zsh version: **5.7.1; 5.8**
* `zsh-autocomplete` version: **9c933f6c76ceb5a82d8288a7a342dec0becba031**

Please report if the bug occurs without config files:
**doesn't apply**

If not, gradually add lines from your config file to the subshell until the bug appears.

Which combination of config causes the bug to appear?

**minimum config in ~/zshrc-test/.zshrc:**
[code]
`ZDOTDIR=~/z

[2020-10-30 17:47] #119 closed, assigned to nobody

[2020-10-30 18:01] wolfo commented on #119
Hey, exactly what I want :-) Thanks for the help.

However, I found that neither of these two zstyle options have an effect if I enter them in a shell (even with just the two-liner zshrc above), but **only** when I put them in zshrc.

This threw me off, because I actually tried both options before (by issuing manually).

[2020-10-30 18:46] marlonrichert commented on #119
That’s a limitation of Zsh’s line editor. Changing that behavior at runtime would require swapping the widget.

[2020-10-30 22:19] marlonrichert commented on #109
@mehanoid @wolfo @Abhishek12345679 I got inspired while reading some code, the solution popped into my head, and then I implemented it. Enjoy!

[2020-10-30 22:21] marlonrichert commented on #99
@artfulrobot I just implemented #109. Does that in any way influence this issue?

[2020-10-30 23:13] mehanoid commented on #109
Wow, it works! :star_struck: Really cool, thank you! :smiley:

[2020-10-31 01:22] wolfo commented on #109
Doesn't quite work for me. The menu shows up, but is cut off after 9 items or rows. When I go past the last item, it goes straight back to the first one.

And there's no color highlighting in this case, though it's not that important.

Ex. 1
[code]

Ex. 2
[code]

These are my only zsh-autocomplete options:
[code]

[2020-10-31 08:11] marlonrichert commented on #109
@wolfo Yeah, it doesn’t work that way. Try adding this to your `~/.zshrc`:
[code]
This enables completion group headers, which now includes a helpful shortcut hint when the list is truncated:
[code]

But thanks for the feedback. I’ll see if I can somehow show that hint when group headers are not in use, too.

[2020-10-31 08:13] marlonrichert commented on #109
@wolfo

That is odd. How have configured your color highlighting? Can you please add screenshots here, one with the problem and one without?

[2020-10-31 12:28] marlonrichert commented on #109
@wolfo It now shows a hint to press <kbd>Control</kbd><kbd>Space</kbd>, even when completion group headers would otherwise not be shown.

Let me know if you're still experiencing the color issue and if you do, please add screenshots here of before and after, so I can get an idea of what the problem might be.

[2020-10-31 12:50] wolfo commented on #109
Yes, it does show the hint now. Control+Space works for me, as long as I reduce my zshrc to this:
[code]
So I'll have to hunt down my .zshrc further.

However, the colors are like this:
![complete and with colors](https://user-images.githubusercontent.com/940176/97779394-00e88600-1b7e-11eb-84d8-3d95f046f78f.png)
![incomplete and without colors](https://user-images.githubusercontent.com/940176/9777

[2020-10-31 14:58] marlonrichert commented on #109
@wolfo What happens when you press <kbd>Control</kbd><kbd>Space</kbd> in that last screenshot? Do the colors return?

[2020-10-31 15:01] marlonrichert commented on #109
In the situation that Control+Space doesn’t work for you, what output do you get from `bindkey '^@'`?

[2020-10-31 15:19] wolfo commented on #109
I get "undefined-key". I see that if I source zsh-autocomplete at the end of .zshrc, it is instead list-expand, and it works now. I think I activated vi-keys or something before, which overwrote the binding. My bad!

So with that out of the way, Ctrl+Space does expand the list and brings back the colors.

Now it would only be nice if the unexpanded list also showed colors :-) Or maybe it's just me

[2020-10-31 15:19] wolfo commented on #109
Kind of related, I don't notice `zstyle ':autocomplete:list-choices:*' max-lines 100%` in zshrc making any difference. Whatever the value (I even tried >100%), it's always the hint (one line) and the first part of the results (9 lines). It seems like this should be the deciding factor whether the output gets abridged, right?

[2020-10-31 16:10] leoddd commented on #109
I know this might not be quite the right place to mention this, but I was just setting this plugin up and also could not get `zstyle ':autocomplete:list-choices:*' max-lines` or `zstyle ':autocomplete:list-choices:*' min-input` to have any effect. I can see the options are set in zstyle, but suggestions still pop up after just 1 character and take up more lines than I specify.

Also, the fact that

[2020-10-31 17:00] wolfo commented on #109
Actually, I can confirm everything leo says, including the input eating.

[2020-10-31 21:33] marlonrichert commented on #109
If you're seeing that, there is something really wrong with your setup. You should _never_ see that message while using `zsh-autocomplete`. Did you restart your terminal yet after installing `zsh-autocomplete`? And I mean really _restart._ Do **not** `source ~/.zshrc`.

[2020-10-31 21:46] marlonrichert commented on #109
Ah, you are right. I'll have to fix that. Thanks for reporting this.

[2020-10-31 22:25] marlonrichert commented on #109
@leoddd @wolfo I think I figured out what was causing these problems. I pushed in some changes that will hopefully fix them. Please `git pull` to update, restart your terminal and try again.

[2020-10-31 22:29] weilbith opened #120 "How does fzf completion work now?"
# Environment
* Zsh version: `zsh 5.8 (x86_64-pc-linux-gnu)`
* zsh-autocomplete: 85e23dbf6e3a2e34ff91969f0bb3f99b21e80e97

Does the bug occur without config files?
* [x] Yes
* [ ] No

# Steps to reproduce
1. Open clean zsh `zsh -fd`
2. Source fzf installed as package `source /usr/share/fzf/completion.zsh`
3. Get fzf completion successfully, e.g. for `cd **<Tab>`
4. Source autocomplete plugin (here

[2020-10-31 22:31] marlonrichert commented on #109
@wolfo If you add the following line to your `~/.zshrc`, does that help?
[code]

[2020-10-31 22:54] marlonrichert commented on #120
It's not possible to change `zstyle ':autocomplete:tab:*' fzf-completion` at runtime. I've emphasized that now [in the Readme](https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#change-tab-behavior).

[2020-10-31 22:54] #120 closed

[2020-11-01 00:59] wolfo commented on #109
Doesn't help with the colors in the unexpanded result list, unfortunately. It just separates results in the expanded list.

What I've noticed is that after the latest git pull, the unexpanded listing is restricted to 6 lines of results (plus hint header), instead of 9.

`zstyle ':autocomplete:list-choices:*' max-lines 100%` (200%, 10%) doesn't change that behavior.

[2020-11-01 09:11] marlonrichert commented on #109
Then you have another `zstyle` somewhere that’s overriding this. Are you using any Zsh framework, like Oh My Zh, Prezto or Zimfw?

[2020-11-01 09:12] marlonrichert commented on #109
That might happen if your terminal has very few lines. Are you using `tmux`?

[2020-11-01 09:17] marlonrichert commented on #109
What happens if you try `zstyle ':autocomplete:*' max-lines 100%` instead?

[2020-11-01 10:38] weilbith commented on #120
Okay so new attempt:

[code]

`/tmp/tmp.i4rxmUqHWH/.zshrc`:
[code]

Note that if I only source fzf here. It works again as intended.
So why does this setup not work? Isn't this defined in the zshrc? It should be available when your plugin gets loaded and does it setup.
I tested it like this already before in my more complex setup ofc. The runtime configuration was only for the issue. Sorry that I

[2020-11-01 11:13] marlonrichert commented on #120
I tried your steps above, but it works fine for me. 🤷🏽‍♂️

[2020-11-01 11:45] marlonrichert commented on #120
@weilbith I pushed in some changes I had locally. Perhaps they made a difference. Can you `git pull` and try again?

[2020-11-01 12:03] marlonrichert commented on #109
@wolfo I pushed in another update. Please `git pull` and try again.

[2020-11-01 12:05] weilbith commented on #120
Okay that is awkward. I thought this setup should eliminate most factors of a not equal setup. I'm mobil now, but I try to reproduce this issue in a Docker container. If the problem remains I'll construct a `Dockerfile` for you. So that we are both in a complete independent environment. Something must be different....

[2020-11-01 12:06] weilbith commented on #120
Sorry, just saw your comment after posting mine (did not updated the page). I'll check this out when I'm on a PC again. :+1:

[2020-11-01 14:10] wolfo commented on #109
Mh, something now really clashes with something in my config after the last pull.

When typed while in ~
[code]
When specifying "~/", even if it's already the working directory, it shows only files, not folders:
[code]
While for the Applications folder, it shows the invisible files and nothing else:
[code]

The above results probably won't happen with a less convoluted .zshrc, so maybe this is the

[2020-11-01 14:12] wolfo commented on #109
Anyway, when I use a very lean .zshrc with some color settings:
[code]
and run it with `ZDOTDIR=/Users/wolfo/zshrc-test zsh`
The min-input and max-lines do have an effect now!

When the list would be longer - and gets shortened - it is still without colors. The complete list with colors returns with Control+Space, as before.

[2020-11-01 14:56] weilbith commented on #120
Yes this works. Now! Thank you so much. :tada:

[2020-11-02 08:36] marlonrichert commented on #109
@wolfo Thanks, I'm able to reproduce it now. I'll investigate.

[2020-11-02 08:42] marlonrichert commented on #109
By the way: You don't need to run `compinit` yourself when using `zsh-autocomplete`. It already does it for you.

[2020-11-02 13:46] balta2ar commented on #109
I recently git pulled master and discovered that zsh-autocomplete has become significantly slower and less responsive. I tracked down the commits and it seems that it started at this commit: c6f9b91b658b7ae1d674d97f95bea2248cc6fdf1

[2020-11-02 16:23] marlonrichert commented on #109
@wolfo It should be fixed now.

[2020-11-02 16:23] #109 closed

[2020-11-03 12:54] marlonrichert commented on #99
@artfulrobot Can you please open a bug report for that? I cannot reproduce that.

[2020-11-07 21:13] nisegami opened #121 "Invalid warning about deprecated zstyle settings."
## Environment:
- ZSH version: zsh 5.4.2 (x86_64-ubuntu-linux-gnu)
- zsh-autocomplete: up to date with master branch
- Framework: none
- Plugin manager: zinit
- .zshrc: https://gist.github.com/nisegami/4e384729fbf6dc704fca6e848cbfa0ba

Note: that's a minimal .zshrc with nothing but zinit and zsh-autocomplete loaded.

## Steps to reproduce
Start a shell

### Expected behavior
No warnings as I am no

[2020-11-07 21:17] nisegami opened #122 "Error printed if I press 'up' in a fresh session."
## Environment:
- ZSH version: zsh 5.4.2 (x86_64-ubuntu-linux-gnu)
- zsh-autocomplete: up to date with master branch
- Framework: none
- Plugin manager: zinit
- .zshrc: https://gist.github.com/nisegami/4e384729fbf6dc704fca6e848cbfa0ba

Note: that's a minimal .zshrc with nothing but zinit and zsh-autocomplete loaded.

## Steps to reproduce
- Start a shell
- Press up

### Expected behavior
Nothing?

[2020-11-08 10:13] marlonrichert commented on #121
@nisegami I am not able to reproduce this with just `zinit` and `zsh-autocomplete`. Here's what I did:
 1. Create a temp dir and `cd` into it:
[code]
 1. In that temp dir, create a file `.zshrc` and put the following two lines in it:
[code]
 1. Start a subshell in that temp dir, which will use that `.zshrc`, but no global config files:
[code]

Result: Everything works fine and no error message is

[2020-11-08 10:13] #121 closed

[2020-11-08 20:59] marlonrichert commented on #122
@nisegami Thanks for reporting. I am able to reproduce this. I'll investigate.

[2020-11-09 09:28] marlonrichert commented on #122
Should be fixed now.

[2020-11-09 09:28] #122 closed

[2020-11-09 10:45] nisegami commented on #99
@artfulrobot what Terminal are you using? In my experience, Windows Terminal breaks Ctrl-Space.

[2020-11-12 11:54] zigitn opened #123 "How to make the ENTER directly execute the command"
## What do you want?
when I use completion or history and choose one, I want to execute command directly when I type enter, not just exit the prompt.

## Why do you want this?
Every time I need to press ENTER twice, it makes me feel tired.

## Other
I don’t know if there are related issues, but I have checked the issues as much as possible, and have not found the same issues.
thanks for you work,

[2020-11-13 22:18] Fijxu opened #124 "yay stops with this plugin"
## Environment
* `zsh-autocomplete` version: 50c8a92
* Zsh version: 5.8
* Framework: Oh My Zsh
* `~/.zshrc` file: https://pastebin.com/Y28gKwAL

Please test if the bug occurs without config files:
[code]
Does the bug occur without config files?
* No

If not, gradually add lines from your config file to the subshell until the bug appears.

Which combination of config causes the bug to appear?
* Add

[2020-11-13 22:20] Fijxu commented on #124
Before this did not happen, before I used the edition of manjaro KDE Minimal but now I used manjaro Architect to test and things like that, and when I installed the plugin and wrote "yay" was stuck only, and that with the minimal version kde did not happen to me

![Peek 2020-11-13 16-16](https://user-images.githubusercontent.com/61166695/99126503-0a91d500-25e5-11eb-87ba-864d66235925.gif)

[2020-11-14 16:06] naefl opened #125 "compadd:22: command not found: _autocomplete.compadd_opts_le after pulling 668b78fe8e2316ef0df4908ea832bc5b4ebeeee6"
## Environment
* `zsh-autocomplete` version: 668b78fe8e2316ef0df4908ea832bc5b4ebeeee6
* Zsh version: 5.8
* Framework: omz
* `~/.zshrc` file: none

Does the bug occur without config files?
* Yes

If not, gradually add lines from your config file to the subshell until the bug appears.

Which combination of config causes the bug to appear?
* None

## Steps to reproduce

1. 668b78fe8e2316ef0df4908ea83

[2020-11-14 18:01] marlonrichert commented on #123
Good idea. It's there now.

[2020-11-14 18:01] #123 closed

[2020-11-14 20:53] marlonrichert commented on #125
Sorry, but I cannot reproduce this. Here's what I did:
[code]
Works fine for me.

Have you tried deleting OMZ's compdump file?
[code]

[2020-11-14 20:53] #125 closed

[2020-11-14 21:12] marlonrichert commented on #124
Sorry, but I'm not able to reproduce this. Here's what I did:
[code]
Works fine for me, without any lag. If you can provide me with a reproducible test case, then I'll investigate further.

[2020-11-14 21:12] #124 closed

[2020-11-14 23:14] naefl commented on #125
That didn't help - however the patch to the timeout logic you just pushed fixed it so fine either way.

While we're at it: thanks a ton for the awesome project & spending your free time on this!

[2020-11-15 15:30] cenk1cenk2 opened #126 "Hanging terminal while using argument autocompelete"
## Environment
* `zsh-autocomplete` version: 2ed55ecf0c927479e4023395a763da01b13f94ab
* Zsh version: 5.8
* Framework: oh-my-zsh through antigen package manager
* `~/.zshrc` file: managed by `ansible` + `antigen` with plugins
[code]

zsh-autocomplete
[code]

Please test if the bug occurs without config files:
[code]
Does the bug occur without config files?
* yes

If not, gradually add lines from yo

[2020-11-16 10:43] maarekj commented on #123
I prefered the old behavior.
Currently I can navigate in directory with `tab, tab, enter, tab, tab, enter`

Example:
I am in `~/`
I want execute the script (with some options) `~/myproject/bin/console -vvv --option`

Previously I press `my, tab, enter, bi, enter, con, enter, -vvv --option, enter`
Currently I if press `my, tab, enter`, it executes `myproject` (equivalent to `cd myproject`)

[2020-11-16 13:12] cenk1cenk2 commented on #126
On further notice, I have realized that this can be correlated to `recent-directories recent-files` because when I disable them it works a breeze.

In one of the latest patches, I have realized that it is now resolving absolute paths of symlink I wonder is the cause of this problem, because before that it was not caring whether the directory is symlink or not.

[2020-11-16 13:52] cenk1cenk2 commented on #126
Okay with the light of this being not reproducible after antigen reinstall.

I have realized that `antigen reset` to clear the cache for every new terminal solves this problem and it is irrelevant to this plugin. It just brokes its behavior. Will open the issue on the antigen itself.

Again thank you again for this amazing plugin.

[2020-11-16 13:52] #126 closed

[2020-11-16 14:31] marlonrichert commented on #123
@maarekj I can see how that's a problem for you. I'll add a setting to enable the old behavior.

[2020-11-16 15:13] marlonrichert commented on #126
If you’re interesting in switching to a plugin manager that behaves more transparently than Antigen, I can highly recommend [Znap](https://github.com/marlonrichert/zsh-snap). 🙂

[2020-11-16 21:51] lordzsolt opened #127 "Do not try to autocomplete if input matches pattern"
## What do you want?
Exclude input from autocomplete based on regex

## Why do you want this?
I often type `..` or `...` to navigate up the directory structure.
I never type `..` for anything else and the autocomplete suggestions are pretty useless.
I only want autocomplete when I type `../`

## Who else would benefit from this?
Anyone who wants a particular command not to get autocompleted.

## E

[2020-11-17 07:11] marlonrichert commented on #127
Sure, I could add this, but please be advised that it will use [extended glob expressions](http://zsh.sourceforge.net/Doc/Release/Expansion.html#Filename-Generation) instead of regex.

Although, have you tried [setting `min-input`](https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#wait-for-a-minimum-amount-of-input) to 3 yet? Wouldn’t that solve your case, too?

[2020-11-17 09:00] lordzsolt commented on #127
I thought about it, but it's not quite the same. For non-`..` input, I want autocomplete to start ASAP.

[2020-11-17 09:02] dmknght opened #128 "Some issues on latest pull"
## Environment
* `zsh-autocomplete` version: 2ed55ecf0c927479e4023395a763da01b13f94ab
* Zsh version: 5.8-5
* Framework: No framework
* `~/.zshrc` file:
[code]
I don't feel like my issues (not really bugs, just small issues) fit the bug report so i don't follow the guideline.
1. `insert-unambiguous yes` add space problem.
- If i'm having 2 files like this `fooA.c` and `fooB.c`, and i use this setti

[2020-11-17 12:45] marlonrichert commented on #128
I'm able to reproduce both issues. Thanks for reporting.

### Regarding problem number 1
This indeed seems to be a mistake on my part. It shouldn't be too hard to correct, though. I will push in a fix soon.

### Regarding problem number 2
I cannot reproduce this reliably. The problem seems to be that VS Code sometimes does not report the correct terminal height to Zsh, which causes Zsh's completio

[2020-11-17 20:19] dmknght commented on #128
Well it is a little hard but i can try. Can I do it in next few hours? i'm a little busy with my deadline :|
P/s: vscode is just 1 of issues in number 2. The other issue is false positive in mate terminal: if i run `sudo dpkg -i` the `-i` gives me no space after the `-i` flag. I will try again and collect some results about it.

[2020-11-17 22:07] dmknght commented on #128
![Screenshot at 2020-11-18 05-07-25](https://user-images.githubusercontent.com/29118926/99456420-48fafd00-2921-11eb-8a7a-1acd65afa5de.png)
And other problem: the number 1 doesn't allow me to use `right arrow` to autocomplete the history

[2020-11-18 05:35] dmknght commented on #128
![Screenshot at 2020-11-18 12-33-49](https://user-images.githubusercontent.com/29118926/99488152-ac0b8480-295f-11eb-809a-2d4af35721cb.png)
An new issue of auto completion. I typed `git clone ` + `ctrl + shift + v` (paste). Last result was removed first `h` in url.

[2020-11-18 05:51] dmknght commented on #128
![Screenshot at 2020-11-18 12-51-19](https://user-images.githubusercontent.com/29118926/99490633-1de4cd80-2962-11eb-95aa-c017ca645c77.png)
The `grep -r` has no space after flag. It is as same as `dpkg -i`

[2020-11-18 07:30] marlonrichert commented on #128
No rush! Just do it when you have time. 🙂

[2020-11-18 07:31] marlonrichert commented on #128
I’m not sure what you mean. Can you please explain that in more detail?

[2020-11-18 07:34] dmknght commented on #128
oh sorry i meant with the `unambiguous`, when it stops at the poisition, i can't use arrow key to auto fill result from history. This problem is a little strange because it is normal right now.

[2020-11-18 07:43] marlonrichert commented on #128
Aha, OK. Thanks for clarifying. I’ll have to see if I can reproduce it.

[2020-11-18 07:44] marlonrichert commented on #128
What do you mean with this and how is this a problem?

[2020-11-18 07:47] dmknght commented on #128
I'm very sorry if i didn't make it be clear. If you check the screenshot of `grep` you can see what i meant: after type `-i`, it should be a space after this flag. And as i remember, the plugin auto deletes the space after `-i`
P/s: i can't not reprocedure it right now because plugin always gives me "completion timeout"

[2020-11-18 07:50] marlonrichert commented on #128
Hm, well, that’s not good either. That likely means that an error occurs during the asynchronous completion. I’m seeing some of this myself, too. I will have to investigate. It can often be very tricky to find out what is the cause of these kind of things.

[2020-11-18 07:52] dmknght commented on #128
Yes i totally agree with you. Because the completion here has the data from bash completion too and it has huge different cases based on package, history and system platform.
P/s: At very first version of zsh-autocomplete, the suggestion was very fast. I hope you can optimize the speed and improve performance in next release :D

[2020-11-19 02:48] zigitn opened #129 "Is it possible to filter continuous and repeated history records？"
## What do you want?
could you add an option to filter out continuous and repeated history records?

## Why do you want this?
Sometimes I will use a lot of the same commands repeatedly, which makes it difficult to find the history records I want.

## Who else would benefit from this?
Other people who use repeated commands a lot, I think.

[2020-11-19 19:43] marlonrichert commented on #129
[Zsh itself has various options for that](http://zsh.sourceforge.net/Doc/Release/Options.html#History):

[2020-11-20 11:15] dmknght commented on #128
![Screenshot at 2020-11-20 18-12-35](https://user-images.githubusercontent.com/29118926/99793981-64345b00-2b21-11eb-8331-d58e77dbf233.png)

@marlonrichert i'm able to reprocedure the "cant use arrow key" error.
1. First, the command `sudo apt install libllvm10:i386` must be in history.
2. When type `sudo apt install libllv` then `Tab`, i get `sudo apt install libllvm`
3. I want to use `right allow

[2020-11-20 13:07] marlonrichert commented on #128
Thanks, but that problem was already clear to me. I have a fix here waiting to be pushed in. 🙂

[2020-11-20 18:28] asgarj opened #130 ".autocomplete.key.set:2: key: assignment to invalid subscript range"
## Environment
* `zsh-autocomplete` version: latest (20.11.2020)
* Zsh version: zsh 5.8 (x86_64-apple-darwin19.6.0)
* Framework:  Oh My Zsh

### Expected behavior
No error should occur when a new tab is opened.

### Actual behavior
Each time when i start a new tab in iterm2, I get the following error:
[code]

[2020-11-21 00:22] marlonrichert commented on #130
@asgarj Are you using an old version of Zinit? There used to be a bug in there that would cause this behavior: https://github.com/zdharma/zinit/issues/329

[2020-11-21 16:14] marlonrichert commented on #128
@dmknght I pushed in some improvements. Please `git pull` and try them out. 🙂

[2020-11-21 16:16] marlonrichert commented on #123
@maarekj It's now possible to revert back to the old behavior of Enter in the menu. Please see [this section of the Readme](https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#change-other-key-bindings).

[2020-11-21 18:20] asgarj commented on #130
I'm not using zinit. It's not in the list of zsh default, nor custom plugins.

[2020-11-21 18:26] maarekj commented on #123
Thank you !

[2020-11-21 19:12] marlonrichert commented on #130
@asgarj Can you please paste a copy of your `~/.zshrc` file or provide a link to it?

[2020-11-22 01:56] dmknght commented on #128
Hi i've cloned the latest changes and try it out.
1. Performance is likely improved. I think i have to try it more to really feel it and detect some bottlenecks
2. The character removal is still happening. For example: i am typing `sudo dpkg -i parrot-` (i'm having some files starts with `parrot-` in current folder) and it gives me `sudo dpkg -i prrot`. 1 character was removed
![Screenshot at 2020

[2020-11-22 09:27] marlonrichert commented on #128
Thanks, that is what is eating up your other keystrokes, too. This is fixed on my end, though, with the latest changes. I'm not sure how or why you are still seeing this behavior. Can you please test with the following steps?
[code]
Does the bug occur in this environment, too?

Also, what size is your terminal exactly? How many characters wide & how many lines tall? And what output do you get from

[2020-11-22 14:33] foxale opened #131 "Magic-enter messes up the displayed command that was executed"
## Environment
* `zsh-autocomplete` version:  latest (22.11.2020)
* Zsh version: zsh-5.8-0-g77d203f
* Framework: Oh My Zsh
* Plugin manager: none
* `~/.zshrc` file: https://github.com/foxale/dotfiles/tree/master/zsh

Please test if the bug occurs without config files:
[code]
Here the same with "ls /Applications" as this is the autocompletion's proposition for "ls" in my case:
![image](https://user

[2020-11-22 19:09] dmknght commented on #128
oh my bad! remove the `.zcompdump` actually fixed the problem. And now the zsh runs very very fast. I think i should try the whole zsh completion in 1 or 2 days to make sure there is no odd bugs :D

[2020-11-22 19:23] marlonrichert commented on #131
I'm able to reproduce this, but it's not a bug in `zsh-autocomplete`. Rather, it's bad interaction between `magic-enter` and `zsh-autosuggestions`. You can see for yourself as follows:
 1. First, do the following:
[code]
 1. Make sure you press Space after the last `ls`, so you get the suggestion `foo`.
 1. Press Enter.

Expected Result: The suggestion should be cleared, as it is without `magic-en

[2020-11-22 19:23] #131 closed

[2020-11-22 21:31] PatrickJosh opened #132 "Match case-insensitive beginning letters of files first"
## What do you want?
I'd like the plugin to match the beginning letters of a file or directory first, although the file's or directory's name is not entered the same case as the name is. For example, if you have to directories, one named `Documents`, the other named `University` and you type `cd u`, then the suggestions are `Documents` and `University` in this order. I'd like `University` or any o

[2020-11-23 12:26] asgarj commented on #130
It's pretty empty actually,

[code]

[2020-11-23 12:47] dmknght commented on #128
![Screenshot at 2020-11-23 19-42-48](https://user-images.githubusercontent.com/29118926/99963307-803a3580-2d89-11eb-95e3-58d151d00255.png)
@marlonrichert there is a not very new bug. When the plugin shows `zsh: do you wish to see all 27 possibilities (29 lines)?`, paste gives the "weird" characters
For example if type `rm ` and plugin suggests me history + the question. I type `right arrow key` an

[2020-11-23 14:30] asgarj commented on #130
When I run `source ~/.zshrc` gives me this
[code]

[2020-11-23 19:30] marlonrichert commented on #128
You should currently **_never_** get to see that message. I'm unable to reproduce it on my end. Can you put together a test case for it, please? I will reopen the issue once I can reproduce it.

[2020-11-23 19:32] marlonrichert commented on #130
@asgarj Can you please `git pull` to update'? I just pushed in a fix.

[2020-11-23 19:34] marlonrichert commented on #132
Thanks for the suggestions. It's there now.

[2020-11-23 19:34] #132 closed

[2020-11-24 03:17] dmknght commented on #128
Fixed by commenting `zstyle ':autocomplete:*' max-lines 100%`.
Well it is like issues detected during normal use (not test cases) so it is a little hard to do it at 1.

[2020-11-24 06:53] marlonrichert commented on #128
Thanks, that really helps me. I’ll see what I can do.

[2020-11-24 07:12] dmknght commented on #128
So i think the `max-lines` of autocomplete makes this issue?

[2020-11-24 09:11] marlonrichert commented on #128
Yeah, because Zsh pops that message whenever the completion list would overflow the screen. `zsh-autocomplete` measures how many lines the full completion list would take and then tries to trim it to fit `max-lines`. For any other value than `100%`, it doesn't matter if the end result is not entirely accurate, but for this case, it does. I'll see what I can do to improve this.

[2020-11-24 09:19] marlonrichert commented on #128
Can you try adding the following to your `~/.zshrc` and see if that fixes the problem for you?
[code]

[2020-11-24 09:20] dmknght commented on #128
![Screenshot at 2020-11-24 16-20-38](https://user-images.githubusercontent.com/29118926/100074154-512dcd80-2e36-11eb-8290-3d5749cecea2.png)
Here is my output. It seems normal.

[2020-11-24 09:23] marlonrichert commented on #128
So, judging from your second image, it does not make the problem go away?

[2020-11-24 09:25] dmknght commented on #128
Well i think no.

[2020-11-24 09:26] marlonrichert commented on #128
Exactly how big is your terminal? How many columns and lines? Does the actual number of columns and lines match what you get from `print $COLUMNS $LINES`?

[2020-11-24 09:28] dmknght commented on #128
It is 80x24. Very default size.
[code]

[2020-11-24 09:28] marlonrichert commented on #128
Wait, when do you get to see that "do you wish to see all" message? Only after you press <kbd>Control</kbd><kbd>Space</kbd>? Or already while still typing?

[2020-11-24 09:29] dmknght commented on #128
It is already while typing. I meant like a part of suggestions.

[2020-11-24 09:30] marlonrichert commented on #128
OK, weird. I really cannot reproduce it. When you answer 'y' to the question, what is the ouput you get to see?

[2020-11-24 09:32] dmknght commented on #128
Well it is a list of files and folders like output of `ls` but in 1 column only. And it is a little weird because it doesn't list everything but only some files and folders. And well 4 values of hostname i suppose (i got surprised by this).

[2020-11-24 09:34] marlonrichert commented on #128
Can you paste it here, please?

[2020-11-24 09:34] dmknght commented on #128
yeah sure the list is here
[code]

[2020-11-24 09:35] marlonrichert commented on #128
Thanks. Does the list have any headers or footers?

[2020-11-24 09:36] marlonrichert commented on #128
Does it make any difference if you add `zstyle ':completion:*' group-name ''` to your `~/.zshrc` file?

[2020-11-24 09:36] dmknght commented on #128
I think this might be header? idk. here is it
[code]
Full output of whole command:
[code]
The `go-exploitdb` in command is the history suggestion and i think it belongs to the plugin zsh-autosuggestions

[2020-11-24 09:37] marlonrichert commented on #128
I think this might be what throws it off. Thanks, I'll have a look.

[2020-11-24 09:38] dmknght commented on #128
Here is the screenshot. It is good.
![Screenshot at 2020-11-24 16-37-57](https://user-images.githubusercontent.com/29118926/100076102-bb477200-2e38-11eb-8ff4-44a0a8d31516.png)

[2020-11-24 09:42] marlonrichert commented on #128
Well, of course there's something missing. It's only a partial list. 🙂

[2020-11-24 09:45] marlonrichert commented on #128
Anyway, thanks: I have a test case now with which I can reproduce it.

[2020-11-24 09:46] dmknght commented on #128
Hmm this is a little not very good. So do you know how can i get the full list. Well at least for suggestions of packages in `apt` list? i remember it showed before and now it won't and idk which option should i use (it could be 1 issue i think).

[2020-11-24 10:09] asgarj commented on #130
Thanks @marlonrichert , a lot of those errors disappeared. Now `source ~/.zshrc` gives
[code]

[2020-11-24 11:08] marlonrichert commented on #128
As it says right below your prompt, you can get the full list by pressing <kbd>Control</kbd><kbd>Space</kbd>

[2020-11-24 12:59] dmknght commented on #128
Oh you are right. Hm i wish somehow it could display like bash completion, at least for list of apt packages. But in this case, i think I should do `how to use` and mention about `Control + Space`. Thank you :D

[2020-11-24 13:38] dmknght commented on #128
@marlonrichert the `zstyle ':completion:*' group-name ''` caused ~~memory~~ CPU leak in my machine.
Which i did was `apt show <package name>`. I did `apt show libnimg` then use tab to select package name. Then i got terminal hangs (can't type anything). Then cpu raised to 100%. I think i didnt use `zstyle ':autocomplete:*' max-lines 100%`.

[2020-11-24 14:46] marlonrichert commented on #128
Does it still happen if your first do `zstyle ':autocomplete:tab:*' insert-unambiguous no`?

[2020-11-24 14:48] dmknght commented on #128
I think no. Judge by quick test cpu still raised and this showed
![Screenshot at 2020-11-24 21-48-15](https://user-images.githubusercontent.com/29118926/100109793-1c386f80-2e64-11eb-86a1-bf33cba91484.png)

[2020-11-25 07:33] ShrirajHegde opened #133 "History suggestion by up arrow appears but fails to execute"
## Environment
* `zsh-autocomplete` version: 6020398e918f4859e542bf4ebca838188593cc66

* Zsh version: zsh-5.8-0-g77d203f
* Framework:none
* Plugin manager: none
* `~/.zshrc` file:  https://pastebin.com/3WYHT8rN

Please test if the bug occurs without config files:
[code]
Does the bug occur without config files?
* YES

## Steps to reproduce

1. use any command , say `clear`

2. use top arrow to get

[2020-11-25 12:32] marlonrichert commented on #133
Sorry, I cannot reproduce this at all. Here's what I did:
[code]
I then pressed ⬆️ and then ↩️. Result: `ls` gets executed again. Works fine.

If you can give me a working test case, then I'll reopen the issue.

[2020-11-25 12:32] #133 closed

[2020-11-25 13:17] marlonrichert commented on #130
@asgarj It should be fixed now. Please update.

By the way, this problem was caused by a bug in Powerlevel9k, which is no longer being maintained. You might want to update to Powerlevel10k.

[2020-11-25 13:17] #130 closed

[2020-11-25 13:31] marlonrichert commented on #128
@dmknght I pushed in several fixes. Please update.

Note, though, that `apt` completion and completion for package managers in general is just very slow. There's nothing `zsh-autocomplete` can do about it.

[2020-11-25 15:11] dmknght commented on #128
![Screenshot at 2020-11-25 22-07-51](https://user-images.githubusercontent.com/29118926/100245467-f8daf680-2f2f-11eb-89c7-cf972e9c9394.png)
Thank you man i've tested quickly. No more CPU leak issue. the completion shows like a charm. The apt package suggestion is very fast and it is exactly how i want it to be :D
Well the most impressed thing is i am using these settings
[code]
There is no group n

[2020-11-25 15:39] marlonrichert commented on #128
Yeah, that's intentional. Group names are no longer optional, because without grouping completions, it's virtually impossible to estimate how many will fit on one screen. 😅

[2020-11-25 15:39] #128 closed

[2020-11-25 20:59] marlonrichert commented on #99
@artfulrobot All right, it's there and it seems to work well. Let me know what you think. 🙂

[2020-11-26 11:50] marlonrichert commented on #99
@artfulrobot It's not supposed to work like that at all and it doesn't on my end. Have you yet tried deleting `~/.zcompdump`?

[2020-11-26 13:21] marlonrichert commented on #99
Yeah, Zsh doesn't handle it very well if you resize the terminal and then continue typing on the same prompt. But if you press Enter after resizing, then the issue should correct itself.

Ah, this the result of an annoying way that Zsh's `$#` works: If used on an array of length longer than 1, it returns the array length, but if used on an array that has length 1, it will return the string length

[2020-11-26 13:51] marlonrichert commented on #99
OK, should be fixed now.

[2020-11-26 13:54] #99 closed

[2020-11-27 06:47] wu-qing-157 opened #134 "Interferes with fast-syntax-highlighting"
If using together with `fast-syntax-highlighting`, the highlighting appears on every key strokes, but then disappears when the completion list is displayed.

# Environment
* `zsh-autocomplete` version: eff7388
* Zsh version: 5.8
* Framework: Oh My Zsh

Please test if the bug occurs without config files:
[code]
Does the bug occur without config files?
Yes

## Steps to reproduce
Just use the above t

[2020-11-27 13:19] marlonrichert commented on #134
Fixed.

[2020-11-27 13:19] #134 closed

[2020-11-27 19:10] marlonrichert commented on #127
It's there. Enjoy!

[2020-11-27 19:10] #127 closed

[2020-11-28 21:57] weilbith opened #135 "Completion for Zoxide not working - how can I debug?"
## Environment
* `zsh-autocomplete` version: acfd9db0b0f0ac8191f96706ecd86a7c91a27750
* Zsh version: `zsh-5.8-0-g77d203f`
* Framework: none
* Plugin manager: Zinit
* `~/.zshrc` file: complicated... the relevant combi should look like this:

[code]

## Steps to reproduce
1. Make sure that `zoxide` is working, e.g. `zoxide quert some-dir` provides results
2. Type `cd some-dir` and check if there are

[2020-11-29 11:25] marlonrichert commented on #135
It appears that `zoxide` has renamed its `chpwd` hook from `_zoxide_hook` to `__zoxide_hook`. Thanks for reporting this. I'll update the code.

[2020-11-29 11:42] marlonrichert commented on #135
Oh, and as for your question "how can I debug?"; this is the steps I took to discover this:
[code]
And Bob's your uncle.

[2020-11-29 12:11] marlonrichert commented on #135
Fixed.

[2020-11-29 12:11] #135 closed

[2020-11-29 12:13] marlonrichert opened #136 "Update the images"
They're kinda behind on the current state of the art.

[2020-11-29 18:42] weilbith commented on #135
Cool, thank you very much! :pray:

[2020-11-30 09:51] weilbith commented on #135
@marlonrichert I'm sorry, but I updated this morning the plugin and now I get basically no completion anymore, or only every century. What happened?

[2020-11-30 10:47] marlonrichert commented on #135
@weilbith It works for me. Have you tried deleting `~/.zcompdump`?

[2020-11-30 10:53] marlonrichert commented on #135
`zsh-autocomplete` actually tries to auto-delete your comp dump file, but it seems to fail for some end users. I have no idea why.

[2020-11-30 13:04] weilbith commented on #135
Hmm. I deleted it once manually. Then it worked for the first couple of seconds.
I think my setup with `zinit` is off. Their documentation confuses me. The dump file and the cache get now also stored next to my `.zshrc` which is a no go (there is "cache" in the name not "config"). Recently changed that.
When or where do you call `compinit`?

[2020-11-30 15:18] marlonrichert commented on #135
One of the reasons I wrote [Znap](https://github.com/marlonrichert/zsh-snap). 😉

Here: https://github.com/marlonrichert/zsh-autocomplete/blob/05cc0e37737a11a99161ba77e3248ebf180d6dc6/utility/.autocomplete.compinit#L9

[2020-12-01 17:04] weilbith commented on #135
Sorry to annoy you. So I ran `zsh -fd` source your plugin and auto-completion works.
So my current buggy behavior is that I sometimes get completion for the first character and then always just when I hit `Tab`. Who can I find out why this automatic stuff does not happen anymore? Is that a hook to establish that gets not established?

[2020-12-01 21:08] marlonrichert commented on #135
Could be. What output do you get from `add-zle-hook-widget -L`?

[2020-12-01 23:39] weilbith commented on #135
Output:
[code]

I mean 2 days ago everything was fine and your plugin was fantastic as always (I mean except the zoxide issue :stuck_out_tongue: ). Then the update and it only works "manually" anymore. Which is bad for a plugin with "auto" in its name. :joy:

[2020-12-02 02:17] dukman83 opened #137 ".autocomplete.key:X: command not found: add-zle-hook-widget"
## Environment
* `zsh-autocomplete` version: ???  Shown in most recent version.
* Zsh version: ???  5.7.1
* Framework: ???  Oh My Zsh
* Plugin manager: ???  none
* `~/.zshrc` file: ???  N/A

Please test if the bug occurs without config files:
[code]
Does the bug occur without config files?
* ???

If not, gradually add lines from your config file to the subshell until the bug appears.

Which combin

[2020-12-02 10:45] marlonrichert commented on #137
Fixed.

[2020-12-02 10:45] #137 closed

[2020-12-02 11:15] marlonrichert commented on #135
I still cannot reproduce this. What happens if you manually `source path/to/zsh-autocomplete.plugin.zsh`, without `zinit`?

[2020-12-02 11:24] marlonrichert commented on #135
I just tried it with `zinit` and it works fine for me. Here's what I did:
[code]
Works fine.

[2020-12-02 11:58] weilbith commented on #135
I tried already, but it doesn't help (doing it after my normal setup with zinit).

Yeah I mean it was working fine since a couple of days ago. No clue what changed. Okay, so I have no chance but going step for step from an "empty" setup to my current and see when it stops working. :expressionless:

[2020-12-02 14:16] marlonrichert commented on #135
Good luck!

[2020-12-02 19:29] dukman83 commented on #137
You are amazing! 😄

Regards,

Alex Alduk

________________________________
From: Marlon Richert <notifications@github.com>
Sent: Wednesday, December 2, 2020 9:45:33 PM
To: marlonrichert/zsh-autocomplete <zsh-autocomplete@noreply.github.com>
Cc: dukman83 <alexalduk@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [marlonrichert/zsh-autocomplete] .autocomplete.key:X: command not found:

[2020-12-03 01:36] dukman83 opened #138 ".autocomplete.add-zsh-hook:1: maximum nested function level reached; increase FUNCNEST?"
## Environment
* `zsh-autocomplete` version: ???  Most recent
 Zsh version: ???  5.7.1-1
* Framework: ???  Oh My ZSH
* Plugin manager: ???  none
* `~/.zshrc` file: ???  N/A

Please test if the bug occurs without config files:
[code]
Does the bug occur without config files?
* ???

If not, gradually add lines from your config file to the subshell until the bug appears.

Which combination of config c

[2020-12-03 06:45] marlonrichert commented on #138
Can you add `setopt verbose xtrace` to the bottom of your `.zshrc` and tell me what output you get?

[2020-12-03 06:46] marlonrichert commented on #138
Also, can you please fill out all the `???`s in the bug template? They’re not there for nothing. In particular, did you test without any config?

[2020-12-03 06:48] dukman83 commented on #138
My apologies, I checked my .zshrc file and it had exactly 5 additional source lines.
...scripting and automation error on my behalf!
Not an issue with the plugin.
Thanks again!

[2020-12-03 06:50] dukman83 commented on #138
I left that out because I wasn't entirely sure what you meant by that. Thanks for the help.

[2020-12-03 07:30] #138 closed

[2020-12-03 20:11] Iron-E opened #139 "Errors on every autocompletion"
## Environment
* `zsh-autocomplete` version: a3f9709579639887ffef162d6476df6af33f8d30
* Zsh version: zsh-5.8-0-g77d203f
* Framework: Oh My Zsh
* Plugin manager: none
* `~/.zshrc` file: [here](https://gitlab.com/Iron_E/dotfiles/-/tree/master/.zshrc)

Please test if the bug occurs without config files:
[code]
Does the bug occur without config files?

* Yes

## Steps to reproduce

1. `cd $(mktemp -d)

[2020-12-03 21:10] Iron-E commented on #139
Temporary workaround: checkout a0111e9f647bbe9b756c576684b22c70c8cc52db on this plugin.

[2020-12-05 21:36] marlonrichert commented on #139
Should be fixed now.

[2020-12-05 21:36] #139 closed

[2020-12-05 21:39] Iron-E commented on #139
Confirmed. Thanks!

[2020-12-06 17:30] aulialuthfi99 opened #140 "Warning about zstyle :autocomplete:list-choices:*"
## Environment
* `zsh-autocomplete` version: 9bf93684a4a954e9175cd268428d9c7e68b89218
* Zsh version: zsh-5.5.1-0-gfd4056f
* Framework: Oh My Zsh
* Plugin manager: none
* `~/.zshrc` file: Haven't uploaded it yet, cause it happens even without it

Please test if the bug occurs without config files:
[code]
Does the bug occur without config files?
* yes

### Actual behavior
[Can't upload to GitHub for

[2020-12-06 17:39] marlonrichert commented on #140
Yeah, so, do you have any `zstyle :autocomplete:list-choices:*` statements in your `~/.zshrc`? Then please remove it.

[2020-12-06 17:39] #140 closed

[2020-12-06 21:00] marlonrichert commented on #136
Done.

[2020-12-06 21:00] #136 closed

[2020-12-07 06:50] muuvmuuv opened #141 "Option to not add semicolon when using space in select"
## What do you want?

So when typing a word, going into history with <kbd>Arrow Up</kbd> and the select something with <kbd>Space</kbd>, it adds a `;` at the end which prevents me from adding flags or anything like that.

## Why do you want this?

Because it prevents me from expending a history command fast.

## Who else would benefit from this?

Everyone which e.g. works with `npm` and wants to a

[2020-12-07 14:25] dmknght opened #142 "The list group disapears, leads to "zsh: do you wish to see all X possibilities""
## Environment
* `zsh-autocomplete` f75d296ec218573cb4c14abeebfd952686135b75`
* Zsh version: `debian/5.8-5`
* Framework: "none"
* Plugin manager: "none"
* `~/.zshrc` file:
[code]

Please test if the bug occurs without config files:
[code]

After latest update, with this config file, i get the problem when use `apt show ` like this `zsh: do you wish to see all 46 possibilities (25 lines)?`. It lead

[2020-12-07 14:26] dmknght commented on #142
P/s: when i type enter, nothing shows / happens

[2020-12-07 14:27] dmknght commented on #142
Update 1: turned out it doesn't work for `apt` completion only and likely it doesn't support `bash completion` in some cases

[2020-12-07 14:34] dmknght commented on #142
Update: turned out i upgraded the plugin and old files were kept. Fresh reinstall fixed problem

[2020-12-07 14:38] dmknght opened #143 "Incompatible with command `apt show`, make zombie processes and lead to CPU leak"
## Environment
*    zsh-autocomplete f75d296`
*    Zsh version: debian/5.8-5
*    Framework: "none"
*    Plugin manager: "none"
*    ~/.zshrc file:
[code]

# Steps:
1. I used `apt show <package name>`. For example `apt show exploitdb`.
2. information of package shows slowly
# Issues:
1. zombie processes leads to cpu leak (check screenshot bellow)
2. `apt` never suggests package name (it worked bef

[2020-12-07 14:41] dmknght commented on #143
After `killall zsh` and closed terminal windows, there are 2 open terminals and this is screenshot
![image](https://user-images.githubusercontent.com/29118926/101364149-2a41b380-389a-11eb-93e4-647be3c9c781.png)

[2020-12-07 14:42] dmknght commented on #143
Keep continue with other `apt show` test. Somehow the suggestion still suggest pakage after press tab but terminal hangs
![image](https://user-images.githubusercontent.com/29118926/101364325-5826f800-389a-11eb-87d0-30d2b4dea2ef.png)
Use `Ctrl + C` showed `Killed by signal in _alternative after 59s`

[2020-12-07 14:47] marlonrichert commented on #143
@dmknght Can you reproduce this with something else than `apt`? I'm on macOS, so I don't have access to `apt`, which makes it impossible for me to reproduce this. If you could give me a test case where you are able to reproduce it with something else, that would help a lot.

[2020-12-07 14:55] dmknght commented on #143
for now i have no other case. Do you have same trouble with `brew` (i think so because i have never used macOS).

[2020-12-07 15:04] marlonrichert commented on #143
I have tried to reproduce it with `brew`, but no such luck.

[2020-12-07 17:27] marlonrichert commented on #143
This should fix it. Let me know if it doesn't.

[2020-12-07 17:29] marlonrichert commented on #141
No need for a setting. The `;` is now automatically removed for all input except <kbd>Ctrl</kbd><kbd>Space</kbd> and <kbd>Alt</kbd><kbd>Space</kbd>.

[2020-12-07 17:29] #141 closed

[2020-12-07 17:43] dmknght commented on #143
I've did a quick test. Likely the "slow" after type `apt show` was fixed but i think sub processes are still there. Well i'll test it more and tell you if problem is not fixed
![image](https://user-images.githubusercontent.com/29118926/101385465-be6c4480-38b3-11eb-8484-321565e9aac2.png)

[2020-12-08 18:25] dmknght commented on #142
@marlonrichert well it is happening again, after i upgraded latest commit yesterday. Fresh install of plugin done so i think i should repopen this issue.
Anyway i tested with
[code]
and nothing changed. In other cases, the group list works just fine.
![image](https://user-images.githubusercontent.com/29118926/101524836-5afd1800-3982-11eb-8458-4bbbd6df04e7.png)

[2020-12-08 19:14] weilbith commented on #135
@marlonrichert I found the issue. I have the following in my `.zshrc`:

[code]

If I comment/uncomment this, it either works or does not work. But this part of my configuration exists for years already. Did you changed something with the recent commits that breaks it? :thinking:

[2020-12-08 21:35] marlonrichert commented on #135
Should be fixed now.

[2020-12-08 22:38] weilbith commented on #135
Great! It works. Thank you very much! 🙏

[2020-12-09 11:01] marlonrichert commented on #142
@dmknght I still cannot reproduce this, but as I said before, I don't have access to `apt`.

When you get that question, what output do you get when you press `y`?

[2020-12-09 11:15] marlonrichert commented on #142
I tried to simulate it as follows:
[code]
Works fine for me, but perhaps this is not realistic data.

Could you please run `apt-cache --generate pkgnames` and paste the results here? Then I can test with it.

[2020-12-09 12:00] dmknght commented on #142
the command you gave showed error for me but i think you can use the index file of `apt` for the test?
URL: `https://deb.parrot.sh/parrot/dists/rolling/InRelease`.
Could you try install debian based distro in VM and test with plugin?

[2020-12-09 12:43] marlonrichert commented on #142
You haven't answered me yet: When you get the question, what output do you get from pressing `y`?

Also, if you press `n` and you then press `^Xh`, what output do you get?

What kind of error? Can you paste it here?

URL: https://deb.parrot.sh/parrot/dists/rolling/InRelease.

That doesn't contain any package names.

Could, but that's quite a lot of effort, since I don't normally use VMs for anythi

[2020-12-09 13:29] dmknght commented on #142
Sorry my bad. This url should contains Package name `https://deb.parrot.sh/parrot/dists/rolling/main/binary-amd64/Packages`.
if i get the question, press `y` or enter doesn't show anything as i remember. but well somehow i can't reprocedure it on my system after reboot. It is weird.

[2020-12-09 13:30] dmknght commented on #143
The problem is still happening.
![image](https://user-images.githubusercontent.com/29118926/101636050-a9fa8a00-3a22-11eb-80d1-200dbe663f8a.png)

[2020-12-09 13:30] dmknght commented on #143
@marlonrichert can you reopen this issue, please?

[2020-12-09 19:14] marlonrichert commented on #142
If after typing `apt show r`, you press `^Xh`, what output do you get?

[2020-12-09 19:17] dmknght commented on #142
unfortunately this time i get nothing from "do you wish to see ..."
But there is an other problem: There are so many zsh processes in background
![image](https://user-images.githubusercontent.com/29118926/101676433-142b2300-3a53-11eb-85d7-9a6068e001c0.png)

Let me try clean my installation of the plugin again to make sure there is nothing wrong with my installation.

[2020-12-09 19:18] marlonrichert commented on #143
I pushed in a potential fix. Can you try it?

[2020-12-09 19:19] marlonrichert commented on #142
After typing `apt show r`, can you please press `^Xh` and show me what output you get? Doesn't matter if there's no question shown.

[2020-12-09 19:22] dmknght commented on #142
Oh sorry i misunderstood it. Here is the screenshot. It was `Ctrl + X` then `h` am i right?
![image](https://user-images.githubusercontent.com/29118926/101676935-c6fb8100-3a53-11eb-990f-cc3994520d2e.png)

[2020-12-09 19:24] marlonrichert commented on #142
OK, can you now do the following?
[code]

[2020-12-09 19:25] dmknght commented on #142
This is really long. The full output:
[code]
Then after waiting (while i was typing this), it went to `apt show libgkarrays` automatically

[2020-12-09 19:27] marlonrichert commented on #142
Can you list the contents of `/home/dmknght/.cache/zcompcache/DEBS_avail`?

[2020-12-09 19:28] dmknght commented on #142
well it is really long. Let me zip it and send to you
p/s quick question: the file zcompdump something moved to the folder `.cache/zcompcache/`?

[2020-12-09 19:29] dmknght commented on #142
[DEBS_avail.zip](https://github.com/marlonrichert/zsh-autocomplete/files/5668198/DEBS_avail.zip)
Here is the file

[2020-12-09 19:30] marlonrichert commented on #142
Yes, I moved it from `$ZDOTDIR` to `$XDG_CACHE_HOME`.

[2020-12-09 19:31] dmknght commented on #142
nice! So i should notice this folder more when i have any problem.
Anyway do you need any information to debug? I'm ready to do anything that can help you :D

[2020-12-09 19:33] marlonrichert commented on #142
I just have to try some things now with the data you provided. I'll let you know when I need anything. Thanks!

[2020-12-09 19:36] dmknght commented on #143
I've tested and it is still happening. Well after some check, i think this bug is just #142 with no "Possibly X"

[2020-12-09 20:44] marlonrichert commented on #143
Yeah, I think it's the same. Closing this as duplicate. Let's continue the discussion over there.

[2020-12-09 20:44] #143 closed

[2020-12-09 20:53] marlonrichert commented on #142
The problem appears to be that there are _70124_ packages in the cache, of which _37719_ have the letter `r` in them. Just after all of these have been processed by the `compadd` builtin, Zsh freezes completely. I presume because it's busy freeing up a bunch of memory.

I'll see if I can work around it somehow.

[2020-12-10 04:34] thepreacher opened #144 "Tab completion for some use cases displays extra forward slashes"
## Environment
* `zsh-autocomplete` version: commit bac65644ab1b82c48189b5f25bf2b1379b5d1797
* Zsh version: 5.8
* Framework: None
* Plugin manager: Znap
* `~/.zshrc` file: [zshrc](https://github.com/thepreacher/dotfiles/blob/master/znap/zshrc)

### Actual behavior
From the prompt say I try to access a `dot folder or file` in this case use *sublime text* to open a file located in `.config` so `$ su

[2020-12-10 15:35] dmknght commented on #142
I think, in this case, users may want package that starts with `r` only and same behavior with other packages. But ofc, suggestion for other name like `rad` for `radare2` and `xxradxxx` will be better than only starts with. I think maybe you can add an option that suggest strring that starts with user's keystroke only? But for how zsh keeps checking text and hanging, it must have other way.

[2020-12-10 19:22] dmknght commented on #142
@marlonrichert something about the "X possibilities"' has just happened
![image](https://user-images.githubusercontent.com/29118926/101818944-7ef46100-3b1c-11eb-8bcc-60896c797423.png)
When i use Ctrl + x then h, ofc it showed `No pattern completions found.` The problem is it makes the typo have the missing character problem

[2020-12-10 20:45] marlonrichert commented on #142
That would help only a tiny bit. The real problem is that Zsh's completion system simply doesn't scale when it has to process thousands of matches at once. However, I've found a workaround. I'll push in a fix soon.

[2020-12-10 21:15] marlonrichert commented on #144
Thanks for reporting this. Fixed.

[2020-12-10 21:15] #144 closed

[2020-12-10 21:18] marlonrichert commented on #142
All right, I tested it and it's all fixed now. Enjoy!

[2020-12-10 21:18] #142 closed

[2020-12-11 05:14] dmknght commented on #142
@marlonrichert confirmed it was fixed for `apt`. However the `grep` is having this problem
![image](https://user-images.githubusercontent.com/29118926/101865882-5ea1c200-3b6f-11eb-9af0-cc6ef8937bae.png)
Using ctrl + x -> h
![image](https://user-images.githubusercontent.com/29118926/101865909-6bbeb100-3b6f-11eb-9bf9-321a8fbe4caf.png)
If i press Y
![image](https://user-images.githubusercontent.com/2

[2020-12-11 08:34] marlonrichert commented on #142
@dmknght Actually, can you just open a new issue for those? Because it's an entirely different problem.

[2020-12-11 16:37] artfulrobot opened #145 "Ancestry directories?"
## What do you want?

Add suggestions for all the parent dirs up to root, if typing `..`

## Why do you want this?

I want to be able to go up levels of dirs interactively and quickly. e.g. if I'm in /a/b/c/d/e/f/ and I need to get to /a/b

## Who else would benefit from this?

For example, I work with Drupal and CiviCRM. Both projects have deeply nested dirs that you need to jump between. `cdr` h

[2020-12-12 11:06] marlonrichert commented on #145
@artfulrobot Have you tried `zsh-edit` yet? That enhances `cd` so that you can go directly to ancestors and siblings, without having to specify the entire path: https://github.com/marlonrichert/zsh-edit/blob/main/README.md#cd-to-ancestors-and-siblings

When enabled, this will automatically show up in completions, too.

[2020-12-13 10:10] marlonrichert commented on #145
They are not the same. One is lowercase Y, the other is uppercase Y. 🙂

That's true. I hadn't thought about that. I'll look into it.

Technically speaking, it's not a _builtin:_ 😉

See http://zsh.sourceforge.net/Doc/Release/User-Contributions.html

[2020-12-18 01:15] paw-lu opened #146 "Newline is inserted during completion when oh-my-zsh is sourced"
## Environment
* `zsh-autocomplete` version: 395d47cd6f455
* Zsh version: 5.7.1
* Framework: Oh My Zsh
* Plugin manager: none
* `~/.zshrc` file:

[code]

Please test if the bug occurs without config files (it doesn't):
[code]
Does the bug occur without config files?
* No!

If not, gradually add lines from your config file to the subshell until the bug appears.

Which combination of config causes t

[2020-12-18 16:43] marlonrichert commented on #146
I cannot reproduce this. Also,
[code]
is not valid syntax for declaring an array. It should be
[code]

[2020-12-18 16:43] #146 closed

[2020-12-18 17:43] paw-lu commented on #146
The plugins was a typo on my part! It is correct on the true `.zshrc` file. I have corrected it in the original post.

One thing I have just noticed is that once I navigate to another directory, the issue no longer occurs. So there is something about my home directory that is causing this.

[2020-12-18 20:39] marlonrichert commented on #146
When your command line jumps like that, it means that an error message is getting printed. Unfortunately, it appears the completion menu then gets printed on top of the error message.

[2020-12-18 20:42] marlonrichert commented on #146
Next time, can you please use [`asciinema`](https://asciinema.org) to record your screen? Gifs are annoying in that one cannot stop or rewind them in most browsers.

[2020-12-19 20:43] Mellbourn opened #147 "Configure delay of displaying completions"
## What do you want?
I would like to be able to set a delay for showing completions. E.g. if I pause typing for at least half a second, _then_ the completions show, not immediately.

## Why do you want this?
I really like the idea of zsh-autocomplete, but in practice I find it very distracting to have completions flickering by all the time. I need them mainly when I hesitate - thinking "what is th

[2020-12-20 08:50] marlonrichert commented on #147
Sure, that is doable. I have considered it before.

[2020-12-20 19:26] marlonrichert commented on #147
All right, it's there. Documentation here: https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#wait-for-a-minimum-amount-of-time

[2020-12-20 19:26] #147 closed

[2020-12-20 22:38] Mellbourn opened #148 "sleep: invalid option -- '0'"
## Environment
* `zsh-autocomplete` version: 4e649be63
* Zsh version: 5.3.1
* Framework: none
* Plugin manager: zinit
* `~/.zshrc` file: https://github.com/Mellbourn/dotfiles/blob/master/.zshrc

So, I guess this is related to my request of delay configuration https://github.com/marlonrichert/zsh-autocomplete/issues/147
The latest version works fine on my Macbook and Mac mini. But the above error s

[2020-12-21 03:47] thepreacher commented on #148
I have the same issue but reported it on the wrong zsh-snap instead. See [invalid option](https://github.com/marlonrichert/zsh-snap/issues/10).

I'm a Macbook Pro 2019.

[2020-12-21 16:40] euglevi commented on #148
I had the same issue on Ubuntu 20.04 without any plugin framework. I also confirm that only by using integer numbers I can overcome this. I tried looking if the sleep utils accept only integer, but no it does not look like it.

[2020-12-21 17:50] marlonrichert commented on #148
Hi, all! Thanks for reporting this and apologies for the inconvenience. I know how to fix it. You can expect a patch from me soon.

[2020-12-21 19:31] marlonrichert commented on #148
Should be fixed now.

[2020-12-21 19:31] #148 closed

[2020-12-22 00:39] skonmeme opened #150 "Completion error with oh-my-zip kubectl plugin when typing inexistance file name"
## Steps to reproduce
1. install oh-my-zip
2. plugins=(kubectl) in .zshrc
3. try to complete inexistent file file like 'cd noWhere'

'''
cd noWhere.autocomplete._approximate:48: command not found: _bash_comp
.autocomplete._approximate:48: command not found: _bash_comp
~/cd noWhere
'''

### Actual behavior
lots of error messages

### Expected behavior
nothing change: no error message

[2020-12-22 20:33] kheaactua opened #151 "Modify autocomplete behaviour to work closer to the default"
This is more of a question,.. I like most of the features of this, except how the autocomplete works right now.

For instance, I have two items in my directory, the executable `doupdate.sh` and the directory `dotfiles`.  When I type `ls dot<tab>` it autocompletes to `ls doupdate.sh` (it ignores the `t` and chooses the first executable, rather than the best match.  Sort of how powershell autocomple

[2020-12-23 07:15] ChocolateOverflow commented on #151
Additionally, it I have 2 directories `git` and `.cargo` and I type `g<TAB>`, it should give me `git` *before* `.cargo`. Having used bash completion with this alphabetic listing, it's annoying to get `.cargo` when I'm trying to type out & finish `git` by starting with a `g`.

[2020-12-23 07:50] skonmeme commented on #151
In history menu, it shows unacceptable ordered list.
For example, it suppose I typed 'ls a', 'ls c', and then 'ls b'. In bash, when I pressed up arrow button, it shows 'ls b' first.
But, In history menu of autocomplete, a selection row is located in 'ls a' firstly.
It is quite confusing me.

[2020-12-23 09:29] maarekj opened #152 "The order of the file suggestions is weird"
## Environment
* `zsh-autocomplete` version: d23lic618df15b26bc0a783a2b754de5ab66d700974
* Zsh version: ubuntu/5.8-3ubuntu1
* Framework: none
* Plugin manager: none
* `~/.zshrc` file: none

Does the bug occur without config files?
* Yes

## Steps to reproduce
[code]
1. I move to a directory  that contains 2 directories named `public` and `psalm-stubs`.
2. I type `pub` and I wait suggestions.

###

[2020-12-23 13:46] Mellbourn commented on #148
Confirmed, it is fixed for me in the latest version

[2020-12-24 07:29] ChocolateOverflow opened #153 "Smart case completion suggestion"
## What do you want?

I'd like "smart case" completion similar to vim's "smart case" search.

## Why do you want this?

I sometimes *explicitly* type a character in UPPERCASE because the file/directory I want has the uppercase letter in the name. However,  the autocompletion currently ignores the uppercase-ness and the thing I'm looking for comes up way further down the completion queue.

## Who e

[2020-12-24 09:55] marlonrichert commented on #151
Sorry, it appears there were some bugs in the matching logic. They should be fixed now. Please try again.

[2020-12-24 09:55] marlonrichert commented on #152
Sorry, it appears there were some bugs in the matching logic. They should be fixed now. Please try again.

[2020-12-24 10:04] maarekj commented on #152
Magnifique !!
Thank you very much.

It is work perfectly.

[2020-12-24 10:04] #152 closed

[2020-12-24 10:10] marlonrichert commented on #150
Sorry, but I cannot reproduce this. Here's what I did:
[code]
No error messages.

[2020-12-24 10:10] #150 closed

[2020-12-24 18:48] marlonrichert commented on #145
All right, it's there.

[2020-12-24 18:48] #145 closed

[2020-12-24 21:24] Mallchad commented on #151
I believe this actually solves a little niggle I've dealt with for months.
This latest update works amazingly : D

[2020-12-25 17:22] marlonrichert commented on #153
All right, it's there.

[2020-12-25 17:22] #153 closed

[2020-12-25 17:23] marlonrichert commented on #151
@kheaactua @ChocolateOverflow @skonmeme @nisegami Does it work for you, too?

[2020-12-25 19:46] kheaactua commented on #151
It works!  Thanks!

[2020-12-25 19:46] #151 closed

[2020-12-27 22:07] vendelin8 commented on #35
Hi,
Awesome lib, thanks!
Anyway, I wanted to achieve common prefix as well. Generally it works fine, but when I start the command with `sudo` it doesn't. Root uses zsh too, with a symlink to `.zshrc`.

[2020-12-28 14:41] marlonrichert commented on #35
@vendelin8 It seems to work for me. Can you please give me some test cases for which it fails?

[2020-12-28 18:08] vendelin8 commented on #35
![sc0](https://user-images.githubusercontent.com/13762490/103234414-ea716780-493f-11eb-9efe-e74df6d20e5b.png)
Then after Tab
![sc1](https://user-images.githubusercontent.com/13762490/103234436-f8bf8380-493f-11eb-829a-cd272d9b534a.png)

My idea was `sudo updatedb`

[2020-12-28 18:56] vendelin8 commented on #35
My related `~/.zshrc` part looks like
[code]
And without sudo it works fine.
[code]

[2020-12-28 20:37] marlonrichert commented on #35
That is because you get more matches with `sudo` than without. Zsh only supports getting longest substring that is common to _all_ completions listed. The additional completions you get when doing `sudo` makes it so there's no longer any substring common to all matches.

I'll see if I can make the matching more tight for users who have `insert-unambiguous` enabled, so that you get fewer matches, b

[2020-12-28 21:35] vendelin8 commented on #35
I'd be happy with a common prefix, if there's an option for that. Is it?

[2020-12-28 21:42] marlonrichert commented on #35
That's the one I'm talking about. There is no difference.

However, I did some more testing and I found that there's actually a bit more going on. I'm working on a patch that will improve this.

[2020-12-28 22:25] marlonrichert commented on #35
@vendelin8 It should be better now. Please try again.

[2020-12-29 08:54] vendelin8 commented on #35
Awesome, it works fine, thank you!

[2020-12-29 09:19] euglevi opened #156 "autocomplete.async.timeout.fd-widget:5: 23: bad file descriptor"
## Environment
* `zsh-autocomplete` last version and it did not happen until the update of a few days ago
* Zsh version: 5.8
* Framework: none
* Plugin manager: none

Which combination of config causes the bug to appear?
Adding zsh-autosuggestions

## Steps to reproduce
1. Typing cd and then a folder
2. Erasing what has just been typed

### Actual behavior
I get the following error message: `.auto

[2020-12-29 12:08] #35 closed

[2020-12-29 15:11] marlonrichert commented on #156
I cannot reproduce this. Here's what I did:
[code]
Works fine for me.

[2020-12-29 15:11] #156 closed

[2020-12-29 16:52] skonmeme commented on #150
It shows same error by below commands.
---
cd $(mktemp -d); HOME=$PWD ZDOTDIR=$PWD zsh -d
# just to avoid error "complete:13: command not found: compdef"
# autoload -Uz compinit
# compinit
OLDHOME=/Users/skon
source $OLDHOME/.oh-my-zsh/plugins/helm/helm.plugin.zsh
source $OLDHOME/.oh-my-zsh/custom/plugins/zsh-autocomplete/zsh-autocomplete.plugin.zsh
---
cd no<tab>.autocomplete._approximate:48: com

[2020-12-29 17:01] skonmeme commented on #156
I have same error messages without different number like 23, 28, or 25.
And after I exclude "helm" and "kubectl" plugins, these error messages do not show again.

[2020-12-29 22:18] marlonrichert commented on #150
Sorry, I cannot reproduce it with those steps either.

Also, this appears to be either a bug in Kubectl or perhaps you incorrectly configured Kubectl completion:
* https://github.com/kubernetes/kubectl/issues/125
* https://github.com/kubernetes/website/issues/19844

[2020-12-29 22:22] marlonrichert commented on #156
@skonmeme [As I pointed out on #150](https://github.com/marlonrichert/zsh-autocomplete/issues/150#issuecomment-752261004), your case appears to be either a bug in Kubectl or you have not set up Kubectl completion correctly.

[2021-01-04 14:41] artfulrobot opened #159 "Fuzzy file matching fails (regression?)"
## Environment
* `zsh-autocomplete` version: `c7426be9e859e049747114818fa9107ecebe11b9`
* Zsh version: `ubuntu/5.8-3ubuntu1`
* Framework:none
* Plugin manager:  Antigen

Please test if the bug occurs without config files:
[code]
Does the bug occur without config files?
* YES

## Steps to reproduce, including actual and expected behaviour

[code]

I would have expected:

- ➊ to list `ar-2020-4`
- ➋

[2021-01-04 19:26] marlonrichert commented on #159
Sorry about that. Should be fixed now.

[2021-01-04 19:26] #159 closed

[2021-01-05 03:27] ChocolateOverflow opened #160 "Partial completion as first choice"
When in bash, if I have 2 choices with similar starting sub-strings, a partial completion up to the difference is given by default. For example, in my directory I have `file123` and `file456`, and I type `f<TAB>`, bash would give me `file` and I can clarify the file I want by further typing out the names/options with the different strings, e.g. `f<TAB>1<TAB>` would give me `file` and then `file123

[2021-01-05 06:09] jedahan commented on #160
Thank you for articulating exactly why I disabled zsh-autocomplete for now, I had a hard time putting it to words.

[2021-01-05 07:40] marlonrichert commented on #160
@ChocolateOverflow @jedahan That's already built in. As mentioned [in the Readme, under "Change <kbd>Tab</kbd> behavior](https://github.com/marlonrichert/zsh-autocomplete#change-tab-behavior), you can enable it with
[code]

Note, though, that since commit 2a838cb6ef05c9912569cf9f899087f02ecf0c87, _without_ the above setting enabled, you can simply type `cmd f14`<kbd>Tab</kbd> for the case you desc

[2021-01-05 10:20] ChocolateOverflow commented on #160
If anyone still doesn't get the partial completion after adding `zstyle ':autocomplete:tab:*' insert-unambiguous yes`, it might be due to `zstyle ':autocomplete:tab:*' fzf-completion yes` which you'd need to remove for partial completion to work. I happened to add `fzf-completion` because I like fzf without really knowing what it does exactly, which might also be the case for others.

[2021-01-05 11:59] marlonrichert commented on #160
@ChocolateOverflow I just tested with both `insert-unambiguous` and `fzf-completion` enabled at the same time and it works fine for me. Here's what I did:
[code]
Perhaps you have not installed/sourced Fzf's completion code?

[2021-01-05 16:33] ksparakis opened #161 "Feature Request: Searching an Enviornment Variable shows its value"
## What do you want?
I think a really cool time-saving feature would be that as you type the name of an environment variable it lists it, with its value slightly grayed out next to it.

## Why do you want this?
I work in an environment where we heavily rely on environment variables, and it can be annoying to have to use printenv and having to pipe into that and search or even using echo. I think h

[2021-01-06 09:18] marlonrichert commented on #160
@ChocolateOverflow Wherever you have installed Fzf, there should be an [`install` script](https://github.com/junegunn/fzf/blob/master/install).

[2021-01-06 11:56] ChocolateOverflow commented on #160
It works after sourcing [completion.zsh](https://github.com/junegunn/fzf/blob/master/shell/completion.zsh)

[2021-01-06 21:23] tekhnee opened #162 "Option to start in "Live History Search" mode by default."
## What do you want?

Please consider adding an option for defaulting to "Live History Search", rather than the "Completions Menu," at the command prompt.

## Why do you want this?

Typically relying on the command history for autocompletion; having to press `Cmd-S` or `Cmd-R` almost every time to switch from Completions to Live History is counterproductive.

## Who else would benefit from this?

[2021-01-07 20:01] marlonrichert commented on #161
Most of this is already supported:
* Type `$` followed by a parameter's full name to see its value.
* Press <kbd>Tab</kbd> on any parameter to insert its value.

So, for your example:
 1. Type `$GOSU`.
    * Autocomplete displays `GOSUMDB`.
 1. Press <kbd>Tab</kbd>.
    * `$GOSU` gets completed to `$GOSUMDB`.
    * Autocomplete displays `/User/Path/.go/`.
 1. Press <kbd>Tab</kbd> again.
    * `$GO

[2021-01-07 20:05] marlonrichert commented on #161
Oh, and if you add
[code]
to your `.zshrc`, then this enables the following:

 1. Type `GOSU`.
    * Autocomplete displays GOSUMDB.
 1. Press <kbd>Tab</kbd>.
    * `GOSU` gets completed to `GOSUMDB`.
 1. Press <kbd>Enter</kbd>.
    * You auto-`cd` to `/User/Path/.go/`.

[2021-01-07 21:56] ksparakis commented on #161
@marlonrichert  Thank you for the detailed response! Loving the autocomplete honestly absolute gamechanger. Already have a lot of my colleagues at work using it as well :) Thank you for all the hard work!

I still do think having the values listed next to the parameter could be very useful as well as perhaps an env variable search like that of the history, where it lists everything out and you can

[2021-01-07 22:17] marlonrichert commented on #161
`zsh-autocomplete` does nothing to disable them. Can you please try the following?
[code]
If you get the expansions this way, without any dotfiles, then that means there's something in your dotfiles that's turning off expansions.

[2021-01-07 22:50] up-to-you opened #163 "zsh-autocomplete breaks bat autocompletion"
## Environment
`zsh-autocomplete` version: latest
Zsh version: ??? 5.8
Framework: none
Plugin manager: none
`~/.zshrc` file:

[code]

Please test if the bug occurs without config files:
[code]
Does the bug occur without config files?
YES

Which combination of config causes the bug to appear?
any combination if using  zsh-autocomplete (i.e. source ..)

## Steps to reproduce
1. cat any_folder/<TAB>a

[2021-01-07 22:55] up-to-you commented on #163
This is a `bat` completion:

[code]

If i replace it content with code from `cat` (/usr/local/Cellar/zsh/5.8_1/share/zsh/functions/_cat) everything works fine.
This is just FYI, since without sourcing zsh-autocomplete everything works fine too.
I have some suspicions about "custom compinit" in zsh-autocomplete.

[2021-01-07 23:08] up-to-you commented on #163
Deleting any `bat` completions from `/usr/local/Cellar/bat/0.17.1/share/zsh/site-functions` works too )) Maybe the bug should be closed.

[2021-01-08 10:47] marlonrichert commented on #163
Have you _actually_ tried this?
[code]
It works fine for me.

[2021-01-08 10:47] #163 closed

[2021-01-09 21:55] marlonrichert commented on #162
@tekhnee @up-to-you It's there now. Please see [this section of the Readme](https://github.com/marlonrichert/zsh-autocomplete/blob/master/README.md#start-autocompletion-in-history-search-mode).

[2021-01-09 22:25] tekhnee commented on #162
@marlonrichert thank you for kindly taking this up — and for one of the most extraordinary zsh plugins around.

Unfortunately I cannot get this to work, even though the relevant line `zstyle ':autocomplete:*' default-context history-incremental-search-backward` is ran from `.zshrc`, as I understand it should.

[2021-01-09 23:51] up-to-you commented on #162
It's awesome ! And works, but with some glitches. For example: if i type `cd` and then choosing common command like `cd the_most_frequently_used_dir` it ends with `cd cd the_most_frequently_used_dir`

[2021-01-10 09:15] marlonrichert commented on #162
@up-to-you No, it’s not supposed to work that way. That’s definitely a bug. I’ll look into it.

@tekhnee It should be possible to do even outside your `.zshrc`.

[2021-01-10 09:20] marlonrichert commented on #162
@tekhnee Can you please try the following?
[code]
Does it work then for you?

[2021-01-10 09:53] tekhnee commented on #162
@marlonrichert thank you for looking into this.

I ran these four commands with no errors, but unfortunately they didn't help. The plugin still displays the Completions Menu by default.

[2021-01-10 11:44] ChocolateOverflow opened #164 "Prioritizing name not working after first directory"
## Environment
* `zsh-autocomplete` version: 1f59fc6ec81a589dd744800fc5d92d371da5fc09
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: none
* `~/.zshrc` file: https://github.com/ChocolateOverflow/dotfiles_arch/blob/main/home/.zshrc

Does the bug occur without config files?
* Yes

[code]

In the current directory, after typing `cd sync/s<TAB>`, I expect `stuff` to come up *befo

[2021-01-10 15:49] tekhnee commented on #162
@marlonrichert UPDATE: It seems to be working now (and as far as I can tell, there was no update to the plugin meanwhile).

Puzzling… I wonder if some sort of caching is at work due to zplug(?)

Marking this closed for now. Sorry for the (probably) false alarm.

[2021-01-10 15:49] #162 closed

[2021-01-10 16:14] ShrirajHegde opened #165 "Mismatched history due to history picked from $HISTFILE"
## Environment
* `zsh-autocomplete` version: 1f59fc6ec81a589dd744800fc5d92d371da5fc09
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: none
* `~/.zshrc` file: https://pastebin.com/6E0pP4MJ

Please test if the bug occurs without config files:
[code]
Does the bug occur without config files?
* Not sure

If not, gradually add lines from your config file to the subshell until the b

[2021-01-10 18:09] marlonrichert commented on #164
Should be fixed now.

[2021-01-10 18:09] #164 closed

[2021-01-10 18:11] marlonrichert commented on #162
@tekhnee Zplug hasn't really seen [any updates in the past two years](https://github.com/zplug/zplug/graphs/code-frequency). If you're interested in trying a different plugin manager, that's actively maintained and won't change the behavior of any plugins, give [Znap](https://github.com/marlonrichert/zsh-snap) a try. 🙂

[2021-01-10 18:18] marlonrichert commented on #165
Sorry, but I cannot reproduce this. Can you please test without config files and tell me if the bug happens then? Like this:
[code]

[2021-01-10 19:01] ShrirajHegde commented on #165
yes, the problem is persistant

![image](https://user-images.githubusercontent.com/66936172/104132537-f4658280-53a3-11eb-8294-4791fce82b3d.png)

This problem happens since zsh doesn't write history entries until exit. (probably to isolate instances).

[2021-01-10 19:14] marlonrichert commented on #165
Sorry, but I still cannot reproduce this:
<img width="682" alt="Screen Shot 2021-01-10 at 21 12 11" src="https://user-images.githubusercontent.com/644725/104132875-adb65f00-5388-11eb-861d-b951fe947b19.png">

I just noticed you are not using the latest version of `zsh-autocomplete`, though. Can you please update and tell me if it still happens for you?

[2021-01-10 19:23] marlonrichert commented on #165
If the update doesn't help, can you please try the following?
[code]
Then please copy-paste the debug output here.

[2021-01-11 02:46] tekhnee commented on #162
Done :)

[2021-01-11 10:56] ShrirajHegde commented on #165
Ok, figured it out, there's a lot of conflict with zsh autocomplete. Disabling zsh autocomplete makes zsh write history to $HISTFILE immediately after command execution which fixes the issue

I am not 100% sure since yesterday the problem happened.

[2021-01-11 10:59] marlonrichert commented on #165
This has nothing to do with the `$HISTFILE`. Can you please try these debug steps that I asked you to do?

[2021-01-11 14:04] ShrirajHegde commented on #165
[code]

[2021-01-11 14:06] ShrirajHegde commented on #165
I this it has something to do with it. I have checked file being modified in realtime. with zsh-autosuggestions $HISTFILE is written only when user exits terminal

[2021-01-11 14:47] marlonrichert commented on #165
@ShrirajHegde Did the bug occur when you did this? This output looks completely correct to me.

[2021-01-11 14:49] ShrirajHegde commented on #165
No bug doesn't occur when zsh-autosuggestions isn't being used.

[2021-01-11 14:49] marlonrichert commented on #165
@ShrirajHegde That was not my question.

[2021-01-11 14:50] ShrirajHegde commented on #165
Ok I miswrote here, I meant **zsh-autosuggestions** not autocomplete

[2021-01-11 14:54] ShrirajHegde commented on #165
can you please add somewhere that this isn't compatible along with zsh-autosuggestions??

[2021-01-11 14:55] ShrirajHegde commented on #165
adding support is kind of pointless since zsh-autosuggestions and these have similar functionality.

[2021-01-11 15:11] ShrirajHegde opened #166 "Slight incompatibility with powerlevel10k theme"
## Environment
* `zsh-autocomplete` version: d728cf566bd0aba01b0a3937c781bbcb055b1bd0
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: none
* `~/.zshrc` file: https://pastebin.com/6E0pP4MJ

Please test if the bug occurs without config files:
[code]
Does the bug occur without config files?
* No

If not, gradually add lines from your config file to the subshell until the bug app

[2021-01-11 15:29] ShrirajHegde commented on #166
![image](https://user-images.githubusercontent.com/66936172/104201251-8d050c80-544f-11eb-837b-9fc2da74b0fe.png)

Happens with variety of commands.(not just git)

Powerlevel10k is in latest version (https://github.com/romkatv/powerlevel10k/commit/00232d1b6de0931fd9394bc3f963afb88644447d)

[2021-01-11 15:58] tekhnee opened #167 "Tab key inserts top result of completion menu even when the history menu is visible."
Pressing <kbd>tab</kbd> in *history* mode, and with `fzf` autocompletion enabled, inserts the first result of the *completions* menu when the insertion is a filename or directory.

The issue is not manifest when the insertion is a command option.

## Environment

* `zsh-autocomplete` version: `d728cf566bd0aba01b0a3937c781bbcb055b1bd0`

* Zsh version: `zsh-5.8-0-g77d203f`

* Framework: None

* Plug

[2021-01-11 18:45] marlonrichert commented on #167
Should be fixed now.

[2021-01-11 18:45] #167 closed

[2021-01-11 18:58] tekhnee commented on #166
Confirming this issue; except that the error messages on my end complained about `fd 20`.

[2021-01-11 19:16] marlonrichert commented on #166
@ShrirajHegde @tekhnee This is a problem in [P10k's `_p9k_deschedule_redraw()` function](https://github.com/romkatv/powerlevel10k/blob/33f20f5eaea0de5f08d77869f8cc087ddf798351/internal/p10k.zsh#L7457). It tries to uninstall an fd handler, without checking whether it's still installed, and tries to close an fd, without checking if it's still open. Please open an issue there.

[2021-01-11 19:19] marlonrichert commented on #165
Sorry, but I cannot reproduce your problem. I use both `zsh-autocomplete` and `zsh-autosuggestions` at the same time and it works fine. If you can please use the debug template I gave you to put together a test case that can reproduce the problem, then I can investigate the problem.

[2021-01-11 19:42] romkatv commented on #166
@marlonrichert Does zsh-autocomplete invoke zle widgets in a fork? If so, it's indeed incompatible with powerlevel10k. If you can confirm this, I'll add a check to powerlevel10k so that it fails to initialize if zsh-autocomplete is loaded. This will prevent issues like this from being filed. Sounds good?

[2021-01-12 04:10] ChocolateOverflow opened #168 "Choice to not insert a space after a tab completion"
## What do you want?

A choice to not insert a space after a tab-completion.

## Why do you want this?

Sometimes, I want to rename a file or make a file with a similar name. For example, I want to run `mv test test.txt` so I do `mv test t<TAB>.txt`, but instead of `test.txt`, it ends up being `test .txt`. Rather than having zsh-autocomplete just insert the only choice (`test` is the only file in

[2021-01-12 06:05] ShrirajHegde commented on #165
oh ok, can you provide your zshrc??

[2021-01-12 06:29] romkatv commented on #166
I took a look at the code. If my reading is correct, zsh-autocomplete can close random file descriptors (the ones it hasn't opened) and kill random processes (the ones it hasn't started). I've thrown together a fix in https://github.com/romkatv/zsh-autocomplete/tree/fix-rogue-fd-close-and-kill. I wasn't able to reproduce the original error message (the instructions in the issue description are inc

[2021-01-12 08:23] marlonrichert commented on #166
@romkatv Why exactly are you passing the names of the parameters instead of the values? How does that solve the problem?

[2021-01-12 08:25] romkatv commented on #166
To avoid closing a file descriptor that hasn't been opened by zsh-autocomplete. I believe with the current code the following can happen:

1. zsh-autocomplete opens file descriptor 20.
2. zsh-autocomplete closes file descriptor 20.
3. Some other code open file descriptor 20.
4. zsh-autocomplete closes file descriptor 20.

[2021-01-12 08:28] marlonrichert commented on #166
And what is the reason for using anonymous functions inside the `kill` function?

[2021-01-12 08:31] romkatv commented on #166
So that this works:

[code]

[2021-01-12 08:40] marlonrichert commented on #166
Yes, I understand that’s what you’re trying to do. What I don’t understand, though: Why are the anonymous functions inside `.autocomplete.async.kill` necessary for that to work? What exactly do they accomplish?

[2021-01-12 08:42] marlonrichert commented on #166
Also, why do you prefer `read -u $1` over `read <$1`?

[2021-01-12 08:44] romkatv commented on #166
Without the anonymous functions the code snipped I've posted earlier wouldn't work. More specifically, `fd` and `pid` wouldn't be set to zero by `.autocomplete.async.kill`.

Faster and cleaner. I'm not attached to this code.

[2021-01-12 09:21] marlonrichert commented on #168
How do you use <kbd>Space</kbd> to confirm your selection? Can you please give an example flow of events, so I can try it for myself?

[2021-01-12 09:27] marlonrichert commented on #165
https://github.com/marlonrichert/.config/blob/master/zsh/.zshrc

[2021-01-12 11:48] ChocolateOverflow commented on #168
Currently, a space is automatically inserted when there's only possibly completion and I press `<TAB>`, making it `t<TAB>` -> `test ` (there's a space). There's no need to implement "press space to select", and instead just insert the completion without a space, making the sequence `t<TAB><SPACE>` give `test `.

If there're multiple possible completions (`test123` and `test456`), the sequence `t<T

[2021-01-12 12:52] eddyg commented on #166
Thanks for digging in to this, Roman! 🎉 This was a low-level issue, and I’m sure it took some time to get up to speed so you could debug unfamiliar code. It is appreciated by the users of your excellent prompt framework.

[2021-01-12 14:17] marlonrichert commented on #166
@romkatv I left some questions on the code: https://github.com/marlonrichert/zsh-autocomplete/pull/169/files

[2021-01-12 14:20] marlonrichert commented on #168
I think you misunderstood me. This is the part that I don't understand:

[2021-01-12 14:20] marlonrichert commented on #168
And what do you mean with that?

[2021-01-12 14:24] romkatv commented on #166
Where can I see them? The linked page doesn't have any comments/questions that I can see.

[2021-01-12 14:36] marlonrichert commented on #166
Hm, I wonder if only "collaborators" can see them?

No matter, I'll paste them here:

Why not do this?
[code]
Would that not work?

Plus, why exactly is using `read -u $fd` is faster than `read <$fd`?

[2021-01-12 14:40] marlonrichert commented on #166
Oh, and why `typeset -g $1=`? Why not just `unset $1`?

[2021-01-12 14:48] romkatv commented on #166
It won't work for the snippet I posted earlier. It will work for the real code because it never passed `fd` or `pid` as arguments.

Because it executes more code. If you are really curious, run a profiled on zsh.

By the way, the reason I didn't send a PR is because I don't want to spend a lot of time on it. If there is a chance you can fix this issue without my input, I'd very much appreciate it.

[2021-01-12 18:19] marlonrichert commented on #166
Sure, I won’t bother you with further questions. I just saw this as a good opportunity to learn something. Plus, I want to understand the code before I merge it. 🙂

Thank you for you contribution!

[2021-01-12 18:31] tekhnee commented on #166
@marlonrichert zsh scripting is out of my depth, but for what it's worth my local merge was catastrophic, with the familiar error now repeated on every single keystroke. I had to run `git reset --hard` only minutes later.

[2021-01-12 20:24] marlonrichert commented on #166
I can confirm that it doesn't work for me either:
[code]

[2021-01-12 20:25] romkatv commented on #166
Wow, so many people can reproduce the problem. Can any of you post instructions?

[2021-01-12 20:51] ShrirajHegde commented on #166
to get the error,

press up-arrow to access history, press backspace to modify last/old command

[2021-01-12 20:52] tekhnee commented on #166
I've been too distracted by work to make out a pattern — sorry.

The only vector I can recall—among others, no doubt—is the following:

1. At the prompt, type a command that provides ZSH completions (I've tried with `cp` and `ls`).
     (Result: the `zsh-autocompletion` completions menu appears.)
2. Press <kbd>tab</kbd> to enter the completions menu.
     (Result: completions menu active.)
3. Pres

[2021-01-12 20:56] tekhnee commented on #166
Confirming that one, too.

[2021-01-12 20:56] romkatv commented on #166
I've installed Debian Buster. Then I ran these commands as root:

[code]

What's next?

[2021-01-13 02:46] ChocolateOverflow commented on #168
Pressing `<SPACE>` would simply exit the completion menu. For example, with 2 files `asd123` and `asd456`, the sequence is as follows: `a<TAB>` -> `asd` (`asd123` and `asd456` suggested); `asd<SPACE>` -> `asd ` (exit the completion menu).

This is, I believe, the default behavior in bash. With zsh-autocomplete, a  space is automatically added after the completion, but I prefer to manually type in

[2021-01-13 06:42] ShrirajHegde commented on #166
https://pastebin.com/6E0pP4MJ

source them like this and start terminal, press up arrow to scroll up history, then press backspace

[2021-01-13 07:47] romkatv commented on #166
Here's what I did:

1. Installed Debian Buster.
2. Ran these commands as root:
[code]

Here's the result:

[code]

Please provide specific instructions that anyone can use without guessing what needs to be fixed in them. The instructions should start with "Install SOME_SPECIFIC_OS" and should follow with an unambiguous list of user actions such as running commands, pressing keys, etc. The OS can b

[2021-01-13 08:23] ShrirajHegde commented on #166
## Ok, assuming you have cloned to home
[code]

Try it now

[2021-01-13 08:25] ShrirajHegde commented on #166
everything else is same, the source path from home is to be adjusted accordingly

[2021-01-13 08:31] ShrirajHegde commented on #166
Ok, this is the exact one that should work for you else please adjust locations of `powerlevel10k.zsh-theme` and `zsh-autocomplete.plugin.zsh`

and try running as non root (haven't tried it in non root)
https://pastebin.com/NpCSTvWY

@romkatv

[2021-01-13 08:40] ShrirajHegde commented on #166
you don't need specific setup at all, just use any os, tested on Ubuntu and arch

[code]

just this much should work

[2021-01-13 08:41] ShrirajHegde commented on #166
or just temporarily replacing given .zshrc with yours should work well too

[2021-01-13 08:53] romkatv commented on #166
Here's what I did:

1. Installed Debian Buster.
2. Ran these commands as root:
[code]
3. This screen appeared:
![image](https://user-images.githubusercontent.com/1282067/104427334-67791f80-5583-11eb-906e-4a9abb226a55.png)
4. I pressed <kbd>q</kbd>.
5. This screen appeared:
![image](https://user-images.githubusercontent.com/1282067/104428461-ce4b0880-5584-11eb-8c9b-2fe1cb94cd40.png)
6. I pressed <k

[2021-01-13 09:11] ShrirajHegde commented on #166
all the steps are accurate, just make some history

your history is empty in zsh

this error occurs more often when you are not in $HOME, co maybe cd into Downloads or somewhere

maybe copy bash history to zsh history and then press `up`,when `zsh-autocomplete` completes some command, press backspace

like this,

- step 1:
![image](https://user-images.githubusercontent.com/66936172/104430508-c43d0

[2021-01-13 09:15] romkatv commented on #166
I don't have `~/Desktop`. If it's necessary to have this directory in order to reproduce the issue, include the creation of this directory in your instructions.

Please post specific instruction that I and everyone else can follow without improvising. Without "maybe" steps.

[2021-01-13 09:19] ShrirajHegde commented on #166
![image](https://user-images.githubusercontent.com/66936172/104431837-5db8e180-55ae-11eb-9085-87d7a447b2b2.png)

Any subdir from home works
I guess root account has .config folder atleast

[2021-01-13 09:28] romkatv commented on #166
Here's what I did:

1. Installed Debian Buster.
2. Ran these commands as root:
[code]
3. Pressed <kbd>q</kbd> to exit Powerlevel10k Configuration Wizard.
4. Pressed <kbd>Up</kbd>.
5. Pressed <kbd>Backspace</kbd>.
6. This screen appeared: ![image](https://user-images.githubusercontent.com/1282067/104432770-a14d2480-5589-11eb-9759-b686f7183ca1.png)

There was no error.

I've ran out of time budget o

[2021-01-13 09:45] tekhnee commented on #166
@romkatv if you are still interested and able to look into this, kindly repeat the procedure of your last post, also prepending your `~/.zshrc` with the following two lines:

[code]

I'm confident this should reproduce the issue (but please don't take me to court if it doesn't).

Thanks as ever.

[2021-01-13 09:48] romkatv commented on #166
@tekhnee This won't make a difference because `${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh` doesn't exit.

We could save a lot of time if you did the following:

1. Wrote unambiguous instructions that anyone can execute. See my comments for several examples of how they would look. In my instructions I use Debian Buster but you can specify any OS you like.
2. Before posting t

[2021-01-13 21:54] tekhnee commented on #166
@ShrirajHegde I've been drilling down towards a reliable reproduction procedure.

No success so far, but two observations:

1. Today I'm no longer able to reproduce your pattern: <kbd>&#8593;</kbd> followed by <kbd>backspace</kbd>.

2. If I stop using `zsh-autosuggestions`, my own pattern can no longer be reproduced, either. To recall, my own pattern was <kbd>PageDown</kbd> followed by  <kbd>Alt</

[2021-01-13 21:56] ShrirajHegde commented on #166
Yeah, I'll try it tomorrow (3:25 am here)

[2021-01-13 23:15] paw-lu commented on #146
Revisited this to investigate, and at least on 4e5fc7736737f0d8b6a5a2aa3fbee8727b89d943 (latest as of the time of this post) this issue seems to be no longer exist.

Anyways that works for me!
Thanks (again) for the great project!

[2021-01-14 01:19] tekhnee opened #170 "Bad file descriptor when plugin is used with zsh-autosuggestions"
* `zsh-autocomplete` version:
* 4e5fc7736737f0d8b6a5a2aa3fbee8727b89d943
* Zsh version:
* zsh-5.8-0-g77d203f
* Framework:
* none
* Plugin manager:
* Znap

#### Reproducing

[code]
then
[code]
ERROR:

`.autocomplete.async.timeout.fd-widget:4: 14: bad file descriptor`

I believe the `completion` option in the `ZSH_AUTOSUGGEST_STRATEGY` array makes `zsh-autocomplete` susceptible to this error.

[2021-01-14 17:35] seboudry commented on #165
Hi !

I've same bugged behaviour since update on current version.
Doesn't have updated this plugin since a few months, so I can't give a tip from when this behaviour changed.

I have test piece of code from [this comment](https://github.com/marlonrichert/zsh-autocomplete/issues/165#issuecomment-757529508), and here's my observations.

With an existing history.
I want item `6988 docker ps -a` but f

[2021-01-15 07:56] hardevine commented on #165
i had #HIST_STAMPS="mm/dd/yyyy" enabled, after disabling its fixed

[2021-01-15 11:07] seboudry commented on #165
Doesn't have `HIST_STAMPS="mm/dd/yyyy"` enable though.
Nothing change (still bugy) with or whithout this.

[2021-01-15 17:31] marlonrichert commented on #166
@ShrirajHegde @tekhnee @eddyg It should be fixed now. Please update and try it out.

[2021-01-15 17:32] marlonrichert commented on #170
@tekhnee Should be fixed now.

[2021-01-15 17:32] #170 closed

[2021-01-15 17:33] marlonrichert commented on #165
@ShrirajHegde @seboudry @hardevine It should be fixed now. Please update and try it out.

[2021-01-15 18:32] tekhnee commented on #166
It does, thank you @marlonrichert.

(I had vain hopes that this would automagically also fix the transient prompt feature of p10k. If there is any actual evidence that the two issues might be related, I'll report back here. Otherwise this issue may be closed, as far as I'm concerned.)

[2021-01-15 19:04] seboudry commented on #165
Seems to be a lot better ! :+1:

I have some weird behaviour with lines disappearing while browsing list.
I would have test zsh-autocomplete alone like before but got this error.
Can you tell me which other files to source?

[code]

[code]

[2021-01-15 19:34] #166 closed

[2021-01-15 19:42] marlonrichert commented on #165
@seboudry Sorry, it seems I accidentally deleted something. Please update again; it should be fixed now.

[2021-01-15 21:58] marlonrichert commented on #168
I actually changed the code to _never_ add a space after completing. It seems to work pretty well. I'll add a setting to get the old behavior back if anyone asks for it.

PS: You might also want to add `setopt NO_autoparamslash` to your `.zshrc` file.

[2021-01-16 08:54] hardevine commented on #165
as soon as i start new terminal tab:

compdef:1: command not found: .autocomplete.compinit.precmd
compdef:1: command not found: .autocomplete.compinit.precmd
compdef:1: command not found: .autocomplete.compinit.precmd
compdef:1: command not found: .autocomplete.compinit.precmd
compdef:1: command not found: .autocomplete.compinit.precmd

[2021-01-16 09:23] ChocolateOverflow commented on #168
I've pulled `c07bb2b` and added `setopt NO_autoparamslash` to my `.zshrc` but doing `vim t<TAB>` still expands to `vim test ` with a space when `test` is the only file in the currect directory. A space is still added, with or withour `.zshrc` and adding `setopt NO_autoparamslash` doesn't seem to get rid of the appended space either.

[2021-01-16 13:17] marlonrichert commented on #168
@ChocolateOverflow Sorry, but I cannot reproduce that. Here's what I did:
[code]
No space was added.

Do you perhaps have some other options or `zstyle` settings enabled that influence this?

[2021-01-16 13:20] marlonrichert commented on #165
@hardevine It appears you found an edge case where I had a bug in the logic. It should be fixed now. Please update and try again.

[2021-01-16 13:20] #165 closed

[2021-01-16 13:20] marlonrichert commented on #161
@ksparakis All right, it's there now. Please try it out.

[2021-01-16 13:20] #161 closed

[2021-01-16 14:32] hardevine commented on #165
fixed,
but, then this came :
[code]

then i changed in .autocomplete.config :10
[code]
to
[code]

then it went away 🤷‍♂️

[2021-01-16 16:45] ShrirajHegde commented on #165
yes, no longer happening, Thanks

[2021-01-16 21:02] marlonrichert commented on #165
@hardevine Yes, that’s a warning I’ve put there myself to tell you that you have an old setting in your `.zshrc` file that doesn’t do anything. You don’t have to report it here. Just remove that `zstyle` statement from your `.zshrc` file.

[2021-01-17 03:31] ChocolateOverflow commented on #168
I've found that the option `zstyle ':autocomplete:tab:*' widget-style menu-select` was causing the space to be auto-appended. I'll try using zsh with the option off but it may be good to remove the extra space from that setting.

[2021-01-17 05:40] hardevine commented on #165
but i dont have any zstyle statements in .zshrc

[2021-01-17 08:03] marlonrichert commented on #165
Hm, weird. But no matter: I removed the warning altogether. It’s been quite a while since I changed those settings anyway.

[2021-01-17 09:25] yrammos opened #173 "zsh-autocomplete breaks p10k transient prompt"
@marlonrichert excuse me for a rather elliptical issue report. The "[transient prompt](https://github.com/romkatv/powerlevel10k#transient-prompt)" feature of Powerlevel10k works only once, and then stops, if `zsh-autocomplete` is included in the configuration. This wouldn't be the end of the world, as far as I'm concerned, but I'm worried it might be a symptom of an underlying low-level or design

[2021-01-17 18:37] marlonrichert commented on #168
OK, that should be fixed now, too.

[2021-01-17 18:40] marlonrichert commented on #173
I would appreciate if you could open an issue on that, too. I'm not sure what lazy-loading mechanism you are referring to.

[2021-01-17 18:48] marlonrichert commented on #173
I'm able to run both of them in parallel without issue. Can you please try the following?
[code]
If that works for you, too, then the problem is elsewhere in your Zsh config.

[2021-01-17 21:15] euglevi commented on #173
I have this problem too. It is not a big deal but it would be nice if it was solved.

I tried with the subshell in the temp dir. The "transient prompt" feature of powerlevel10k is still not working. It is not a problem with p10k in general, just with this feature.

By the way, thank you very much for your wonderful plugins!

[2021-01-17 21:16] yrammos commented on #173
@marlonrichert thank you for the speedy reply. In fact the problem persists with the minimal shell of your instructions.

$ZSH_PATCHLEVEL: `zsh-5.8-0-g77d203f`

Plugin commit: `db3370d4cf3223029a7a5e3a06ba6f529fe5fa77`

[2021-01-17 21:22] yrammos commented on #173
(On this tangent: I will file the issue as soon as time allows me to revert to `znap` and reproduce it. Thanks as ever.)

[2021-01-18 05:36] marlonrichert commented on #173
@yrammos @euglevi In what way does the transient prompt stop working? Does it simply become non-transient? Or does it break somehow?

[2021-01-18 08:25] yrammos commented on #173
It simply becomes non-transient.

[2021-01-18 08:28] euglevi commented on #173
@yrammos the same for me. No message error either in autocomplete or in p10k and both seem to work fine on everything else.

[2021-01-18 10:15] seboudry commented on #165
All good for me !!!
Thanks a lot ;)

[2021-01-18 10:18] marlonrichert commented on #173
OK, I can see it now when I try. I have no idea what causes this or how to fix it. You might have better luck filing an issue with Powerlevel10k.

[2021-01-18 11:19] romkatv commented on #173
This issue is caused by zsh-autocomplete removing zle-line-finished hooks from all other plugins. Powerlevel10k installs a zle-line-finished hook and then zsh-autocomplete removes it. To reproduce:

[code]

Notice how "zle-line-finish" stops being printed once zsh-autocomplete is loaded. Let's see how the hook looks like:

[code]

As you can see, nothing in there invokes the original zle-line-fini

[2021-01-18 12:08] marlonrichert commented on #173
Fixed.

[2021-01-18 13:54] yrammos commented on #173
Thank you, @marlonrichert.

[2021-01-18 14:20] eddyg commented on #173
Thank you, Roman! 👌

[2021-01-18 16:15] yrammos commented on #173
@marlonrichert I'm afraid I rushed to confirm. In fact, the problem doesn't go away on my end, using your latest update and the same minimal shell you provided above.

[2021-01-18 18:14] marlonrichert commented on #173
@yrammos Hm, you're right. The test case that Roman provided, though, now succeeds:
[code]

[2021-01-19 11:10] #160 closed

[2021-01-23 13:16] euglevi commented on #173
After the yesterday's update, my transient prompt started working. The problem seems to be solved somehow. Is it the same for you @yrammos?

[2021-01-23 13:40] marlonrichert commented on #173
@euglevi Can you do [`git bisect`](https://git-scm.com/docs/git-bisect) to find the exact commit that fixed the issue?

[2021-01-23 15:21] yrammos commented on #173
Not confirming — unfortunately the issue persists.

[2021-01-23 21:53] euglevi commented on #173
@marlonrichert I have tried `git bisect`, but with no success. It goes up to the commit that I know for sure was bad but I experience no problem now.

Funny enough, when I try with the minimal configuration it still experiences problems. So, there must be something in my .zshrc  that solves the problem, I guess. I have tried to find what it is, but with no luck up to now.

[2021-01-24 10:01] thepreacher opened #174 "ITerm and Terminal not usable anymore after commit 0dc77fa4109799f9d0e768e7c878eefdbef7c179"
Both terminals iTerm and Terminal app have become unusable since commit 0dc77fa4109799f9d0e768e7c878eefdbef7c179

For iTerm any command I type even `znap pull` closes the app/window. And for the Terminal app, the command does nothing and then when I press `Enter` again, it displays the message `[Process competed]`.

As it stands I'm not even able to downgrade since every command crashes the termin

[2021-01-25 09:33] marlonrichert commented on #174
@thepreacher I'm using Terminal.app myself and it works fine. Can you please try the following  a couple of times and paste here the lines where it crashes?
[code]

[2021-01-25 09:58] thepreacher commented on #174
I'm very sorry to have to do this to you man, but the output was like 6800 lines and I've got no clue what I'm supposed to be looking for so I'm linking to the file [here](https://gist.github.com/thepreacher/f6cf0d575b30c8668ab0566a68b3e895)

[2021-01-25 10:06] marlonrichert commented on #174
@thepreacher No problem! 🙂 I need only the last couple of lines from the output. Can you repeat this a couple of times and paste the last couple of lines from each crash? And with "crash", I mean the point where `[Process competed]` appears.

[2021-01-25 11:27] marlonrichert commented on #173
@yrammos @eddyg @euglevi Can you paste this into your command line and see if it fixes the problem?
[code]

[2021-01-25 11:28] thepreacher commented on #174
Alright so I now think it may actually be `powerlevel10k` causing the issue. So with the code you provided at the end of my `.zshrc` plus with `znap source zsh-autocomplete` uncommented, I get a whole bunch of text on the screen, then when I type a command like `cd projects`, I get some more text scroll up the terminal screen. I copied all the text to an editor and tried to find `[Process complete

[2021-01-25 12:39] thepreacher commented on #174
While on the issue what is the best way to setup the `pure` prompt with znap? I ask because I have checked out your `.zshrc` and you appear to use `pure` like this `znap prompt pure`.

However in your `znap-repos` list you only have `git@github.com:sindresorhus/pure.git`. What about `git@github.com:mafredri/zsh-async.git` which appears to be a requirement according to the docs for `pure`?

[2021-01-25 13:20] marlonrichert commented on #174
`zsh-async` is included in `pure`. So, just `znap prompt sindresorhus/pure` will suffice.

[2021-01-25 13:22] marlonrichert commented on #174
@thepreacher Can you try adding this to the end of your `.zshrc`:
[code]
Does that fix the problem?

[2021-01-25 14:17] thepreacher commented on #174
No it doesn't make any difference.

I just commented out all `powerlevel10` codes and replaced it with `znap prompt sindresorhus/pure` which is working fine except when I start the terminal the first time I get this extra tilde. I'll have to look into why.

<img width="630" alt="Screenshot 2021-01-25 at 14 08 08" src="https://user-images.githubusercontent.com/219075/105717184-bc1f8180-5f17-11eb-98

[2021-01-25 14:29] marlonrichert commented on #174
That probably means there's an error message, but the prompt gets printed on top of it. I should try to add a better way of dealing with error message in `znap prompt`.

[2021-01-25 14:55] yrammos commented on #173
@marlonrichert indeed this seems to work!

[2021-01-25 20:30] marlonrichert commented on #173
@yrammos @eddyg @euglevi Fix committed and pushed in.

[2021-01-25 21:47] euglevi commented on #173
Sorry for the slow answer...busy day. After the update, for me the prompt is broken. I tried with the minimal configuration, and as soon as I source p10k the left side of the prompt just disappears. This is before I source my specific configuration of p10k. Before the last commit zsh-autocomplete was doing very well.

[2021-01-26 06:59] marlonrichert commented on #173
@euglevi Sounds like a different problem. Can you open a new issue for it, please?

[2021-01-26 07:02] marlonrichert commented on #174
@thepreacher Can you still try this, though, a couple of times and show me the last couple of lines that get printed? I would like to know what exactly is the problem.
[code]

[2021-01-26 07:49] thepreacher commented on #174
@marlonrichert Ok so when I start Terminalm this the top few lines of code I see. This is the first time the prompt shows up:

<img width="1076" alt="Screenshot 2021-01-26 at 07 32 13" src="https://user-images.githubusercontent.com/219075/105814871-f2a5dc80-5fa9-11eb-9bdf-3e2c61f457c5.png">

Then after *69000* odd lines of code I see the prompt again like this:

<img width="1087" alt="Screenshot 2

[2021-01-26 08:05] thepreacher commented on #174
Also I noticed that you committed to `zsh-autocomplete` and `zsh-snap` few hours ago so I pulled the changes in and tried my original `powerlevel10k` prompt again. This time `Terminal` and `iTerm` don't crash however after the first time that the prompt shows up you don't see it again. Below should help explain:

Just after starting terminal:

<img width="692" alt="Screenshot 2021-01-26 at 08 00 2

[2021-01-26 08:45] euglevi opened #175 "The prompt disappear"
* `zsh-autocomplete` version:  431f3e3220562f1a261278e4af62fac47ae55e21
* Zsh version:  ubuntu/5.8-3ubuntu1
* Framework:  none
* Plugin manager:  Zinit

[code]

After the last update, even in the minimal test case whenever I source the powerlevel10k theme after sourcing zsh-autocomplete I get an empty left side of the prompt. The problem persists even as I press "enter" to go to a new line. Moreov

[2021-01-26 09:07] marlonrichert commented on #174
@thepreacher I need _the **last lines** just before you get a crash or_ `[Process complete]`. Also, I need you to do this several times, to make sure that the problem happens at the same point each time.

[2021-01-26 09:38] marlonrichert commented on #175
I reverted the last commit. This fixes the here, but again leaves #173 unresolved.

[2021-01-26 09:38] #175 closed

[2021-01-26 09:39] marlonrichert commented on #173
I had to revert the fix because of #175.

@romkatv Any help? Fixing your test case did not fix the actual problem.

[2021-01-26 09:42] thepreacher commented on #174
After `znap pull` this morning `commit 431f3e3220562f1a261278e4af62fac47ae55e21` for `zsh-autocomplete`, I don't get the '[Process completed]` anymore. Terminal isn't crashing anymore. It works fine except the issue now is as described in my [comment](https://github.com/marlonrichert/zsh-autocomplete/issues/174#issuecomment-767373640)

[2021-01-26 09:51] romkatv commented on #173
I’m afraid I don’t have the time to debug this.

[2021-01-26 10:09] marlonrichert commented on #174
That should be fixed by 431f3e3. Please update again.

[2021-01-26 10:10] marlonrichert commented on #174
@thepreacher Is this the same problem as issue #175?

[2021-01-26 10:10] thepreacher commented on #174
@marlonrichert after submitting my last comment I noticed that you undid the commit that fixed the crashing of Terminal for me. With some trepidation, I decided to `znap pull` which I was expecting will undo the crashing fix bringing me to square one but to my supprise, the latest commit has fixed all the issues I have been having.

I'm now using `powerlevel10k` and no more crashing and no more di

[2021-01-26 10:13] thepreacher commented on #174
If it's okay with you I'll close this issue.

[2021-01-26 10:13] #174 closed

[2021-01-26 10:15] marlonrichert commented on #174
@thepreacher I think you might have some caching issues somewhere. Next time, before you file an issue, try removing `${XDG_CACHE_HOME:-$HOME/.cache}/zcompdump` and run `znap clean` inside both plugins.

[2021-01-26 10:16] thepreacher commented on #174
@marlonrichert got you. Will do thanks.

[2021-01-26 10:43] marlonrichert commented on #173
@romkatv Never mind, I found the culprit and filed an issue P10k: https://github.com/romkatv/powerlevel10k/issues/1238 @yrammos @eddyg @euglevi

[2021-01-26 11:04] euglevi commented on #173
Thank you @marlonrichert. Again, not sure why with my .zshrc (with Zinit) transient prompt is actually working for me at the moment. This eventually means that there is no deep incompatibility.

[2021-01-26 11:29] marlonrichert commented on #173
@yrammos @eddyg @euglevi It should be fixed now. Thank you for bearing with me.

[2021-01-26 11:29] #173 closed

[2021-01-26 16:14] yrammos commented on #173
@marlonrichert, thank you very much.

[2021-01-28 15:13] ChocolateOverflow opened #176 "zsh crashing when certain alias are set and `insert-unambiguous` is on"
* `zsh-autocomplete` version: 3f938bb7b4e36c05fcae172360c20c9dfa6e7bb5
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: none

1. Set `zstyle ':autocomplete:tab:*' insert-unambiguous yes` in `.zshrc`
2. Set an alias (e.g. `please=sudo`) in `.zshrc` or during run time
3. Have a file/directory in the current directory, whose name starts with the beginning characters of the alias

[2021-01-29 04:06] ChocolateOverflow opened #177 "Cursor position incorrect when "unambiguous" substring is inserted"
* `zsh-autocomplete` version: 3f938bb7b4e36c05fcae172360c20c9dfa6e7bb5
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: none

[code]

When `insert-unambiguous` is set and non-alphanumerical characters in the file names suggested, all similar parts are inserted upon the <TAB>.

[code]

In the example above, since `123` and `456` are the only different parts of the file names, o

[2021-01-29 08:11] wu-qing-157 commented on #134
Hi! The problem seems to take place again after [1bc63f7](https://github.com/marlonrichert/zsh-autocomplete/commit/1bc62f7859262d02cc3aa3f1472869194a3baa71).

[2021-01-30 15:18] marlonrichert commented on #176
@ChocolateOverflow Sorry, but I cannot reproduce this. Here's what I did:
[code]
I then tried all the tab completions you listed and they all work fine for me. No crashes whatsoever.

Can you please try the steps above? If they work without crashes for you, too, then you must have something else in your Zsh config that's interfering.

[2021-01-30 18:09] marlonrichert commented on #177
@ChocolateOverflow Thanks for reporting. I fixed it, but not exactly as you requested. For the case you present, it will behave as follows:
[code]

[2021-01-30 18:20] marlonrichert commented on #134
@wu-qing-157 Fixed.

[2021-01-31 10:27] ChocolateOverflow commented on #176
I've found that it crashes when `zstyle ':autocomplete:tab:*' widget-style menu-select` is set, not `zstyle ':autocomplete:tab:*' insert-unambiguous yes. Not sure if I copied the wrong line or something previously.

[2021-01-31 10:34] ChocolateOverflow commented on #177
I'd the choice to not have the tailing `-rty` and putting my cursor in the middle. I often change my mind and delete words with `ctrl-w` and having something trailing after my cursor would make it annoying to have to deal with the trailing parts that aren't deleted by `ctrl-w` and `ctrl-u`.

[2021-01-31 16:03] marlonrichert commented on #176
@ChocolateOverflow OK, now I tried this:
[code]
Still works fine.

Can you try the above, please, and let me know the result?

[2021-01-31 16:08] marlonrichert commented on #177
@ChocolateOverflow If you change your mind, you can always press `^_` to undo. (Depending on your terminal, this can be <kbd>Ctrl</kbd><kbd>-</kbd> or <kbd>Ctrl</kbd><kbd>/</kbd>.)

[2021-02-01 04:42] ChocolateOverflow commented on #176
I did get crashes following your steps. Since it's `zsh` that's crashing, it might be a problem with zsh version 5.8. Also, I'm on Manjaro Linux, whose version might be the culprit.

[code]

It seems you're on Windows. Please check and compare your version of zsh.

[2021-02-01 16:46] yrammos opened #178 ""No suffix alias found" with blank command line."
* `zsh-autocomplete` version:

`372f17a07063702927abaa9d6922bf74961a8405`

* Zsh version:

`zsh-5.8-0-g77d203f`

* Framework:

None

* Plugin manager:

None

[code]

Using the minimal shell of the bug report template, the plugin displays "No suffix alias found" underneath the command line unless at least one character has been entered.

[2021-02-01 21:35] niizam commented on #178
i remove this line but still working
#/zsh-autocomplete/module/.autocomplete.config

reply=( "'$h1'No ${tail:+matching }$d completions found.'$end'" )

[2021-02-01 21:40] marlonrichert commented on #176
No, I'm on macOS. But I do use Zsh 5.8.

Can you try the same steps again, but with `setopt verbose xtrace` just before you initiate the crash? What are the last lines that get printed before it crashes?

[2021-02-02 09:56] dmknght opened #179 "Create realease file as tarball"
It is easier for maintainer to upgrade your project using release tags and users can select version they want so i suggest you to create release (tag / version) on github :D

[2021-02-02 14:36] sakakibara opened #180 "Fzf's ALT-C leaves unknown sequence of characters after selection"
* `zsh-autocomplete` version: e561e0c651956ea37bb66c1a9cb276872ae5fd2a
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: Zinit

[code]

Following the steps above results in a prompt with unknown sequence of characters like below.
[code]

Although cd did happen as running `pwd` showed the path selected within fzf directory selection.

This does not happen if I don't use `bindkey

[2021-02-02 15:32] crazy-matt commented on #178
Hi guys,
I have a similar issue, getting exactly a `No suffix alias completions found.` message below my prompt.
I tried to disable this warning without any success as I'm not familiar with the zstyle syntax.
Does someone have a clue about how to deal with this please?

[2021-02-02 15:50] crazy-matt commented on #178
I have a suffix alias in a file sourced by my .zshrc though. I wanted to fix it by actually adding a suffix alias. But I can't figure out how to make this suffix alias visible for `zsh-autocomplete`

[2021-02-02 21:00] marlonrichert commented on #180
@sakakibara This is a bug in Fzf's code. I submitted a patch: https://github.com/junegunn/fzf/pull/2340

[2021-02-02 21:00] #180 closed

[2021-02-03 01:07] ChocolateOverflow commented on #176
[code]

[2021-02-03 01:53] ChocolateOverflow commented on #168
After pulling `2c3c6dd37c81a2f33ac37b485645cb78ab6f6529`, setting `zstyle ':autocomplete:tab:*' widget-style menu-select` now auto-inserts a space upon `<TAB>` again.

[2021-02-03 06:20] marlonrichert commented on #168
@ChocolateOverflow It seems highly unlikely that 2c3c6dd37c81a2f33ac37b485645cb78ab6f6529 caused that. Can you please run `git bisect` to find out what is the actual commit that caused the regression?

[2021-02-03 13:32] sakakibara commented on #180
@marlonrichert
Sorry I thought the culprit was in zsh-autocomplete since I could only reproduce the issue with this plugin.

Thanks for the swift fix on this!
I have updated fzf and it's key bindings script and confirmed the patch fixes the issue.

[2021-02-03 19:18] marlonrichert commented on #179
Here you go: https://github.com/marlonrichert/zsh-autocomplete/releases/tag/21.02.03

[2021-02-03 19:18] #179 closed

[2021-02-03 20:08] BradNut commented on #178
Same issue using Oh My Zsh and the latest version of the plugin.

Seeing the following on a blank line:
[code]

[2021-02-03 20:11] marlonrichert commented on #178
Fixed.

[2021-02-03 20:14] marlonrichert commented on #178
@crazy-matt The "suffix alias" completion lists files in the current dir that match any of your suffix aliases. It does not list the actual aliases.

[2021-02-03 20:56] marlonrichert commented on #177
@ChocolateOverflow I'm still trying to decide what to call the setting you want and how it should work exactly, but in the meantime, you can get the desired effect by adding this to your `.zshrc` file:
[code]

[2021-02-03 20:57] marlonrichert commented on #176
From your output, it appears that Zsh crashes _after_ the Tab widget returns control to the Zsh Line Editor. Sorry, but I cannot help you with that. You should probably contact the Zsh mailing list about this: http://zsh.sourceforge.net/Arc/mlist.html

They will be better able to help you figure out what's going wrong. If it turns out that there is something I can do about it, please report back h

[2021-02-03 20:57] #176 closed

[2021-02-03 21:00] marlonrichert commented on #168
@ChocolateOverflow I tried it out, but I cannot reproduce it. It might be that you have something cached on your system. Can you try deleting your compdump file and see if that helps?

[2021-02-04 02:04] ChocolateOverflow commented on #168
It seems to have been fixed after pulling `5924831`.

[2021-02-04 06:23] marlonrichert commented on #168
@ChocolateOverflow That’s pretty much impossible. Like I said, I think you’re having some caching problems. Try deleting your compdump file next time.

[2021-02-04 07:29] dmknght opened #181 "Command not found when use tab while using cd command"
* `zsh-autocomplete` version: 2021-02-03
* Zsh version: debian/5.8-5+b1
* Framework: No framework or plugin manager

zshrc
[code]
Steps:
1. Clone a project from git (mkdir should be the same)
2. Use tab for completion name
3. Error appears
[code]

![image](https://user-images.githubusercontent.com/29118926/106859229-a26dff00-66ba-11eb-8662-92428060df51.png)

Likely zsh confused the new folder name

[2021-02-04 12:25] marlonrichert commented on #181
@dmknght Unrelated to your bug, but I recommend you **_remove_** the following two lines from your `.zshrc` file:
[code]
Then ⬆️ will open `zsh-autocomplete`’s history menu and ⬇️ will start menu selection.

[2021-02-04 13:08] marlonrichert commented on #181
@dmknght What new folder name do you mean?

[2021-02-04 13:46] marlonrichert commented on #181
I used your `.zshrc` file, but I cannot reproduce the bug with it. Do you have any other config files on your system that Zsh reads?

Alternatively, the problem might be that you have some faulty completion functions installed. See issues #156, #150, and #73.

[2021-02-04 16:48] dmknght commented on #181
No i don't.

It looks really similar. For now, after reboot, i don't see any error shows up. Let me use a while to see. I can reopen the issue if i see

Thank you. That setting was for older version. Let me try without it

[2021-02-04 16:48] #181 closed

[2021-02-04 16:50] dmknght commented on #181
Alright the bug is still there.
I'm having different folders
- faraday
- faraday-cli
- faraday-client
- faraday-plugins

Type `cd fara` on terminal then use `Tab` shows the error.

[2021-02-04 18:12] marlonrichert commented on #181
I used your `.zshrc` and created those dirs, then typed `cd fara` and pressed <kbd>Tab</kbd>. No problem.

[2021-02-04 18:18] marlonrichert commented on #181
Can you try the following?
1. Type `cd fara` (but don't yet press <kbd>Tab</kbd> or <kbd>Enter</kbd>).
2. Press <kbd>Alt</kbd><kbd>Q</kbd>.
3. Type `setopt verbose xtrace` and press <kbd>Enter</kbd>.
4. Press <kbd>Tab</kbd>.
5. Copy the output.
6. Paste it here.

[2021-02-04 20:03] dmknght commented on #181
I tried as you said and i got very long long output, includes my recent dirs and so on
And i realize i didn't remove cache files, which is needed for totally new version.
For now i don't see any error like that. It is data config of old and new version for sure.
Thank you for your help ^^

[2021-02-08 06:40] yrammos opened #182 ""Unknown sort specifier" on cd."
With zsh-autocomplete enabled, every `cd` action returns the message:

`.autocomplete.recent_dirs.chpwd:2: unknown sort specifier`

followed by the command output.

Loading the plugin in a pristine shell (per the usual procedure) actually resolves the issue. Likewise, commenting-out the plugin from `.zshrc` also resolves the issue.

So this must be caused by the interaction zsh-autcomplete with an

[2021-02-08 08:15] marlonrichert commented on #182
Do `chpwd_recent_filehandler; print -l $reply[@]` and investigate the output. Do you have any paths that end in `(…)`?

[2021-02-08 09:28] yrammos commented on #182
Much appreciated, @marlonrichert. No, I don't have any such paths.

[2021-02-08 10:24] marlonrichert commented on #182
What does `type -f .autocomplete.recent_dirs.chpwd` output?

[2021-02-08 16:02] yrammos commented on #182
Here it goes:

[code]

[2021-02-08 19:36] ricardogaspar2 opened #183 "Add instalation instructions for Oh My Zsh"
## What do you want?
OhMyZsh plugins can be installed in an easy way: https://github.com/ohmyzsh/ohmyzsh/wiki/Customization#overriding-and-adding-plugins

## Why do you want this?
It's easier to set up for those who use OhMyZsh.

## Who else would benefit from this?
Users who use OhMyZsh.

## Explain in detail how you would expect this to work
I've installed your plugin like a regular OhMyZsh plug

[2021-02-09 10:10] marlonrichert commented on #183
@ricardogaspar2 Why should I add installation instructions for OMZ, if OMZ has installation instructions? I even included [a note about this in the Readme](https://github.com/marlonrichert/zsh-autocomplete#as-a-plugin):

Is there some part of this that you think is unclear?

[2021-02-09 11:02] GitUser0080 opened #184 ""command not found" errors on _autocomplete"
* `zsh-autocomplete` version:  2021-02-05 (February 5 commit)
* Zsh version:  5.8
* Framework:  none
* Plugin manager:  none

[code]
This issue occurs to me even without any config files. Every time I want to select an item from the list it returns a "command not found" errors. Also pressing KeyUp and KeyDown to look through the history returns the same errors.
Screenshot:

![2021-02-09_11-38](htt

[2021-02-09 11:10] marlonrichert commented on #184
I cannot reproduce this and since it occurs for you without config files, too, I suspect it's something else in your environment. The problem might be that you have some faulty completion functions installed. Please check issues #156, #150, and #73.

[2021-02-09 11:15] marlonrichert commented on #73
@daxmc99 I thought I'd let you know that similar problem have come up in other issues. In case you need it, you can find more info here:
* https://github.com/kubernetes/kubectl/issues/125
* https://github.com/kubernetes/website/issues/19844
* https://stackoverflow.com/a/60383091/13832769

[2021-02-09 11:29] GitUser0080 commented on #184
It's most likely not the case here since I don't have kubectl installed at all. Is there any possibility that plugins installed with Vim and Tmux could affect the environment autocompletion and therefore break this plugin?

[2021-02-09 15:19] GitUser0080 commented on #184
After playing around for a while the solution appeared to be much simpler than I thought. Sourcing the `zsh-autocomplete.plugin.zsh` file couldn't actually initialize the plugin properly. For some reason it didn't load the whole script, so I had to manually do `zsh zsh-autocomplete.plugin.zsh` for this to work.
I still don't know what caused this issue though.

[2021-02-09 15:19] #184 closed

[2021-02-10 13:17] dmknght commented on #182
Did you upgrade from previous version or you have fresh install?
Make sure you deleted all cache file that was generated by zsh and zsh-autocomplete. I have similar issue before and it solved by remove all old cache data

[2021-02-10 13:19] dmknght opened #185 "Add some recommended settings with demo on git?"
Some users might not have time to test all features. So maybe it is easier to regular users by adding some .zsh config as examples, allow users to create pull request and add some screenshot / short video for the demo -> regular users can choose it

[2021-02-10 23:25] yrammos commented on #182
@dmknght thank you for the suggestion. Deleting `zcompdump` did not help. What cache files might you have in mind?

[2021-02-11 05:14] marlonrichert commented on #185
The defaults are the recommended settings. No config required. 🙂

[2021-02-11 05:37] marlonrichert commented on #182
@yrammos If you paste this into the command line, does it solve the problem?
[code]

[2021-02-11 07:04] yrammos commented on #182
Thank you, @marlonrichert — yes it does!

[2021-02-11 08:11] marlonrichert commented on #184
That is quite weird. 🤔

[2021-02-11 12:50] ricardogaspar2 commented on #183
Hey! Thank you for your reply.

I read that sentence. Yes, I think it's somewhat vague. What do you think about adding a list of those you know the plugin works with?

[2021-02-11 15:13] dmknght commented on #185
Well IMO some preconfigs for some useful cases are better to normal users. Conky could be a good example of users create custom configs and share. Ofc the comparison is not very fair because default config of conky is very basic (or likely not useful as i remember).

[2021-02-12 06:17] marlonrichert commented on #183
I’ll have to think about it. At present, I don’t actively test it with any plugin managers or frameworks.

[2021-02-12 06:28] marlonrichert commented on #185
Sure, I can rewrite the Readme a bit.

[2021-02-12 06:29] marlonrichert commented on #185
What do you need demos/videos for, though?

[2021-02-12 21:44] GitUser0080 opened #186 "If the list doesn't fit the screen it sometimes ignores the order configuration."
* `zsh-autocomplete` version: February 5 commit
* Zsh version: 5.8
* Framework: none
* Plugin manager: none

[code]
I don't know if it's an intended behavior but since it happens to me I decided to report it. When a list doesn't fit the screen it displays only "local directories" regardless of configuration. One thing to note is that I specified in my .zshrc to display the "file" before the "local

[2021-02-13 04:29] dmknght commented on #185
Well i meant something like a screenshot or the gif that is showing in readme so users can understand the features of customization :D

[2021-02-14 09:23] BeforeFlight opened #187 "command not found: .autocomplete.key"
* `zsh-autocomplete` version: `c4dea766566b168a32dbfa8d10335e525ce39fcc`
* Zsh version: ubuntu/5.8-5
* Framework: Oh My Zsh
* Plugin manager: zplug

After this commit: `6529dfa49bdc1cc0098ec4bfa16b0d5497a93d25` (Refactor `precmd` hooks)
Just on loading zsh getting this:
[code]

[2021-02-14 12:13] marlonrichert commented on #187
I am unable to reproduce this.

Do you get this, too, when you do the following?
[code]
If not, then
* A) there is something else in your `.zshrc` file that's interfering or
* B) there is a caching problem.
The latter can be fixed by deleting `$_comp_dumpfile`.

[2021-02-14 12:40] marlonrichert commented on #182
Fixed (albeit in a different way than above).

[2021-02-14 12:40] #182 closed

[2021-02-14 21:11] BeforeFlight commented on #187
I've reduced the `.zshrc` to minimum, and also tried to remove `$_comp_dumpfile`, as suggested.
Same error if use `zplug` manager but if clone/source `zsh-autocomplete` manually - no errors.

#### So it happens to be following inconsistency:
* Installation of your plugin requres `3) Remove any calls to compinit from your ~/.zshrc file`
* But at the same time zplug runs ``compinit`` on its loading

[2021-02-14 21:12] BeforeFlight commented on #187
But it seems to work fine (at first sight) when sourcing `zsh-autocomplete` manually (before `source ~/.zplug/init.zsh`), while left other plugins managed by `zplug`. So switched to this for now.

[2021-02-18 20:52] marlonrichert commented on #187
Fixed.

[2021-02-18 21:04] BeforeFlight commented on #187
Confirm. No previous errors shown.

[2021-02-20 18:32] dmknght commented on #177
I'm having same issue for the folder name. This problem isn't there before. I use tab and ctr+tab for menu selection and this bug really messes everything up

[2021-02-20 18:38] dmknght commented on #177
I'm not a zsh script coder but i think this line could have logic bug?
https://github.com/marlonrichert/zsh-autocomplete/blob/f3aebd0ccc2dafed0bfe55a929930072ede03a25/widget/.autocomplete.complete-word.completion-widget#L14

[2021-02-20 21:38] marlonrichert commented on #177
@ChocolateOverflow @dmknght It should be fixed now. `insert-unambiguous` now behaves as follows:
[code]

[2021-02-20 21:38] #177 closed

[2021-02-21 04:30] dmknght commented on #177
![image](https://user-images.githubusercontent.com/29118926/108615568-639bb100-73fd-11eb-8efd-df8434d0e2d7.png)
My problem is still there. This time is for folder name. I deleted cache files, removed old plugin and installed new plugin.

[2021-02-21 04:31] dmknght commented on #177
@marlonrichert the sceenshot is what happened after i pressed tab. Please guide me more steps to debug this issue :D

[2021-02-21 08:50] marlonrichert commented on #177
@dmknght Can you write down step by step what happens?

[2021-02-21 08:52] dmknght commented on #177
Yeah sure
1. I have folder `zsh-autocomplete` at `/tmp/` with other folders
2. `cd /tmp`
3. `cd zs` or any character that suggest name of `zsh-autocomplete`
![image](https://user-images.githubusercontent.com/29118926/108620160-141bac00-7422-11eb-8274-937f92148721.png)
4. Press `Tab` to select `zsh-autocomplete`
5. Bug showed (for both tab and ctrl + tab)
![image](https://user-images.githubusercont

[2021-02-21 16:48] marlonrichert commented on #177
Sorry, but I cannot reproduce that with the latest commit on the `main` branch. Here's what I did:
[code]
I then type `zs` and press <kbd>Tab</kbd>. It completes to `zsh-autocomplete`.

Which version are you using?

[2021-02-22 14:48] dmknght commented on #177
I'm using version `21.02.20` and well this is a little weird because on a fresh build of parrot + your plugin, i don't see the bug either. Somehow it is happening on my PC only.

[2021-02-22 14:53] dmknght commented on #142
Oh sorry i didn't check this comment. I'm testing it with latest version of plugin and it i got any issue i'll create new issue.

[2021-02-23 06:06] wu-qing-157 opened #188 "Option to expand wildcard list"
## What do you want?
The default oh-my-zsh enables us to use `tab` on a wildcard to expand the matched file list.
For example, if I have three zip files in current directory, when I type `ls *.zip` and press `tab`, the command line will become `ls a.zip b.zip c.zip`.
However, in current version of `zsh-autocomplete`, it will only show an autocomplete list consisting of the three zip files.

## Why

[2021-02-23 10:41] dmknght commented on #177
@marlonrichert an other problem i faced today (that is weird because i saw similar problem of adding `/` was removed).
![image](https://user-images.githubusercontent.com/29118926/108832505-8a0b4900-75c3-11eb-934b-cf0e2fa77c01.png)
Error log from `.xsessionerror`
[code]
IDK if `XFCE` made this problem but this is very very weird. I'm testing it on VM

[2021-02-23 10:42] dmknght commented on #177
And it has no issue on VM for some reasons

[2021-02-23 10:49] dmknght commented on #177
I've just found out the problem won't be there if i type at least 5 characters in terminal (PC)

[2021-02-24 10:11] marlonrichert commented on #177
@dmknght Have you tried using the latest commit on the `main` branch on your PC? Does the problem occur there?

[2021-02-25 16:24] modk opened #189 "Option to disable C-R history search"
Because the default history-search via '^R' requires at least one key press less (I can press <Enter> as soon as I have a match), I would like to disable this particular autocompletion but keep all the others.

For now I just commented out the respective lines in `.autocomplete.async` that override the default behavior, e.g.:
[code]

but a dedicated option or flag would be nicer. Is this somehow p

[2021-02-25 21:56] #186 closed

[2021-02-26 11:02] thekip commented on #129
@marlonrichert could you elaborate a bit how using this options hide this duplicates?

![image](https://user-images.githubusercontent.com/1586852/109292130-33ec0f00-782a-11eb-8bad-7738ab0a39db.png)

I tried to add `setopt HIST_FIND_NO_DUPS` to my `.zhrc` and then  `source ~/.zshrc` but still see a lot of duplicates in search. Sorry if it's a stupid question, I'm a complete newbie in all these thin

[2021-02-26 17:49] marlonrichert commented on #129
You're right, the option doesn't seem to work here. I'll see if I can change the code to respect it.

[2021-02-26 18:36] cibinmathew opened #191 "pull up the prompt to middle of the screen"
## What do you want?
If the prompt is in the bottom, pull up the prompt to top(ideally middle, so that I still could see the last command output while typing).
I tried  [almostontop](https://github.com/Valiev/almostontop). But
* it erases the output of last command(my last command output is erased in a fraction of second)
* It always stays on first line(After every command I have to scroll up to s

[2021-02-26 20:54] nimish opened #192 "Support for ZLE vi-mode"
## What do you want?
zle vi-mode support
## Why do you want this?
For people who use vi-mode

## Explain in detail how you would expect this to work
I expect that running `bindkey -v` will not break keybindings for zsh-autocomplete and/or there's an integration like there appears to be with emacs-mode

[2021-02-26 21:49] marlonrichert commented on #192
@nimish I created pull request #193 with key bindings for `vi` mode, but since I don't use `vi` mode myself, I am not 100% that they make sense to `vi` users. Please do
[code]
to try them out for yourself and let me know what you think.

[2021-02-27 06:21] dmknght commented on #177
Alright this is really weird. I am on the PC, same version of plugin i used, nothing changed and now it doens't have the problem anymore.

[2021-02-27 14:02] marlonrichert commented on #177
Sounds like a caching problem to me.

[2021-02-27 20:35] thepreacher opened #194 "Aliases are listed upon starting terminal of after every command is executed"
I'm not sure if this is a new feature or not but after upgrading to release `2021-02-25`, whenever I start the terminal or after every command, my aliases are listed beneath the prompt like so:

<img width="715" alt="Screenshot 2021-02-27 at 20 32 19" src="https://user-images.githubusercontent.com/219075/109399480-f925cc00-793a-11eb-9d10-3c98756403de.png">

[2021-02-28 03:05] nimish commented on #192
Awesome. Works well enough for me!

Only confusion was that I have `history-substring-search-up/down` mapped to Up/Down, so had to repeat that for vicmd mode -- nbd (maybe a feature req to allow config of those?)

[2021-02-28 05:57] dmknght commented on #177
I agree. The only problem is i deleted all cache file and unless i missed any cache file, i t shouldn't happen. Anyhow the problem is fixed, everything is good, the plugin is ready to go :D

[2021-02-28 13:44] cibinmathew commented on #194
may be try this to let the auto suggestions appear only if n min chars
`zstyle ':autocomplete:*' min-input 2`

Additionally if with a delay
`zstyle ':autocomplete:*' min-delay .2  # seconds`

[2021-02-28 17:03] #194 closed

[2021-02-28 18:11] marlonrichert commented on #192
I think you already found how to configure this: [Just use `bindkey`](https://github.com/marlonrichert/zsh-autocomplete#change-other-key-bindings). 🙂

[2021-03-01 17:52] nimish commented on #192
Cool, I think this looks good to me, and it can always be customized later

[2021-03-01 19:21] crazy-matt opened #196 "showing menu only when entering the 1st letter"
## What do you want?
I used `zstyle ':autocomplete:tab:*' widget-style menu-select` but it displays the menu even when the command-line is empty. Is it possible to display the menu only when command-line not empty, since the first character is entered.

## Why do you want this?
It would ease in making the terminal+completion features enabled as light as possible visually speaking.

## Who else wou

[2021-03-01 21:31] #196 closed

[2021-03-02 07:46] thekip commented on #129
Moreover now it shows one command in the list, but pick up different command when you navigate to it.

![screencast 2021-03-02 08-41-30](https://user-images.githubusercontent.com/1586852/109615091-c266d600-7b33-11eb-8ad9-74ef6c43caea.gif)

[2021-03-02 16:10] RoyalTS commented on #183
The instructions could be really simple:

1. Clone the repo:
[code]

2. Add to the list of plugins in `.zshrc`:

[code]

[2021-03-03 02:50] yueyejinghun opened #198 "Install with antigen failed"
* `zsh-autocomplete` version: 817af7c
* Zsh version: 5.8 on Fedora (plus Ubuntu 20.04 and Arch)
* Framework:  Oh My Zsh
* Plugin manager:  antigen (v2.2.2. also tested with antigen nightly build revision date 2018-01-15)
* Error message:
[code]
* Content of .zshrc:

[code]
This issue started to appear in the middle or late February if I remember it right. The first time I installed this plugin wit

[2021-03-03 03:22] yueyejinghun opened #199 "Conflited with Oh my zsh's vi-mode"
* `zsh-autocomplete` version: 817af7c
* Zsh version: 5.8 on Fedora (plus Ubuntu 20.04 and Arch)
* Framework: Oh My Zsh
* Plugin manager: antigen
* Content of .zshrc:
[code]

steps to reproduce

Clone master branch manually (This is not related with this issue, only to get zsh-autocomplete to work)
Install Oh My Zsh with antigen and only enable vi-mode
Down arrow key does not work at all, it cannot

[2021-03-04 06:26] marlonrichert commented on #199
That’s not possible, because I did not yet merge that to `main`.

[2021-03-04 06:30] marlonrichert commented on #199
Duplicate of #192.

[2021-03-04 06:30] #199 closed

[2021-03-04 20:37] marlonrichert commented on #192
Merged to `main` in d4580dedcb0fec7e1dbce1e09086efa8647cc7d1.

[2021-03-04 20:37] #192 closed

[2021-03-05 06:14] thepreacher opened #200 "zsh: do you wish to see all ___ possibilities ?"
Since upgrading to release `2021-03-04` my terminal is acting weird. First off all the very first key I press is misinterpreted. For example, when I press any letter of the alphabet on a new command prompt, it's interpreted as `n` or `^?`.  I then have to delete the character(s) and type again.

Every time I start  a new terminal and without typing anything, I get the following error:

`zsh: do yo

[2021-03-05 12:20] yueyejinghun commented on #200
I have encountered this problem today too. It possibly wants to list all enabled plugin commands and aliases from .zshrc. Disable the ones you don't need currently as many as possible until the prompt is gone and wait for the update

[2021-03-06 10:02] MarcPartensky commented on #200
I too have encountered this problem. My fix for now: git checkout d90b83d

[2021-03-06 12:49] marlonrichert commented on #200
Sorry about that. Fix is now available on `main`.

[2021-03-06 12:49] #200 closed

[2021-03-06 13:11] marlonrichert commented on #183
Closing this as `wontfix` for the following reasons:
1. I don't see any clear benefit to installing `zsh-autocomplete` as an Oh My Zsh plugin. In fact, your shell will probably start up faster if you `source /path/to/zsh-autocomplete.plugin.zsh` at the top of your `.zshrc` file instead.
2. I don't want to maintain installation instructions for 3rd party software. Those are better maintained there.

[2021-03-06 13:11] #183 closed

[2021-03-06 13:15] marlonrichert commented on #189
This is now implemented. See here for instructions: https://github.com/marlonrichert/zsh-autocomplete/blob/main/README.md#disable-live-history-search

[2021-03-06 13:15] #189 closed

[2021-03-06 14:06] modk commented on #189
Just wanted to report back that it works nicely. Thank you.

[2021-03-06 17:45] x432ph commented on #178
This problem was reintroduced for me by commit 77a989a87702bcec2bee1fdb100293467b42f470.

[2021-03-06 21:05] marlonrichert commented on #178
That was intentional. It says `No executable file, directory or suffix alias found.` when the directory you're in doesn't contain any such files. That's something I think is useful to know.

If you don't want that, you can disable it with [this setting](https://github.com/marlonrichert/zsh-autocomplete/blob/main/README.md#wait-for-a-minimum-amount-of-input):
[code]

If it says something else compl

[2021-03-08 20:32] marlonrichert commented on #188
Available now on the `main` branch.

[2021-03-08 20:32] #188 closed

[2021-03-08 20:51] marlonrichert commented on #191
This should be better now on the `main` branch. Please try it out.

[2021-03-08 21:23] marlonrichert commented on #11
Duplicate of #12.

[2021-03-10 16:56] marlonrichert commented on #198
Like it says: `Activate logging and try again`. 🙂

You can activate logging by setting `ANTIGEN_LOG=~/antigen.log`. Then the real culprit is revealed:
[code]

I renamed the `master` branch to `main`. Instead of cloning `master` explicitly, Antigen should just clone the default branch.

This is a bug in Antigen. Please [file a issue there](https://github.com/zsh-users/antigen/issues).

Or better ye

[2021-03-10 16:56] #198 closed

[2021-03-10 19:14] cibinmathew commented on #191
Here is what I get when it is almost near the bottom

On typing `git c`, I could see some options. Now if I backspace and remove `<space>c` and key in `<space>` again, I could see few more suggestions which were not visible earlier. This keeps on increasing with above steps repeated(I have to repeat around 4 5 times to see all suggestions come up in the visible pane)

![image](https://user-images.

[2021-03-10 22:17] dmknght commented on #185
Well i don't see any problem for now. Maybe i'll check it more carefully later + try on my config and see

[2021-03-10 22:45] dmknght opened #208 "Wrong alias suggestion: Auto add `\` at start of text"
* `zsh-autocomplete` version: 2021-03-07
* Zsh version: debian/5.8-6
No framework or plugin manager

My .zshrc
[code]
![image](https://user-images.githubusercontent.com/29118926/110707909-dffe0480-81f1-11eb-83eb-9f4ea23c794d.png)

I removed old version of plugin by `sudo apt purge  zsh-autocomplete` (i made deb package for this plugin) and remove cache `rm -rf ~/.cache/zcomp*` then reboot.
Step:
1

[2021-03-11 10:45] lkhphuc opened #209 "Shift-Tab keep selecting forward instead of backward with widget-style menu-select"
* `zsh-autocomplete` version: 6284119
* Zsh version: zsh-5.8-0-g77d203f
* Framework: none
* Plugin manager: Znap

I'm adjusting my behavior to keep typing ahead and use the default mode, instead of performing the Tab dance.
However, for the sake of reporting bug, with `zstyle ':autocomplete:tab:*' widget-style menu-select`, Shift-Tab behaviors is identical to Tab, i.e it keep select forward instea

[2021-03-11 13:01] marlonrichert commented on #191
@cibinmathew As it states below your prompt, if you want to see the whole list, press ⬇️.

[2021-03-11 15:56] cibinmathew commented on #191
It could be more useful with few more options visible(2 or 3 seems too less) without the need for an extra key in (but for further and extended options, this explicit input makes sense).

Here is mix of code that I managed to use as a workaround. Not sure if this helps
[code]

[2021-03-12 06:24] marlonrichert opened #210 "Add unit tests to `complete-word` widget"
Issue #209 could've been caught very easily by a unit test.

I would have to decide if I want to use some kind of framework for this. These look promising:
* [CliTest](https://github.com/aureliojargas/clitest)
* [ShellSpec](https://github.com/shellspec/shellspec)
* [ShellTestRunner](https://github.com/simonmichael/shelltestrunner)
* [shUnit2](https://github.com/kward/shunit2)
* [ZUnit](https://git

[2021-03-12 12:49] dmknght opened #211 "Tab in select widget conflicts with zsh-autosuggestions"
* `zsh-autocomplete` version: 2021-03-07
* Zsh version: debian/5.8-6
No framework or plugin manager

My .zshrc
[code]
Please note that we have this problem in `2021-03-07` and i didn't saw this problem before.
# Step
1. Type any command to have history -> `zsh-autosuggestions` works
2. We use command with suggestion of history (zsh-autosuggestions)
![image](https://user-images.githubusercontent.co

[2021-03-12 13:38] marlonrichert commented on #211
I would like to highlight a part of the bug report template that you deleted:
[code]
Did you? Because I cannot reproduce this on the `main` branch.

Also, as it says in the bug report template:
[code]
Don't paste in your `.zshrc` file. Instead, give me minimum reproducible test case, please.

[2021-03-12 17:23] parthv21 opened #213 "Up arrow key not displaying previously run command"
* `zsh-autocomplete` version: `6284119`
* Zsh version: `zsh-5.8-0-g77d203f`
* Framework: Oh My Zsh
* Plugin manager: "none"

[code]

Pressing the up arrow key after using auto complete to run a command returns the following error instead of typing out the previously run command. But this issue does not occur if I use only zsh-autocomplete.

[code]

[2021-03-12 19:13] marlonrichert commented on #191
@cibinmathew This is now implemented on the `main` branch. Please see the `list-lines` setting in the Readme: https://github.com/marlonrichert/zsh-autocomplete/blob/main/README.md#settings

[2021-03-12 19:13] #191 closed

[2021-03-12 19:14] marlonrichert commented on #168
@ChocolateOverflow This is now implemented on the `main` branch. Please see the `add-space` setting in the Readme: https://github.com/marlonrichert/zsh-autocomplete/blob/main/README.md#settings

[2021-03-12 19:14] #168 closed

[2021-03-12 19:15] marlonrichert commented on #208
Fixed on the `main` branch.

[2021-03-12 19:15] #208 closed

[2021-03-12 19:16] marlonrichert commented on #209
Fixed on the `main` branch.

[2021-03-12 19:16] #209 closed

[2021-03-12 19:20] marlonrichert commented on #213
@parthv21 Can you please fill out the rest of the bug report template, instead of deleting it? If I cannot reproduce your issue, then I cannot fix it.

[2021-03-12 19:21] marlonrichert commented on #185
If you do, please open a new, more specific issue.

[2021-03-12 19:21] #185 closed

[2021-03-12 19:23] parthv21 commented on #213
I am not exactly sure what to fill in those spaces is there some guide?

[2021-03-12 19:31] marlonrichert commented on #213
A guide? What part of this don't you understand?

[code]

[2021-03-12 19:36] parthv21 commented on #213
NVM, I have updated my main issue. The issue does not occur when only using zsh-complete. But also, somehow when I ran `git pull`, I was not on the latest commit. Which is strange since I had just pulled this morning.

[2021-03-12 19:38] parthv21 commented on #213
I think the git pull fixed this issue. Not getting this issue with all plugins running anymore.

[2021-03-12 19:41] marlonrichert commented on #213
It's probably a caching issue. Next time you run into problem like this, try
[code]
then restart your terminal. 🙂

It's not that strange if you consider I had pushed in new commits just seconds before your filed your issue. 😉

[2021-03-12 20:06] parthv21 commented on #213
Lol didn't see that! What was causing the error though? Googling it did not help...  What were those commands? `_autocomplete.history_lines`

[2021-03-12 20:40] marlonrichert commented on #213
Those are private methods/internal functions used by `zsh-autocomplete`. When you see error messages like that, it means they failed to load.

[2021-03-12 20:46] parthv21 commented on #213
Got it! This is such an amazing plugin. I am recommending it to everyone! :D

[2021-03-12 22:06] dmknght commented on #211
Sorry i was using the version from release so i meant report the bug for that version and i thought it wasn't fixed

Sorry again. I thought the .zshrc could do something wrong. Next time i'll follow your all steps i promise.
So i've just checked the latest version that you made release. The problem is fixed but it brings other small problem: when i press tab to complete the folder name, the "tail"

[2021-03-12 22:14] dmknght commented on #208
@marlonrichert my pc is still having this problem and so does inside VM. I deleted cache folder `~/.cache/zsh`. Do i miss any location that contains cache file?

[2021-03-12 22:26] marlonrichert commented on #208
Try to look for any `*.zwc` files and delete those.

---

By the way, these two lines in your `.zshrc` file are nonsensical and don't do anything:
[code]

[2021-03-12 22:41] dmknght commented on #211
I did commands
[code]
Then i exported source of `zsh-autocomlete` and `zsh-autosuggestions`
[code]
Because in zshrc, i use `tab` for the dir completion, so i added 2 settings
[code]
I created same folder structure to test
`ParrotProjects/zsh-autocomplete`
Everything seems normal
I added `zstyle ':autocomplete:*' min-input 2` because .zshrc has it as well -> no bug after some cd

On my terminal whi

[2021-03-12 22:44] dmknght commented on #208
I don't see anything like that in my Home folder
`By the way, these two lines in your .zshrc file are nonsensical and don't do anything:` Actually it does. When i didn't set it, the `up` and `down` shows list of history commands and it moves as circle. I set it so everything will be like `bash shell`: no history selection, just the commands show on terminal. BTW, i followed your steps in the templ

[2021-03-12 22:51] dmknght commented on #211
On second test, i was able to reprocedure the problem.
![image](https://user-images.githubusercontent.com/29118926/111006634-0dc78280-8385-11eb-9457-5344c7097daf.png)
Steps:
1. Init the test folder
[code]
2. Use everything that is not comment from `.zshrc`
3. Make dir like this `ParrotProjects/parrot-menu/bin/`. Bug happened
=> So i guess the problem is something wrong with my `.zshrc`. I'm redo i

[2021-03-12 23:03] dmknght commented on #211
@marlonrichert i can able reprocedure the problem using the steps from template. (Previous tests above was my mistake and something was wrong so i couldn't reprocedure.)
Commands i used
[code]
Then press `cd P` then `Tab`
![image](https://user-images.githubusercontent.com/29118926/111007549-00ab9300-8387-11eb-88fc-293a3818fe3a.png)

[2021-03-12 23:05] dmknght commented on #208
@marlonrichert I found the reason. The problem is `alias` was used `'`. If alias uses `"` for string, it is totally fine.
Commands
[code]
The `ls`, which has `'` is buggy
![image](https://user-images.githubusercontent.com/29118926/111007717-6b5cce80-8387-11eb-9d8f-c29adda7a156.png)

Meanwhile, the `gg` is perfectly fine
![image](https://user-images.githubusercontent.com/29118926/111007754-7b74ae00