[2022-01-23 14:35] ShrirajHegde commented on #399
@marlonrichert is there a way to disable logging for temporary resolution??

It is filling up my file system

![image](https://user-images.githubusercontent.com/66936172/150683627-ded61987-d242-47bb-b9ba-6aa46aa0f8bc.png)

[2022-01-24 11:53] marlonrichert commented on #410
I meant, generate some "recent directory" completions, not just regular directory completions. Can you please repeat the steps with that adjustment?

[2022-01-24 11:56] marlonrichert commented on #399
Add this to your `.zshrc` file, _after_ sourcing Zsh Autcomplete:
[code]

[2022-01-24 14:28] Martinits commented on #410
I entered some directory like aaa/bbb/ccc, then `cd` to somewhere else, then `cd cc`(without Enter), now the recent dir completion for `aaa/bbb/ccc` should show up, is that right? But it didn't show up when I use zoxide or z (It showed up when using `cdr`, the default one)
And it seems that there's no function called _autocomplete.recent_directories, so when I did the first step, it exited with 1.

[2022-01-25 07:32] marlonrichert commented on #410
Aha, thanks! It appears I need to update the code that tries to detect whether Zoxide is loaded.

[2022-01-25 08:07] soar opened #412 "Binaries get lost after sourcing zsh-autocomplete"
## Environment
[code]
* Operating system: macOS 11.6
* Terminal emulator: any (iTerm2, terminal, etc)

## Description

After sourcing zsh-autocomplete plugin completion doesn't work for most binaries in the system. If I try to add a function with the prefix like a name of a binary, this binary also becomes invisible for autocompletion.

## Steps to reproduce

### Example 1

Recorded in my live con

[2022-01-27 00:46] ThinkChaos opened #413 "Cannot search history with less than min-input chars"
## Environment

[code]
* Operating system: NixOS
* Terminal emulator: Kitty

## Steps to reproduce
[code]

[2022-01-29 13:53] marlonrichert commented on #412
I don't understand what problem you're trying to describe. Can you please provide steps to reproduce in a form that I can copy-paste into my terminal, without needing external dependencies?

[2022-01-29 18:55] #413 closed

[2022-01-29 18:56] marlonrichert commented on #413
Thanks for reporting! Fixed.

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2022-01-29 20:09] ThinkChaos commented on #413
Thanks, just tested it and it works!

[2022-02-03 15:24] marlonrichert commented on #404
Thanks for the extra explanation. That is indeed a problem. I will fix it when I have time. Or feel feel to submit a pull request.

[2022-02-09 06:14] marlonrichert commented on #381
Closing this as I haven’t heard back from @Onfroygmx and I cannot reproduce this.

[2022-02-09 06:14] #381 closed

[2022-02-09 06:17] marlonrichert commented on #392
Or actually, I could just define the strongest possible selector for each case. That should solve it, too.

[2022-02-13 18:21] ad-on-is commented on #404
I've encountered a similar issue:
![image](https://user-images.githubusercontent.com/9553253/153768905-069c6ce8-ddd6-43c3-af44-92db5f4810ef.png)

Even thou my input starts with `.loc`, for some reason `.docker` is suggested first

[code]

[2022-02-14 19:07] ad-on-is opened #416 "Lags on zsh 5.8.1"
Is it just me, or did the recent zsh-update affect the performance of this plugin?
`zsh 5.8.1 (x86_64-pc-linux-gnu)` and Arch, btw.

I started noticing an extreme lag when typing.

[2022-02-14 19:42] Dragonizedpizza opened #417 "No autocomplete options when no command is typed"
## Environment

[code]
* Operating system: Arch Linux
* Terminal emulator: Konsole

## Steps to reproduce

[code]

![image](https://user-images.githubusercontent.com/70718540/153934677-338bd542-be49-40a7-8892-0de3ead429bd.png)
(No autocomplete options, like directories I can go to)

[2022-02-15 00:24] yutkat commented on #416
Temporary workaround
`git checkout 21.08.27`

[2022-02-15 18:31] theol0403 commented on #416
The prompt essentially freezes when typing, and pressing keyboard interrupt gives
![image](https://user-images.githubusercontent.com/16546293/154126245-582ff88a-f0ae-4eb3-a18c-f7755b5a2543.png)

[2022-02-19 11:48] SephVelut opened #418 "Allow Tab and Shift-Tab to be disabled or reassigned"
I'm using zsh-autosuggestions and it allows me to use its completion with tab and shift+tab. I like it's completion. But I also want to use autocomplete. The problem is that this plugin also uses tab and shift+tab. How can I disable those two keys for autocomplete?

I tried
[code]
and
[code]

[2022-02-19 16:02] spikespaz opened #419 "Fuzzy glob completion?"
## What do you want?

I have read the required documentation as well as a portion of the source but do not feel confident to begin the trial-and-error process of figuring this out myself.

When I configured ZSH manually before using this plugin with the help of `newuserinstall` and `compinit`, I was able to do the following:

`d/g/s/d<tab>` completes to `~/Documents/github.com/spikespaz/dotfiles`

[2022-02-20 15:11] marlonrichert commented on #417
@Dragonizedpizza @glotchimo Can you check whether this is a duplicate of #416?

[2022-02-20 16:43] marlonrichert commented on #417
Duplicate of #416.

[2022-02-20 16:43] #417 closed

[2022-02-20 17:32] #416 closed

[2022-02-20 17:32] marlonrichert commented on #416
Fixed.

[2022-02-20 19:54] marlonrichert commented on #418
It's currently not possible to disable or reassign Zsh Autocomplete's Tab and Shift-Tab functionality. I'll have to think about what would be the best way to implement this.

[2022-02-20 19:59] marlonrichert commented on #404
@ad-on-is I'm unable to reproduce that.

[2022-02-20 20:08] marlonrichert commented on #410
@Martinits I'm unable to reproduce this. Can you put together a reproducible test case for me? Otherwise, I cannot fix it.

[2022-02-20 20:08] marlonrichert commented on #412
Closing, as I haven't heard back from @soar.

[2022-02-20 20:08] #412 closed

[2022-02-20 20:29] ad-on-is commented on #404
Looks like the new update fixed it 👍

[2022-02-26 03:00] J-E-Mc opened #422 "Single-quotes in filenames are not escaped correctly when autocompleted"
## Environment

[code]
* Operating system: Void Linux x86 glibc
* Terminal emulator: foot

## Steps to reproduce

[code]

expected result: `touch 'test\''`
i get: `touch 'test'\''`

[2022-03-01 09:56] StefanLobbenmeier commented on #416
Just wanted to add details to make sure others find it as well:

in my case I noticed packagekitd to jump to 100% cpu usage after typing any character. Executing git pull in the zsh-autocomplete directory fixed the issue.

(Searching for oh my zsh packagekitd  and zsh packagekitd  did not yield any results on google, hopefully this comment will now be indexed)

[2022-03-04 09:01] marlonrichert commented on #422
That’s not handled by this plugin, but by Zsh’s completion system. Please post a bug report on [the Zsh workers mailing list](https://zsh.sourceforge.io/Arc/mlist.html).

[2022-03-04 09:01] #422 closed

[2022-03-25 10:36] Altair-Bueno commented on #388
I searched zsh's documentation looking for an easy solution like a setting but i couldn't found anything useful. I settle with a `120x38` terminal and [Omoeba's solution](https://github.com/marlonrichert/zsh-autocomplete/issues/388#issuecomment-1010988568). It is not perfect but works great 99% of the time

[2022-03-25 16:10] RyanzpLee commented on #388
Interesting as when I use a 122x90 terminal with that zstyle 'fix', it still shows up the prompt issue.

[2022-03-26 19:17] Altair-Bueno commented on #388
Another easy solution is disabling that specific completion that is troublesome. You can either remove entirety the function file or part of it. Note that this will disable completions for that specific command/argument entirety. This might be unacceptable tho, but is the only thing i can think of

You can find completion functions are defined inside scripts located on `$FPATH`'s folders

[2022-03-27 07:55] unphased opened #425 "Breaks `copy-earlier-word`"
## Environment

[code]
* Operating system: macOS, Ubuntu
* Terminal emulator: alacritty

## Steps to reproduce

[code]

Results:

[code]

Here is what happens when i remove the sourcing of the repo in that vim command seen below and then run the clean zsh:
[code]

[2022-03-31 13:41] marlonrichert commented on #425
That's currently impossible to fix inside Zsh Autocomplete. The problem is that it relies on ZLE hooks that need to be implemented with widgets. As a result, the value of `$LASTWIDGET` changes.

https://github.com/zsh-users/zsh/commit/0cffb0a6b3602a00cebe2bbb7537d76727892959 implements a way to invoke ZLE widgets without changing `$LASTWIDGET`, but there is as of yet no Zsh release yet that contai

[2022-03-31 14:06] marlonrichert commented on #388
That actually is a good idea. I could implement a `zstyle` mechanism in Zsh Autocomplete with which you can disabled autocompletion for specific commands.

[2022-03-31 14:36] marlonrichert opened #426 "Implement trimming of `compctl` completion lists"
There are still quit a few 3rd-party completion functions (mainly Python-related) that still rely on `compctl`. Zsh Autocomplete, however, can currently trim only completion lists generated by `compadd`. Thus, any completion that relies on `compctl` can easily result in the dreaded `zsh: do you wish to see all XXX possibilities (YYY lines)?` eating up your keystrokes.

Implementation notes:
* `_de

[2022-03-31 14:39] marlonrichert commented on #388
@Altair-Bueno @RyanzpLee @Omoeba @jerryc05 I'm unable to reproduce the test cases given in this issue anymore. I think d6a0ff574679280af52258ee6d2dcd3857283270 might have fixed the bug. Can someone confirm?

[2022-03-31 19:00] Altair-Bueno commented on #388
It's working great for me!! I can reduce the terminal size to an absurd size with no problems

<img width="347" alt="image" src="https://user-images.githubusercontent.com/67512202/161129273-65d44350-125b-4703-bb2e-b7b83b03c41b.png">

#### Environment

[code]

[2022-03-31 22:43] RyanzpLee commented on #388
Still not working for me @marlonrichert  even with a full screen terminal on 13 inch macbook pro (macos Montery v12.3). Do you have any additional settings in your zshrc @Altair-Bueno ? That's amazing that it's working for you though. I currently have it installed through oh my zsh method, but I also just tried doing it the manual install method.

<img width="494" alt="image" src="https://user-ima

[2022-04-01 02:43] tshu-w commented on #388
works great for me too.

[2022-04-01 04:48] unphased commented on #425
Thank you. As I understand it now, once 5.9 makes the new approach available to implement ZLE widgets without clobbering `$LASTWIDGET`, we could switch implementation to this, and it would enable `copy-earlier-word` and any other broken stuff that has the same root cause to all work again.

[2022-04-01 09:03] Altair-Bueno commented on #388
Sure @RyanzpLee! You can check my zsh config on my [dotfile repository](https://github.com/Altair-Bueno/Demeter)

- [zshenv](https://github.com/Altair-Bueno/Demeter/blob/master/backup/.zshenv)
- [zshrc](https://github.com/Altair-Bueno/Demeter/blob/master/backup/.zshrc)

I think most config options are well documented, but don't hesitate to ask if you have any questions

PS: Zoxide works on my mach

[2022-04-01 10:00] andreasWallner opened #427 "zsh-autocomplete seems to freeze when completing sourcing of folder, does not show subfolders"
If I try to use tab-completion when sourcing from a folder (in my case a python virtualenv) .
When trying to complete the dotfolder or subfolders completion takes ~30 seconds and seems to fail to me (see examples below).
The issue only occurs when trying to complete when sourcing from the folder (via `. folder/...` or `source .folder/...`), the issue does not occur when e.g. cd'ing into it.

## En

[2022-04-01 10:23] marlonrichert commented on #425
Yes, that is correct and I intend to make that change, once it's possible.

[2022-04-01 10:27] marlonrichert commented on #388
@RyanzpLee Is that only for your `z` command or are you seeing that elsewhere, too? Which `z` command do you use?

[2022-04-01 10:29] marlonrichert commented on #388
@Omoeba I cannot reproduce it with `pgrep`, but I can indeed reproduce it with `man`. Thanks, I'll have a look at it.

[2022-04-01 10:48] RyanzpLee commented on #388
Thanks @Altair-Bueno I'll check it out and see what works. And I did indeed try a bare bones .zshrc config with only the zsh autocomplete plugin sourced but I still got the error.

@marlonrichert  I'm using Z jumper and it comes with oh my zsh. I've added it to my plugins list and here's my config file too [Zshrc](https://github.com/RyanzpLee/dotfiles/blob/main/zshrc)

[2022-04-01 11:03] marlonrichert commented on #388
@RyanzpLee After you get `zsh: do you wish to see all 121 possibilities (61 lines)?`, can you please press `y` and paste the output here?

[2022-04-01 11:09] marlonrichert commented on #427
I'm unable to reproduce this with the steps you've given. However, it looks like you're on WSL, to which I don't have access. Perhaps the problem is specific to that setup?

Can you try the same config in a Zsh that's not running on WSL?

[2022-04-01 12:13] RyanzpLee commented on #388
@marlonrichert  I've attached the output (but have removed a few directories)
[code]

[2022-04-01 13:47] andreasWallner commented on #427
Sure, once I'm home I can try on my native linux machine.

[2022-04-01 13:53] andreasWallner commented on #427
I remembered that I do have a Ubuntu VM as well, tried it there.
While the slowdown seems to be a WSL issue (possibly caused by the folders searched for possible completions?) it does still complete unexpected values.
[code]

[2022-04-04 11:12] RyanzpLee opened #428 "Autocomplete suddenly not working"
Out of nowhere the autocomplete plugin is not working. Upon opening a new terminal I'm greeted by my machine name which never happened before, then pressing enter I get an error below:
<img width="308" alt="image" src="https://user-images.githubusercontent.com/69594457/161532978-d60513ea-e1ea-45c0-a5aa-f8e679370d4e.png">
 this error
<img width="593" alt="image" src="https://user-images.githubuserc

[2022-04-04 11:38] RyanzpLee commented on #428
Even though it was working for the past 3 days, strangely enough just moving the zsh-autocomplete to the bottom of the plugin list where ohmyzsh is sourcing it has fixed the issue.

[2022-04-04 11:38] #428 closed

[2022-04-05 00:08] the-argus opened #429 "Crash on pressing up arrow to load history"
## Environment
[code]
* Operating system: Arch Linux
* Terminal emulator: Alacritty

## Steps to reproduce
The bug does not occur in the temp environment shell. If these means it is a problem  with the program I am using, I just need pointing in that direction.
Instead, I'll provide my config:
[code]
and the steps to reproduce:
1.) install neofetch
2.) run ``neofetch --source``
3.) press the up ar

[2022-04-06 06:05] unphased opened #430 "Hide "all matches" completion because of limited utility and poor performance"
## Environment

[code]
* Operating system: Ubuntu 20.04
* Terminal emulator: alacritty

## Steps to reproduce
Ran the following commands:
[code]

I typed:
- `cd /home/slu`
- `vim`
- <kbd>space</kbd>
- `thr`
- <kbd>tab</kbd>
- <kbd>shift</kbd>+<kbd>tab</kbd>

Note shift+tab is bound with terminal emulator to `<Esc>[Z`.

[2022-04-06 06:13] unphased commented on #430
Another one:

[code]
I typed
- `cd /home/slu`
- `echo .`
- <kbd>tab</kbd>

1. Why is `.Superposition` the first entry shown in the directories completion? It should probably be `.alacritty.yml`. It must be just that uppercase chars come first in the sort. Any way to fix this?
2. (not a complaint. I know it is default behavior) Hitting <kbd>tab</kbd> one more time starts completing inside `~/.Super

[2022-04-11 09:46] marlonrichert commented on #388
@RyanzpLee `z` completion uses Zsh’s old, deprecated [`compctl` completion](https://zsh.sourceforge.io/Doc/Release/Completion-Using-compctl.html) under the hood. Zsh Autocomplete currently does not support that, but it will be fixed by implementing #426.

[2022-04-11 10:08] RyanzpLee commented on #388
Ok @marlonrichert  thanks for letting me know. I'll try using zoxide which seems to work well with zshautocomplete!

[2022-04-11 13:11] marlonrichert commented on #427
Why/how would `. f` be expected to complete to `. foo`? Can you provide an isolated test case with which I can reproduce the problem?

[2022-04-11 17:48] unphased commented on #430
I already was using `zstyle ':autocomplete:*' widget-style menu-select`. The two main issues remain.
- order of completions chosen is incorrect (prioritizes uppercase dirs first)
- shift-tab dumps everything from the list into command

[2022-04-12 07:36] marlonrichert commented on #430
@unphased Note that you need to set it _before_ sourcing Zsh Autocomplete. Setting it at runtime doesn’t work.

[2022-04-12 16:18] andreasWallner commented on #427
I'd expect the completion because of the `foo` folder that we created just before, here a single repro:
[code]

[2022-04-12 19:12] unphased commented on #430
I did have it included before, and `zstyle ':autocomplete:*' widget-style menu-select` definitely had the intended effect, that is to make the tab not commit to the first suggestion.

Maybe I haven't been clear in my explanation. When using the repro steps it's clear that it just clones a fresh autocomplete plugin and runs it on a raw zsh. Even in this state the completion ordering is inconsistent

[2022-04-13 16:46] marlonrichert commented on #430
But if you press Shift-Tab again, does it then remove them?

[2022-04-13 18:06] unphased commented on #430
It does not

[2022-04-14 06:48] marlonrichert commented on #430
I'm able to reproduce both [test](https://github.com/marlonrichert/zsh-autocomplete/issues/430#issue-1194085328) [cases](https://github.com/marlonrichert/zsh-autocomplete/issues/430#issuecomment-1089861396) that you presented, but both of these show only expected behavior.

By default, Tab inserts the top entry and Shift-Tab inserts the bottom entry, and new completions are listed immediately afte

[2022-04-14 06:49] marlonrichert commented on #430
That's subjective — and because it's subjective, I've provided a `zstyle` with which you can change it.

[2022-04-14 06:54] marlonrichert commented on #427
Ah, I see. Sorry, I got a bit confused there. Yes, I can reproduce that. I'll see what I can do about it.

[2022-04-14 07:36] marlonrichert commented on #427
It's expected behavior, because [`file` won't look for files in the current dir](https://zsh.sourceforge.io/Doc/Release/Shell-Builtin-Commands.html#index-_002e), unless the specified path contains a `.`:

If you want to get completions for files and dirs in the current dir, then you will need to first type `. ./`.

In any case, completion for `.` is handled by the `_source` function that ships wit

[2022-04-14 07:36] #427 closed

[2022-04-14 07:44] marlonrichert commented on #429
Sorry, I'm unable to reproduce this. Try putting parts of your config into the bug report template until you have a reproducible test case. Alternatively, try commenting out parts of your config until the behavior disappears; then you will have found what causes it.

[2022-04-14 07:44] #429 closed

[2022-04-14 09:26] unphased commented on #430
OK... I'm dumb and wasn't paying attention. There is a completion result group called `all matches` and that is what shift+tab selects. So I finally understand now what you mean that this is expected.

[2022-04-14 14:34] marlonrichert commented on #430
That's a good point. Also, the "all matches" completion is incredibly slow to insert, especially when you also have syntax highlighting installed. I think maybe I'll just remove it. I never seem to find any use for it either.

[2022-04-15 08:35] andreasWallner commented on #427
Thanks for looking into it!

[2022-04-20 13:33] marlonrichert commented on #399
Closing, as I'm unable to reproduce it.

[2022-04-20 13:33] #399 closed

[2022-04-20 13:34] marlonrichert commented on #410
Closing, as I'm unable to reproduce it.

[2022-04-20 13:34] #410 closed

[2022-04-22 22:57] eduardocereto opened #432 "recent-dirs autocomplete with default settings (cdr) not working out-of-the-box as expected"
## Environment

[code]
* Operating system: macOS
* Terminal emulator: iTerm2

## Steps to reproduce

[code]

Should I enable cdr manually? Found very confusing setup instructions and don't want to go down this rabbit hole. I could try to use something else but I'm asking just because the docs say it should work automatically.

[2022-04-24 17:24] AlfredJKwack opened #433 "Throwing "no such file or directory" on .zcompdump"
Hi,

On occasion I see the below error in my terminal.

`.autocomplete.compinit.precmd:11: no such file or directory: /Users/thomas/.zcompdump-PortaMac-5.8`

I've tried to trace it down and it looks like the below line is the one causing it.
https://github.com/marlonrichert/zsh-autocomplete/blob/d6a0ff574679280af52258ee6d2dcd3857283270/scripts/.autocomplete.compinit#L29-L30

The very odd thing is,

[2022-04-24 17:45] AlfredJKwack commented on #433
This might be relevant: I have iterm.app (and terminal. app) set to launch with multiple windows. Could this be a concurrency issue?

[2022-04-25 08:05] marlonrichert commented on #433
That’s very well possible. I should update the code you posted to check whether the file exists, not just whether the variable has been set.

Thanks for reporting!

[2022-04-28 02:54] phanthaiduong22 opened #435 "Can config to only show different history?"
## What do you want?

I want the history feature can only show different histories. Because duplicated histories is useless. We can remove duplicated, and can move up faster
<img width="377" alt="image" src="https://user-images.githubusercontent.com/30502963/165667126-b254d7bf-4873-4d2f-983a-4d5ce48ed240.png">

## Why do you want this?
For convenience quicker move up to get history I want

## Who

[2022-04-28 04:09] pcjmfranken commented on #435
Alternatively you could prevent ZSH from creating any duplicate history entries in the first place: https://zsh.sourceforge.io/Doc/Release/Options.html#History

[2022-04-28 13:36] #435 closed

[2022-05-04 09:05] loggerhead commented on #430
Is there a way to hide "all matches"? It is useless in most case, but it output lots of information which disturb me.

[2022-05-04 11:26] RafaelMoreira1180778 opened #436 "Autocomplete not selecting some commands."
## Environment

[code]

* Operating system: `EndeavourOS 21.5: Linux atlas 5.17.5-arch1-1 #1 SMP PREEMPT Wed, 27 Apr 2022 20:56:11 +0000 x86_64 GNU/Linux`
* Terminal emulator: `XFCE4 Terminal`

## Steps to reproduce

[code]
I cannot reproduce the error in the above environment, but here is the Record that shows the error:

[![asciicast](https://asciinema.org/a/METnk9IcudMP0Nrgd7M0MxCnb.svg)](https

[2022-05-05 13:58] #398 closed

[2022-05-05 13:58] #388 closed

[2022-05-05 13:59] marlonrichert commented on #388
@jerryc05 @Omoeba @Altair-Bueno @RyanzpLee @Altair-Bueno @tshu-w @JiajiaGuo It should all be fixed now.

[2022-05-05 14:00] marlonrichert commented on #398
@yellowhat Implemented.

[2022-05-05 20:12] Omoeba commented on #388
`pgrep` is fixed but the issue still remains for `man`.
[code]

[2022-05-06 05:18] marlonrichert commented on #388
@Omoeba I’ve tested with `man` and it works fine for me. Can you give me exact circumstances under which this happens?

[2022-05-06 05:39] #433 closed

[2022-05-06 20:40] Omoeba commented on #388
I typed `man ` after running the following commands.
[code]
However, after repeated testing, I noticed that the issue only starts to occur after a some time. The only way to temporarily "resolve" it is by running `rm ~/.cache/zsh/compdump`.

[2022-05-11 13:28] marlonrichert commented on #388
@Omoeba Sorry, I'm still unable to reproduce it. Should you find a way to create a reliable test case for it, then please open a new issue for it.

[2022-05-23 05:37] marlonrichert commented on #436
It looks like you have something installed that redraws your command line while you are using the menu selection. Please comment out lines from `.zshrc` until you find what is conflicting with Zsh Autocomplete.

[2022-05-23 05:53] marlonrichert commented on #432
Inserting recent dirs completions into Zsh's completion is tricky. See also #404. If you want to use `cdr` as a workaround, you'll need to add the following to your `.zshrc` file:
[code]

[2022-05-28 14:17] near129 opened #440 "Don't work `down-line-or-select` in completion menu."
## Environment

[code]
* Operating system: macOS 12.3.1 (M1 Mac mini)
* Terminal emulator: iTerm2 3.4.15

## Steps to reproduce

[code]

I want to use `ctrl-n` in the same way as `down arrow key`. However, as shown in video blow, it don't work down line in the completion menu.

https://user-images.githubusercontent.com/56579877/170820875-c3ce73e2-c8ef-4495-ac00-ff817c6d20a6.mov

[2022-05-31 06:32] marlonrichert commented on #440
Zsh Autocomplete intentionally tries to limit the number of key bindings it replaces. Overriding too many keybindings can cause conflicts between plugins and/or the user's own custom key bindings.

If you want to use <kbd>Ctrl</kbd><kbd>N</kbd> in the same way as <kbd>Down Arrow</kbd>, just add the following to your `.zshrc` file:
[code]

[2022-05-31 06:32] #440 closed

[2022-05-31 21:43] rayjanoka opened #441 "Autosuggestion stops functioning with zsh 5.9 after a few directory changes"
doesn't seem to happen with zsh 5.8

## Environment

[code]
* Operating system: macOS
* Terminal emulator: iTerm

## Steps to reproduce
[code]

there will be no suggestion for the final `cd`

[2022-06-01 04:10] KyleUltimate commented on #441
[code]
There will be no suggestions for the last command(> is for its suggestions)
[code]

[2022-06-01 04:11] KyleUltimate commented on #441
But after downgrading to zsh `5.8.1` everything went back to normal

[2022-06-02 19:05] okuramasafumi opened #442 "Recent directories completion doesn't work with cdr"
## Environment

[code]
* Operating system: macOS 12.4
* Terminal emulator: iTerm2 3.5.0beta5

Customization:
[code]

## Steps to reproduce

[code]

## Description

I enable `cdr` with the code below:

[code]

I'm sure `cdr` works since running `cdr` command prints correct directories.
However, typing `cd` just prints directory candidates only, not recent dirs.

I debugged it and found that `_autoc

[2022-06-03 08:00] marlonrichert commented on #440
For the completion menu, you’ll need to add the following, too:
[code]

See https://zsh.sourceforge.io/Doc/Release/Zsh-Modules.html#Menu-selection

[2022-06-03 12:41] marlonrichert commented on #441
I'm unable to reproduce this:
[code]

[2022-06-03 12:47] marlonrichert commented on #442
Duplicate of #432.

[2022-06-03 12:47] #442 closed

[2022-06-04 02:00] KyleUltimate commented on #441
But I can! The number of `cd` steps when this problem occurs is not a static value
Ex.
![image](https://user-images.githubusercontent.com/68589851/171972219-4bef3107-d115-4a5f-a94b-5718d06cbff7.png)
I did it in 3 steps, but other times, I did it in 15 steps instead. I think the way to consistant produce it is to actually type out every letter instead of doing `up` and selecting it.

[2022-06-04 07:11] rayjanoka commented on #441
yes not exactly static, and up arrow doesn't work.

cd z<tab><enter>
cd ..<enter>

[2022-06-04 09:48] okuramasafumi commented on #442
On #432 you said we should enable `cdr` manually by `autoload -Uz cdr`. I did that but it still doesn't work.

[2022-06-08 04:13] ozwaldorf commented on #441
Can verify this breaks the completions for me as well.
manjaro + zsh 5.9

[2022-06-08 19:13] yellowhat opened #443 "Flatpak autocompletion"
## Environment

[code]
* Operating system: Gentoo
* Terminal emulator: foot

## Steps to reproduce

[code]

I am not sure if this is a bug or a configuration issue.
Anyway if I run the `flatpak` version of `nvim`, `zsh-autocomplete` does not autocomplete files or folders.

Thanks

[2022-06-10 09:22] iroedius commented on #441
Same here. After pressing the Enter key exactly 27 times, every time, the completions disappear. The problem occurs only on zsh 5.9, downgrading to 5.8.1 fixes it.

[2022-06-11 22:33] sameaton opened #444 "Unexpected matching order of dotfiles but not regular files"
When autocompleting files starting with a . the first matches appear to be fuzzy rather than exact matches:

## Environment
[code]
* Operating system:  macOS
* Terminal emulator: iterm2

## Steps to reproduce
[code]

As per the above shell session, when completing regular filenames, exact prefixes match first as you'd expect, but in the second example when I'm trying to autocomplete dotfiles, when

[2022-06-13 06:26] marlonrichert commented on #444
This is intentional. When you type `.thing`, Autocomplete will match `*.thing*`, so you can easily get a list of all `*.thing` files even when there are `.thing*` files present.

[2022-06-13 06:26] #444 closed

[2022-06-13 06:28] marlonrichert commented on #418
@lordzsolt Yes, that’s possible. Just set the following setting to `yes`:
https://github.com/marlonrichert/zsh-autocomplete/blob/5b0073d8ffde20498c820f94ddc62b7f3f54cfc7/.zshrc#L37

[2022-06-13 06:36] marlonrichert commented on #433
@AlfredJKwack It's fixed now. Also, if you enjoy using my software, please consider giving back by [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2022-06-13 06:42] marlonrichert commented on #416
@ad-on-is @jbro @glotchimo @AlexanderGunnarssonMW @theol0403 @mehanoid @Vysp3r @MartinJesusDev @hhlp @StefanLobbenmeier @ztNFny @YenLegion @hhlp

PS: I maintain all of this in my free time. If you enjoy using my software, please consider giving back by [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2022-06-13 06:42] marlonrichert commented on #413
@ThinkChaos PS: I maintain all of this in my free time. If you enjoy using my software, please consider giving back by [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2022-06-13 06:43] marlonrichert commented on #398
@yellowhat PS: I maintain all of this in my free time. If you enjoy using my software, please consider giving back by [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2022-06-14 12:18] marlonrichert commented on #442
@okuramasafumi Please post on #432.

[2022-06-15 12:57] okuramasafumi opened #445 "zsh crashes with file completion"
## Environment

[code]
* Operating system: macOS 12.4
* Terminal emulator: Build 3.5.0beta5

## Steps to reproduce

I found it only happens in certain directory.

[code]

Typing tab after `gemm` causes zsh crash. I suspect it's because the repository contains `Gemfile` but other repositories with `Gemfile` doesn't cause crashes.

[2022-06-15 18:28] Arrow-x opened #446 "Get out from history menu without selecting anything"
## What do you want?

When you are in history mode you have to select something, I want to hit Ctrl C to get out of the menu.
![image](https://user-images.githubusercontent.com/3308421/173898579-9f0d1a59-d047-409e-9133-ec70483c5819.png)

## Why do you want this?

the completion menu already has that feature, and I want to change my mind

## Who else would benefit from this?

anybody who was lookin

[2022-06-15 20:32] baudneo commented on #446
ESC works for me for this

[2022-06-17 07:49] marlonrichert commented on #446
Thanks for the suggestion. I will add this.

In the meantime, just add this to your `.zshrc` file:
[code]

[2022-06-18 22:48] EdwarDu commented on #445
I think you may come across the same bug as I have (do not have any workaround or anything, sorry), could you please check your dmesg output?

I got following message:

[ 3252.749812] zsh[25844]: segfault at 1000000a2 ip 00007f7429f8e926 sp 00007ffe0613daa0 error 4 in complist.so[7f7429f8b000+a000]
[ 3252.749820] Code: 83 7c 24 08 01 0f 84 ac 0e 00 00 48 8b 05 92 95 00 00 c7 00 01 00 00 00 31 ff f

[2022-06-19 09:28] okuramasafumi commented on #445
I found no `segfault` in dmesg output.

[2022-06-19 09:34] okuramasafumi commented on #445
I got the error report from console.app, here's the content.

[code]

[2022-06-20 09:12] CaptainJack42 commented on #441
Same here (manjaro + Konsole + zsh 5.9)

It also seems to break for me as soon as i tab out of my Terminal and tab back in.

[2022-06-20 09:58] EdwarDu commented on #445
I think it is the same, with zsh-autocomplete: if you press the TAB before the select menu got printed out, and the actual select menu turned out to be empty, this may trigger a crash.
There is comment in the scripts/.autocomplete.async:372
[code]
Maybe related to the crash.

-------

Maybe related to https://stackoverflow.com/questions/26526175/zsh-menu-completion-causes-problems-after-zle-reset-

[2022-06-20 10:04] marlonrichert commented on #445
@okuramasafumi @EdwarDu

Can you please try the following?

1. On the command line, run `functions -t $_autocomplete__log_functions[@]`
1. Start your steps to reproduce the problem, but _stop just before_ the final keystroke that induces the crash.
1. In another shell session, run `rm -rf $_autocomplete__log $_autocomplete__log_async $_autocomplete__log_pty`
1. In your previous shell session, now

[2022-06-20 10:11] EdwarDu commented on #445
Only $_autocomplete__log_pty has content, the other two are empty:
more $_autocomplete__log_pty                                                             I
zshexit: write error: Input/output error
zshexit: write error: Input/output error
zshexit: write error: Input/output error
zshexit: write error: Input/output error
zshexit: write error: Input/output error
zshexit: write error: Input/output er

[2022-06-20 10:30] EdwarDu commented on #445
@marlonrichert
commented out line 168, 169 in .autocomplete.async,
with
zstyle ':autocomplete:*' insert-unambiguous yes

seems to be okay.

Anything to help please do let me know.

[2022-06-20 10:57] marlonrichert commented on #441
@ozwaldorf @iroedius @rayjanoka @CaptainJack42

Can you please do the following?

1. Run `rm -rf $_autocomplete__log $_autocomplete__log_async $_autocomplete__log_pty`
1. Run `functions -t $_autocomplete__log_functions[@]`
1. Reproduce the problem.
1. Note the exact time on which the problem was reproduced and share it here.
1. Kill the shell.
1. Attach to your comment the files referenced by `$_a

[2022-06-20 13:00] marlonrichert commented on #441
However, I'm still unable to reproduce any of this. 🙁

[2022-06-23 07:39] marlonrichert commented on #445
@EdwarDu Thanks! Now at least know at which point the crash occurs. However, I'm still not able to reproduce this.

@EdwarDu @okuramasafumi Can both of you please try to run your test case in the following setup? Does the crash then still occur?
[code]

[2022-06-24 18:30] EdwarDu commented on #445
If I add
[code]
to the profile above, I can reproduce the crash

[2022-06-25 07:37] okuramasafumi commented on #445
@marlonrichert I cannot reproduce with this setup. I also set

[code]

so that might be related as @EdwarDu pointed.

[2022-06-25 17:21] tobealive commented on #441
Good to see an issue open on this. I thought I'm a lonely poor mofo who unknowingly broke his system and now can't find a solution. Basically just a little bump to this issue, that it also can be verified on the machine I'm using.

[2022-06-27 10:18] marlonrichert commented on #441
@tobealive Can you try to put together a test case that I can use to reproduce the problem? So far, I have not been able to.

[2022-06-27 13:39] tobealive commented on #441
Hi @marlonrichert, when I have some minutes I could try to provide a scenario using a VM with a liveboot or clean install. To be sure it is something reproducible.

Would that be something of use to you or too much of a hassle to find a solution?

[2022-06-28 06:43] marlonrichert commented on #441
@tobealive I don’t have anything set up to run VMs, but if you can provide clear instructions on how to run it, then yes, that would be useful.

[2022-06-28 09:39] KyleUltimate commented on #441
Not a VM but, a docker file
Create a file called `Dockerfile` in a empty directory.
[code]
And then in the same folder run
`sudo docker build -t nodebb .`
`sudo docker run -it --entrypoint /bin/zsh nodebb`
And then zsh comfiguration screen will pop up, complete it.
Next do:
[code]
And do what https://github.com/marlonrichert/zsh-autocomplete/issues/441#issuecomment-1160331716 says to reproduce the

[2022-06-28 10:19] marlonrichert commented on #441
@KyleUltimate Thanks! I'm able to reproduce it with this. 🥳

[2022-06-28 10:27] marlonrichert commented on #441
...but now I'm again unable to reproduce it. 😕

[2022-06-28 10:30] KyleUltimate commented on #441
Even after reentering the docker? (`exit` and do the docker run again)

[2022-06-28 10:35] marlonrichert commented on #441
Nope. Can you give me a path in the Docker environment with which you are able to reproduce the problem?

[2022-06-28 10:56] KyleUltimate commented on #441
File... path?
I don't quite understand what you mean. If you mean where `zsh-complete` is, it's just in the
![image](https://user-images.githubusercontent.com/68589851/176162400-b506aba2-de89-4b0b-8834-5fbc173941b7.png)

[2022-06-28 14:23] KyleUltimate commented on #441
`/usr/share/gdb/auto-load/usr/lib/libglib-2.0.so.0.7200.2-gdb.py`

[2022-06-28 14:49] CaptainJack42 commented on #441
@marlonrichert

I also can't reproduce it with the existing directories in the docker container, but just creating a very long path inside the docker container (e.g. `mkdir -p sth-long/very-long-directory-name/tmp/foo/bar/very-nice-name/extremely-long-path/user/projects/foo/bar/dir/a/b/c/d/e/f/g/h/i/j/k/l/m/n/o/p/q/r/s/t/u/v/w/x/y/z`) and than trying to autocomplete `cd` into this directory will e

[2022-06-29 05:42] marlonrichert commented on #441
Thanks, that gives a good clue. Based on that, my guess is that the internal state of Zsh Autocomplete gets messed up somewhere because of concurrent modification.

Zsh does not have a native way of ensuring thread safety. In fact, it does not have threads at all: For example, if a Trap occurs during an asynchronous callback, the operations from both codes will run interleaved inside your shell se

[2022-06-29 10:16] spqw opened #449 "Case insensitive fuzzy match"
## What do you want?
Given that the user is in a directory which contains a folder named `hello-Bob`
When the user type `cd bob`
Then the system returns `hello-Bob` as a suggestion

## Why do you want this?
- Quicker to type
- Easier to type

## Who else would benefit from this?
- All users who prefer getting case insensitive suggestions

## How should it work?
- Specify an option

**Given the fol

[2022-06-29 10:38] marlonrichert commented on #441
@ozwaldorf @iroedius @rayjanoka @CaptainJack42 @tobealive @KyleUltimate

Can you try the following?
1. Reproduce the bug in your test environment.
2. Run `functions -T .autocomplete.async.complete .autocomplete.zle-flags`.
3. Try to activate autocompletion _once._
4. Paste the debug output here.

[2022-06-29 10:53] CaptainJack42 commented on #441
@marlonrichert

Hoping this helps (didn't really know what you menat with *activate autocompletion once*, but i just typed `cd` once after running `functions -T ...`

[code]

[2022-06-29 10:54] KyleUltimate commented on #441
[code]

[2022-06-29 12:58] spqw commented on #449
Indeed, I can confirm that by reproducing these steps I have the expected behavior.

I encountered a more specific situation where a folder was in such state that autocomplete was showing recent directory instead of the expected suggestions. I couldn't reproduce the issue though.

What I did in the end is that I reinstalled autocomplete plugin and choosed to use zsh-z as a recent directory provide

[2022-06-29 12:58] #449 closed

[2022-06-29 13:53] tobealive commented on #441
<details>
  <summary>Output after plugin stopped working, running `functions -T .autocomplete.async.complete .autocomplete.zle-flags` and `cd`</summary>
[code]
</details>

[2022-06-30 06:45] marlonrichert commented on #441
Thanks. This shows that async autocompletion is still started successfully, but in @KyleUltimate’s and @tobealive’s output never reaches the callback function.

As a workaround, can you try increasing the value of this parameter?

https://github.com/marlonrichert/zsh-autocomplete/blob/f52f45a49d2df31e7d7aff1fb599c89b1eacbcef/.zshrc#L11

Does that help?

[2022-06-30 09:25] KyleUltimate commented on #441
Nope, still breaks.
this is what after `cd zsh` tab happens.(with the autocomplete zstyle in zshrc)
[code]

[2022-06-30 09:30] marlonrichert commented on #441
@KyleUltimate To how much did you increase the value?

[2022-06-30 09:34] marlonrichert commented on #441
@CaptainJack42 @tobealive @KyleUltimate Can you try my instructions in https://github.com/marlonrichert/zsh-autocomplete/issues/441#issuecomment-1160300515, too?

[2022-06-30 10:36] CaptainJack42 commented on #441
@marlonrichert

Still breaks with setting `min delay` to 0.1.

Here's the output and also the 3 log files:

[code]
[2022-06-30.async.log](https://github.com/marlonrichert/zsh-autocomplete/files/9018969/2022-06-30.async.log)
[2022-06-30.log](https://github.com/marlonrichert/zsh-autocomplete/files/9018970/2022-06-30.log)
[2022-06-30.pty.log](https://github.com/marlonrichert/zsh-autocomplete/files/90

[2022-07-01 04:48] marlonrichert commented on #441
Thanks, that's interesting output. It looks like the async completion does finish successfully, but for some reason, the callback widget is never triggered. I'm wondering if the callback gets unhooked prematurely.

Can you try the following?
1. In your test environment, run the following:
[code]
3. Reproduce the bug and note the time at which it occured.
4. Share your output (in a file, preferably

[2022-07-01 14:41] CaptainJack42 commented on #441
@marlonrichert

[2022-07-01-log.log](https://github.com/marlonrichert/zsh-autocomplete/files/9029678/2022-07-01-log.log)

Here's the output.

The bug appeared after the usual `cd into/long/path` and than deleting the command by holding `backspace`.

[2022-07-01 15:19] marlonrichert commented on #441
@CaptainJack42 And at what timestamp did the bug occur?

[2022-07-03 02:36] knu opened #450 "Loading select-word-style breaks .autocomplete.zle-flags"
## Environment
apple darwin21.3.0 /usr/local/bin/zsh /usr/local/bin/zsh zsh-5.9-0-g73d3173
f52f45a (HEAD, origin/main, origin/HEAD, main) Change precmd to chpwd for zlua
* Operating system: macOS
* Terminal emulator: iTerm2

## Steps to reproduce
1. Run `autoload -Uz select-word-style; select-word-style normal`
2. Type a few words (aaa bbb ccc)
3. Go to the beginning of the line
4. Do kill-word (M

[2022-07-03 08:03] MrinmoyHaloi opened #451 "Zsh crashes when i try to use previous command"
## Environment

[code]
* Operating system: Fedora
* Terminal emulator: Gnome terminal

## Steps to reproduce

[code]
It gives random errors like
`malloc(): corrupted top size`
or
`double free or corruption (out)
zsh: IOT instruction (core dumped)  zsh`

The problem only happens when i add this plugin.
here is my .zshrc
[code]

[2022-07-03 16:25] marlonrichert commented on #451
Please try to reproduce your problem in this environment:
[code]
If it doesn’t crash there, then the problem is somewhere in your config. Comment out lines from your `.zshrc` until find which combination of things causes the bug. Then report back here and I’ll reopen your issue.

[2022-07-03 16:25] #451 closed

[2022-07-04 17:00] MrinmoyHaloi commented on #451
It doesn't happens in that environment. It happens with my config. I removed all plugins but it doesn't affects anything.
This is my current config
[code]

[2022-07-05 12:30] marlonrichert commented on #451
If you use Zsh Autocomplete, [you are not supposed to call `compinit` yourself](https://github.com/marlonrichert/zsh-autocomplete). Can you remove that call and try again?

[2022-07-08 09:06] blueray453 opened #455 "Query about compatibility with zsh-history-substring-search, zsh-completions and zsh-autosuggestions"
Do I need to install zsh-users/zsh-completions or zsh-autocomplete take care of it?

Can I use zsh-users/zsh-autosuggestions with zsh-autocomplete? Then how does it work?

I assume i do not need to use  zsh-users/zsh-history-substring-search. How does it work? What is the workflow (shortcut) of zsh-autocomplete to use zsh-users/zsh-history-substring-search like feature?

[2022-07-11 05:56] MrinmoyHaloi commented on #451
abrt shows this when zsh
![image](https://user-images.githubusercontent.com/69071143/178197930-27cb8776-33e2-43a8-8d55-99dd388c68de.png)
https://retrace.fedoraproject.org/faf/reports/470294/
this is the report if you need
@marlonrichert

[2022-07-11 12:16] marlonrichert commented on #450
@knu Thanks for reporting. Since you know where the problem is, would you mind submitting a pull request? 🙂

[2022-07-12 09:11] knu commented on #450
@marlonrichert Unfortunately I'm yet to identify where the problem is.   As long as I observe, select-word-style redefines the widgets `kill-word`/`backward-kill-word` but they should still match `*kill-*~vi-*`, so the "kill" flag should be set by `.autocomplete.zle-flags`. 🤔

[2022-07-13 01:24] amomchilov opened #457 "Tab autocompletion picks first item instead of the longest common prefix"
## Environment

[code]
* Operating system: macOS
* Terminal emulator: iTerm 2

## Steps to reproduce

[code]

With `cd D` in the prompt, pressing tabs expands to the first item (`aaaaaaab`) instead of the common substring (`aaaaaaa`)

<details><summary>`zstyle -L` output</summary>
[code]
</details>

[2022-07-13 07:24] hgw77 commented on #441
a small question with `Autosuggestion stops working` do you mean the fish-like type ahead autosuggestion? If yes I can report that on  `debian linux-gnu /usr/bin/zsh debian/5.8-6+deb11u1` this is also not working

[2022-07-18 08:36] Omoeba commented on #388
@marlonrichert I've done some additional testing and the way to "fix" the issue is by printing 10 newlines at the start of each session, such as by putting `echo -e '\n\n\n\n\n\n\n\n\n\n'` at the end of your `~/.zshrc`. I've also tried fiddling around with `zstyle ':autocomplete:*' list-lines` to no avail.

[2022-07-18 15:04] plasticrake opened #458 "ZSH crashes when sourcing zsh-autocomplete: bus error - on Raspberry Pi"
## Environment

[code]
* Operating system: Raspbian Bullseye - Raspberry Pi 3B+
* Terminal emulator: iTerm2 / console

## Steps to reproduce

[code]

[2022-07-21 22:58] wtfzambo opened #459 "History search by pressing UP arrow gets stuck if <word> doesn't exist in the history"
## Environment

[code]
* Operating system: Ubuntu 20.04 on WSL2
* Terminal emulator: Windows terminal

## Steps to reproduce

[code]

What happens in my actual shell:
0- Have OMZ installed (?)
1- Type a random string that doesn't exist in the history, e.g. `d109dj120d9j1209djoksjdjaoisjasdjpojk`
2- Press "up arrow"
3- History search hangs there seemingly stuck, and I have to press CTRL+C to interr

[2022-07-28 07:00] manuelduarte077 opened #460 "zsh: do you wish to see all 201 possibilities (101 lines)?"
## Environment

[code]
* Operating system:  macOS
* Terminal emulator: iTerm

## Steps to reproduce
I have that error every time I write in the terminal, let's say I put the letter s and I get that error

[2022-07-28 16:22] marlonrichert commented on #460
Please use the bug report template to create a [minimal, reproducible test case](https://stackoverflow.com/help/minimal-reproducible-example). If I can’t reproduce your problem, then I cannot fix it.

[2022-07-28 16:22] #460 closed

[2022-07-29 23:05] ragu-manjegowda opened #461 "Not able get `ignored-input` working"
I am not sure if this is a bug or just me not able to get this working.

I have `zstyle ':autocomplete:*' ignored-input '..##' # extended glob pattern` in my zshrc but I am not able disable auto-complete when I execute `..` or `..##` in the terminal.

For example, `.. cd` will still suggest directories to cd into.

I am using zsh and adding the plugin here - https://github.com/ragu-manjegowda/conf

[2022-07-31 12:54] Mordna commented on #441
It seems like the commit `b0bd14035` (2021-04-21) for zsh is the first one which yields this behavior (the previous commit `e7711e37e` of zsh did not produce this bug). This commit changed `zmathfunc`, so maybe a calculation (in zsh-autocomplete) is erroneous?

[2022-08-01 14:57] g-h-97 opened #462 "Remap Up/Down to Tab/Shift-Tab"
## What do you want?
Remap Up/Down to Tab/Shift-Tab

## Why do you want this?
For fast option selection, and keeping fingers at the main row

## Who else would benefit from this?
Virtually all users and fast tapers

## How should it work?
Remapping from .zshrc

Thanks,

[2022-08-02 10:15] marlonrichert commented on #462
Can you be more precise than this? I’m not sure what you want exactly.

[2022-08-02 10:17] #462 closed

[2022-08-02 10:29] marlonrichert commented on #461
You checked the last checkbox, but I don’t see any output above it. Please add it and I’ll reopen the issue.

[2022-08-03 02:32] ragu-manjegowda commented on #461
- [x] I have copy-pasted my entire test session into the same code block.

[code]

[2022-08-03 02:33] ragu-manjegowda commented on #461
@marlonrichert sorry I over looked it earlier. Copied the output now. Please let me know if you anything else. Reopening the issue. Thanks.

[2022-08-03 17:03] marlonrichert commented on #461
What exactly are you expecting `.. cd` or `.. ls` to do? Why would you type this?

[2022-08-03 17:09] ragu-manjegowda commented on #461
I am looking for a way to disable autocomplete. For example, if I type `ls ` I do not want suggestions to show up.

[code]

Isn't `..`  supposed to do it? Or am I reading it incorrect?

[2022-08-03 19:25] g-h-97 commented on #462
@marlonrichert, I updated the issue with requested fields. Sorry for the misunderstanding btw,

[2022-08-04 04:44] marlonrichert commented on #461
“Input” in this context means the current word. So, with `..#`, if the current word consists of two or more dots, completions won’t be shown _for that word._

I’ll update that comment to be more precise.

[2022-08-04 04:50] #461 closed

[2022-08-04 04:53] marlonrichert commented on #462
This is [already implemented](https://github.com/marlonrichert/zsh-autocomplete/blob/d8bfbef46efc54c1189010a3b70d501b44487504/.zshrc#L42).

[2022-08-04 07:36] ragu-manjegowda commented on #461
@marlonrichert I would really appreciate it if you can please enable option to temporarily disable completion for `full command` instead of just `word`.

Let me know if you are interested in implementing this, happy to create an issue requesting `feature`.

[2022-08-04 09:00] marlonrichert commented on #461
Feel free to open a feature request – or better yet, a pull request. 🙂

[2022-08-06 07:21] blueray453 opened #463 ".autocomplete.recent_paths.add:shift:16: shift count must be <= $#"
- [x] I have carefully read all of the instructions in this issue template.
- [ ] I have carried them out to the letter.

Failure to do so can and will result in your issue being closed without warning.

## Environment
[code]

* Zorin OS 16
* Terminal emulator: Alacritty

- [x] I have filled out the fields above.
- [x] I have ran the commands in the code block above.
- [x] I have pasted their outp

[2022-08-06 12:23] marlonrichert commented on #463
Duplicate of #441.

[2022-08-06 12:23] #463 closed

[2022-08-08 18:22] CraigSiemens commented on #457
I've got the same issue when using Terminal.app.

[2022-08-11 13:18] blueray453 commented on #441
Here are few of my log files.

[2022-08-04.pty.log](https://github.com/marlonrichert/zsh-autocomplete/files/9308956/2022-08-04.pty.log)
[2022-08-09.pty.log](https://github.com/marlonrichert/zsh-autocomplete/files/9308957/2022-08-09.pty.log)
[2022-08-11.pty.log](https://github.com/marlonrichert/zsh-autocomplete/files/9308958/2022-08-11.pty.log)
[2022-08-10.pty.log](https://github.com/marlonrichert/

[2022-08-11 23:10] oldo commented on #418
@marlonrichert I also am trying to achieve the same thing as @lordzsolt however your suggestion of setting `insert-unambiguous` to `yes` is not making any difference.

[2022-08-17 07:02] marlonrichert commented on #418
@oldo Works for me:
[code]

Please use the above to create a reproducible test case. If I can't reproduce it, then I can't fix it.

[2022-08-17 07:11] marlonrichert commented on #425
OK, Zsh 5.9 has been released and that commit is in it. However, Zsh Autocomplete relies [here](https://github.com/marlonrichert/zsh-autocomplete/blob/4decd760641377e818d11146ef1249f5474c224a/scripts/.autocomplete.async#L153) on the value of `$LASTWIDGET` to avoid a crash when autocompletion causes the line to be redrawn. I'll have to test if this still an issue in Zsh 5.9 and, if so, I'll have to

[2022-08-17 10:35] marlonrichert commented on #432
Local dirs get priority over recent ones and you need to type at least part of the recent dir you're looking for. For example:
[code]

Yes, add this to your `.zshrc` file:
[code]

The docs say that it uses `cdr` under the hood by default to complete recent dirs. However, it does not say that it automatically makes the `cdr` function available on the command line.

[2022-08-17 10:35] #432 closed

[2022-08-17 10:37] marlonrichert commented on #436
Closing this, since I haven't heard back from @RafaelMoreira1180778.

[2022-08-17 10:37] #436 closed

[2022-08-17 10:41] marlonrichert commented on #443
I don't know from where you installed `flatpak` completion, but that is a bug in the completion function, not Zsh Autocomplete. `no matching 'option' or 'argument' completions` means that the completion function for `flatpak` is trying to complete options and arguments only, not files. Please file a bug report over there.

[2022-08-17 10:41] #443 closed

[2022-08-17 10:46] marlonrichert commented on #445
I'm unable to reproduce this:
[code]

[2022-08-17 12:09] marlonrichert commented on #450
It's a bug in [`kill-word-match`](https://github.com/zsh-users/zsh/blob/master/Functions/Zle/kill-word-match). It relies on `$LASTWIDGET` to check if the last keystroke executed a kill command, but that doesn't work when a `zle-line-pre-redraw` hook widget has been installed. Please report it on the official [`zsh-workers` mailing list](https://zsh.sourceforge.io/Arc/mlist.html).

[2022-08-17 12:09] #450 closed

[2022-08-17 12:11] marlonrichert commented on #450
As an alternative to `select-word-style`, I would recommend my [Zsh Edit plugin](https://github.com/marlonrichert/zsh-edit). It works a lot better than `select-word-style` in general.

[2022-08-17 12:14] marlonrichert commented on #457
You need to add this to your `.zshrc` file, but set it to `yes`:
https://github.com/marlonrichert/zsh-autocomplete/blob/d8bfbef46efc54c1189010a3b70d501b44487504/.zshrc#L38

See that file for a full list of config options.

[2022-08-17 12:14] #457 closed

[2022-08-17 12:18] marlonrichert commented on #459
I'm unable to get it to crash, but it does get unreasonably slow. I'll fix it.

[2022-08-17 12:22] marlonrichert commented on #458
Sorry, I'm unable to reproduce this. Also, Zsh Autocomplete is written in pure `zsh` and thus doesn't concern itself with low-level things like busses. What you are seeing is a bug in the build of `zsh` that you are using on Raspberry Pi. Please report it upstream.

[2022-08-17 12:22] #458 closed

[2022-08-17 14:06] #392 closed

[2022-08-17 14:06] #430 closed

[2022-08-17 14:06] #446 closed

[2022-08-17 14:07] marlonrichert commented on #446
@Arrow-x It's now implemented.

PS: If you enjoy using my software, please consider [sponsoring me](https://github.com/sponsors/marlonrichert). 🙂

[2022-08-17 14:11] amomchilov commented on #457
Hmmm I think I've gotten stuff big-time mixed up in this bug report. I was trying to capture the issue from https://github.com/marlonrichert/zsh-autocomplete/discussions/453.  I've got my signals crossed between an example that used `Documents`, `Downloads`,`Drive` with one that used `aaaaaaab` and `aaaaaaac`.

I've updated the description with a correct and clearer set of repro steps, which I've

[2022-08-17 20:51] marlonrichert commented on #457
In both of these cases, the longest common substring _that can be completed from the current word on the command_ is equal to the current word on the command line. So, there’s no substring to insert there. That’s why it doesn’t get mentioned.

[2022-08-19 10:03] prateekmaru opened #467 "_autocomplete.config.completer:1: CURRENT: parameter not set"
<pre>_autocomplete.config.cache-path:1: array parameter reply created globally in function _autocomplete.config.cache-path
_autocomplete.config.completer:1: CURRENT: parameter not set
</pre>

[2022-08-19 10:06] #467 closed

[2022-08-20 08:34] latipun7 opened #468 "Widget not working properly after update `96bbb5b` with oh-my-zsh"
- [x] I have carefully read all of the instructions in this issue template.
- [x] I have carried them out to the letter.

Failure to do so can and will result in your issue being closed without warning.

## Environment
[code]

* Operating system: Arch Linux
* Terminal emulator: Windows Terminal via SSH

- [x] I have filled out the fields above.
- [x] I have ran the commands in the code block above

[2022-08-20 12:44] koseduhemak commented on #468
Experiencing the same problem. Sticking to `d8bfbef46efc54c1189010a3b70d501b44487504` as temporary work around.

[2022-08-20 23:20] YenLegion commented on #445
Been getting a lot of segfaults too lately. I am ssh-ing to the server running zsh-autocomplete and it kills my connection. Syslog has this line -  kernel: [355798.498214] zsh[35107]: segfault at 55f6f05de2a0 ip 00007f5e130b9d3c sp 00007fff822674f0 error 4 in complist.so[7f5e130b7000+b000]

[2022-08-21 12:25] marlonrichert commented on #468
@latipun7 @koseduhemak Can you please reduce the test case to the [_minimum_ needed to reproduce the problem](https://stackoverflow.com/help/minimal-reproducible-example)? Thanks!

[2022-08-21 12:26] marlonrichert commented on #445
@YenLegion If you could make me a minimal, reproducible test case, that would help a lot. I cannot fix the problem if I cannot reproduce it.

[2022-08-21 12:30] marlonrichert commented on #445
@EdwarDu That is correct, but they won’t be able to do anything about it until we figure what code is actually causing it to crash. If you can find out what it is, that would be super helpful to both me and the Zsh team.

[2022-08-21 22:49] latipun7 commented on #468
Hi @marlonrichert , thank you for your attention. For the test environment provided, it should be already clean, right? Then I don't think I can provide more minimal example than what I describe.

In clean environment, I just clone https://github.com/ohmyzsh/ohmyzsh then clone this plugin into OMZ custom directory.
Then in `.zshrc`, I just configured to source OMZ with only this plugin as shown be

[2022-08-22 05:22] marlonrichert commented on #468
It’s quite impossible for that to be the faulty commit. The problem more likely lies in 96bbb5bb5b3698ca23d54ee28eb595a3727bf6df.

[2022-08-22 07:03] latipun7 commented on #468
Yes. The update causing this behavior is this https://github.com/marlonrichert/zsh-autocomplete/commit/96bbb5bb5b3698ca23d54ee28eb595a3727bf6df commit.

[2022-08-24 07:36] marlonrichert opened #471 "Add a setting to auto-switch to history search, depending on the current command line"
### Discussed in https://github.com/marlonrichert/zsh-autocomplete/discussions/470

<sup>Originally posted by **underlow** August 23, 2022</sup>

<div type='discussions-op-text'>

Would be great have some commands (or strings) so that history switches to autocomplete automatically, for example if I type 'cd<space>' I would like to use directories autocomplete instead of history search. Auto switch

[2022-08-25 07:20] marlonrichert opened #472 "Make ^S do full-text completion search from the command line"
Currently, you first have to enter the completion menu and then press `^S` to do a full text search. Since the standard `^R` on the command line is mostly useless, it would be great if it instead let you search from completions immediately, without first having to enter the menu.

[2022-08-25 07:26] marlonrichert commented on #418
I just realized what would be a good way to give more control over <kbd>Tab</kbd> and <kbd>Shift-Tab</kbd> assignment. I'll add this to my TODO list.

[2022-08-25 08:01] marlonrichert commented on #441
@blueray453 They a lot of input/output errors. What were you trying to complete?

[2022-08-25 09:00] underlow opened #473 "Incorrect switch to completion mode"
- [x] I have carefully read all of the instructions in this issue template.
- [x] I have carried them out to the letter.

Failure to do so can and will result in your issue being closed without warning.

## Environment
[code]

* Operating system: macOS
* Terminal emulator: iTerm2

- [x] I have filled out the fields above.
- [x] I have ran the commands in the code block above.
- [x] I have pasted t

[2022-08-25 10:58] blueray453 commented on #441
The terminal kept closing down (goes away) in the middle of my work (automatically triggering suggestion functions which have bugs). Then i went through the code and found that there are logs. I checked the logs and they are not descriptive. They do not say, which error, when, what etc. At some point the extension became unusable.

Then i came up with my own completion taking hint from your extens

[2022-08-25 13:54] marlonrichert commented on #473
How do you expect to find commands from history that start with `git `, if you don't have any of those in your history? But I could add a message that says something like "no matching history lines".

[2022-08-25 14:23] underlow commented on #473
I'm afraid there's some miscommunication. Everything's ok with history.
Let me describe it once again.
1. terminal starts in history mode.
2. I press CtrlR
3. I expect to see completion mode. But it's not wokring. Here is the problem.

Here is one more log:
Here you can see that history works fine
[code]

but if I press CtrlR I get this:
[code]
but I expect this (it shows after pressing CtrlSpace:

[2022-08-26 06:41] marlonrichert commented on #473
Did you type a space after typing `git`? It looks like you haven't. That or the `git` (sub)command is taking a long time to complete. What happens if you type `git ` and then just wait a while?

[2022-08-26 08:10] underlow commented on #473
Yes, I dit type space, you can see it here

![](https://user-images.githubusercontent.com/15636461/186366576-e0149283-40e2-494f-97a1-5f30131ecea5.png)

I've tried with another command but in isolated environment I cannot get complete suggestions at all

<img width="253" alt="image" src="https://user-images.githubusercontent.com/15636461/186854232-c3732ef3-7eee-4ea6-aafa-1554c116a09f.png">

Nothing

[2022-08-26 14:58] hyptocrypto opened #474 "Bugs on MacOS Monterey M2 Air with Oh My Zsh."
- [x] I have carefully read all of the instructions in this issue template.
- [x] I have carried them out to the letter.

Failure to do so can and will result in your issue being closed without warning.

## Environment
[code]
apple darwin21.0 /bin/zsh zsh zsh-5.8.1-0-g1a490c7
/Users/julianbaumgartner/.zshrc:83

* Operating system: MacOs Monterey
* Terminal emulator: Iterm2

- [x] I have filled out

[2022-08-27 09:43] marlonrichert commented on #473
Your earlier example showed that completion didn’t yet notice that you had type a space:

But now you are showing that it did notice, but gives no completions at all. What is the difference in context between these two?

Please try the following:
1. Add this to your `.zshrc` file _after_ sourcing Zsh Autocomplete:
[code]
1. Whenever you feel that autocompletion (incl. history search) doesn’t show

[2022-08-27 09:58] marlonrichert commented on #474
I’m unable to test this, because I don’t have an M2 chip to test with at the moment. Are there any clues in the log files, `$_autocomplete__log`, `$_autocomplete__log_pty` and `$_autocomplete__log_async`?

[2022-08-27 10:16] underlow commented on #473
Sorry, I've tried so many times with different settings so got messed up a bit.

So to summarise. I try to reproduce issue in two different environments
1. my iTerm with my .zsh in regular mode. Problem reproduces every time easily.
2. isolated environment using your script. Problem reproduces 1 time of 5 tries.

in both cases problem reproduces equally, as shown on screenshots on initial post

Th

[2022-08-27 10:19] underlow commented on #473
One more thing. In regular terminal if I press CtrlR and history disappears second CtlrR will not bring it back. Maybe it's related somehow.

[2022-08-27 12:48] hyptocrypto commented on #474
pty and async are empty. The error in the base log looks like it could point to something.
<img width="1136" alt="Screen Shot 2022-08-27 at 8 40 18 AM" src="https://user-images.githubusercontent.com/60943792/187030711-0768f01c-5390-4b7b-a73d-4d9dd83eb2bb.png">

[2022-08-28 12:41] hyptocrypto commented on #474
Hey @marlonrichert. So I tried the same set up on a friends macbook (intel) and ran into the same issue. So it must be some combo of the most recent version os oh-my-zsh and the autocomplete plugin. But its not related to the M2 chip.
I just started jumping back in the commit history and rolling back to `d8bfbef` fixes things. Not sure if this will help you in identifying the issue, but just wante

[2022-08-29 04:56] marlonrichert commented on #474
Thanks. Then the problem must be in 96bbb5bb5b3698ca23d54ee28eb595a3727bf6df.

[2022-08-29 06:09] marlonrichert opened #476 "Don't filter comments out of displayed history lines."
They are filtered out by using `${(Z+C+)...}`, but that's actually not desirable. Let's use `${(Z+c+)...}` instead.

[2022-08-29 06:13] marlonrichert commented on #473
Can you run the test session again, try reproducing the bug until it occurs, and then share the contents of the files `$_autocomplete__log`, `$_autocomplete__log_async` and `$_autocomplete__log_pty` here?

[2022-08-29 08:52] underlow commented on #473
Unfortunately cannot reproduce it anymore in test session, tried like 10 times. Would it be helpful to check these files on regular session? Problem reproduces there all the time

[2022-08-29 11:51] marlonrichert commented on #473
Yes, please share the part of the logs corresponding to the time when the bug occurred.

[2022-08-29 11:57] underlow commented on #473
these file are in home directory, right?
right after problem is reproduced two files are empty:

[code]

[2022-08-29 13:46] hyptocrypto commented on #474
Yea I tried messing with some of those settings, but didnt get it working on the main branch. Ill fork and see if I can get things working.

[2022-08-29 23:19] latipun7 commented on #474
@marlonrichert this issue seems similar to mine https://github.com/marlonrichert/zsh-autocomplete/issues/468. I don't even using Mac.

[2022-08-30 05:10] marlonrichert commented on #474
Yes, it does. I'm gonna close this as duplicate.

@hyptocrypto Please continue the conversation in #468.

[2022-08-30 05:10] #474 closed

[2022-09-06 09:35] kidonng opened #478 "Zsh crash when creating terminal splits while history menu is open"
- [x] I have carefully read all of the instructions in this issue template.
- [x] I have carried them out to the letter.

Failure to do so can and will result in your issue being closed without warning.

## Environment
[code]

* Operating system: macOS
* Terminal emulator: kitty

- [x] I have filled out the fields above.
- [x] I have ran the commands in the code block above.
- [x] I have pasted th

[2022-09-06 09:46] kidonng opened #479 "ZLE widget error when creating terminal splits while using Powerlevel10k"
- [x] I have carefully read all of the instructions in this issue template.
- [x] I have carried them out to the letter.

Failure to do so can and will result in your issue being closed without warning.

## Environment
[code]

* Operating system: macOS
* Terminal emulator: kitty

- [x] I have filled out the fields above.
- [x] I have ran the commands in the code block above.
- [x] I have pasted th

[2022-09-07 00:30] tobiasBora opened #480 "Compdump is regenerated every time on startup"
- [X] I have carefully read all of the instructions in this issue template.
- [X] I have carried them out to the letter.

## Environment
[code]

* Operating system:  NixOs
* Terminal emulator:  Konsole

## Steps to reproduce

zsh-autocomplete is relatively slow on startup (1-2 seconds, which is not huge… but not small either especially when many scripts are loaded and when the system is overloaded

[2022-09-08 04:34] marlonrichert commented on #480
I have no idea what kind of config that is.

Can you please use the setup I provided in the bug report template to create a [minimal, reproducible test case](https://stackoverflow.com/help/minimal-reproducible-example). Thanks!

[2022-09-08 04:38] marlonrichert commented on #479
Again, no idea what that is. Please be more specific.

[2022-09-08 05:36] kidonng commented on #479
I assume "[split terminal](https://www.google.com/search?q=split+terminal)" is a common way to express the idea, but let me try to put it more specifically.

1. Concepts:

2. In the demo, I have one OS window, one tab in it (tab bar is hidden), and initially one kitty window.
3. As recorded in the bottom left corner, I press <kbd>Command</kbd> + <kbd>Enter</kbd>, which is the [default shortcut](ht

[2022-09-08 05:42] marlonrichert commented on #479
I know what a terminal multiplexer is, I just wanted what exactly you meant in your case, what you were using to split your terminal, so I can use the same to reproduce the problem. Thanks for explaining! This is all useful info.

[2022-09-08 05:45] marlonrichert commented on #479
Can you run `functions -t .autocomplete.down-line-or-select.zle-widget` just before your final step to reproduce the bug? Then share the output here.

[2022-09-08 05:49] marlonrichert commented on #478
This looks like a bug in Zsh to me. What happens if you run `zstyle ':autocomplete:async' enabled no` _before_ sourcing Autocomplete? Does the bug still occur?

[2022-09-08 06:05] marlonrichert commented on #473
@underlow Can you try to find out what in your normal config causes the bug to occur?

[2022-09-08 11:36] underlow commented on #473
I'd love to but have no idea how.
I've removed everything from .zshrc and problem still here. One thing I haven't done yet is full reinstall.
If you have any idea what to check I definitely will check it

[2022-09-08 13:03] marlonrichert commented on #473
Well, check what is the difference between your normal environment and the test environment. For example, check the output of `env`.

[2022-09-09 05:03] marlonrichert commented on #473
I read your comments again and it looks like autocompletion is started correctly, but it never finishes. When the bug occurs, do you find that there a zombie `zsh` processes running?

[2022-09-09 09:09] underlow commented on #473
if I have 4 terminals open, reproduce problem in one of them then `top |grep zsh` in another shows 4 zsh processes.

[2022-09-09 09:13] underlow commented on #473
here is the diff between env

normal environment env (only differences)
[code]

[2022-09-12 13:43] spikespaz opened #482 "Bug? `sudo` completes from history on up arrow, `ls` goes to last history item?"
## What do you want?

<https://unix.stackexchange.com/questions/97843/how-can-i-search-history-with-text-already-entered-at-the-prompt-in-zsh>

I don't understand how this works currently.
- When I press <kbd>down</kbd>, executables are shown, good.
- When I type `sudo` and press <kbd>up</kbd>, the history items beginning with `sudo` are shown.
- When I type `ls` and press <kbd>up</kbd>, the last-

[2022-09-13 07:20] TheProjectsGuy opened #483 "Menu items not showing with OMZ"
When I try using the suggestions, they do not appear at the bottom of the prompt. I always have to use the down arrow to bring them up. They seem to flicker when I press the tab key (unless there is only one obvious choice).
This used to work in Ubuntu 20.04 with the same Agnoster theme.

- [x] I have carefully read all of the instructions in this issue template.
- [x] I have carried them out to t

[2022-09-13 07:26] TheProjectsGuy commented on #483
By "flickering" options, I mean the menu flickers when I press the tab key. When it stayed earlier, it served as an important visual guide for me and I really want it to be there.

https://user-images.githubusercontent.com/29420733/189837531-d6512599-cde5-4ca6-a24a-1a2c3d880208.mp4

[2022-09-14 14:30] Ynng commented on #483
Getting the same issue but in Ubuntu 18.04.

[2022-09-15 00:55] yshui opened #484 "Refine `insert-unambiguous yes` behavior"
- [x] I have carefully read all of the instructions in this issue template.
- [x] I have carried them out to the letter.

Failure to do so can and will result in your issue being closed without warning.

## Environment
[code]

[code]

* Operating system: Archlinux
* Terminal emulator: Alacritty
- [x] I have filled out the fields above.
- [x] I have ran the commands in the code block above.
- [x] I

[2022-09-19 05:44] marlonrichert commented on #482
It works for me. Can you put together a [minimal, reproducible test case](https://stackoverflow.com/help/minimal-reproducible-example) using the setup below?

[code]

[2022-09-19 06:10] marlonrichert commented on #483
I'm unable to reproduce this in a clean environment like this on Ubuntu 20.04 with Zsh 5.8:

[code]

Can you please use the setup above to create a [minimal, reproducible test case](https://stackoverflow.com/help/minimal-reproducible-example)? If I cannot reproduce the bug, then I cannot fix it.

[2022-09-19 06:12] marlonrichert commented on #484
Can you please use the setup below (which was in the bug report template, but you deleted it) to create a [minimal, reproducible test case](https://stackoverflow.com/help/minimal-reproducible-example)? Then I'll reopen your issue.
[code]

[2022-09-19 06:23] marlonrichert commented on #473
How is it possible that `ZSH=/Users/user/.oh-my-zsh` gets set in your test environment? The shell session you pasted above did not include Oh-My-Zsh in the `.zshrc` file.

[2022-09-19 09:55] yshui commented on #484
@marlonrichert yeah the problem is reproducible with that minimal config. I ran it and the problem is there.

[2022-09-19 09:58] yshui commented on #484
@marlonrichert it happens with this .zshrc:

[code]

[2022-09-20 03:46] marlonrichert commented on #484
@yshui Please turn it into a test case that has _all the steps_ I need to reproduce the problem. Simply running the code you now pasted _does not reproduce the problem._

[2022-09-20 05:11] TheProjectsGuy commented on #483
![image](https://user-images.githubusercontent.com/29420733/191172250-aa9376ac-7f07-448f-aa7b-cc6e9c5dcd86.png)

I am unable to get the same behavior in a minimal environment. Is there any other way (maybe I could send some files)?

[2022-09-20 08:52] spikespaz commented on #482
I think that this issue was either a history misconfiguration, or a conflict of keybinds between zsh-edit and this. Both have been resolved.

Question: You make both plugins, why do the default keybinds overlap?

[2022-09-20 08:52] #482 closed

[2022-09-20 09:54] marlonrichert commented on #482
They don’t for this case at least. Zsh Edit does not touch the <kbd>Up</kbd> key.

On which keybindings do they overlap?

[2022-09-20 10:00] marlonrichert commented on #483
@TheProjectsGuy
This means the problem is somewhere else in your dotfiles. Please add parts of your Zsh dotfiles to the minimal env until you find what causes this.

@TheProjectsGuy @Ynng Can you please run `git bisect` in the `zsh-autocomplete` repo in the environment where the bug occurs to find the exact commit where the bug  appears for you?

[2022-09-20 11:01] yshui commented on #484
So:

1. Use the above .zshrc
2. cd into a directory with some files
3. press TAB

Expected:

The longest common prefix is inserted.

Actual:

The first result is inserted.

[2022-09-20 14:51] marlonrichert commented on #484
Please be more specific than that. Update your test case so that I can copy-paste it into my terminal and run it.

[2022-09-20 15:05] marlonrichert commented on #473
With a _completely empty_ `.zshrc` file_ (so, no Zsh Autocomplete either), what is the output of `env`? If you then `source` Zsh Autocomplete, does the problem still occur? If you then run `exec zsh -l -o sourcetrace`, what output do you see?

[2022-09-21 03:24] Ynng commented on #483
d8bfbef4 is the last working commit for me, so 96bbb5bb broke it for me.

I've done a bit of testing and found that the problem only occurs with `zsh-autocomplete` + `ohmyzsh` + `powerlevel10k`

Here's a test case:
1. Download Ubuntu 22.04 LTS (I did it in wsl)
2. Install zsh, chose option 2 to populate `.zshrc`
3. `git clone https://github.com/marlonrichert/zsh-autocomplete` to `~`
4. Install oh

[2022-09-21 06:34] marlonrichert commented on #483
Thanks! That explains it completely. Fixing it should be trivial.

[2022-09-21 08:07] underlow commented on #473
empty `.zshrc`

[code]

No

[code]

[2022-09-21 08:18] underlow commented on #473
Actually yes, but in other way. I'll look for a way to make video with keys pressed and get back

[2022-09-21 12:08] yshui commented on #484
literally _any_ files. like:

[code]

and Tab gives me `aaa` instead of `aa`

[2022-09-21 12:15] Locorock commented on #483
By testing a few commits i found out that specifically f4e6b33 is when this behavior starts appearing

[2022-09-21 12:26] underlow commented on #473
I've checked several more times. No, problem does not appear with empty .zshrc

And the minimal config to reproduce issue is:
[code]

but it reproduces differently.
1. turn on live history `zstyle ':autocomplete:*' default-context history-incremental-search-backward`
2. type `git a`
3. press CtrlR
4. live history disappears and **no** completion appears
5. type `d` (resulting line is `git ad`
6. c

[2022-09-21 12:44] underlow commented on #473
I've removed oz-my-zsh and reinstalled it. same behaviour as in previous post

[2022-09-21 13:22] marlonrichert commented on #484
In that scenario, do you press Tab on an empty line? Or what is left of your cursor when you press Tab?

[2022-09-21 13:25] marlonrichert commented on #483
@Locorock Did you run `git bisect`? Changing the commit that @Ynng pointed out fixes it for me. Also, did you test in the same environment as @Ynng? Or what is your test setup?

[2022-09-21 13:28] marlonrichert commented on #473
Thanks for the additional info. Closing this as a duplicate of #483.

[2022-09-21 13:50] Locorock commented on #483
@marlonrichert Not really, i just did it manually. This is the only content of my .zshrc
[code]

[2022-09-21 20:08] yshui commented on #484
A command that accepts a file, like `ls`

[2022-09-22 06:14] marlonrichert commented on #484
Thanks, I can reproduce it now. Will fix.

[2022-09-22 06:41] marlonrichert commented on #484
@yshui You're missing a colon. It should be
[code]
or just
[code]

[2022-09-22 06:52] marlonrichert commented on #483
@Locorock Modifying the change in 96bbb5bb5b3698ca23d54ee28eb595a3727bf6df fixed your test case for me. So, it's not possible that the commit you pointed out is the faulty one.

[2022-09-22 07:28] Locorock commented on #483
@marlonrichert You are correct, somehow i ended up making a shallow clone of the repository and 96bbb got cut out, i can confirm that the commit before 96bbb5b works correctly

[2022-09-22 09:52] yshui commented on #484
ah, i see. so the behavior is to insert the common prefix if there is one. if the candidates don't have a common prefix, then the first choice is inserted.

[2022-09-22 13:46] marlonrichert commented on #484
Do you think that's what most people using `insert-unambiguous` would want? I don't use it myself, so it's hard for me to judge.

If it worked like that, wouldn't you then be unable to insert anything else than the common prefix? I mean, how would you then insert any completion that's not exactly equal to the common prefix? Would you always use the arrow keys? Or would you just type until you have

[2022-09-22 14:41] yshui commented on #484
Other people could chime in, but IMO tab and arrow key would fit well with these two different kinds of completions - Tab to insert common prefix, and arrow key to select from the menu. I think another option would be using the "tab, tab again" behavior, i.e. tab once to insert common prefix, if the user tapped tab again immediately, enter selection. I think most of the users would be used to this

[2022-09-22 18:10] marlonrichert commented on #484
Probably, but the autocompletion makes it a bit trickier. I’ll look into. Pull requests welcome, too, of course. 🙂

[2022-09-27 12:44] marlonrichert commented on #411
Turns out this is a bit more work than I initially anticipated. What needs to be done is to find all keys bound to [widgets that are special to `zsh/complist`](https://zsh.sourceforge.io/Doc/Release/Zsh-Modules.html#Menu-selection) (except the ones we actually want to be special) and then rebind them to the same widget, but prefixed with a `.`. This is not complex; it just requires some manual lab

[2022-09-27 13:21] marlonrichert commented on #425
I haven't had the time to look into this. Help in the form of a pull request would be appreciated. 🙂

[2022-09-28 18:35] cscribn opened #488 "Zsh-autocomplete fails for sessions that don't have the back tab set"
When starting up a session that doesn't have the back tab set, Zsh-autocomplete fails with `.autocomplete.key-binding.precmd:40: terminfo[kcbt]: parameter not set`. An example of such a session is Git Bash's mysy, running zsh 5.8, in a Microsoft Windows Terminal.

- [x] I have carefully read all of the instructions in this issue template.
- [x] I have carried them out to the letter.

Failure to do

[2022-10-02 15:40] snoitallicso opened #490 "Installation: zmodload: command not found"
[code]

[2022-10-02 22:50] markfaine opened #491 "_autocomplete.config.completer:1: CURRENT: parameter not set in WSL2"
- [x] I have carefully read all of the instructions in this issue template.
- [x] I have carried them out to the letter.

## Environment
[code]

[code]

* Operating system:
* Terminal emulator:

[code]

- [x] I have filled out the fields above.
- [x] I have ran the commands in the code block above.
- [x] I have pasted their output into the same block.

## Steps to reproduce
[code]

[code]

- [x] I

[2022-10-03 05:16] marlonrichert commented on #490
You can’t run Zsh Autocomplete in Bash. As the name implies, it’s for Zsh only.

[2022-10-03 05:16] #490 closed

[2022-10-03 07:22] TheProjectsGuy commented on #483
I ran the following `git bisect` session on the package. Just as with @Ynng and @Locorock, it appears that commit 96bbb5bb5b3698ca23d54ee28eb595a3727bf6df does not work correctly, but commit d8bfbef46efc54c1189010a3b70d501b44487504 (commit immediately before 96bbb5bb5b3698ca23d54ee28eb595a3727bf6df) works perfectly.

![image](https://user-images.githubusercontent.com/29420733/193520369-e252d83e-c1

[2022-10-03 07:34] marlonrichert commented on #491
Please add lines from your `.zshrc` file to the test environment until you find what's actually causing this. Thanks!

[2022-10-03 07:35] marlonrichert commented on #483
Thanks, but as I said, I already found a fix:

[2022-10-08 11:00] Sinderella opened #492 "Spamming tabs stopped the autocompletion from working"
- [x] I have carefully read all of the instructions in this issue template.
- [x] I have carried them out to the letter.

Failure to do so can and will result in your issue being closed without warning.

## Environment
[code]

* Operating system: macOS
* Terminal emulator: alacritty

- [x] I have filled out the fields above.
- [x] I have ran the commands in the code block above.
- [x] I have paste

[2022-10-09 16:31] archae0pteryx commented on #491
I also have this issue on a fresh install (Monterey 12.6). I will fill out a formal report when i get some time (hopefully). Just wanted to add the +1 really.

[2022-10-10 05:11] marlonrichert commented on #492
@Sinderella Do you think #445 is the same issue?

[2022-10-10 08:15] Sinderella commented on #492
While I see similar stacktraces on the issue in my logs as well, I don't think it's the same. I tried replicating my own issue again and it doesn't produce an error report or stacktraces.

I think it doesn't completely crash in my case, it's just quickly trying to display and clear the results?

[2022-10-10 16:26] marlonrichert commented on #492
What about #441?

[2022-10-10 17:56] Sinderella commented on #492
I think it's the same behaviour, so yep, I think it's the same issue.

[2022-10-11 04:12] marlonrichert commented on #492
OK, then let’s continue over there.

[2022-10-11 04:12] #492 closed

[2022-10-12 05:59] chaoqunya commented on #483
[code]

[2022-10-13 23:25] MrAureliusR commented on #483
Having the same issue. Someone suggested a particular commit for me to try (d8bfbef as others have pointed out) and that *does* fix the issue temporarily. However, after running perhaps 3-4 commands, it completely breaks and I get no autocompletion at all.

Am I to take it that the comment by marlonrichert 2 above this one means the issue has been spotted and/or fixed? I don't see any commit since

[2022-10-14 00:14] sevy2011 commented on #483
@MrAureliusR if you have installed manually try to revert to the commit mentioned:
`git checkout d8bfbef46efc54c1189010a3b70d501b44487504`
if not you will have to wait for the fix
someone correct me if i'm wrong

[2022-10-14 00:29] latipun7 commented on #468
I'm closing this since this is duplicate of #483. My Issue is the same exact issue of that, which is "flickering" widget when pressing Tab & widget not showing when this plugin is combined by [oh-my-zsh](https://github.com/ohmyzsh/ohmyzsh)

[2022-10-14 00:29] #468 closed

[2022-10-14 00:32] latipun7 commented on #483
@marlonrichert , please push the fix 🙏

[2022-10-14 13:55] marlonrichert commented on #483
Sorry for the delay. I haven’t had much time for plugin development lately because of programming-related injuries. I’ll make a Pull Request soon for you to review.

[2022-10-14 13:59] MrAureliusR commented on #483
Please read my entire comment. I already tried that commit, and it only partially fixes the issue.

[2022-10-14 14:05] marlonrichert commented on #483
Please try the branch in the pull request above and let me know if it works for you.

[2022-10-17 09:12] #483 closed

[2022-10-18 09:30] ad-on-is commented on #441
For me, this issue also occurs when calling the history a few times.

Steps to reproduce
1. Ctrl+R
2. Type something
3. Ctrl+C to cancel
4. (Repeat 1-3) ... I had to do it ~ 6-7 times
5. Ctrl+R stops working (history not popping up) and zsh-autocomplete stops working overall

[2022-10-18 20:17] bjliu opened #495 "Opening tmux with zsh-autocomplete causes issue (.autocomplete.key-binding:93: terminfo[kpp]: parameter not set)"
- [x] I have carefully read all of the instructions in this issue template.
- [x] I have carried them out to the letter.

Failure to do so can and will result in your issue being closed without warning.

## Environment
[code]
[code]
[code]

* Operating system: macOS
* Terminal emulator: iTerm2

- [x] I have filled out the fields above.
- [x] I have ran the commands in the code block above.
- [x] I

[2022-10-18 21:27] bjliu commented on #495
well fixed it by reinstalling both tmux and zsh-autocomplete...

[2022-10-18 21:27] #495 closed

[2022-10-20 09:17] marlonrichert commented on #441
I'm still unable to reproduce this, not on my Intel Mac and not on my Intel PC running Ubuntu.

Is there anyone here who could try to debug this?

[2022-10-20 15:31] 2epeat opened #496 "Typing delays and high CPU load"
When typing, when I hold down the key, there is a noticeable delay before the characters are displayed in the terminal. This delay is not standard for Mac OS. Also, this delay manifests itself during the continuous deletion of characters.
The above is shown in the video: https://disk.yandex.ru/i/IFnB8PudQ_9OKw
If I disable the plugin, there are no delays.
It is played both in the built-in terminal

[2022-10-20 17:23] ad-on-is commented on #441
I thing I might have found the problem.

scripts/.autocomplete.async line 214

I changed it from

`zselect -t "$(( [#10] 100 * max( 0, min_delay - SECONDS ) ))"`

to

`zselect -t "$(( [#10] 100 * 0.05 ))`

and havent had an issue since.

[2022-10-21 03:11] rayjanoka commented on #441
it does seem like that did the trick! thx @ad-on-is

[2022-10-21 14:45] ad-on-is opened #497 "Include history in completion"
Is there a way to include the history into the completion as well?

[code]

[2022-10-21 14:52] marlonrichert commented on #441
@ad-on-is
In the original code, before the faulty line, can you add a statement that prints the values of `$min_delay`, `$SECONDS` & `$(( max( 0, min_delay - SECONDS ) ))`, and share here what those values are when autocompletion starts failing?

Also, instead of your fix, if you change the line before it to
[code]
does that solve the problem, too?

[2022-10-21 15:00] marlonrichert commented on #497
I tried that some time in the past, but it had a significantly negative impact on completion speed. So, I discarded that idea.

However, if you can figure out a way to make it work without significantly reducing performance, feel free to submit a pull request. 🙂

[2022-10-21 15:00] #497 closed

[2022-10-21 15:04] ad-on-is commented on #497
oh ok...
well, I'm not the most experienced bash-programmer, so I'd have a hard time figuring out where to begin with. could you give me a short in-a-nutshell, what files/function need to be modified to include history results in the completion?

[2022-10-21 15:08] ad-on-is commented on #497
Or maybe something else... I have zsh-autosuggestions installed which does exactly that, but I love the menu-select of zsh-autocomplete.

is there a way for <tab> to select zsh-autosuggestions (if available) otherwise use zsh-autocomplete?

[2022-10-21 15:22] ad-on-is commented on #441
LOL, I have a hard time finding out how to print the statements (not a zsh/bash developer)... but `((min_delay=0.05))` does not solve the problem.

[2022-10-21 17:40] Mordna commented on #441
@marlonrichert Using
[code]
before the faulty line to print the requested variables results in the following:
[code]
Note: I only included the beginning, where autocomplete worked, and the end, where it didn't work. However, it seems like the output does not really change.
I would expect `$(( [#10] 100 * max( 0, min_delay - SECONDS ) ))` to return `9` instead of `0` given the return value of the `

[2022-10-22 08:58] marlonrichert commented on #497
You can [press Ctrl-R](https://github.com/marlonrichert/zsh-autocomplete) to switch Zsh Autocomplete from completion mode to history search mode. The history item corresponding to the autosuggestion will be at or near the top.

Alternative, you can [configure Autocomplete to always start in history mode](https://github.com/marlonrichert/zsh-autocomplete/blob/3de533e7d322cec073f09264a6bf211e0ba627d

[2022-10-22 09:10] marlonrichert commented on #497
Off the top of my head:
* Add to [`_autocomplete._main_complete.post`](https://github.com/marlonrichert/zsh-autocomplete/blob/3de533e7d322cec073f09264a6bf211e0ba627de/scripts/.autocomplete.compinit#L125) a call to [`_autocomplete.history_lines`](https://github.com/marlonrichert/zsh-autocomplete/blob/main/functions/completion/_autocomplete.history_lines).
* Modify the latter to set [`$min_lines` an

[2022-10-22 18:44] marlonrichert commented on #441
What happens if you try to replicate this on the command line? For example:
[code]
Does it print `9` or `0`?

I wonder if `[#10]` in Zsh 5.9 causes the return value of `max` to be converted to int _before_ being multiplied by 100?

What if you instead try
[code]
Does that work correctly?

I’d prefer something like this:
[code]
Can you test if that works?

As an aside, I’m planning to rewrite that

[2022-10-22 18:48] marlonrichert commented on #441
Oh, and feel free to submit a pull request. 🙂

[2022-10-22 19:07] Mordna commented on #441
bar=0.001
print $(( [#10] 100 * max( 0, foo - bar ) ))

Results in `0`

Does not work

zselect -t $timeout

Works!

That seems to be the case.

[2022-10-22 20:17] ad-on-is commented on #497
Thx... my current history is around 500kb... will try a 10MB one

[2022-10-23 14:30] marlonrichert commented on #497
The amount of bytes is not the limiting factor. It’s the number of history items that matters. In my experience, having more than ~500 entries causes significant slowdown.

[2022-10-23 15:54] ad-on-is commented on #497
Assuming this command is correct, my history file should have 10k history items
[code]

[2022-10-24 04:58] marlonrichert commented on #497
`print $#history` is easier. 😉

[2022-10-24 07:01] ad-on-is commented on #497
LOL, print $#history shows 10126

[2022-10-24 13:54] #441 closed

[2022-10-24 14:22] marlonrichert commented on #496
I'm unable to reproduce this on macOS in iTerm. Can you please try reproducing it in a clean environment like this?
[code]
If the problem does not occur in there, then the cause is somewhere in your config. Try executing lines from your config in this clean environment until you find the one that clashes.

[2022-10-24 14:27] marlonrichert commented on #445
Can you `git pull` and try again? Does the bug still occur with the latest version?

[2022-10-24 14:38] #476 closed

[2022-10-24 14:47] marlonrichert commented on #478
Closing, since I haven't heard back from @kidonng.

[2022-10-24 14:47] #478 closed

[2022-10-24 14:48] marlonrichert commented on #479
Closing, since I haven't heard back from @kidonng.

[2022-10-24 14:48] #479 closed

[2022-10-24 14:49] marlonrichert commented on #480
Closing, as I haven't heard back from @tobiasBora.

[2022-10-24 14:50] marlonrichert commented on #491
Closing, as I haven't gotten a proper test case from @markfaine or @archae0pteryx.

[2022-10-24 14:50] #491 closed

[2022-10-24 14:53] archae0pteryx commented on #491
@marlonrichert I shoulda updated. I wasn't able to get a good reproduction cause I've got a lot going on in my userspace and didn't have the time to strip everything out to a blank state... I still get the issue but i'm not sure how to reproduce for you with everything that's going on... Is there some debug dump that might be helpful? Maybe you can see something right off the bat? I ended up unins

[2022-10-24 15:12] marlonrichert commented on #491
The best way to debug it is still [what I asked you to do earlier](https://github.com/marlonrichert/zsh-autocomplete/issues/491#issuecomment-1265048409):

Alternatively, you can try commenting out lines from your `.zshrc` until you find which ones conflicts with Autocomplete.

[2022-10-24 15:19] archae0pteryx commented on #491
Ah. Sorry. Shoulda reviewed our prev convo.

[2022-10-24 17:03] marlonrichert commented on #491
NP 🙂

[2022-10-25 05:02] marlonrichert opened #501 "Add compatibility with fzf-tab and other plugins that reassign the tab key and/or redefine `_main_complete`/`compadd`"
### Blocked by #418.

### Discussed in https://github.com/marlonrichert/zsh-autocomplete/discussions/500

<div type='discussions-op-text'>

<sup>Originally posted by **fujianyawa** October 24, 2022</sup>
Hello, thanks for the amazing plugin!
But how can I make  [fzf-tab](https://github.com/Aloxaf/fzf-tab) works alongside zsh-autocomplete?

[...]

Uncommenting this
`source $ZSH/custom/plugins/zsh-a

[2022-10-25 05:08] marlonrichert commented on #484
Tested again and I can't reproduce it.

[2022-10-25 05:08] #484 closed

[2022-10-25 13:17] EdwarDu commented on #445
I have been using custom build zsh-5.8.1 + git version of this plugin for some time now, have not come across the same issue recently.

[2022-10-25 22:10] p0da commented on #501
I am also interested in this but I didn't quite understand the explanation at https://github.com/marlonrichert/zsh-autocomplete/discussions/500#discussioncomment-3952103 describing how the requested feature would work. Would you mind clarifying?

[2022-10-26 12:46] marlonrichert commented on #445
OK, I’m gonna close it, then. If someone still experiences this, let me know.

[2022-10-26 12:46] #445 closed

[2022-10-26 12:55] marlonrichert commented on #501
What @fujianyawa wants is to see autocompletions while typing, but use Fzf Tab when pressing Tab.

[2022-10-27 03:11] fujianyawa commented on #501
Uhm yes, basically `fzf-tab` for interactive fuzzy search completion when tabbing and `zsh-autocomplete` for ahead completion when typing

Oops my bad, My english skills are terrible, and I've worded it out poorly.

[2022-10-28 20:43] markfaine commented on #491
It's no longer an issue

[2022-10-31 19:19] marlonrichert opened #505 "Make Autocomplete compatible with `grml-zsh-config` out of the box"
### Discussed in https://github.com/marlonrichert/zsh-autocomplete/discussions/504

<div type='discussions-op-text'>

<sup>Originally posted by **chrisr87** October 30, 2022</sup>
I installed grml-zsh-config with all defaults and zsh-autocomplete with all defaults and when I press `tab`, a list of directories (or commands, depending on what it was trying to complete) flash and then disappears. Any

[2022-11-02 13:01] kinoute commented on #501
I am also interested in this, that would be great to combine these two plugins

[2022-11-03 15:12] marlonrichert commented on #501
What needs to be done for this:
* [ ] #418
* [ ] Make a copy of Zsh's default `_main_complete` (and not whatever function currently has that name), so that we can call it and don't have to worry about other plugins overriding it.
* [ ] Keep our own wrapper for `_main_complete`, but don't replace any existing `_main_complete` with it, so we don't interfere with other plugins.
* [ ] Change our widge

[2022-11-07 14:14] marlonrichert opened #508 "Add documentation on how to auto-activate vicmd mode when opening the menu"
Discussed in #506

[2022-11-14 10:00] mgussekloo commented on #497
This would be a great feature, even if it would only search a small number of recent history items.

[2022-11-14 13:36] marlonrichert commented on #496
Closing, as I haven't heard back from @2epeat.

[2022-11-14 13:36] #496 closed

[2022-11-14 14:15] marlonrichert commented on #497
It might be feasible once #459 has been implemented.

[2022-11-14 14:31] marlonrichert opened #514 "Move spelling correction to separate keybinding (`^[s`)"
Based on user comments, spelling correction between loose and fuzzy completion is confusing many users and making completion not working as expected. Let's move it to a separate keybinding.

[2022-11-15 09:10] tobiasBora commented on #480
Thanks! And sorry for not giving any feedback, I was quite busy and it's not that easy to write a super minimal expression as the bug is more visible when we add p10k and therefore the minimal example must install p10k as well.

The above code uses [home manager](https://github.com/nix-community/home-manager) which is a way to configure your home using Nix in a reproducible and centralized way. It

[2022-11-15 09:19] tobiasBora commented on #480
Oh, maybe I know why I can reproduce it better with nix/home-manager and not in a new MWE. If I do `programs.zsh.enable = true;` it enables automatically https://github.com/spwhitt/nix-zsh-completions which is a completion tool for `nix` commands on zsh. Maybe in that case compdump takes a few seconds to generate the completion script. And since it's not cached by this project, it takes a few seco

[2022-11-15 10:00] marlonrichert commented on #480
How exactly does `nix` "enable" https://github.com/spwhitt/nix-zsh-completions? Just adding those completion functions to your `$fpath` should not have much impact on startup time.

[2022-11-15 10:19] tobiasBora commented on #480
It does it in two ways:
- first it installs `nix-zsh-completion` [here](https://github.com/nix-community/home-manager/blob/bc90de24d898655542589237cc0a6ada7564cb6c/modules/programs/zsh.nix#L488) whose installation steps are described [here](https://github.com/NixOS/nixpkgs/blob/8ff7b290e6dd47d7ed24c6d156ba60fc3c83f100/pkgs/shells/zsh/nix-zsh-completions/default.nix) (basically just copy the files

[2022-11-16 06:14] marlonrichert commented on #480
That shouldn’t really add any additional overhead. Let’s first see if fixing the compdump bug makes things better.

[2022-11-16 15:09] marlonrichert commented on #425
@unphased I investigated it and it turns out it's actually a bug in the Zsh Line Editor. I filed a bug report about it to the Zsh development group: https://www.zsh.org/mla/workers/2022/msg01311.html

Closing this issue as there is no workaround possible for this.

[2022-11-16 15:09] #425 closed

[2022-11-16 15:12] #480 closed

[2022-11-20 19:57] BonaBeavis opened #517 "Highlight lost when invoking zsh-history-substring-search"
I am trying to get:
  zdharma-continuum/fast-syntax-highlighting
  zsh-users/zsh-history-substring-search
  marlonrichert/zsh-autocomplete
to work together. Highlighting gets removed when doing a substring search.

## Environment
[code]

## Steps to reproduce
1. Replace `.zshrc` with:
[code]

2.

[code]

[2022-11-27 18:50] CraigSiemens opened #518 "Add a configuration setting to add `-u` to `compinit` call"
## What do you want?
I'd be nice if there was an option to pass the `-u` flag to `compinit` in  [.autocomplete.compinit#L60](https://github.com/marlonrichert/zsh-autocomplete/blob/main/scripts/.autocomplete.compinit#L60)

Something like this, though conditionally added based on a configuration setting.
[code]

## Why do you want this?
By default `compinit` enforces that files loaded are owned by r